In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib
import matplotlib.pyplot as plt
import pandas_datareader.data as web
import datetime

%matplotlib inline

In [2]:
import pandas as pd
table=pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
df = table[0]
df.head()

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",1976-08-09,66740,1902
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
2,ABBV,AbbVie Inc.,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
3,ABMD,ABIOMED Inc,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
4,ACN,Accenture plc,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989

In [3]:
spx_symbol=df.Symbol
spx_symbol

0       MMM
1       ABT
2      ABBV
3      ABMD
4       ACN
       ...
500     YUM
501    ZBRA
502     ZBH
503    ZION
504     ZTS
Name: Symbol, Length: 505, dtype: object

In [5]:
def get(tickers, start, end):
    
    def data(ticker):
        try:
            frame=web.DataReader(ticker, "yahoo", start, end)
            return frame['Adj Close']
        except:
            pass
    
    stocks = map(data, tickers)
    
    return pd.concat(stocks, axis=1, keys = tickers, names = ["Tickers"])

In [6]:
tickers=spx_symbol.unique()

In [7]:
start=datetime.date(1999,4,1)
end=datetime.date(2018,12,1)

##df1=get(tickers,start,end)   
##df1

In [8]:
## df1.to_csv("raw_data.csv")

### Yield and Growth factors

### Yield

In [62]:
import requests
from bs4 import BeautifulSoup as bs
import re
import itertools

In [63]:
url ='https://www.multpl.com/s-p-500-dividend-yield/table/by-month'
response=requests.get(url)
page=response.text
soup=bs(page,'html.parser')

In [64]:
year=list(range(1999,2019))
l=[]
for y in year:
    date_list=soup.find_all(text=re.compile(str(y)))
    l.append(date_list)
    
l

[['Dec 31, 1999',
  'Nov 30, 1999',
  'Oct 31, 1999',
  'Sep 30, 1999',
  'Aug 31, 1999',
  'Jul 31, 1999',
  'Jun 30, 1999',
  'May 31, 1999',
  'Apr 30, 1999',
  'Mar 31, 1999',
  'Feb 28, 1999',
  'Jan 31, 1999'],
 ['Dec 31, 2000',
  'Nov 30, 2000',
  'Oct 31, 2000',
  'Sep 30, 2000',
  'Aug 31, 2000',
  'Jul 31, 2000',
  'Jun 30, 2000',
  'May 31, 2000',
  'Apr 30, 2000',
  'Mar 31, 2000',
  'Feb 29, 2000',
  'Jan 31, 2000'],
 ['Dec 31, 2001',
  'Nov 30, 2001',
  'Oct 31, 2001',
  'Sep 30, 2001',
  'Aug 31, 2001',
  'Jul 31, 2001',
  'Jun 30, 2001',
  'May 31, 2001',
  'Apr 30, 2001',
  'Mar 31, 2001',
  'Feb 28, 2001',
  'Jan 31, 2001'],
 ['Dec 31, 2002',
  'Nov 30, 2002',
  'Oct 31, 2002',
  'Sep 30, 2002',
  'Aug 31, 2002',
  'Jul 31, 2002',
  'Jun 30, 2002',
  'May 31, 2002',
  'Apr 30, 2002',
  'Mar 31, 2002',
  'Feb 28, 2002',
  'Jan 31, 2002'],
 ['Dec 31, 2003',
  'Nov 30, 2003',
  'Oct 31, 2003',
  'Sep 30, 2003',
  'Aug 31, 2003',
  'Jul 31, 2003',
  'Jun 30, 2003',
  'May 31, 2003',
  'Apr 30, 2003',
  'Mar 31, 2003',
  'Feb 28, 2003',
  'Jan 31, 2003'],
 ['Dec 31, 2004',
  'Nov 30, 2004',
  'Oct 31, 2004',
  'Sep 30, 2004',
  'Aug 31, 2004',
  'Jul 31, 2004',
  'Jun 30, 2004',
  'May 31, 2004',
  'Apr 30, 2004',
  'Mar 31, 2004',
  'Feb 29, 2004',
  'Jan 31, 2004'],
 ['Dec 31, 2005',
  'Nov 30, 2005',
  'Oct 31, 2005',
  'Sep 30, 2005',
  'Aug 31, 2005',
  'Jul 31, 2005',
  'Jun 30, 2005',
  'May 31, 2005',
  'Apr 30, 2005',
  'Mar 31, 2005',
  'Feb 28, 2005',
  'Jan 31, 2005'],
 ['Dec 31, 2006',
  'Nov 30, 2006',
  'Oct 31, 2006',
  'Sep 30, 2006',
  'Aug 31, 2006',
  'Jul 31, 2006',
  'Jun 30, 2006',
  'May 31, 2006',
  'Apr 30, 2006',
  'Mar 31, 2006',
  'Feb 28, 2006',
  'Jan 31, 2006'],
 ['Dec 31, 2007',
  'Nov 30, 2007',
  'Oct 31, 2007',
  'Sep 30, 2007',
  'Aug 31, 2007',
  'Jul 31, 2007',
  'Jun 30, 2007',
  'May 31, 2007',
  'Apr 30, 2007',
  'Mar 31, 2007',
  'Feb 28, 2007',
  'Jan 31, 2007'],
 ['Dec 31, 2008',
  'Nov 30, 2008',
  'Oct 31, 2008',
  'Sep 30, 2008',
  'Aug 31, 2008',
  'Jul 31, 2008',
  'Jun 30, 2008',
  'May 31, 2008',
  'Apr 30, 2008',
  'Mar 31, 2008',
  'Feb 29, 2008',
  'Jan 31, 2008'],
 ['Dec 31, 2009',
  'Nov 30, 2009',
  'Oct 31, 2009',
  'Sep 30, 2009',
  'Aug 31, 2009',
  'Jul 31, 2009',
  'Jun 30, 2009',
  'May 31, 2009',
  'Apr 30, 2009',
  'Mar 31, 2009',
  'Feb 28, 2009',
  'Jan 31, 2009'],
 ['Dec 31, 2010',
  'Nov 30, 2010',
  'Oct 31, 2010',
  'Sep 30, 2010',
  'Aug 31, 2010',
  'Jul 31, 2010',
  'Jun 30, 2010',
  'May 31, 2010',
  'Apr 30, 2010',
  'Mar 31, 2010',
  'Feb 28, 2010',
  'Jan 31, 2010'],
 ['Dec 31, 2011',
  'Nov 30, 2011',
  'Oct 31, 2011',
  'Sep 30, 2011',
  'Aug 31, 2011',
  'Jul 31, 2011',
  'Jun 30, 2011',
  'May 31, 2011',
  'Apr 30, 2011',
  'Mar 31, 2011',
  'Feb 28, 2011',
  'Jan 31, 2011'],
 ['Dec 31, 2012',
  'Nov 30, 2012',
  'Oct 31, 2012',
  'Sep 30, 2012',
  'Aug 31, 2012',
  'Jul 31, 2012',
  'Jun 30, 2012',
  'May 31, 2012',
  'Apr 30, 2012',
  'Mar 31, 2012',
  'Feb 29, 2012',
  'Jan 31, 2012'],
 ['Dec 31, 2013',
  'Nov 30, 2013',
  'Oct 31, 2013',
  'Sep 30, 2013',
  'Aug 31, 2013',
  'Jul 31, 2013',
  'Jun 30, 2013',
  'May 31, 2013',
  'Apr 30, 2013',
  'Mar 31, 2013',
  'Feb 28, 2013',
  'Jan 31, 2013'],
 ['Dec 31, 2014',
  'Nov 30, 2014',
  'Oct 31, 2014',
  'Sep 30, 2014',
  'Aug 31, 2014',
  'Jul 31, 2014',
  'Jun 30, 2014',
  'May 31, 2014',
  'Apr 30, 2014',
  'Mar 31, 2014',
  'Feb 28, 2014',
  'Jan 31, 2014'],
 ['Dec 31, 2015',
  'Nov 30, 2015',
  'Oct 31, 2015',
  'Sep 30, 2015',
  'Aug 31, 2015',
  'Jul 31, 2015',
  'Jun 30, 2015',
  'May 31, 2015',
  'Apr 30, 2015',
  'Mar 31, 2015',
  'Feb 28, 2015',
  'Jan 31, 2015'],
 ['Dec 31, 2016',
  'Nov 30, 2016',
  'Oct 31, 2016',
  'Sep 30, 2016',
  'Aug 31, 2016',
  'Jul 31, 2016',
  'Jun 30, 2016',
  'May 31, 2016',
  'Apr 30, 2016',
  'Mar 31, 2016',
  'Feb 29, 2016',
  'Jan 31, 2016'],
 ['Dec 31, 2017',
  'Nov 30, 2017',
  'Oct 31, 2017',
  'Sep 30, 2017',
  'Aug 31, 2017',
  'Jul 31, 2017',
  'Jun 30, 2017',
  'May 31, 2017',
  'Apr 30, 2017',
  'Mar 31, 2017',
  'Feb 28, 2017',
  'Jan 31, 2017'],
 ['Dec 31, 2018',
  'Nov 30, 2018',
  'Oct 31, 2018',
  'Sep 30, 2018',
  'Aug 31, 2018',
  'Jul 31, 2018',
  'Jun 30, 2018',
  'May 31, 2018',
  'Apr 30, 2018',
  'Mar 31, 2018',
  'Feb 28, 2018',
  'Jan 31, 2018']]

In [65]:
all_dates=list(itertools.chain(l[0],l[1],l[2],l[3],l[4],
                               l[5],l[6],l[7],l[8],l[9],
                               l[10],l[11],l[12],l[13],l[14],
                               l[15],l[16],l[17],l[18],l[19]))   
all_dates=[str(e) for e in all_dates]
all_dates

['Dec 31, 1999',
 'Nov 30, 1999',
 'Oct 31, 1999',
 'Sep 30, 1999',
 'Aug 31, 1999',
 'Jul 31, 1999',
 'Jun 30, 1999',
 'May 31, 1999',
 'Apr 30, 1999',
 'Mar 31, 1999',
 'Feb 28, 1999',
 'Jan 31, 1999',
 'Dec 31, 2000',
 'Nov 30, 2000',
 'Oct 31, 2000',
 'Sep 30, 2000',
 'Aug 31, 2000',
 'Jul 31, 2000',
 'Jun 30, 2000',
 'May 31, 2000',
 'Apr 30, 2000',
 'Mar 31, 2000',
 'Feb 29, 2000',
 'Jan 31, 2000',
 'Dec 31, 2001',
 'Nov 30, 2001',
 'Oct 31, 2001',
 'Sep 30, 2001',
 'Aug 31, 2001',
 'Jul 31, 2001',
 'Jun 30, 2001',
 'May 31, 2001',
 'Apr 30, 2001',
 'Mar 31, 2001',
 'Feb 28, 2001',
 'Jan 31, 2001',
 'Dec 31, 2002',
 'Nov 30, 2002',
 'Oct 31, 2002',
 'Sep 30, 2002',
 'Aug 31, 2002',
 'Jul 31, 2002',
 'Jun 30, 2002',
 'May 31, 2002',
 'Apr 30, 2002',
 'Mar 31, 2002',
 'Feb 28, 2002',
 'Jan 31, 2002',
 'Dec 31, 2003',
 'Nov 30, 2003',
 'Oct 31, 2003',
 'Sep 30, 2003',
 'Aug 31, 2003',
 'Jul 31, 2003',
 'Jun 30, 2003',
 'May 31, 2003',
 'Apr 30, 2003',
 'Mar 31, 2003',
 'Feb 28, 2003',
 'Jan 31, 2003',
 'Dec 31, 2004',
 'Nov 30, 2004',
 'Oct 31, 2004',
 'Sep 30, 2004',
 'Aug 31, 2004',
 'Jul 31, 2004',
 'Jun 30, 2004',
 'May 31, 2004',
 'Apr 30, 2004',
 'Mar 31, 2004',
 'Feb 29, 2004',
 'Jan 31, 2004',
 'Dec 31, 2005',
 'Nov 30, 2005',
 'Oct 31, 2005',
 'Sep 30, 2005',
 'Aug 31, 2005',
 'Jul 31, 2005',
 'Jun 30, 2005',
 'May 31, 2005',
 'Apr 30, 2005',
 'Mar 31, 2005',
 'Feb 28, 2005',
 'Jan 31, 2005',
 'Dec 31, 2006',
 'Nov 30, 2006',
 'Oct 31, 2006',
 'Sep 30, 2006',
 'Aug 31, 2006',
 'Jul 31, 2006',
 'Jun 30, 2006',
 'May 31, 2006',
 'Apr 30, 2006',
 'Mar 31, 2006',
 'Feb 28, 2006',
 'Jan 31, 2006',
 'Dec 31, 2007',
 'Nov 30, 2007',
 'Oct 31, 2007',
 'Sep 30, 2007',
 'Aug 31, 2007',
 'Jul 31, 2007',
 'Jun 30, 2007',
 'May 31, 2007',
 'Apr 30, 2007',
 'Mar 31, 2007',
 'Feb 28, 2007',
 'Jan 31, 2007',
 'Dec 31, 2008',
 'Nov 30, 2008',
 'Oct 31, 2008',
 'Sep 30, 2008',
 'Aug 31, 2008',
 'Jul 31, 2008',
 'Jun 30, 2008',
 'May 31, 2008',
 'Apr 30, 2008',
 'Mar 31, 2008',
 'Feb 29, 2008',
 'Jan 31, 2008',
 'Dec 31, 2009',
 'Nov 30, 2009',
 'Oct 31, 2009',
 'Sep 30, 2009',
 'Aug 31, 2009',
 'Jul 31, 2009',
 'Jun 30, 2009',
 'May 31, 2009',
 'Apr 30, 2009',
 'Mar 31, 2009',
 'Feb 28, 2009',
 'Jan 31, 2009',
 'Dec 31, 2010',
 'Nov 30, 2010',
 'Oct 31, 2010',
 'Sep 30, 2010',
 'Aug 31, 2010',
 'Jul 31, 2010',
 'Jun 30, 2010',
 'May 31, 2010',
 'Apr 30, 2010',
 'Mar 31, 2010',
 'Feb 28, 2010',
 'Jan 31, 2010',
 'Dec 31, 2011',
 'Nov 30, 2011',
 'Oct 31, 2011',
 'Sep 30, 2011',
 'Aug 31, 2011',
 'Jul 31, 2011',
 'Jun 30, 2011',
 'May 31, 2011',
 'Apr 30, 2011',
 'Mar 31, 2011',
 'Feb 28, 2011',
 'Jan 31, 2011',
 'Dec 31, 2012',
 'Nov 30, 2012',
 'Oct 31, 2012',
 'Sep 30, 2012',
 'Aug 31, 2012',
 'Jul 31, 2012',
 'Jun 30, 2012',
 'May 31, 2012',
 'Apr 30, 2012',
 'Mar 31, 2012',
 'Feb 29, 2012',
 'Jan 31, 2012',
 'Dec 31, 2013',
 'Nov 30, 2013',
 'Oct 31, 2013',
 'Sep 30, 2013',
 'Aug 31, 2013',
 'Jul 31, 2013',
 'Jun 30, 2013',
 'May 31, 2013',
 'Apr 30, 2013',
 'Mar 31, 2013',
 'Feb 28, 2013',
 'Jan 31, 2013',
 'Dec 31, 2014',
 'Nov 30, 2014',
 'Oct 31, 2014',
 'Sep 30, 2014',
 'Aug 31, 2014',
 'Jul 31, 2014',
 'Jun 30, 2014',
 'May 31, 2014',
 'Apr 30, 2014',
 'Mar 31, 2014',
 'Feb 28, 2014',
 'Jan 31, 2014',
 'Dec 31, 2015',
 'Nov 30, 2015',
 'Oct 31, 2015',
 'Sep 30, 2015',
 'Aug 31, 2015',
 'Jul 31, 2015',
 'Jun 30, 2015',
 'May 31, 2015',
 'Apr 30, 2015',
 'Mar 31, 2015',
 'Feb 28, 2015',
 'Jan 31, 2015',
 'Dec 31, 2016',
 'Nov 30, 2016',
 'Oct 31, 2016',
 'Sep 30, 2016',
 'Aug 31, 2016',
 'Jul 31, 2016',
 'Jun 30, 2016',
 'May 31, 2016',
 'Apr 30, 2016',
 'Mar 31, 2016',
 'Feb 29, 2016',
 'Jan 31, 2016',
 'Dec 31, 2017',
 'Nov 30, 2017',
 'Oct 31, 2017',
 'Sep 30, 2017',
 'Aug 31, 2017',
 'Jul 31, 2017',
 'Jun 30, 2017',
 'May 31, 2017',
 'Apr 30, 2017',
 'Mar 31, 2017',
 'Feb 28, 2017',
 'Jan 31, 2017',
 'Dec 31, 2018',
 'Nov 30, 2018',
 'Oct 31, 2018',
 'Sep 30, 2018',
 'Aug 31, 2018',
 'Jul 31, 2018',
 'Jun 30, 2018',
 'May 31, 2018',
 'Apr 30, 2018',
 'Mar 31, 2018',
 'Feb 28, 2018',
 'Jan 31, 2018']

In [66]:
yields=[]

for d in all_dates:
    yield_text=soup.find(text=d).next.next.text
    yield_text=re.match('[\d.]+',yield_text)[0]
    yields.append(yield_text)
    
yields

['1.17',
 '1.20',
 '1.28',
 '1.26',
 '1.25',
 '1.20',
 '1.24',
 '1.23',
 '1.23',
 '1.28',
 '1.31',
 '1.30',
 '1.22',
 '1.18',
 '1.17',
 '1.11',
 '1.11',
 '1.13',
 '1.14',
 '1.18',
 '1.15',
 '1.16',
 '1.21',
 '1.17',
 '1.37',
 '1.39',
 '1.46',
 '1.51',
 '1.33',
 '1.30',
 '1.27',
 '1.24',
 '1.33',
 '1.35',
 '1.23',
 '1.21',
 '1.79',
 '1.76',
 '1.86',
 '1.82',
 '1.74',
 '1.77',
 '1.58',
 '1.48',
 '1.42',
 '1.36',
 '1.43',
 '1.38',
 '1.61',
 '1.63',
 '1.62',
 '1.63',
 '1.66',
 '1.64',
 '1.64',
 '1.73',
 '1.82',
 '1.92',
 '1.93',
 '1.80',
 '1.62',
 '1.66',
 '1.72',
 '1.71',
 '1.74',
 '1.70',
 '1.64',
 '1.67',
 '1.61',
 '1.60',
 '1.56',
 '1.55',
 '1.76',
 '1.78',
 '1.82',
 '1.75',
 '1.74',
 '1.73',
 '1.74',
 '1.76',
 '1.76',
 '1.69',
 '1.66',
 '1.67',
 '1.76',
 '1.77',
 '1.79',
 '1.83',
 '1.85',
 '1.88',
 '1.87',
 '1.80',
 '1.77',
 '1.76',
 '1.77',
 '1.75',
 '1.87',
 '1.88',
 '1.77',
 '1.80',
 '1.84',
 '1.74',
 '1.73',
 '1.72',
 '1.76',
 '1.81',
 '1.75',
 '1.76',
 '3.23',
 '3.23',
 '2.96',
 '2.37',
 '2.25',
 '2.29',
 '2.14',
 '2.04',
 '2.08',
 '2.15',
 '2.07',
 '2.03',
 '2.02',
 '2.10',
 '2.19',
 '2.29',
 '2.42',
 '2.67',
 '2.76',
 '2.90',
 '3.15',
 '3.60',
 '3.43',
 '3.24',
 '1.83',
 '1.89',
 '1.92',
 '1.99',
 '2.05',
 '2.05',
 '2.03',
 '1.95',
 '1.83',
 '1.90',
 '2.03',
 '1.98',
 '2.13',
 '2.12',
 '2.12',
 '2.15',
 '2.10',
 '1.86',
 '1.89',
 '1.80',
 '1.78',
 '1.80',
 '1.76',
 '1.79',
 '2.20',
 '2.20',
 '2.10',
 '2.05',
 '2.08',
 '2.11',
 '2.14',
 '2.09',
 '2.00',
 '1.97',
 '2.00',
 '2.06',
 '1.94',
 '1.95',
 '2.01',
 '2.04',
 '2.04',
 '2.02',
 '2.06',
 '2.01',
 '2.07',
 '2.07',
 '2.10',
 '2.13',
 '1.92',
 '1.91',
 '2.00',
 '1.93',
 '1.94',
 '1.91',
 '1.92',
 '1.96',
 '1.96',
 '1.94',
 '1.97',
 '1.94',
 '2.11',
 '2.07',
 '2.11',
 '2.19',
 '2.07',
 '2.01',
 '1.99',
 '1.96',
 '1.96',
 '1.96',
 '1.94',
 '1.97',
 '2.03',
 '2.10',
 '2.11',
 '2.09',
 '2.07',
 '2.08',
 '2.13',
 '2.14',
 '2.12',
 '2.17',
 '2.30',
 '2.27',
 '1.84',
 '1.88',
 '1.89',
 '1.93',
 '1.95',
 '1.94',
 '1.94',
 '1.96',
 '1.98',
 '1.96',
 '1.98',
 '2.02',
 '2.09',
 '1.96',
 '1.90',
 '1.80',
 '1.82',
 '1.84',
 '1.85',
 '1.88',
 '1.90',
 '1.85',
 '1.84',
 '1.77']

In [67]:
k={}
k['year']=all_dates
k['yields']=yields

div_yield=pd.DataFrame(k)
div_yield.columns=['Date','Dividend yield']
div_yield

             Date Dividend yield
0    Dec 31, 1999           1.17
1    Nov 30, 1999           1.20
2    Oct 31, 1999           1.28
3    Sep 30, 1999           1.26
4    Aug 31, 1999           1.25
..            ...            ...
235  May 31, 2018           1.88
236  Apr 30, 2018           1.90
237  Mar 31, 2018           1.85
238  Feb 28, 2018           1.84
239  Jan 31, 2018           1.77

[240 rows x 2 columns]

In [68]:
div_yield.set_index('Date',inplace=True)
div_yield.index=pd.to_datetime(div_yield.index)
div_yield=div_yield.sort_index()['1999-03-31':'2018-11-30'].apply(lambda x: pd.to_numeric(x)).div(100)
div_yield

            Dividend yield
Date
1999-03-31          0.0128
1999-04-30          0.0123
1999-05-31          0.0123
1999-06-30          0.0124
1999-07-31          0.0120
...                    ...
2018-07-31          0.0184
2018-08-31          0.0182
2018-09-30          0.0180
2018-10-31          0.0190
2018-11-30          0.0196

[237 rows x 1 columns]

### Earnings growth

In [69]:
link ='https://www.multpl.com/s-p-500-real-earnings-growth/table/by-quarter'
p=requests.get(link).text
earnings_soup=bs(p,'html.parser')

In [70]:
year_range=list(range(1999,2019))
w=[]
for i in year_range:
    d_list=earnings_soup.find_all(text=re.compile(str(i)))
    w.append(d_list)
    
w

[['Dec 31, 1999', 'Sep 30, 1999', 'Jun 30, 1999', 'Mar 31, 1999'],
 ['Dec 31, 2000', 'Sep 30, 2000', 'Jun 30, 2000', 'Mar 31, 2000'],
 ['Dec 31, 2001', 'Sep 30, 2001', 'Jun 30, 2001', 'Mar 31, 2001'],
 ['Dec 31, 2002', 'Sep 30, 2002', 'Jun 30, 2002', 'Mar 31, 2002'],
 ['Dec 31, 2003', 'Sep 30, 2003', 'Jun 30, 2003', 'Mar 31, 2003'],
 ['Dec 31, 2004', 'Sep 30, 2004', 'Jun 30, 2004', 'Mar 31, 2004'],
 ['Dec 31, 2005', 'Sep 30, 2005', 'Jun 30, 2005', 'Mar 31, 2005'],
 ['Dec 31, 2006', 'Sep 30, 2006', 'Jun 30, 2006', 'Mar 31, 2006'],
 ['Dec 31, 2007', 'Sep 30, 2007', 'Jun 30, 2007', 'Mar 31, 2007'],
 ['Dec 31, 2008', 'Sep 30, 2008', 'Jun 30, 2008', 'Mar 31, 2008'],
 ['Dec 31, 2009', 'Sep 30, 2009', 'Jun 30, 2009', 'Mar 31, 2009'],
 ['Dec 31, 2010', 'Sep 30, 2010', 'Jun 30, 2010', 'Mar 31, 2010'],
 ['Dec 31, 2011', 'Sep 30, 2011', 'Jun 30, 2011', 'Mar 31, 2011'],
 ['Dec 31, 2012', 'Sep 30, 2012', 'Jun 30, 2012', 'Mar 31, 2012'],
 ['Dec 31, 2013', 'Sep 30, 2013', 'Jun 30, 2013', 'Mar 31, 2013'],
 ['Dec 31, 2014', 'Sep 30, 2014', 'Jun 30, 2014', 'Mar 31, 2014'],
 ['Dec 31, 2015', 'Sep 30, 2015', 'Jun 30, 2015', 'Mar 31, 2015'],
 ['Dec 31, 2016', 'Sep 30, 2016', 'Jun 30, 2016', 'Mar 31, 2016'],
 ['Dec 31, 2017', 'Sep 30, 2017', 'Jun 30, 2017', 'Mar 31, 2017'],
 ['Dec 31, 2018', 'Sep 30, 2018', 'Jun 30, 2018', 'Mar 31, 2018']]

In [71]:
all_qtr=list(itertools.chain(w[0],w[1],w[2],w[3],w[4],
                             w[5],w[6],w[7],w[8],w[9],
                             w[10],w[11],w[12],w[13],w[14],
                             w[15],w[16],w[17],w[18],w[19]))
all_qtr=[str(e) for e in all_qtr]
all_qtr

['Dec 31, 1999',
 'Sep 30, 1999',
 'Jun 30, 1999',
 'Mar 31, 1999',
 'Dec 31, 2000',
 'Sep 30, 2000',
 'Jun 30, 2000',
 'Mar 31, 2000',
 'Dec 31, 2001',
 'Sep 30, 2001',
 'Jun 30, 2001',
 'Mar 31, 2001',
 'Dec 31, 2002',
 'Sep 30, 2002',
 'Jun 30, 2002',
 'Mar 31, 2002',
 'Dec 31, 2003',
 'Sep 30, 2003',
 'Jun 30, 2003',
 'Mar 31, 2003',
 'Dec 31, 2004',
 'Sep 30, 2004',
 'Jun 30, 2004',
 'Mar 31, 2004',
 'Dec 31, 2005',
 'Sep 30, 2005',
 'Jun 30, 2005',
 'Mar 31, 2005',
 'Dec 31, 2006',
 'Sep 30, 2006',
 'Jun 30, 2006',
 'Mar 31, 2006',
 'Dec 31, 2007',
 'Sep 30, 2007',
 'Jun 30, 2007',
 'Mar 31, 2007',
 'Dec 31, 2008',
 'Sep 30, 2008',
 'Jun 30, 2008',
 'Mar 31, 2008',
 'Dec 31, 2009',
 'Sep 30, 2009',
 'Jun 30, 2009',
 'Mar 31, 2009',
 'Dec 31, 2010',
 'Sep 30, 2010',
 'Jun 30, 2010',
 'Mar 31, 2010',
 'Dec 31, 2011',
 'Sep 30, 2011',
 'Jun 30, 2011',
 'Mar 31, 2011',
 'Dec 31, 2012',
 'Sep 30, 2012',
 'Jun 30, 2012',
 'Mar 31, 2012',
 'Dec 31, 2013',
 'Sep 30, 2013',
 'Jun 30, 2013',
 'Mar 31, 2013',
 'Dec 31, 2014',
 'Sep 30, 2014',
 'Jun 30, 2014',
 'Mar 31, 2014',
 'Dec 31, 2015',
 'Sep 30, 2015',
 'Jun 30, 2015',
 'Mar 31, 2015',
 'Dec 31, 2016',
 'Sep 30, 2016',
 'Jun 30, 2016',
 'Mar 31, 2016',
 'Dec 31, 2017',
 'Sep 30, 2017',
 'Jun 30, 2017',
 'Mar 31, 2017',
 'Dec 31, 2018',
 'Sep 30, 2018',
 'Jun 30, 2018',
 'Mar 31, 2018']

In [72]:
growth=[]

for q in all_qtr:
    earnings_text=earnings_soup.find(text=q).next.next.text
    earnings_text=re.match('[-\d.]+',earnings_text)[0]
    growth.append(earnings_text)
    
growth

['24.85',
 '13.06',
 '3.42',
 '-4.51',
 '0.30',
 '18.22',
 '22.70',
 '29.17',
 '-51.84',
 '-48.70',
 '-31.14',
 '-13.59',
 '9.96',
 '4.27',
 '-28.78',
 '-46.93',
 '72.45',
 '25.06',
 '26.10',
 '20.12',
 '17.01',
 '46.74',
 '59.18',
 '68.45',
 '15.28',
 '11.21',
 '9.48',
 '12.41',
 '13.23',
 '14.46',
 '13.34',
 '16.64',
 '-21.05',
 '-2.44',
 '11.25',
 '11.18',
 '-79.48',
 '-44.15',
 '-41.82',
 '-29.68',
 '261.66',
 '-73.86',
 '-86.80',
 '-90.27',
 '49.72',
 '492.53',
 '870.40',
 '905.56',
 '8.86',
 '17.64',
 '22.28',
 '31.36',
 '-2.45',
 '-2.78',
 '2.03',
 '5.47',
 '14.13',
 '7.40',
 '1.64',
 '-2.63',
 '0.55',
 '10.47',
 '11.67',
 '13.35',
 '-15.56',
 '-14.60',
 '-8.54',
 '-2.72',
 '7.81',
 '-2.79',
 '-9.01',
 '-13.24',
 '13.86',
 '17.80',
 '17.47',
 '14.05',
 '17.70',
 '18.85',
 '14.93',
 '12.73']

In [73]:
v={}
v['Date']=all_qtr
v['Earnings growth']=growth

earnings_growth=pd.DataFrame(v)
earnings_growth

            Date Earnings growth
0   Dec 31, 1999           24.85
1   Sep 30, 1999           13.06
2   Jun 30, 1999            3.42
3   Mar 31, 1999           -4.51
4   Dec 31, 2000            0.30
..           ...             ...
75  Mar 31, 2017           14.05
76  Dec 31, 2018           17.70
77  Sep 30, 2018           18.85
78  Jun 30, 2018           14.93
79  Mar 31, 2018           12.73

[80 rows x 2 columns]

In [74]:
earnings_growth.set_index('Date',inplace=True)
earnings_growth.index=pd.to_datetime(earnings_growth.index)
earnings_growth=earnings_growth.sort_index()
earnings_growth=earnings_growth.apply(lambda x: pd.to_numeric(x)).div(100)
earnings_growth

            Earnings growth
Date
1999-03-31          -0.0451
1999-06-30           0.0342
1999-09-30           0.1306
1999-12-31           0.2485
2000-03-31           0.2917
...                     ...
2017-12-31           0.1386
2018-03-31           0.1273
2018-06-30           0.1493
2018-09-30           0.1885
2018-12-31           0.1770

[80 rows x 1 columns]

In [75]:
earnings_growth=earnings_growth.apply(lambda x: (1+x/4).pow(1/3)-1)
earnings_growth=earnings_growth.resample('M').bfill()['1999-03-31':'2018-11-30']
earnings_growth

            Earnings growth
Date
1999-03-31          -0.0038
1999-04-30           0.0028
1999-05-31           0.0028
1999-06-30           0.0028
1999-07-31           0.0108
...                     ...
2018-07-31           0.0155
2018-08-31           0.0155
2018-09-30           0.0155
2018-10-31           0.0145
2018-11-30           0.0145

[237 rows x 1 columns]

## Gold price

In [76]:
GP=pd.read_csv('Gold_Price.csv')
GP.set_index('Date',inplace=True)
GP.index=pd.to_datetime(GP.index)

In [77]:
GP = GP.resample('M').mean()

In [78]:
GP

            Price USD per Oz  Price INR per Gm
Date
1950-01-31           34.7300           91.6962
1950-02-28           34.7300           91.6962
1950-03-31           34.7300           91.6962
1950-04-30           34.7300           91.6962
1950-05-31           34.7300           91.6962
...                      ...               ...
2020-03-31         1593.7640         4207.9485
2020-04-30         1680.0300         4435.7130
2020-05-31         1715.6970         4529.8831
2020-06-30         1734.0320         4578.2922
2020-07-31         1840.8070         4860.2058

[847 rows x 2 columns]

In [79]:
GP = GP.div(100)['1999-03-31':'2018-11-30']
GP.head()

            Price USD per Oz  Price INR per Gm
Date
1999-03-31            2.8624            7.5576
1999-04-30            2.8262            7.4619
1999-05-31            2.7693            7.3117
1999-06-30            2.6140            6.9017
1999-07-31            2.5620            6.7643

### Oil Price

In [80]:
oil_price = pd.read_excel('CrudeOilPrices.xlsx')

In [81]:
oil_price.set_index('Date',inplace=True)
oil_price.index=pd.to_datetime(oil_price.index)
oil_price =oil_price.resample('M').mean()

In [82]:
oil_price=oil_price['1999-02-28':]
oil_price=oil_price['1999-03-31':]/oil_price.iloc[:-1].values
oil_price=oil_price.apply(lambda x: np.log(x))
oil_price

            Oil price
Date
1999-03-31      0.2002
1999-04-30      0.1652
1999-05-31      0.0232
1999-06-30      0.0115
1999-07-31      0.1148
...                ...
2018-08-31     -0.0397
2018-09-30      0.0325
2018-10-31      0.0096
2018-11-30     -0.2161
2018-12-31     -0.1488

[238 rows x 1 columns]

## PE ratio

In [83]:
pe=pd.read_csv('SP500PEratio.csv')

In [84]:
pe.set_index('Date',inplace=True)
pe.index=pd.to_datetime(pe.index)
pe =pe.resample('M').mean()

In [85]:
pe=pe['1999-02-28':]
pe=pe['1999-03-31':]/pe.iloc[:-1].values
pe=pe.apply(lambda x: np.log(x))
pe

            PE ratio
Date
1999-03-31    0.0381
1999-04-30   -0.0293
1999-05-31   -0.0253
1999-06-30    0.0530
1999-07-31   -0.1018
...              ...
2020-02-29   -0.0879
2020-03-31   -0.1337
2020-04-30    0.1194
2020-05-31    0.0443
2020-06-30    0.0182

[256 rows x 1 columns]

In [86]:
pe=pe[:'2018-11-30']
pe

            PE ratio
Date
1999-03-31    0.0381
1999-04-30   -0.0293
1999-05-31   -0.0253
1999-06-30    0.0530
1999-07-31   -0.1018
...              ...
2018-07-31   -0.0272
2018-08-31    0.0298
2018-09-30    0.0043
2018-10-31   -0.0872
2018-11-30    0.0177

[237 rows x 1 columns]

## ROE & ROA

In [87]:
perf_ratio= pd.read_excel('sp500_roe_roa.xlsx')
perf_ratio.head()

        Date    ROA     ROE
0 2022-12-31 4.3818 27.4099
1 2021-12-31 4.0327 26.1970
2 2020-12-31 3.7855 22.9458
3 2020-11-05 2.2285 11.3006
4 2020-10-31 2.2285 11.3006

In [88]:
perf_ratio.set_index('Date',inplace=True)
perf_ratio.index=pd.to_datetime(perf_ratio.index)
perf_ratio =perf_ratio.resample('M').mean()
perf_ratio

              ROA     ROE
Date
1990-06-30 3.3331 14.2149
1990-07-31 3.3198 14.1976
1990-08-31 3.3101 14.1662
1990-09-30 3.1015 13.3199
1990-10-31 3.0494 13.0921
...           ...     ...
2022-08-31    nan     nan
2022-09-30    nan     nan
2022-10-31    nan     nan
2022-11-30    nan     nan
2022-12-31 4.3818 27.4099

[391 rows x 2 columns]

In [89]:
perf_ratio=perf_ratio.div(100)['1999-02-28':]
perf_ratio=perf_ratio['1999-03-31':]/perf_ratio[:-1].values
perf_ratio=perf_ratio.apply(lambda x: np.log(x))
perf_ratio=perf_ratio[:'2018-11-30']

In [90]:
perf_ratio

               ROA     ROE
Date
1999-03-31 -0.0261 -0.0467
1999-04-30  0.0081  0.0075
1999-05-31  0.0012 -0.0050
1999-06-30 -0.0090 -0.0112
1999-07-31  0.0096  0.0022
...            ...     ...
2018-07-31  0.0027  0.0024
2018-08-31  0.0056  0.0053
2018-09-30  0.0551  0.0513
2018-10-31  0.0008 -0.0033
2018-11-30  0.0069  0.0078

[237 rows x 2 columns]

## Inflation rate

In [91]:
inflation= pd.read_excel('US_inflation_rate.xlsx')
inflation.head()

          Date  Inflation Rate
0  Aug 1, 2020          0.0131
1  Jul 1, 2020          0.0099
2  Jun 1, 2020          0.0065
3  May 1, 2020          0.0012
4  Apr 1, 2020          0.0033

In [92]:
inflation.set_index('Date',inplace=True)
inflation.index=pd.to_datetime(inflation.index)
inflation =inflation.resample('M').mean()
inflation=inflation['1999-03-31':'2018-11-30']
inflation

            Inflation Rate
Date
1999-03-31          0.0173
1999-04-30          0.0228
1999-05-31          0.0209
1999-06-30          0.0196
1999-07-31          0.0214
...                    ...
2018-07-31          0.0295
2018-08-31          0.0270
2018-09-30          0.0228
2018-10-31          0.0252
2018-11-30          0.0218

[237 rows x 1 columns]

## Net profit margin

In [93]:
Profit_margin=pd.read_csv('profit_Margin.csv')
Profit_margin

          Date  Net Profit Margin_Mean
0     19990630                 -0.0270
1     19990630                  0.0580
2     19990630                  0.0700
3     19990630                 -0.0360
4     19990630                  0.1210
...        ...                     ...
2373  20181231                  0.1190
2374  20181231                  0.1540
2375  20181231                  0.0920
2376  20181231                  0.0930
2377  20181231                  0.1010

[2378 rows x 2 columns]

In [94]:
Profit_margin.set_index('Date',inplace=True)
Profit_margin.index=pd.to_datetime(Profit_margin.index,format='%Y%m%d')

In [95]:
Profit_margin=Profit_margin.resample('M').mean()
Profit_margin=Profit_margin.div(100)['1999-03-31':'2018-11-30']
Profit_margin

            Net Profit Margin_Mean
Date
1999-06-30                  0.0005
1999-07-31                  0.0005
1999-08-31                  0.0005
1999-09-30                  0.0005
1999-10-31                  0.0005
...                            ...
2018-07-31                  0.0011
2018-08-31                  0.0012
2018-09-30                  0.0012
2018-10-31                  0.0011
2018-11-30                  0.0012

[234 rows x 1 columns]

### Sentiment

In [96]:
import pandas as pd
import numpy as np
import yfinance as yf
import datetime

In [97]:
List=["^VIX","JPY=X"]
Symbol=[i for i in List]
start_date = '1999-04-01'
end_date= '2018-12-01'

In [98]:
df_USDJPY=yf.download("JPY=X",start=start_date,end=end_date, adjusted=True,progress=False)
df_USDJPY

               Open     High      Low    Close  Adj Close  Volume
Date
1999-03-31 120.4200 120.9800 118.1000 118.7700   118.7700       0
1999-04-01 118.7300 120.8500 118.3500 120.7000   120.7000       0
1999-04-02 120.6500 120.9800 120.3000 120.4500   120.4500       0
1999-04-05 120.6400 121.9700 120.4100 121.7000   121.7000       0
1999-04-06 121.7000 121.7900 120.3800 120.6700   120.6700       0
...             ...      ...      ...      ...        ...     ...
2018-11-26 112.9240 113.5880 112.9040 112.9190   112.9190       0
2018-11-27 113.5150 113.8320 113.4060 113.5040   113.5040       0
2018-11-28 113.7770 114.0150 113.7100 113.7670   113.7670       0
2018-11-29 113.5700 113.6080 113.2010 113.5550   113.5550       0
2018-11-30 113.4120 113.5960 113.3380 113.4110   113.4110       0

[5105 rows x 6 columns]

In [99]:
USDJPY_return=df_USDJPY.pct_change()\
         ["Adj Close"]
USDJPY_return

Date
1999-03-31       nan
1999-04-01    0.0162
1999-04-02   -0.0021
1999-04-05    0.0104
1999-04-06   -0.0085
               ...
2018-11-26   -0.0005
2018-11-27    0.0052
2018-11-28    0.0023
2018-11-29   -0.0019
2018-11-30   -0.0013
Name: Adj Close, Length: 5105, dtype: float64

In [100]:
df_VIX=yf.download("^VIX",start=start_date,end=end_date, adjusted=True,progress=False)
df_VIX

              Open    High     Low   Close  Adj Close  Volume
Date
1999-03-31 22.0300 23.3000 22.0000 23.2600    23.2600       0
1999-04-01 22.8700 22.8700 22.0600 22.0600    22.0600       0
1999-04-05 22.8800 23.2000 22.1800 22.1900    22.1900       0
1999-04-06 22.5300 23.0400 22.1200 22.6500    22.6500       0
1999-04-07 22.5300 23.2600 22.1000 22.8100    22.8100       0
...            ...     ...     ...     ...        ...     ...
2018-11-26 20.7800 20.8000 18.6700 18.9000    18.9000       0
2018-11-27 19.4100 19.9300 18.7000 19.0200    19.0200       0
2018-11-28 18.8700 19.3800 18.1800 18.4900    18.4900       0
2018-11-29 18.6500 20.4800 18.5900 18.7900    18.7900       0
2018-11-30 19.1800 19.9100 18.0300 18.0700    18.0700       0

[4952 rows x 6 columns]

In [101]:
df_sentiment=yf.download(Symbol,start=start_date,end=end_date, adjusted=True,progress=False)\
               ["Adj Close"]

In [102]:
df_sentiment = df_sentiment.pct_change()

In [103]:
df_sentiment = df_sentiment.resample('M').mean()

In [104]:
df_sentiment

             JPY=X    ^VIX
Date
1999-03-31     nan     nan
1999-04-30  0.0003  0.0043
1999-05-31  0.0009  0.0022
1999-06-30 -0.0002 -0.0072
1999-07-31 -0.0024  0.0093
...            ...     ...
2018-07-31  0.0002 -0.0087
2018-08-31  0.0000  0.0023
2018-09-30  0.0011 -0.0017
2018-10-31 -0.0001  0.0319
2018-11-30  0.0001 -0.0041

[237 rows x 2 columns]

### Momentum-Max drawdown

In [105]:
df

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",1976-08-09,66740,1902
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
2,ABBV,AbbVie Inc.,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
3,ABMD,ABIOMED Inc,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
4,ACN,Accenture plc,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...,...
500,YUM,Yum! Brands Inc,reports,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
501,ZBRA,Zebra Technologies,reports,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
502,ZBH,Zimmer Biomet,reports,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
503,ZION,Zions Bancorp,reports,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
504,ZTS,Zoetis,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280,1952

In [106]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib
import matplotlib.pyplot as plt
import pandas_datareader.data as web
import datetime

%matplotlib inline

In [107]:
start=datetime.date(1999,4,1)
end=datetime.date(2018,12,1)

In [108]:
spx=web.DataReader('^GSPC','yahoo',start=start,end=end)
spx=spx['Adj Close']
spx=spx.resample('M').mean()
spx

Date
1999-03-31   1286.3700
1999-04-30   1334.7567
1999-05-31   1332.0740
1999-06-30   1322.5527
1999-07-31   1380.9900
                ...
2018-07-31   2793.6434
2018-08-31   2857.8204
2018-09-30   2901.5005
2018-10-31   2785.4648
2018-11-30   2723.2314
Freq: M, Name: Adj Close, Length: 237, dtype: float64

In [109]:
daily_pct = spx.pct_change()

In [110]:
(1+daily_pct).cumprod()

Date
1999-03-31      nan
1999-04-30   1.0376
1999-05-31   1.0355
1999-06-30   1.0281
1999-07-31   1.0736
              ...
2018-07-31   2.1717
2018-08-31   2.2216
2018-09-30   2.2556
2018-10-31   2.1654
2018-11-30   2.1170
Freq: M, Name: Adj Close, Length: 237, dtype: float64

In [111]:
wealth_index = 1000*(1+daily_pct).cumprod()
previous_peak = wealth_index.cummax()
max_drawdown = (wealth_index-previous_peak)/previous_peak

In [112]:
max_drawdown=pd.DataFrame(data=max_drawdown)
max_drawdown

            Adj Close
Date
1999-03-31        nan
1999-04-30     0.0000
1999-05-31    -0.0020
1999-06-30    -0.0091
1999-07-31     0.0000
...               ...
2018-07-31     0.0000
2018-08-31     0.0000
2018-09-30     0.0000
2018-10-31    -0.0400
2018-11-30    -0.0614

[237 rows x 1 columns]

In [113]:
max_drawdown=max_drawdown.rename(columns={'Adj Close':'max_drawdown'})

In [114]:
pd.set_option('display.float_format',lambda x : '%.4f' % x)

In [115]:
max_drawdown

            max_drawdown
Date
1999-03-31           nan
1999-04-30        0.0000
1999-05-31       -0.0020
1999-06-30       -0.0091
1999-07-31        0.0000
...                  ...
2018-07-31        0.0000
2018-08-31        0.0000
2018-09-30        0.0000
2018-10-31       -0.0400
2018-11-30       -0.0614

[237 rows x 1 columns]

In [116]:
max_drawdown

            max_drawdown
Date
1999-03-31           nan
1999-04-30        0.0000
1999-05-31       -0.0020
1999-06-30       -0.0091
1999-07-31        0.0000
...                  ...
2018-07-31        0.0000
2018-08-31        0.0000
2018-09-30        0.0000
2018-10-31       -0.0400
2018-11-30       -0.0614

[237 rows x 1 columns]

## Capital Asset Pricing Model (CAPM)

In [117]:
df = pd.read_csv('raw_data.csv')
df

,Date,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,...,WYNN,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS
0,1999-03-31,18.7062,8.4956,nan,6.2500,nan,0.9242,7.0336,7.7500,nan,...,nan,8.7812,93.1430,14.3898,nan,9.3921,10.5556,nan,47.8566,nan
1,1999-04-01,19.2350,8.6317,nan,6.2500,nan,0.9382,6.9871,7.8125,nan,...,nan,8.9469,91.6161,15.4763,nan,9.8266,11.1667,nan,47.5867,nan
2,1999-04-05,19.3011,8.7565,nan,6.1250,nan,0.9242,6.8941,7.8438,nan,...,nan,9.0605,96.5241,17.2057,nan,9.6595,11.3889,nan,48.8011,nan
3,1999-04-06,19.0202,8.7565,nan,6.0312,nan,0.9195,6.8864,7.8750,nan,...,nan,8.9884,99.6870,16.7844,nan,9.6679,11.3333,nan,46.8671,nan
4,1999-04-07,18.8549,8.8019,nan,6.7500,nan,0.9335,6.6927,8.0938,nan,...,nan,8.8683,103.9407,15.7202,nan,9.5509,11.2500,nan,46.9795,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4947,2018-11-26,188.0171,66.6368,76.2213,311.1500,153.9552,50.1743,231.9600,20.0800,175.9842,...,107.0875,48.4177,23.7141,86.7043,67.9946,85.6028,169.0400,111.4501,45.4526,88.4464
4948,2018-11-27,188.7979,67.5084,77.4941,313.9500,154.6453,50.0166,232.2500,21.0500,177.5190,...,108.3455,49.0241,23.9710,86.5874,67.9360,86.7273,168.5800,111.3222,45.3108,89.1183
4949,2018-11-28,192.2316,70.5299,78.6077,335.2200,157.6583,50.2827,249.2100,21.3400,177.2021,...,108.3167,48.8535,24.7786,88.8278,69.5193,88.9180,178.1100,112.8771,45.6795,91.6871
4950,2018-11-29,192.4386,70.9463,79.4650,331.9900,156.5503,51.8005,249.0900,21.4300,175.9347,...,103.8227,48.8251,24.6685,88.8376,69.6854,89.0440,177.9200,113.1329,45.5850,91.6574
4951,2018-11-30,195.5995,71.7113,83.3185,332.6800,159.9035,49.1592,250.8900,21.3000,175.9743,...,105.0518,49.6968,24.7052,90.0844,71.3274,89.3930,179.8000,115.1602,46.0105,92.7442

In [118]:
df = df.set_index(pd.DatetimeIndex(df['Date']))

In [119]:
df

,Date,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,...,WYNN,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
1999-03-31,1999-03-31,18.7062,8.4956,nan,6.2500,nan,0.9242,7.0336,7.7500,nan,...,nan,8.7812,93.1430,14.3898,nan,9.3921,10.5556,nan,47.8566,nan
1999-04-01,1999-04-01,19.2350,8.6317,nan,6.2500,nan,0.9382,6.9871,7.8125,nan,...,nan,8.9469,91.6161,15.4763,nan,9.8266,11.1667,nan,47.5867,nan
1999-04-05,1999-04-05,19.3011,8.7565,nan,6.1250,nan,0.9242,6.8941,7.8438,nan,...,nan,9.0605,96.5241,17.2057,nan,9.6595,11.3889,nan,48.8011,nan
1999-04-06,1999-04-06,19.0202,8.7565,nan,6.0312,nan,0.9195,6.8864,7.8750,nan,...,nan,8.9884,99.6870,16.7844,nan,9.6679,11.3333,nan,46.8671,nan
1999-04-07,1999-04-07,18.8549,8.8019,nan,6.7500,nan,0.9335,6.6927,8.0938,nan,...,nan,8.8683,103.9407,15.7202,nan,9.5509,11.2500,nan,46.9795,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-11-26,2018-11-26,188.0171,66.6368,76.2213,311.1500,153.9552,50.1743,231.9600,20.0800,175.9842,...,107.0875,48.4177,23.7141,86.7043,67.9946,85.6028,169.0400,111.4501,45.4526,88.4464
2018-11-27,2018-11-27,188.7979,67.5084,77.4941,313.9500,154.6453,50.0166,232.2500,21.0500,177.5190,...,108.3455,49.0241,23.9710,86.5874,67.9360,86.7273,168.5800,111.3222,45.3108,89.1183
2018-11-28,2018-11-28,192.2316,70.5299,78.6077,335.2200,157.6583,50.2827,249.2100,21.3400,177.2021,...,108.3167,48.8535,24.7786,88.8278,69.5193,88.9180,178.1100,112.8771,45.6795,91.6871
2018-11-29,2018-11-29,192.4386,70.9463,79.4650,331.9900,156.5503,51.8005,249.0900,21.4300,175.9347,...,103.8227,48.8251,24.6685,88.8376,69.6854,89.0440,177.9200,113.1329,45.5850,91.6574
2018-11-30,2018-11-30,195.5995,71.7113,83.3185,332.6800,159.9035,49.1592,250.8900,21.3000,175.9743,...,105.0518,49.6968,24.7052,90.0844,71.3274,89.3930,179.8000,115.1602,46.0105,92.7442

In [120]:
rf=web.DataReader('^IRX','yahoo',start=start,end=end)
rf=rf['Adj Close']
rf=(1+(rf/100))**(1/12)-1
rf=rf.resample('M').mean()
rf

Date
1999-03-31   0.0036
1999-04-30   0.0035
1999-05-31   0.0037
1999-06-30   0.0037
1999-07-31   0.0037
              ...
2018-07-31   0.0016
2018-08-31   0.0017
2018-09-30   0.0017
2018-10-31   0.0018
2018-11-30   0.0019
Freq: M, Name: Adj Close, Length: 237, dtype: float64

In [121]:
spx=web.DataReader('SPY','yahoo',start=start,end=end)
spx=spx['Adj Close']
spx=spx.resample('M').mean()
spx

Date
1999-03-31    86.2838
1999-04-30    89.9395
1999-05-31    89.7594
1999-06-30    89.1669
1999-07-31    93.1408
               ...
2018-07-31   267.0423
2018-08-31   273.5733
2018-09-30   278.2311
2018-10-31   267.3878
2018-11-30   261.8403
Freq: M, Name: Adj Close, Length: 237, dtype: float64

In [122]:
spx_rt=spx.pct_change()
mkt_excessrt=spx_rt-rf
mkt_excessrt.fillna(0,inplace=True)
mkt_excessrt

Date
1999-03-31    0.0000
1999-04-30    0.0389
1999-05-31   -0.0057
1999-06-30   -0.0103
1999-07-31    0.0409
               ...
2018-07-31    0.0139
2018-08-31    0.0228
2018-09-30    0.0153
2018-10-31   -0.0408
2018-11-30   -0.0227
Freq: M, Name: Adj Close, Length: 237, dtype: float64

In [123]:
df=df.resample('M').mean()
df_monthrt=df.pct_change().fillna(0)
df_monthrt

,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,AES,...,WYNN,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
1999-03-31,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
1999-04-30,0.1047,0.0845,0.0000,0.1193,0.0000,-0.0476,0.0414,0.0373,0.0000,0.2467,...,0.0000,0.0316,0.0746,0.1629,0.0000,-0.0116,0.2202,0.0000,0.0306,0.0000
1999-05-31,0.1667,-0.0636,0.0000,0.1483,0.0000,0.0615,0.2274,0.1662,0.0000,0.1041,...,0.0000,0.0648,0.0305,-0.0096,0.0000,-0.1394,0.1152,0.0000,-0.0747,0.0000
1999-06-30,-0.0126,-0.0629,0.0000,-0.0946,0.0000,0.0827,0.0603,-0.0427,0.0000,0.0418,...,0.0000,0.0071,-0.0160,0.0899,0.0000,-0.1346,0.0660,0.0000,-0.0703,0.0000
1999-07-31,0.0031,-0.0226,0.0000,0.0325,0.0000,0.0675,0.1338,-0.0482,0.0000,0.0827,...,0.0000,-0.0559,-0.0470,0.1901,0.0000,-0.0270,0.1998,0.0000,0.0378,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-07-31,0.0041,0.0195,-0.0268,-0.0352,0.0260,0.0357,0.0144,0.0722,0.0401,0.0063,...,-0.0701,0.0559,-0.0558,0.0032,-0.0175,-0.0331,-0.0408,0.0267,-0.0514,-0.0072
2018-08-31,0.0227,0.0308,0.0343,-0.0749,-0.0103,-0.0846,0.0105,0.2568,0.1069,0.0628,...,-0.0862,0.0329,0.0720,0.0685,0.1033,0.0600,0.1052,0.0766,0.0180,0.0633
2018-09-30,0.0324,0.0558,-0.0281,0.0624,0.0472,0.0995,0.0420,0.4647,0.0835,-0.0175,...,-0.0930,0.0118,0.0252,0.0665,0.0588,0.0663,0.0730,0.0282,-0.0211,-0.0142
2018-10-31,-0.0514,0.0142,-0.0501,-0.0556,-0.0519,-0.0536,-0.0534,-0.1984,-0.0169,0.0878,...,-0.1600,0.0145,-0.0206,-0.0038,-0.1031,0.0028,-0.0613,-0.0292,-0.0700,0.0142
2018-11-30,0.0014,0.0188,-0.0104,-0.0903,0.0002,-0.2533,-0.0538,-0.1747,0.0564,0.0504,...,-0.0469,0.0432,0.0197,0.1235,-0.0252,0.0021,0.0665,-0.0729,0.0027,0.0164

In [124]:
df_excessrt= df_monthrt.apply(lambda x: x-rf)
df_excessrt

,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,AES,...,WYNN,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
1999-03-31,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,...,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036
1999-04-30,0.1012,0.0810,-0.0035,0.1158,-0.0035,-0.0511,0.0379,0.0338,-0.0035,0.2432,...,-0.0035,0.0281,0.0711,0.1594,-0.0035,-0.0151,0.2167,-0.0035,0.0271,-0.0035
1999-05-31,0.1630,-0.0673,-0.0037,0.1446,-0.0037,0.0579,0.2237,0.1626,-0.0037,0.1004,...,-0.0037,0.0612,0.0269,-0.0133,-0.0037,-0.1431,0.1116,-0.0037,-0.0784,-0.0037
1999-06-30,-0.0164,-0.0666,-0.0037,-0.0983,-0.0037,0.0790,0.0566,-0.0465,-0.0037,0.0381,...,-0.0037,0.0033,-0.0197,0.0862,-0.0037,-0.1383,0.0623,-0.0037,-0.0740,-0.0037
1999-07-31,-0.0006,-0.0263,-0.0037,0.0288,-0.0037,0.0638,0.1301,-0.0519,-0.0037,0.0790,...,-0.0037,-0.0596,-0.0507,0.1864,-0.0037,-0.0307,0.1961,-0.0037,0.0341,-0.0037
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-07-31,0.0025,0.0179,-0.0284,-0.0368,0.0244,0.0341,0.0128,0.0706,0.0385,0.0047,...,-0.0717,0.0543,-0.0574,0.0016,-0.0191,-0.0347,-0.0424,0.0251,-0.0530,-0.0088
2018-08-31,0.0211,0.0291,0.0326,-0.0766,-0.0120,-0.0862,0.0088,0.2551,0.1052,0.0611,...,-0.0879,0.0313,0.0704,0.0668,0.1016,0.0584,0.1036,0.0750,0.0164,0.0617
2018-09-30,0.0306,0.0540,-0.0299,0.0607,0.0455,0.0977,0.0403,0.4629,0.0818,-0.0192,...,-0.0947,0.0101,0.0234,0.0647,0.0570,0.0645,0.0713,0.0265,-0.0229,-0.0159
2018-10-31,-0.0533,0.0124,-0.0520,-0.0575,-0.0537,-0.0555,-0.0553,-0.2003,-0.0187,0.0859,...,-0.1619,0.0126,-0.0225,-0.0056,-0.1050,0.0010,-0.0631,-0.0310,-0.0718,0.0124
2018-11-30,-0.0005,0.0169,-0.0123,-0.0922,-0.0017,-0.2552,-0.0557,-0.1766,0.0545,0.0485,...,-0.0488,0.0413,0.0178,0.1216,-0.0271,0.0002,0.0645,-0.0748,0.0008,0.0145

In [125]:
df_excessrt=df_excessrt.apply(lambda x: np.nan_to_num(np.array(x)))
df_excessrt

,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,AES,...,WYNN,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
1999-03-31,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,...,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036
1999-04-30,0.1012,0.0810,-0.0035,0.1158,-0.0035,-0.0511,0.0379,0.0338,-0.0035,0.2432,...,-0.0035,0.0281,0.0711,0.1594,-0.0035,-0.0151,0.2167,-0.0035,0.0271,-0.0035
1999-05-31,0.1630,-0.0673,-0.0037,0.1446,-0.0037,0.0579,0.2237,0.1626,-0.0037,0.1004,...,-0.0037,0.0612,0.0269,-0.0133,-0.0037,-0.1431,0.1116,-0.0037,-0.0784,-0.0037
1999-06-30,-0.0164,-0.0666,-0.0037,-0.0983,-0.0037,0.0790,0.0566,-0.0465,-0.0037,0.0381,...,-0.0037,0.0033,-0.0197,0.0862,-0.0037,-0.1383,0.0623,-0.0037,-0.0740,-0.0037
1999-07-31,-0.0006,-0.0263,-0.0037,0.0288,-0.0037,0.0638,0.1301,-0.0519,-0.0037,0.0790,...,-0.0037,-0.0596,-0.0507,0.1864,-0.0037,-0.0307,0.1961,-0.0037,0.0341,-0.0037
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-07-31,0.0025,0.0179,-0.0284,-0.0368,0.0244,0.0341,0.0128,0.0706,0.0385,0.0047,...,-0.0717,0.0543,-0.0574,0.0016,-0.0191,-0.0347,-0.0424,0.0251,-0.0530,-0.0088
2018-08-31,0.0211,0.0291,0.0326,-0.0766,-0.0120,-0.0862,0.0088,0.2551,0.1052,0.0611,...,-0.0879,0.0313,0.0704,0.0668,0.1016,0.0584,0.1036,0.0750,0.0164,0.0617
2018-09-30,0.0306,0.0540,-0.0299,0.0607,0.0455,0.0977,0.0403,0.4629,0.0818,-0.0192,...,-0.0947,0.0101,0.0234,0.0647,0.0570,0.0645,0.0713,0.0265,-0.0229,-0.0159
2018-10-31,-0.0533,0.0124,-0.0520,-0.0575,-0.0537,-0.0555,-0.0553,-0.2003,-0.0187,0.0859,...,-0.1619,0.0126,-0.0225,-0.0056,-0.1050,0.0010,-0.0631,-0.0310,-0.0718,0.0124
2018-11-30,-0.0005,0.0169,-0.0123,-0.0922,-0.0017,-0.2552,-0.0557,-0.1766,0.0545,0.0485,...,-0.0488,0.0413,0.0178,0.1216,-0.0271,0.0002,0.0645,-0.0748,0.0008,0.0145

In [126]:
alphas={}
for i in df_excessrt.columns.unique():
    y=np.array(df_excessrt[i])
    x=np.array(mkt_excessrt).reshape(237,1)
    
    model=linear_model.LinearRegression().fit(x,y)
    
    alphas[i]=model.intercept_
    
alphas

{'MMM': 0.006453537231928185,
 'ABT': 0.006741409876853692,
 'ABBV': 0.0031025804107040625,
 'ABMD': 0.020470685410132156,
 'ACN': 0.007749376596913845,
 'ATVI': 0.01724115281513865,
 'ADBE': 0.012336293064725251,
 'AMD': 0.006603173822473709,
 'AAP': 0.009138079640967411,
 'AES': -0.0001587785924424094,
 'AFL': 0.004817679465748505,
 'A': 0.0006493175878331094,
 'APD': 0.005433312070520266,
 'AKAM': 0.0007727271581178027,
 'ALK': 0.006092498936874938,
 'ALB': 0.007999475735262655,
 'ARE': 0.006567239605669675,
 'ALXN': 0.02031867914713169,
 'ALGN': 0.011097583582300048,
 'ALLE': 0.001446135964600108,
 'LNT': 0.006739387269998284,
 'ALL': 0.0023539397144030656,
 'GOOGL': 0.01031326833053585,
 'GOOG': 0.01027372164992802,
 'MO': 0.011454109700817441,
 'AMZN': 0.011839857668463221,
 'AMCR': 0.0001654098502424474,
 'AEE': 0.0043554154448324,
 'AAL': 0.006970448389378735,
 'AEP': 0.004466128441949579,
 'AXP': 0.0010552542002346225,
 'AIG': -0.012944736922330446,
 'AMT': 0.009175769253565724,
 'AWK': 0.0055883410792577195,
 'AMP': 0.002236864838097761,
 'ABC': 0.010488089714319436,
 'AME': 0.01248706435358319,
 'AMGN': 0.006053471874785259,
 'APH': 0.011451793730479571,
 'ADI': 0.005793180245024086,
 'ANSS': 0.016277971048606066,
 'ANTM': 0.009112184104781623,
 'AON': 0.005143372808799343,
 'AOS': 0.017366860650925006,
 'APA': 0.0036204063130523697,
 'AIV': 0.0022439869964036817,
 'AAPL': 0.020264133460361922,
 'AMAT': 0.0011705951049554584,
 'APTV': 0.004753515826369054,
 'ADM': 0.006023230440687913,
 'ANET': 0.004246343645857605,
 'AJG': 0.00901910692971155,
 'AIZ': 0.004378309343005941,
 'T': -0.0006782147937364879,
 'ATO': 0.006890078213027232,
 'ADSK': 0.008480416060420583,
 'ADP': 0.004254582778566041,
 'AZO': 0.012533403069935858,
 'AVB': 0.008003395890435989,
 'AVY': 0.000388275452638873,
 'BKR': 0.00016392190117412754,
 'BLL': 0.015692664607221855,
 'BAC': -0.0009204930260106655,
 'BK': -0.0013402283105031399,
 'BAX': 0.006323156512255608,
 'BDX': 0.006779351226358071,
 'BBY': 0.004583582490371966,
 'BIO': 0.011470543882180894,
 'BIIB': 0.01623657109740777,
 'BLK': 0.012332457323338314,
 'BA': 0.00815206183567684,
 'BKNG': 0.009901244032491483,
 'BWA': 0.007795737725668707,
 'BXP': 0.006118886085330566,
 'BSX': 0.0008139470242430552,
 'BMY': 0.0003004754111866604,
 'AVGO': 0.010008236069929488,
 'BR': 0.005498124004594168,
 'CHRW': 0.010338712833507097,
 'COG': 0.014510152474581945,
 'CDNS': -0.0003623632320357969,
 'CPB': 0.0004768099328384657,
 'COF': -0.00021106679194378506,
 'CAH': 0.0011645967752113204,
 'KMX': 0.014015230025256046,
 'CCL': -0.0002801483867168747,
 'CTLT': 0.0013457044090039057,
 'CAT': 0.006218393297853665,
 'CBOE': 0.004312399138812982,
 'CBRE': 0.004785527230176391,
 'CDW': 0.005263267878476449,
 'CE': 0.004994843033667073,
 'CNC': 0.014353801743196707,
 'CNP': 0.003616290904185904,
 'CERN': 0.013510746733150836,
 'CF': 0.012436531485002051,
 'SCHW': -0.001978591629024756,
 'CHTR': 0.007834835995639406,
 'CVX': 0.004557091107513076,
 'CMG': 0.00870254215126168,
 'CB': 0.006513482613970011,
 'CHD': 0.01477961397656284,
 'CI': 0.0076057469240350265,
 'CINF': 0.003765228507859626,
 'CTAS': 0.003405251970355262,
 'CSCO': -0.0007364673807070485,
 'C': -0.010231918766933652,
 'CFG': 0.0006405501683474524,
 'CTXS': 0.008171182791439843,
 'CLX': 0.004640681063093861,
 'CME': 0.01312531086968544,
 'CMS': 0.001596201670030199,
 'KO': 0.0030198268843717653,
 'CTSH': 0.01941700602011203,
 'CL': 0.00476631809376193,
 'CMCSA': 0.00291003004760991,
 'CMA': 0.00017239199997650528,
 'CAG': 0.003706336145896909,
 'CXO': 0.008032780967091216,
 'COP': 0.0062305322652361946,
 'ED': 0.004848366449828868,
 'STZ': 0.012695563834278226,
 'COO': 0.013939538760453523,
 'CPRT': 0.012701127960637935,
 'GLW': 0.0026119417604562756,
 'COST': 0.005383325674788714,
 'CCI': 0.006504430373832479,
 'CSX': 0.008381602934978659,
 'CMI': 0.013041774768745476,
 'CVS': 0.004390426276740739,
 'DHI': 0.008382895589493643,
 'DHR': 0.008772284505882494,
 'DRI': 0.009687642671432246,
 'DVA': 0.012332616429320946,
 'DE': 0.007702186368613123,
 'DAL': 0.004180114454477071,
 'XRAY': 0.0042242138413654835,
 'DVN': 0.002005688152433337,
 'DXCM': 0.011424607176409354,
 'FANG': 0.006502220094048058,
 'DLR': 0.009505676348494497,
 'DFS': 0.0007439880972767232,
 'DISCA': 0.0034101677837515784,
 'DISCK': 0.0032153270296989057,
 'DISH': 0.003387535759790781,
 'DG': 0.005440284822606132,
 'DLTR': 0.008828372864393454,
 'D': 0.008823168448326646,
 'DPZ': 0.013800245461946924,
 'DOV': 0.0033750181762908895,
 'DTE': 0.006133466025346571,
 'DUK': 0.0030779518279403853,
 'DRE': 0.002466554655019856,
 'DD': 0.0011583479795876659,
 'DXC': 0.003085317965872885,
 'EMN': 0.006574460377400755,
 'ETN': 0.00781846036578101,
 'EBAY': 0.0032007503545626757,
 'ECL': 0.007293424032267154,
 'EIX': 0.005490755427152475,
 'EW': 0.014447404303923626,
 'EA': 0.006797219120061334,
 'EMR': 0.0024905688627947275,
 'ETR': 0.005975635941261032,
 'EOG': 0.01252456360940977,
 'EFX': 0.004286389435508069,
 'EQIX': 0.0032873571940491442,
 'EQR': 0.006632028862676004,
 'ESS': 0.010379737035170058,
 'EL': 0.005369787534962749,
 'ETSY': 0.0025863572312542567,
 'EVRG': 0.0053898071253793865,
 'ES': 0.0066975966401004675,
 'RE': 0.0069478555213964895,
 'EXC': 0.004147068218981808,
 'EXPE': 0.0032794352121566558,
 'EXPD': 0.00838097028948978,
 'EXR': 0.008108923042451468,
 'XOM': 0.002677553407578438,
 'FFIV': 0.014828105619886164,
 'FB': 0.005769550675606455,
 'FAST': 0.00958762259748822,
 'FRT': 0.008535410716713232,
 'FDX': 0.0032861788304484087,
 'FIS': 0.006646237704531486,
 'FITB': -0.0016710248274322131,
 'FE': 0.003483882640599939,
 'FRC': 0.004278443055089055,
 'FISV': 0.007160949942409974,
 'FLT': 0.0060641003773911975,
 'FLIR': 0.014808306765776276,
 'FLS': 0.007389276963054707,
 'FMC': 0.00812224324680949,
 'F': -0.005561780182703932,
 'FTNT': 0.00788586366764906,
 'FTV': 0.0002345765398421957,
 'FBHS': 0.003606884541159067,
 'BEN': 0.002483842794545132,
 'FCX': 0.005379951757913357,
 'GPS': -0.00336478832695782,
 'GRMN': 0.008266311654645801,
 'IT': 0.005423542994949435,
 'GD': 0.005663834644993624,
 'GE': -0.007862870563677814,
 'GIS': 0.004260430537969623,
 'GM': -0.0006448374135890213,
 'GPC': 0.004824083816546729,
 'GILD': 0.016336653734158085,
 'GL': 0.004842046738178612,
 'GPN': 0.01075537948679732,
 'GS': 0.0015801212278493638,
 'GWW': 0.006614433839606465,
 'HAL': 0.0011656081441828023,
 'HBI': 0.002306254072701135,
 'HIG': -0.0021438461246623755,
 'HAS': 0.00407688389166172,
 'HCA': 0.005764896295624735,
 'PEAK': 0.006497516602066348,
 'HSIC': 0.009896515234600606,
 'HSY': 0.006255191046772423,
 'HES': 0.004265432383874737,
 'HPE': 0.000909392152188413,
 'HLT': 0.0003842598171437731,
 'HFC': 0.02100535324542706,
 'HOLX': 0.010751199206237193,
 'HD': 0.0038151569244342584,
 'HON': 0.002568475170150738,
 'HRL': 0.009650278993033036,
 'HST': 0.0008612776457805286,
 'HPQ': 0.0006534696700173873,
 'HUM': 0.012553460856978494,
 'HBAN': -0.0007347843411402103,
 'HII': 0.005896753813403083,
 'IEX': 0.007910051441687462,
 'IDXX': 0.012704296521155588,
 'INFO': 0.001218119923598151,
 'ITW': 0.004226963497876571,
 'ILMN': 0.012970777699913654,
 'INCY': 0.014262811946613512,
 'IR': -0.0005258893994094455,
 'INTC': 0.0003776791933124404,
 'ICE': 0.008876340507716312,
 'IBM': -0.0006820704764173287,
 'IP': -0.0008327089508242584,
 'IPG': -0.004962470818314109,
 'IFF': 0.004464521662775999,
 'INTU': 0.009623683688418252,
 'ISRG': 0.018523904976815206,
 'IVZ': -0.0027220913724035232,
 'IPGP': 0.00551318437748212,
 'IQV': 0.0026736999706562965,
 'IRM': 0.005607465870995291,
 'JKHY': 0.009775387643753693,
 'J': 0.005533815884806738,
 'JBHT': 0.01080923664048913,
 'SJM': 0.007063914474634208,
 'JNJ': 0.004119796123336267,
 'JCI': -0.0015827818549191634,
 'JPM': 0.001155585456298981,
 'JNPR': 0.002384233076540636,
 'KSU': 0.003925124474863324,
 'K': 0.0032243637299263234,
 'KEY': -0.0015529958436114248,
 'KEYS': 0.0013700628296687855,
 'KMB': 0.004241106699959802,
 'KIM': 0.0023049314366534257,
 'KMI': -0.0025881780154948606,
 'KLAC': 0.004185848756516482,
 'KHC': -0.0026580592866764794,
 'KR': 0.0026323400915840576,
 'LB': 0.004022926803474723,
 'LHX': 0.009937312905559952,
 'LH': 0.013752530606796013,
 'LRCX': 0.00945921150452705,
 'LW': 0.002689096349033999,
 'LVS': 0.0015504998754634017,
 'LEG': 0.0018959291569125587,
 'LDOS': 0.001926665252863041,
 'LEN': 0.005238409284362697,
 'LLY': 0.0013031542097458803,
 'LNC': -0.0006794188765072056,
 'LIN': 0.007681930474938979,
 'LYV': 0.004851248928931208,
 'LKQ': 0.008986622212015852,
 'LMT': 0.00913959201013546,
 'L': 0.0031808900499514115,
 'LOW': 0.005557477924514912,
 'LYB': 0.005849637768516769,
 'MTB': 0.004661002940270069,
 'MRO': 0.002585644832382823,
 'MPC': 0.004265957515154347,
 'MKTX': 0.008863727315269822,
 'MAR': 0.004993448244372833,
 'MMC': 0.002540696954523442,
 'MLM': 0.0032803282007471462,
 'MAS': -0.0005999281503794741,
 'MA': 0.013895380186662873,
 'MKC': 0.009929250902550632,
 'MXIM': 0.0011550886395377017,
 'MCD': 0.005272651394757474,
 'MCK': 0.001593936654506602,
 'MDT': 0.002180637209168487,
 'MRK': 0.0007623874601817258,
 'MET': 0.002218692310122676,
 'MTD': 0.009146192442796405,
 'MGM': 0.0033907333540199557,
 'MCHP': 0.007730399231181991,
 'MU': 0.002230804428779886,
 'MSFT': 0.0020175909083973995,
 'MAA': 0.008659749522340297,
 'MHK': 0.002570494089665239,
 'TAP': 0.003759240476373871,
 'MDLZ': 0.0025137230769483173,
 'MNST': 0.029197634333616895,
 'MCO': 0.008172878719562666,
 'MS': -0.0025929353941085385,
 'MOS': 0.0030157874983075894,
 'MSI': -0.0007619947878954574,
 'MSCI': 0.004352609488071612,
 'MYL': 0.0030932027727707473,
 'NDAQ': 0.00745367778001595,
 'NOV': 0.006819635963337354,
 'NTAP': 0.007672041845060342,
 'NFLX': 0.026886177695227807,
 'NWL': -0.0039018639691219947,
 'NEM': 0.004740909845088716,
 'NWSA': -0.0019722161901165698,
 'NWS': -0.0019123012936272258,
 'NEE': 0.009052447849191434,
 'NLSN': -0.0006720178789735178,
 'NKE': 0.012831241555622316,
 'NI': 0.0049953038065687246,
 'NSC': 0.006673909305807237,
 'NTRS': 0.0010008098985390158,
 'NOC': 0.010020743197060747,
 'NLOK': 0.009540453329444958,
 'NCLH': 0.0010265764491071499,
 'NRG': 0.004406591848649596,
 'NUE': 0.006368078540630256,
 'NVDA': 0.02079625490355396,
 'NVR': 0.01545041101652812,
 'ORLY': 0.01322482828352747,
 'OXY': 0.008636505007756807,
 'ODFL': 0.017233809128484958,
 'OMC': -0.0001803491183326785,
 'OKE': 0.011042743486862534,
 'ORCL': 0.006681749864441643,
 'PCAR': 0.007193915053034928,
 'PKG': 0.0074038146967375556,
 'PH': 0.005683182422665168,
 'PAYX': 0.003776068819758483,
 'PAYC': 0.007600504092514822,
 'PYPL': 0.001788098353481305,
 'PNR': 0.003714511319385841,
 'PBCT': 0.005476727124166562,
 'PEP': 0.003966167818871062,
 'PKI': 0.006182797288552681,
 'PRGO': 0.008692370730725586,
 'PFE': -0.00024972837330926485,
 'PM': 0.0019477256080712624,
 'PSX': 0.0033234797018443555,
 'PNW': 0.005201235549526633,
 'PXD': 0.011005471893994423,
 'PNC': 0.0026949461476285363,
 'POOL': 0.014881119086387838,
 'PPG': 0.004439253023351002,
 'PPL': 0.005939603419696241,
 'PFG': 0.0010077093652196955,
 'PG': 0.003093265989567726,
 'PGR': 0.006473214688508578,
 'PLD': 0.004661861952088891,
 'PRU': 0.002250733763070013,
 'PEG': 0.006019896385116875,
 'PSA': 0.00984924444109013,
 'PHM': 0.006027264549250692,
 'PVH': 0.009896881216233314,
 'QRVO': -0.001252150062130151,
 'PWR': 0.003312201768487056,
 'QCOM': 0.008177005221089547,
 'DGX': 0.01096128923135868,
 'RL': 0.004798958008899773,
 'RJF': 0.006321560958120629,
 'RTX': 0.0030909801254620983,
 'O': 0.010203470231137653,
 'REG': 0.006080629319757287,
 'REGN': 0.021825216261707605,
 'RF': -0.0014420175494977475,
 'RSG': 0.00727097226767107,
 'RMD': 0.013151912042988219,
 'RHI': 0.0036543034087515363,
 'ROK': 0.008254599437923938,
 'ROL': 0.013513212644907902,
 'ROP': 0.01063776598034886,
 'ROST': 0.013897237318948655,
 'RCL': 0.003474524332099967,
 'SPGI': 0.0058646303224512576,
 'CRM': 0.012480365129884822,
 'SBAC': 0.016018317151373827,
 'SLB': 0.00038518291583937263,
 'STX': 0.006412418121885352,
 'SEE': 0.0017376878319369411,
 'SRE': 0.007883260228612004,
 'NOW': 0.007028333229955974,
 'SHW': 0.009766962784907832,
 'SPG': 0.009078412639247767,
 'SWKS': 0.011585731541645182,
 'SLG': 0.00587400268547109,
 'SNA': 0.005189830406482975,
 'SO': 0.007846985034541133,
 'LUV': 0.0028835979283384026,
 'SWK': 0.004939974871023027,
 'SBUX': 0.011006187080372256,
 'STT': -0.0005761595376822361,
 'STE': 0.005654587685662939,
 'SYK': 0.008724015569222745,
 'SIVB': 0.010581287192913392,
 'SYF': -0.0007177043092889071,
 'SNPS': 0.00227250428194793,
 'SYY': 0.0061664893207566875,
 'TMUS': 0.0009985585993246985,
 'TROW': 0.004230331941084833,
 'TTWO': 0.01209231104370784,
 'TPR': 0.010226891973885929,
 'TGT': 0.001700354664570144,
 'TEL': 5.90813413994919e-05,
 'FTI': 0.005564231152066242,
 'TDY': 0.010847543295100567,
 'TFX': 0.007157036760718693,
 'TER': -0.0015870977765338329,
 'TXN': 0.003536661233067784,
 'TXT': -0.0009016611704189504,
 'TMO': 0.009462875582575676,
 'TIF': 0.004166473244755806,
 'TJX': 0.011273924721824783,
 'TSCO': 0.01659910964176086,
 'TT': 0.004015097051577914,
 'TDG': 0.01166763779949241,
 'TRV': 0.00502301399050906,
 'TFC': 0.0012687408113705055,
 'TWTR': -0.0007289716539886337,
 'TYL': 0.015680873633473126,
 'TSN': 0.004350559119551964,
 'UDR': 0.007769083916144273,
 'ULTA': 0.007180568865043877,
 'USB': 0.0020576717011678543,
 'UAA': 0.007440936404449678,
 'UA': -0.005985223998825542,
 'UNP': 0.008455079188791292,
 'UAL': 0.006519525775545245,
 'UNH': 0.014633238377184579,
 'UPS': 0.0006670761587831415,
 'URI': 0.00381887092925811,
 'UHS': 0.009464761305617866,
 'UNM': -0.0022206883984582644,
 'VFC': 0.007495687983477481,
 'VLO': 0.01086227552502878,
 'VAR': 0.011993947603464736,
 'VTR': 0.012947360338580278,
 'VRSN': 0.0064144182466277224,
 'VRSK': 0.0045686056186247555,
 'VZ': 0.002104249663587311,
 'VRTX': 0.014232185439780559,
 'V': 0.00676974044824104,
 'VNO': 0.004315657818129731,
 'VMC': 0.0022582694470999988,
 'WRB': 0.011415675723450537,
 'WAB': 0.006340134476038365,
 'WMT': 0.0023932231288423204,
 'WBA': 0.0030157154231941455,
 'DIS': 0.002440136536353132,
 'WM': 0.0029920980572492417,
 'WAT': 0.0071425131011862725,
 'WEC': 0.008119143427109024,
 'WFC': 0.0037466445602260838,
 'WELL': 0.008562425436141082,
 'WST': 0.0095563332612224,
 'WDC': 0.009080821714615396,
 'WU': -0.002361524255481655,
 'WRK': -0.0019476938358275581,
 'WY': -0.0038471545082520726,
 'WHR': 0.0019087398007838433,
 'WMB': 0.0008008938192082087,
 'WLTW': 0.0044488157344946344,
 'WYNN': 0.008911738437990674,
 'XEL': 0.005229314775700824,
 'XRX': -0.008470235335076862,
 'XLNX': 0.004667369929060324,
 'XYL': 0.003003902015663648,
 'YUM': 0.0064746747633972765,
 'ZBRA': 0.008878803307338121,
 'ZBH': 0.003060157068067863,
 'ZION': -0.0019212770881744425,
 'ZTS': 0.002997000526500546}

In [127]:
data={}
tickers=[]
capm_alphas=[]
for i in df_excessrt.columns.unique():
    y=np.array(df_excessrt[i])
    x=np.array(mkt_excessrt).reshape(237,1)
    
    model=linear_model.LinearRegression().fit(x,y)
    
    tickers.append(i)
    capm_alphas.append(model.intercept_)
    
data['Tickers']=tickers
data['Alphas']=capm_alphas

capm_df=pd.DataFrame(data)
capm_df

    Tickers  Alphas
0       MMM  0.0065
1       ABT  0.0067
2      ABBV  0.0031
3      ABMD  0.0205
4       ACN  0.0077
..      ...     ...
488     YUM  0.0065
489    ZBRA  0.0089
490     ZBH  0.0031
491    ZION -0.0019
492     ZTS  0.0030

[493 rows x 2 columns]

In [128]:
capm_sorted=capm_df.sort_values(['Alphas'],ascending=False)
capm_sorted

    Tickers  Alphas
313    MNST  0.0292
323    NFLX  0.0269
385    REGN  0.0218
223     HFC  0.0210
339    NVDA  0.0208
..      ...     ...
446      UA -0.0060
203      GE -0.0079
485     XRX -0.0085
106       C -0.0102
31      AIG -0.0129

[493 rows x 2 columns]

In [129]:
capm_top10=capm_sorted[capm_sorted.Alphas>=capm_sorted.Alphas.quantile(0.98)]
capm_top10

    Tickers  Alphas
313    MNST  0.0292
323    NFLX  0.0269
385    REGN  0.0218
223     HFC  0.0210
339    NVDA  0.0208
3      ABMD  0.0205
17     ALXN  0.0203
46     AAPL  0.0203
113    CTSH  0.0194
247    ISRG  0.0185

In [130]:
capm_bottom10=capm_sorted[capm_sorted.Alphas<=capm_sorted.Alphas.quantile(0.02)]
capm_bottom10

    Tickers  Alphas
199     GPS -0.0034
479      WY -0.0038
324     NWL -0.0039
244     IPG -0.0050
193       F -0.0056
446      UA -0.0060
203      GE -0.0079
485     XRX -0.0085
106       C -0.0102
31      AIG -0.0129

In [131]:
capm_top50=capm_sorted[capm_sorted.Alphas>=capm_sorted.Alphas.quantile(0.9)]
capm_top50

    Tickers  Alphas
313    MNST  0.0292
323    NFLX  0.0269
385    REGN  0.0218
223     HFC  0.0210
339    NVDA  0.0208
3      ABMD  0.0205
17     ALXN  0.0203
46     AAPL  0.0203
113    CTSH  0.0194
247    ISRG  0.0185
43      AOS  0.0174
5      ATVI  0.0172
343    ODFL  0.0172
434    TSCO  0.0166
207    GILD  0.0163
40     ANSS  0.0163
68     BIIB  0.0162
397    SBAC  0.0160
61      BLL  0.0157
440     TYL  0.0157
340     NVR  0.0155
364    POOL  0.0149
179    FFIV  0.0148
190    FLIR  0.0148
101     CHD  0.0148
449     UNH  0.0146
79      COG  0.0145
160      EW  0.0144
92      CNC  0.0144
238    INCY  0.0143
461    VRTX  0.0142
84      KMX  0.0140
122     COO  0.0139
393    ROST  0.0139
296      MA  0.0139
148     DPZ  0.0138
272      LH  0.0138
391     ROL  0.0135
94     CERN  0.0135
341    ORLY  0.0132
388     RMD  0.0132
110     CME  0.0131
128     CMI  0.0130
237    ILMN  0.0130
457     VTR  0.0129
330     NKE  0.0128
234    IDXX  0.0127
123    CPRT  0.0127
121     STZ  0.0127
230     HUM  0.0126

In [132]:
capm_bottom50=capm_sorted[capm_sorted.Alphas<=capm_sorted.Alphas.quantile(0.1)]
capm_bottom50

    Tickers  Alphas
344     OMC -0.0002
82      COF -0.0002
358     PFE -0.0002
85      CCL -0.0003
80     CDNS -0.0004
239      IR -0.0005
412     STT -0.0006
295     MAS -0.0006
205      GM -0.0006
329    NLSN -0.0007
53        T -0.0007
280     LNC -0.0007
242     IBM -0.0007
416     SYF -0.0007
439    TWTR -0.0007
231    HBAN -0.0007
105    CSCO -0.0007
317     MSI -0.0008
243      IP -0.0008
430     TXT -0.0009
62      BAC -0.0009
376    QRVO -0.0013
63       BK -0.0013
386      RF -0.0014
262     KEY -0.0016
257     JCI -0.0016
428     TER -0.0016
185    FITB -0.0017
327     NWS -0.0019
491    ZION -0.0019
478     WRK -0.0019
326    NWSA -0.0020
96     SCHW -0.0020
214     HIG -0.0021
453     UNM -0.0022
477      WU -0.0024
266     KMI -0.0026
315      MS -0.0026
268     KHC -0.0027
248     IVZ -0.0027
199     GPS -0.0034
479      WY -0.0038
324     NWL -0.0039
244     IPG -0.0050
193       F -0.0056
446      UA -0.0060
203      GE -0.0079
485     XRX -0.0085
106       C -0.0102
31      AIG -0.0129

### Sort capm alpha, buy top 10 and short bottom 10

In [133]:
capm_top10['Tickers'].values

array(['MNST', 'NFLX', 'REGN', 'HFC', 'NVDA', 'ABMD', 'ALXN', 'AAPL',
       'CTSH', 'ISRG'], dtype=object)

In [134]:
capm_bottom10['Tickers'].values

array(['GPS', 'WY', 'NWL', 'IPG', 'F', 'UA', 'GE', 'XRX', 'C', 'AIG'],
      dtype=object)

In [135]:
port_top10=df_excessrt[capm_top10['Tickers'].values]
port_top10

,MNST,NFLX,REGN,HFC,NVDA,ABMD,ALXN,AAPL,CTSH,ISRG
Date,,,,,,,,,,
1999-03-31,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036
1999-04-30,0.1587,-0.0035,-0.0507,0.0063,-0.0993,0.1158,0.1549,0.0527,-0.1728,-0.0035
1999-05-31,0.1309,-0.0037,0.0581,0.0163,-0.0688,0.1446,0.1164,0.1777,0.0565,-0.0037
1999-06-30,-0.0651,-0.0037,0.0362,-0.0495,-0.0347,-0.0983,-0.1059,0.0240,0.0028,-0.0037
1999-07-31,0.0905,-0.0037,0.2070,0.1407,0.1713,0.0288,-0.0077,0.1382,0.0527,-0.0037
...,...,...,...,...,...,...,...,...,...,...
2018-07-31,0.0889,-0.0084,0.1402,-0.0408,-0.0320,-0.0368,0.0965,0.0074,0.0431,0.0524
2018-08-31,0.0055,-0.0941,0.0409,0.0027,0.0473,-0.0766,-0.0967,0.1221,-0.0632,0.0347
2018-09-30,-0.0230,0.0456,0.0298,-0.0044,0.0412,0.0607,0.0228,0.0402,-0.0019,0.0483
2018-10-31,-0.0972,-0.0768,-0.0451,-0.0615,-0.1191,-0.0575,0.0067,-0.0074,-0.0491,-0.0641
2018-11-30,0.0433,-0.1364,-0.0709,-0.0491,-0.2469,-0.0922,-0.0308,-0.1337,-0.0457,-0.0235

In [136]:
port_bottom10=df_excessrt[capm_bottom10['Tickers'].values]
port_bottom10

,GPS,WY,NWL,IPG,F,UA,GE,XRX,C,AIG
Date,,,,,,,,,,
1999-03-31,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036
1999-04-30,0.0260,0.1487,0.0155,-0.0368,0.1002,-0.0035,0.0105,0.0711,0.1329,0.0302
1999-05-31,-0.0932,0.0621,-0.0673,0.0160,-0.0274,-0.0037,-0.0572,0.0269,-0.0451,-0.0696
1999-06-30,0.0655,-0.0012,-0.0050,0.0525,-0.0978,-0.0037,-0.0137,-0.0197,-0.0450,0.0116
1999-07-31,0.0836,-0.0454,-0.0030,0.0495,-0.0125,-0.0037,0.0973,-0.0507,0.0742,0.0062
...,...,...,...,...,...,...,...,...,...,...
2018-07-31,-0.0534,-0.0361,0.0549,-0.0336,-0.0860,-0.0559,0.0025,-0.0574,0.0307,0.0010
2018-08-31,0.0202,-0.0301,-0.1744,-0.0040,-0.0819,-0.0563,-0.0616,0.0704,0.0321,-0.0224
2018-09-30,-0.0856,-0.0244,-0.0317,0.0170,-0.0338,-0.0276,-0.0331,0.0234,0.0056,0.0091
2018-10-31,-0.0420,-0.1423,-0.1741,0.0073,-0.0531,-0.0480,-0.0004,-0.0225,-0.0437,-0.1006
2018-11-30,-0.0085,-0.0676,0.1981,0.0259,0.0592,0.1710,-0.3222,0.0178,-0.0501,-0.1002

In [137]:
port_bottom10 = port_bottom10*-1

In [138]:
port_first_portfoloio = pd.concat([port_top10,port_bottom10],axis=1)
port_first_portfoloio

,MNST,NFLX,REGN,HFC,NVDA,ABMD,ALXN,AAPL,CTSH,ISRG,GPS,WY,NWL,IPG,F,UA,GE,XRX,C,AIG
Date,,,,,,,,,,,,,,,,,,,,
1999-03-31,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036
1999-04-30,0.1587,-0.0035,-0.0507,0.0063,-0.0993,0.1158,0.1549,0.0527,-0.1728,-0.0035,-0.0260,-0.1487,-0.0155,0.0368,-0.1002,0.0035,-0.0105,-0.0711,-0.1329,-0.0302
1999-05-31,0.1309,-0.0037,0.0581,0.0163,-0.0688,0.1446,0.1164,0.1777,0.0565,-0.0037,0.0932,-0.0621,0.0673,-0.0160,0.0274,0.0037,0.0572,-0.0269,0.0451,0.0696
1999-06-30,-0.0651,-0.0037,0.0362,-0.0495,-0.0347,-0.0983,-0.1059,0.0240,0.0028,-0.0037,-0.0655,0.0012,0.0050,-0.0525,0.0978,0.0037,0.0137,0.0197,0.0450,-0.0116
1999-07-31,0.0905,-0.0037,0.2070,0.1407,0.1713,0.0288,-0.0077,0.1382,0.0527,-0.0037,-0.0836,0.0454,0.0030,-0.0495,0.0125,0.0037,-0.0973,0.0507,-0.0742,-0.0062
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-07-31,0.0889,-0.0084,0.1402,-0.0408,-0.0320,-0.0368,0.0965,0.0074,0.0431,0.0524,0.0534,0.0361,-0.0549,0.0336,0.0860,0.0559,-0.0025,0.0574,-0.0307,-0.0010
2018-08-31,0.0055,-0.0941,0.0409,0.0027,0.0473,-0.0766,-0.0967,0.1221,-0.0632,0.0347,-0.0202,0.0301,0.1744,0.0040,0.0819,0.0563,0.0616,-0.0704,-0.0321,0.0224
2018-09-30,-0.0230,0.0456,0.0298,-0.0044,0.0412,0.0607,0.0228,0.0402,-0.0019,0.0483,0.0856,0.0244,0.0317,-0.0170,0.0338,0.0276,0.0331,-0.0234,-0.0056,-0.0091
2018-10-31,-0.0972,-0.0768,-0.0451,-0.0615,-0.1191,-0.0575,0.0067,-0.0074,-0.0491,-0.0641,0.0420,0.1423,0.1741,-0.0073,0.0531,0.0480,0.0004,0.0225,0.0437,0.1006
2018-11-30,0.0433,-0.1364,-0.0709,-0.0491,-0.2469,-0.0922,-0.0308,-0.1337,-0.0457,-0.0235,0.0085,0.0676,-0.1981,-0.0259,-0.0592,-0.1710,0.3222,-0.0178,0.0501,0.1002

In [139]:
avg_returns=port_first_portfoloio.mean()
cov_mat=port_first_portfoloio.cov()

In [140]:
np.random.seed(42)
weights = np.random.random(size=(10**5,20))
weights /=  np.sum(weights, axis=1)[:, np.newaxis]
weights

array([[0.04091526, 0.10385728, 0.07996398, ..., 0.05732508, 0.04718624,
        0.03181425],
       [0.06726187, 0.01533476, 0.03211588, ..., 0.01073724, 0.07521872,
        0.04838659],
       [0.01245362, 0.05053124, 0.00350924, ..., 0.01999943, 0.0046153 ,
        0.03319893],
       ...,
       [0.04967842, 0.04181172, 0.05190261, ..., 0.01348652, 0.01234176,
        0.07783566],
       [0.0567995 , 0.02595997, 0.02513236, ..., 0.07208931, 0.01719708,
        0.05332819],
       [0.00598651, 0.06235709, 0.09087888, ..., 0.06491787, 0.03218369,
        0.06572618]])

In [141]:
###portfolio metrics:
portf_rtns = np.dot(weights, avg_returns)

portf_vol = []
for i in range(0, len(weights)):
    portf_vol.append(np.sqrt(np.dot(weights[i].T, 
                                    np.dot(cov_mat, weights[i]))))
portf_vol = np.array(portf_vol)  
portf_sharpe_ratio = portf_rtns / portf_vol

In [142]:
portf_results_df = pd.DataFrame({'returns': portf_rtns,
                                 'volatility': portf_vol,
                                 'sharpe_ratio': portf_sharpe_ratio})
portf_results_df

       returns  volatility  sharpe_ratio
0       0.0156      0.0314        0.4950
1       0.0125      0.0334        0.3730
2       0.0110      0.0306        0.3595
3       0.0139      0.0322        0.4314
4       0.0147      0.0324        0.4542
...        ...         ...           ...
99995   0.0163      0.0404        0.4049
99996   0.0139      0.0320        0.4349
99997   0.0175      0.0400        0.4383
99998   0.0137      0.0298        0.4604
99999   0.0124      0.0353        0.3501

[100000 rows x 3 columns]

In [143]:
max_sharpe_ind = np.argmax(portf_results_df.sharpe_ratio)
max_sharpe_portf = portf_results_df.loc[max_sharpe_ind]

min_vol_ind = np.argmin(portf_results_df.volatility)
min_vol_portf = portf_results_df.loc[min_vol_ind]

In [144]:
RISKY_ASSETS=port_first_portfoloio.columns
RISKY_ASSETS

Index(['MNST', 'NFLX', 'REGN', 'HFC', 'NVDA', 'ABMD', 'ALXN', 'AAPL', 'CTSH',
       'ISRG', 'GPS', 'WY', 'NWL', 'IPG', 'F', 'UA', 'GE', 'XRX', 'C', 'AIG'],
      dtype='object')

In [145]:
print('Maximum Sharpe Ratio portfolio ----')
print('Performance')
for index, value in max_sharpe_portf.items():
    print(f'{index}: {100 * value:.2f}% ', end="", flush=True)
print('\nWeights')
for x, y in zip(RISKY_ASSETS, weights[np.argmax(portf_results_df.sharpe_ratio)]):
    print(f'{x}: {100*y:.2f}% ', end="", flush=True)

Maximum Sharpe Ratio portfolio ----
Performance
returns: 1.74% volatility: 3.00% sharpe_ratio: 57.95%
Weights
MNST: 8.51% NFLX: 7.10% REGN: 1.50% HFC: 9.04% NVDA: 3.57% ABMD: 4.25% ALXN: 4.41% AAPL: 8.88% CTSH: 8.65% ISRG: 5.65% GPS: 3.69% WY: 0.88% NWL: 0.21% IPG: 2.93% F: 1.66% UA: 6.87% GE: 8.31% XRX: 7.13% C: 2.11% AIG: 4.66%

In [146]:
print('Minimum Volatility portfolio ----')
print('Performance')
for index, value in min_vol_portf.items():
    print(f'{index}: {100 * value:.2f}% ', end="", flush=True)
print('\nWeights')
for x, y in zip(RISKY_ASSETS, weights[np.argmin(portf_results_df.volatility)]):
    print(f'{x}: {100*y:.2f}% ', end="", flush=True)

Minimum Volatility portfolio ----
Performance
returns: 1.26% volatility: 2.63% sharpe_ratio: 47.76%
Weights
MNST: 4.65% NFLX: 5.57% REGN: 0.85% HFC: 8.42% NVDA: 2.92% ABMD: 2.08% ALXN: 0.36% AAPL: 7.17% CTSH: 6.87% ISRG: 6.20% GPS: 6.38% WY: 5.42% NWL: 10.12% IPG: 5.78% F: 3.34% UA: 10.26% GE: 8.62% XRX: 2.42% C: 0.23% AIG: 2.32%

### Sort capm alpha, buy top 50 and short bottom 50

In [147]:
capm_top50['Tickers'].values

array(['MNST', 'NFLX', 'REGN', 'HFC', 'NVDA', 'ABMD', 'ALXN', 'AAPL',
       'CTSH', 'ISRG', 'AOS', 'ATVI', 'ODFL', 'TSCO', 'GILD', 'ANSS',
       'BIIB', 'SBAC', 'BLL', 'TYL', 'NVR', 'POOL', 'FFIV', 'FLIR', 'CHD',
       'UNH', 'COG', 'EW', 'CNC', 'INCY', 'VRTX', 'KMX', 'COO', 'ROST',
       'MA', 'DPZ', 'LH', 'ROL', 'CERN', 'ORLY', 'RMD', 'CME', 'CMI',
       'ILMN', 'VTR', 'NKE', 'IDXX', 'CPRT', 'STZ', 'HUM'], dtype=object)

In [148]:
capm_bottom50['Tickers'].values

array(['OMC', 'COF', 'PFE', 'CCL', 'CDNS', 'IR', 'STT', 'MAS', 'GM',
       'NLSN', 'T', 'LNC', 'IBM', 'SYF', 'TWTR', 'HBAN', 'CSCO', 'MSI',
       'IP', 'TXT', 'BAC', 'QRVO', 'BK', 'RF', 'KEY', 'JCI', 'TER',
       'FITB', 'NWS', 'ZION', 'WRK', 'NWSA', 'SCHW', 'HIG', 'UNM', 'WU',
       'KMI', 'MS', 'KHC', 'IVZ', 'GPS', 'WY', 'NWL', 'IPG', 'F', 'UA',
       'GE', 'XRX', 'C', 'AIG'], dtype=object)

In [149]:
port_bottom50=df_excessrt[capm_bottom50['Tickers'].values]
port_bottom50

,OMC,COF,PFE,CCL,CDNS,IR,STT,MAS,GM,NLSN,...,GPS,WY,NWL,IPG,F,UA,GE,XRX,C,AIG
Date,,,,,,,,,,,,,,,,,,,,,
1999-03-31,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,...,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036
1999-04-30,-0.0345,0.0676,-0.0561,-0.0283,-0.2290,-0.0035,0.0768,0.0187,-0.0035,-0.0035,...,0.0260,0.1487,0.0155,-0.0368,0.1002,-0.0035,0.0105,0.0711,0.1329,0.0302
1999-05-31,-0.0755,0.0090,-0.1495,-0.0968,-0.3645,-0.0037,-0.0857,0.0408,-0.0037,-0.0037,...,-0.0932,0.0621,-0.0673,0.0160,-0.0274,-0.0037,-0.0572,0.0269,-0.0451,-0.0696
1999-06-30,-0.0032,-0.0408,-0.0853,0.0744,0.0698,-0.0037,-0.0215,-0.0251,-0.0037,-0.0037,...,0.0655,-0.0012,-0.0050,0.0525,-0.0978,-0.0037,-0.0137,-0.0197,-0.0450,0.0116
1999-07-31,0.0376,-0.0338,0.0584,0.0445,-0.0679,-0.0037,-0.0342,0.0168,-0.0037,-0.0037,...,0.0836,-0.0454,-0.0030,0.0495,-0.0125,-0.0037,0.0973,-0.0507,0.0742,0.0062
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-07-31,-0.0258,0.0016,0.0319,-0.0591,0.0195,-0.0700,-0.0673,0.0086,-0.0856,-0.0544,...,-0.0534,-0.0361,0.0549,-0.0336,-0.0860,-0.0559,0.0025,-0.0574,0.0307,0.0010
2018-08-31,-0.0599,0.0307,0.1076,0.0364,0.0133,0.0058,-0.0574,0.0111,-0.0596,-0.1461,...,0.0202,-0.0301,-0.1744,-0.0040,-0.0819,-0.0563,-0.0616,0.0704,0.0321,-0.0224
2018-09-30,0.0138,-0.0065,0.0387,0.0691,0.0009,0.0016,0.0090,-0.0248,-0.0527,0.0941,...,-0.0856,-0.0244,-0.0317,0.0170,-0.0338,-0.0276,-0.0331,0.0234,0.0056,0.0091
2018-10-31,0.0462,-0.0675,0.0207,-0.0916,-0.0719,-0.0524,-0.0989,-0.1496,-0.0517,-0.0224,...,-0.0420,-0.1423,-0.1741,0.0073,-0.0531,-0.0480,-0.0004,-0.0225,-0.0437,-0.1006
2018-11-30,0.0523,-0.0290,0.0016,0.0170,0.0438,-0.0296,-0.0781,-0.0352,0.1031,-0.0075,...,-0.0085,-0.0676,0.1981,0.0259,0.0592,0.1710,-0.3222,0.0178,-0.0501,-0.1002

In [150]:
port_bottom50 = port_bottom50*-1
port_bottom50

,OMC,COF,PFE,CCL,CDNS,IR,STT,MAS,GM,NLSN,...,GPS,WY,NWL,IPG,F,UA,GE,XRX,C,AIG
Date,,,,,,,,,,,,,,,,,,,,,
1999-03-31,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,...,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036
1999-04-30,0.0345,-0.0676,0.0561,0.0283,0.2290,0.0035,-0.0768,-0.0187,0.0035,0.0035,...,-0.0260,-0.1487,-0.0155,0.0368,-0.1002,0.0035,-0.0105,-0.0711,-0.1329,-0.0302
1999-05-31,0.0755,-0.0090,0.1495,0.0968,0.3645,0.0037,0.0857,-0.0408,0.0037,0.0037,...,0.0932,-0.0621,0.0673,-0.0160,0.0274,0.0037,0.0572,-0.0269,0.0451,0.0696
1999-06-30,0.0032,0.0408,0.0853,-0.0744,-0.0698,0.0037,0.0215,0.0251,0.0037,0.0037,...,-0.0655,0.0012,0.0050,-0.0525,0.0978,0.0037,0.0137,0.0197,0.0450,-0.0116
1999-07-31,-0.0376,0.0338,-0.0584,-0.0445,0.0679,0.0037,0.0342,-0.0168,0.0037,0.0037,...,-0.0836,0.0454,0.0030,-0.0495,0.0125,0.0037,-0.0973,0.0507,-0.0742,-0.0062
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-07-31,0.0258,-0.0016,-0.0319,0.0591,-0.0195,0.0700,0.0673,-0.0086,0.0856,0.0544,...,0.0534,0.0361,-0.0549,0.0336,0.0860,0.0559,-0.0025,0.0574,-0.0307,-0.0010
2018-08-31,0.0599,-0.0307,-0.1076,-0.0364,-0.0133,-0.0058,0.0574,-0.0111,0.0596,0.1461,...,-0.0202,0.0301,0.1744,0.0040,0.0819,0.0563,0.0616,-0.0704,-0.0321,0.0224
2018-09-30,-0.0138,0.0065,-0.0387,-0.0691,-0.0009,-0.0016,-0.0090,0.0248,0.0527,-0.0941,...,0.0856,0.0244,0.0317,-0.0170,0.0338,0.0276,0.0331,-0.0234,-0.0056,-0.0091
2018-10-31,-0.0462,0.0675,-0.0207,0.0916,0.0719,0.0524,0.0989,0.1496,0.0517,0.0224,...,0.0420,0.1423,0.1741,-0.0073,0.0531,0.0480,0.0004,0.0225,0.0437,0.1006
2018-11-30,-0.0523,0.0290,-0.0016,-0.0170,-0.0438,0.0296,0.0781,0.0352,-0.1031,0.0075,...,0.0085,0.0676,-0.1981,-0.0259,-0.0592,-0.1710,0.3222,-0.0178,0.0501,0.1002

In [151]:
port_top50=df_excessrt[capm_top50['Tickers'].values]

In [152]:
port_second_portfoloio = pd.concat([port_top50,port_bottom50],axis=1)
port_second_portfoloio

,MNST,NFLX,REGN,HFC,NVDA,ABMD,ALXN,AAPL,CTSH,ISRG,...,GPS,WY,NWL,IPG,F,UA,GE,XRX,C,AIG
Date,,,,,,,,,,,,,,,,,,,,,
1999-03-31,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,...,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036
1999-04-30,0.1587,-0.0035,-0.0507,0.0063,-0.0993,0.1158,0.1549,0.0527,-0.1728,-0.0035,...,-0.0260,-0.1487,-0.0155,0.0368,-0.1002,0.0035,-0.0105,-0.0711,-0.1329,-0.0302
1999-05-31,0.1309,-0.0037,0.0581,0.0163,-0.0688,0.1446,0.1164,0.1777,0.0565,-0.0037,...,0.0932,-0.0621,0.0673,-0.0160,0.0274,0.0037,0.0572,-0.0269,0.0451,0.0696
1999-06-30,-0.0651,-0.0037,0.0362,-0.0495,-0.0347,-0.0983,-0.1059,0.0240,0.0028,-0.0037,...,-0.0655,0.0012,0.0050,-0.0525,0.0978,0.0037,0.0137,0.0197,0.0450,-0.0116
1999-07-31,0.0905,-0.0037,0.2070,0.1407,0.1713,0.0288,-0.0077,0.1382,0.0527,-0.0037,...,-0.0836,0.0454,0.0030,-0.0495,0.0125,0.0037,-0.0973,0.0507,-0.0742,-0.0062
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-07-31,0.0889,-0.0084,0.1402,-0.0408,-0.0320,-0.0368,0.0965,0.0074,0.0431,0.0524,...,0.0534,0.0361,-0.0549,0.0336,0.0860,0.0559,-0.0025,0.0574,-0.0307,-0.0010
2018-08-31,0.0055,-0.0941,0.0409,0.0027,0.0473,-0.0766,-0.0967,0.1221,-0.0632,0.0347,...,-0.0202,0.0301,0.1744,0.0040,0.0819,0.0563,0.0616,-0.0704,-0.0321,0.0224
2018-09-30,-0.0230,0.0456,0.0298,-0.0044,0.0412,0.0607,0.0228,0.0402,-0.0019,0.0483,...,0.0856,0.0244,0.0317,-0.0170,0.0338,0.0276,0.0331,-0.0234,-0.0056,-0.0091
2018-10-31,-0.0972,-0.0768,-0.0451,-0.0615,-0.1191,-0.0575,0.0067,-0.0074,-0.0491,-0.0641,...,0.0420,0.1423,0.1741,-0.0073,0.0531,0.0480,0.0004,0.0225,0.0437,0.1006
2018-11-30,0.0433,-0.1364,-0.0709,-0.0491,-0.2469,-0.0922,-0.0308,-0.1337,-0.0457,-0.0235,...,0.0085,0.0676,-0.1981,-0.0259,-0.0592,-0.1710,0.3222,-0.0178,0.0501,0.1002

In [153]:
avg_returns=port_second_portfoloio.mean()
cov_mat=port_second_portfoloio.cov()

In [154]:
np.random.seed(42)
weights = np.random.random(size=(10**5,100))
weights /=  np.sum(weights, axis=1)[:, np.newaxis]
weights

array([[0.00796588, 0.02022019, 0.01556835, ..., 0.00909312, 0.00054062,
        0.00229468],
       [0.00063132, 0.01278365, 0.0063145 , ..., 0.01802035, 0.017819  ,
        0.01566544],
       [0.01240398, 0.00162557, 0.00312265, ..., 0.00416964, 0.01203417,
        0.0016489 ],
       ...,
       [0.01098969, 0.01268501, 0.00084387, ..., 0.00218874, 0.00778975,
        0.01936558],
       [0.01432014, 0.00137127, 0.01232802, ..., 0.00425909, 0.01878983,
        0.00598754],
       [0.00218001, 0.0086047 , 0.01407926, ..., 0.01741434, 0.00457423,
        0.0072563 ]])

In [155]:
###portfolio metrics:
portf_rtns = np.dot(weights, avg_returns)

portf_vol = []
for i in range(0, len(weights)):
    portf_vol.append(np.sqrt(np.dot(weights[i].T, 
                                    np.dot(cov_mat, weights[i]))))
portf_vol = np.array(portf_vol)  
portf_sharpe_ratio = portf_rtns / portf_vol

In [156]:
portf_results_df = pd.DataFrame({'returns': portf_rtns,
                                 'volatility': portf_vol,
                                 'sharpe_ratio': portf_sharpe_ratio})
portf_results_df

       returns  volatility  sharpe_ratio
0       0.0083      0.0151        0.5492
1       0.0083      0.0171        0.4886
2       0.0084      0.0162        0.5190
3       0.0084      0.0155        0.5418
4       0.0086      0.0156        0.5538
...        ...         ...           ...
99995   0.0108      0.0167        0.6493
99996   0.0084      0.0185        0.4565
99997   0.0096      0.0171        0.5576
99998   0.0092      0.0164        0.5589
99999   0.0086      0.0151        0.5718

[100000 rows x 3 columns]

In [157]:
max_sharpe_ind = np.argmax(portf_results_df.sharpe_ratio)
max_sharpe_portf = portf_results_df.loc[max_sharpe_ind]

min_vol_ind = np.argmin(portf_results_df.volatility)
min_vol_portf = portf_results_df.loc[min_vol_ind]

In [158]:
RISKY_ASSETS=port_second_portfoloio.columns
RISKY_ASSETS

Index(['MNST', 'NFLX', 'REGN', 'HFC', 'NVDA', 'ABMD', 'ALXN', 'AAPL', 'CTSH',
       'ISRG', 'AOS', 'ATVI', 'ODFL', 'TSCO', 'GILD', 'ANSS', 'BIIB', 'SBAC',
       'BLL', 'TYL', 'NVR', 'POOL', 'FFIV', 'FLIR', 'CHD', 'UNH', 'COG', 'EW',
       'CNC', 'INCY', 'VRTX', 'KMX', 'COO', 'ROST', 'MA', 'DPZ', 'LH', 'ROL',
       'CERN', 'ORLY', 'RMD', 'CME', 'CMI', 'ILMN', 'VTR', 'NKE', 'IDXX',
       'CPRT', 'STZ', 'HUM', 'OMC', 'COF', 'PFE', 'CCL', 'CDNS', 'IR', 'STT',
       'MAS', 'GM', 'NLSN', 'T', 'LNC', 'IBM', 'SYF', 'TWTR', 'HBAN', 'CSCO',
       'MSI', 'IP', 'TXT', 'BAC', 'QRVO', 'BK', 'RF', 'KEY', 'JCI', 'TER',
       'FITB', 'NWS', 'ZION', 'WRK', 'NWSA', 'SCHW', 'HIG', 'UNM', 'WU', 'KMI',
       'MS', 'KHC', 'IVZ', 'GPS', 'WY', 'NWL', 'IPG', 'F', 'UA', 'GE', 'XRX',
       'C', 'AIG'],
      dtype='object')

In [159]:
print('Maximum Sharpe Ratio portfolio ----')
print('Performance')
for index, value in max_sharpe_portf.items():
    print(f'{index}: {100 * value:.2f}% ', end="", flush=True)
print('\nWeights')
for x, y in zip(RISKY_ASSETS, weights[np.argmax(portf_results_df.sharpe_ratio)]):
    print(f'{x}: {100*y:.2f}% ', end="", flush=True)

Maximum Sharpe Ratio portfolio ----
Performance
returns: 1.00% volatility: 1.29% sharpe_ratio: 77.66%
Weights
MNST: 1.64% NFLX: 1.53% REGN: 0.39% HFC: 0.67% NVDA: 0.57% ABMD: 0.90% ALXN: 0.21% AAPL: 0.87% CTSH: 1.30% ISRG: 1.47% AOS: 1.69% ATVI: 0.28% ODFL: 0.21% TSCO: 1.59% GILD: 0.59% ANSS: 0.57% BIIB: 2.07% SBAC: 0.13% BLL: 1.00% TYL: 1.92% NVR: 1.26% POOL: 0.78% FFIV: 0.52% FLIR: 1.16% CHD: 1.43% UNH: 0.99% COG: 1.92% EW: 0.64% CNC: 0.60% INCY: 0.86% VRTX: 1.32% KMX: 0.11% COO: 0.43% ROST: 1.06% MA: 1.95% DPZ: 1.23% LH: 1.46% ROL: 1.16% CERN: 2.05% ORLY: 1.38% RMD: 1.56% CME: 1.90% CMI: 0.90% ILMN: 0.83% VTR: 2.01% NKE: 0.77% IDXX: 1.94% CPRT: 2.01% STZ: 0.39% HUM: 1.73% OMC: 1.79% COF: 0.23% PFE: 0.44% CCL: 0.84% CDNS: 0.35% IR: 1.62% STT: 0.35% MAS: 0.36% GM: 0.31% NLSN: 1.65% T: 1.20% LNC: 1.80% IBM: 1.65% SYF: 0.25% TWTR: 1.65% HBAN: 0.26% CSCO: 1.31% MSI: 1.09% IP: 0.62% TXT: 0.34% BAC: 0.72% QRVO: 0.75% BK: 0.69% RF: 0.21% KEY: 0.61% JCI: 0.73% TER: 0.14% FITB: 0.28% NWS: 0.21% ZION: 1.00% WRK: 0.64% NWSA: 0.80% SCHW: 1.15% HIG: 0.01% UNM: 0.04% WU: 0.32% KMI: 0.23% MS: 1.56% KHC: 1.37% IVZ: 1.41% GPS: 1.21% WY: 1.74% NWL: 0.17% IPG: 1.69% F: 1.21% UA: 1.68% GE: 1.18% XRX: 1.93% C: 1.07% AIG: 1.18%

In [160]:
print('Minimum Volatility portfolio ----')
print('Performance')
for index, value in min_vol_portf.items():
    print(f'{index}: {100 * value:.2f}% ', end="", flush=True)
print('\nWeights')
for x, y in zip(RISKY_ASSETS, weights[np.argmin(portf_results_df.volatility)]):
    print(f'{x}: {100*y:.2f}% ', end="", flush=True)

Minimum Volatility portfolio ----
Performance
returns: 0.86% volatility: 1.24% sharpe_ratio: 69.78%
Weights
MNST: 0.15% NFLX: 2.09% REGN: 0.02% HFC: 0.37% NVDA: 0.91% ABMD: 0.27% ALXN: 0.04% AAPL: 0.53% CTSH: 0.52% ISRG: 1.63% AOS: 1.49% ATVI: 1.04% ODFL: 1.10% TSCO: 0.70% GILD: 0.76% ANSS: 1.50% BIIB: 0.15% SBAC: 0.27% BLL: 0.85% TYL: 1.08% NVR: 0.16% POOL: 0.06% FFIV: 1.65% FLIR: 1.21% CHD: 0.45% UNH: 0.77% COG: 1.64% EW: 1.89% CNC: 1.38% INCY: 0.92% VRTX: 0.37% KMX: 1.90% COO: 0.16% ROST: 1.92% MA: 1.18% DPZ: 0.61% LH: 2.04% ROL: 1.15% CERN: 0.32% ORLY: 1.25% RMD: 0.85% CME: 1.25% CMI: 1.32% ILMN: 0.22% VTR: 1.95% NKE: 1.73% IDXX: 1.60% CPRT: 1.60% STZ: 0.79% HUM: 1.25% OMC: 1.25% COF: 0.00% PFE: 1.53% CCL: 0.51% CDNS: 1.64% IR: 1.29% STT: 0.12% MAS: 1.46% GM: 0.69% NLSN: 0.97% T: 1.06% LNC: 0.09% IBM: 1.08% SYF: 1.61% TWTR: 1.24% HBAN: 0.62% CSCO: 1.48% MSI: 1.46% IP: 0.76% TXT: 0.53% BAC: 1.37% QRVO: 1.52% BK: 0.20% RF: 0.60% KEY: 2.07% JCI: 0.72% TER: 1.39% FITB: 0.35% NWS: 1.47% ZION: 1.11% WRK: 0.94% NWSA: 1.87% SCHW: 0.99% HIG: 0.96% UNM: 0.20% WU: 0.05% KMI: 1.77% MS: 1.65% KHC: 1.56% IVZ: 0.29% GPS: 0.41% WY: 1.38% NWL: 0.88% IPG: 0.91% F: 0.59% UA: 2.03% GE: 0.67% XRX: 1.83% C: 1.01% AIG: 0.69%

## Adding different types of asset  based on economy situations(a. Prosperity b.Recession ) to achieve better return or lower volatility

### a. Prosperity: buy the stock that is most related with market return and short JPY=X

In [161]:
df_monthrt['2013-01-31':'2013-12-31']

,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,AES,...,WYNN,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2013-01-31,0.0603,0.0603,0.0000,-0.0188,0.0219,0.0184,0.0419,0.1083,0.0204,0.0205,...,0.0929,0.0161,0.0884,0.0291,0.0324,-0.0064,0.0515,0.0809,0.0828,0.0000
2013-02-28,0.0523,0.0371,0.0428,0.1143,0.0485,0.1961,0.0137,-0.0111,0.0520,0.0201,...,-0.0072,0.0288,0.0581,0.0356,0.0111,-0.0192,0.0662,0.0377,0.0747,0.0000
2013-03-31,0.0275,0.0007,0.0355,0.1973,0.0343,0.0842,0.0793,-0.0243,0.0202,0.1086,...,-0.0072,0.0359,0.0706,0.0114,0.0230,0.0666,0.0286,-0.0041,0.0427,0.0331
2013-04-30,0.0066,0.0711,0.1262,0.0041,0.0179,0.0092,0.0673,-0.0196,0.0314,0.0411,...,0.0590,0.0634,0.0231,-0.0290,-0.0223,-0.0216,-0.0021,0.0056,-0.0390,-0.0325
2013-05-31,0.0390,0.0118,0.0547,0.2424,0.0559,0.0333,-0.0067,0.5558,0.0423,0.0181,...,0.1047,-0.0152,0.0160,0.0623,0.0169,0.0342,0.0153,0.0587,0.1073,0.0217
2013-06-30,0.0054,-0.0201,-0.0484,-0.0169,-0.0119,-0.0540,-0.0020,0.0255,-0.0300,-0.0812,...,-0.0403,-0.0427,0.0291,0.0165,-0.0360,0.0157,-0.0327,-0.0238,0.0349,-0.0557
2013-07-31,0.0395,-0.0133,0.0288,0.1140,-0.0754,0.0899,0.0756,0.0091,0.0035,0.0295,...,-0.0240,0.0272,0.0656,0.0994,0.0451,0.0246,0.0191,0.0444,0.0827,-0.0265
2013-08-31,0.0167,-0.0132,-0.0001,-0.0405,-0.0158,0.1011,-0.0237,-0.1019,-0.0025,0.0374,...,0.0789,-0.0242,0.0454,0.0367,-0.1225,0.0143,0.0398,0.0077,-0.0259,-0.0068
2013-09-30,0.0253,-0.0266,0.0336,-0.0331,0.0296,-0.0044,0.0674,0.0324,-0.0210,0.0383,...,0.0824,-0.0307,0.0182,0.0441,0.0952,-0.0148,-0.0431,0.0094,-0.0253,0.0333
2013-10-31,0.0253,0.0351,0.0497,-0.0743,-0.0184,0.0035,0.0592,-0.0294,0.1330,0.0379,...,0.0970,0.0284,0.0193,-0.0170,0.0682,-0.0499,0.0417,0.0575,-0.0056,0.0321
2013-11-30,0.0650,0.0723,0.0251,0.3302,0.0516,0.0020,0.0691,-0.0622,0.0888,0.0543,...,0.0060,0.0068,0.0397,-0.0315,0.1880,0.0819,0.0848,0.0371,0.0258,-0.0198
2013-12-31,0.0240,-0.0088,0.0773,0.0025,0.0144,0.0157,0.0287,0.0833,0.0890,-0.0076,...,0.1141,-0.0120,0.0775,0.0038,-0.0044,0.0080,0.0197,0.0267,0.0108,0.0106

In [162]:
spx_frame = pd.DataFrame(data = spx_rt)
spx_frame['2013-01-31':'2013-12-31']

            Adj Close
Date
2013-01-31     0.0422
2013-02-28     0.0233
2013-03-31     0.0276
2013-04-30     0.0139
2013-05-31     0.0459
2013-06-30    -0.0108
2013-07-31     0.0323
2013-08-31     0.0027
2013-09-30     0.0122
2013-10-31     0.0207
2013-11-30     0.0388
2013-12-31     0.0154

In [163]:
merged_capm=df_monthrt['2013-01-31':'2013-12-31'].join(spx_frame['2013-01-31':'2013-12-31'])
merged_capm_corr = merged_capm.corr()

In [164]:
merged_capm_corr.head()

,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,AES,...,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS,Adj Close
MMM,1.0000,0.4762,-0.1153,0.5685,0.3531,0.3190,0.1841,0.1479,0.3145,0.2840,...,0.1743,0.4058,0.1341,0.6167,0.3106,0.7279,0.7226,0.6090,0.1695,0.8044
ABT,0.4762,1.0000,0.3761,0.2639,0.4010,-0.0082,0.2825,-0.0718,0.5133,0.2729,...,0.6418,0.0211,-0.5851,0.3686,-0.0542,0.6065,0.4578,0.0398,-0.1365,0.4835
ABBV,-0.1153,0.3761,1.0000,0.0709,0.2295,0.1060,0.3700,0.1250,0.4631,0.4054,...,0.6148,-0.1418,-0.2984,0.0833,-0.2477,0.0333,0.1408,-0.2702,0.2641,0.2463
ABMD,0.5685,0.2639,0.0709,1.0000,0.4596,0.2174,0.1709,0.3014,0.1738,0.3725,...,0.1535,0.0439,0.0339,0.4972,0.8076,0.4439,0.1391,0.5139,0.0144,0.6327
ACN,0.3531,0.4010,0.2295,0.4596,1.0000,0.0342,-0.0842,0.3485,0.2023,0.2284,...,-0.0138,-0.1116,-0.3682,0.2868,0.2299,0.2195,0.0701,0.1060,0.3511,0.3345

In [165]:
merged_capm_top5=merged_capm_corr[merged_capm_corr['Adj Close']>=merged_capm_corr['Adj Close'].quantile(0.99)]
merged_capm_top5

,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,AES,...,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS,Adj Close
APH,0.6949,0.4045,0.2908,0.5427,0.4161,0.0395,0.3272,0.5508,0.4278,0.2685,...,0.3211,0.3739,0.0669,0.5341,0.2611,0.3946,0.6976,0.6618,0.3620,0.8909
ADP,0.6055,0.2815,0.3252,0.8194,0.3884,0.2007,0.3968,0.4492,0.1328,0.5614,...,0.3357,0.2194,0.2069,0.4975,0.6091,0.3307,0.4030,0.5369,0.2581,0.8638
JCI,0.7432,0.3081,0.1396,0.4852,0.1519,0.0748,0.1286,0.5773,0.4726,0.1162,...,0.1588,0.3175,0.2550,0.4722,0.2162,0.4882,0.8588,0.7181,0.2587,0.8833
RL,0.8437,0.6029,0.1051,0.5650,0.3118,0.3002,0.0276,0.4077,0.3406,0.1999,...,0.3489,0.4192,0.1361,0.3207,0.2747,0.7069,0.7911,0.7224,0.0210,0.8778
Adj Close,0.8044,0.4835,0.2463,0.6327,0.3345,0.2080,0.3217,0.4753,0.3762,0.4897,...,0.3918,0.2652,0.1753,0.5455,0.3188,0.5587,0.7919,0.6363,0.3578,1.0000

In [166]:
capm_top10['Tickers'].values

array(['MNST', 'NFLX', 'REGN', 'HFC', 'NVDA', 'ABMD', 'ALXN', 'AAPL',
       'CTSH', 'ISRG'], dtype=object)

In [167]:
merged_capm_top5.index

Index(['APH', 'ADP', 'JCI', 'RL', 'Adj Close'], dtype='object')

In [168]:
capm_bottom10['Tickers'].values

array(['GPS', 'WY', 'NWL', 'IPG', 'F', 'UA', 'GE', 'XRX', 'C', 'AIG'],
      dtype=object)

In [169]:
port_top10=df_excessrt[['MNST', 'NFLX', 'REGN', 'HFC', 'NVDA', 'ABMD', 'ALXN', 'AAPL',
       'CTSH', 'ISRG','APH']]['2013-01-31':'2013-12-31']
port_top10

,MNST,NFLX,REGN,HFC,NVDA,ABMD,ALXN,AAPL,CTSH,ISRG,APH
Date,,,,,,,,,,,
2013-01-31,-0.0628,0.3088,-0.0071,0.0138,0.0043,-0.0188,0.0312,-0.0644,0.0726,0.0267,0.0718
2013-02-28,-0.0142,0.5592,-0.0615,0.1930,0.0076,0.1142,-0.0778,-0.0782,-0.0009,0.0744,0.0319
2013-03-31,-0.0074,0.0122,0.0422,-0.0095,0.0220,0.1972,0.0259,-0.0317,0.0099,-0.1150,0.0448
2013-04-30,0.1166,-0.0101,0.1804,-0.0891,0.0133,0.0040,0.0496,-0.0500,-0.0922,-0.0195,0.0112
2013-05-31,0.0339,0.2236,0.2786,0.0101,0.1205,0.2423,0.0388,0.0686,-0.0834,-0.0044,0.0729
2013-06-30,0.0560,-0.0215,-0.0991,-0.0818,0.0014,-0.0170,-0.0857,-0.0451,-0.0155,0.0244,-0.0184
2013-07-31,0.0408,0.1242,0.0947,-0.0474,0.0019,0.1140,0.1555,0.0085,0.0986,-0.1526,0.0361
2013-08-31,-0.0176,0.0735,-0.0424,0.0666,0.0341,-0.0405,0.0348,0.1356,0.0405,-0.0893,-0.0394
2013-09-30,-0.0860,0.1486,0.1735,-0.0458,0.0523,-0.0331,0.0371,-0.0082,0.1021,-0.0335,0.0087
2013-10-31,0.0043,0.0601,0.0373,0.0195,-0.0045,-0.0743,0.0004,0.0511,0.0677,0.0098,0.0226
2013-11-30,0.0320,0.0651,-0.0483,0.0628,0.0024,0.3302,0.0536,0.0445,0.0722,0.0197,0.0503
2013-12-31,0.1226,0.0740,-0.0271,0.0516,0.0088,0.0025,0.0577,0.0677,0.0449,-0.0410,0.0491

In [170]:
port_bottom10=df_excessrt[['GPS', 'WY', 'NWL', 'IPG', 'F', 'UA', 'GE', 'XRX', 'C', 'AIG']]['2013-01-31':'2013-12-31'].join(df_sentiment[['JPY=X']]['2013-01-31':'2013-12-31'])
port_bottom10

,GPS,WY,NWL,IPG,F,UA,GE,XRX,C,AIG,JPY=X
Date,,,,,,,,,,,
2013-01-31,0.0288,0.0970,0.0390,0.0859,0.1632,-0.0001,0.0248,0.0884,0.1086,0.0476,0.0025
2013-02-28,-0.0001,-0.0080,0.0439,0.0412,-0.0561,-0.0001,0.0660,0.0580,0.0185,0.0609,0.0007
2013-03-31,0.1004,0.0211,0.0594,0.0604,0.0243,-0.0001,0.0249,0.0706,0.0570,0.0045,0.0010
2013-04-30,0.0424,0.0089,0.0344,0.0304,-0.0040,-0.0000,-0.0312,0.0231,-0.0066,0.0289,0.0018
2013-05-31,0.0826,0.0233,0.0569,0.0789,0.1217,-0.0000,0.0208,0.0160,0.1078,0.1253,0.0014
2013-06-30,0.0315,-0.0979,-0.0238,-0.0016,0.0550,-0.0000,0.0189,0.0291,-0.0124,-0.0014,-0.0013
2013-07-31,0.0839,0.0217,0.0119,0.0848,0.0925,-0.0000,0.0226,0.0656,0.0338,0.0337,-0.0002
2013-08-31,-0.0262,-0.0454,-0.0212,0.0259,-0.0056,-0.0000,0.0003,0.0454,-0.0091,0.0285,0.0002
2013-09-30,-0.0516,0.0405,0.0269,0.0549,0.0370,-0.0000,0.0027,0.0182,-0.0079,0.0420,-0.0002
2013-10-31,-0.0728,0.0421,0.0541,-0.0163,-0.0003,-0.0000,0.0482,0.0193,-0.0111,0.0265,0.0003
2013-11-30,0.0640,0.0060,0.0538,0.0313,-0.0117,-0.0000,0.0767,0.0397,0.0212,-0.0347,0.0018
2013-12-31,-0.0316,0.0276,0.0558,-0.0008,-0.0510,-0.0000,0.0134,0.0775,0.0227,0.0260,0.0012

In [171]:
port_bottom10 = port_bottom10*-1
port_bottom10

,GPS,WY,NWL,IPG,F,UA,GE,XRX,C,AIG,JPY=X
Date,,,,,,,,,,,
2013-01-31,-0.0288,-0.0970,-0.0390,-0.0859,-0.1632,0.0001,-0.0248,-0.0884,-0.1086,-0.0476,-0.0025
2013-02-28,0.0001,0.0080,-0.0439,-0.0412,0.0561,0.0001,-0.0660,-0.0580,-0.0185,-0.0609,-0.0007
2013-03-31,-0.1004,-0.0211,-0.0594,-0.0604,-0.0243,0.0001,-0.0249,-0.0706,-0.0570,-0.0045,-0.0010
2013-04-30,-0.0424,-0.0089,-0.0344,-0.0304,0.0040,0.0000,0.0312,-0.0231,0.0066,-0.0289,-0.0018
2013-05-31,-0.0826,-0.0233,-0.0569,-0.0789,-0.1217,0.0000,-0.0208,-0.0160,-0.1078,-0.1253,-0.0014
2013-06-30,-0.0315,0.0979,0.0238,0.0016,-0.0550,0.0000,-0.0189,-0.0291,0.0124,0.0014,0.0013
2013-07-31,-0.0839,-0.0217,-0.0119,-0.0848,-0.0925,0.0000,-0.0226,-0.0656,-0.0338,-0.0337,0.0002
2013-08-31,0.0262,0.0454,0.0212,-0.0259,0.0056,0.0000,-0.0003,-0.0454,0.0091,-0.0285,-0.0002
2013-09-30,0.0516,-0.0405,-0.0269,-0.0549,-0.0370,0.0000,-0.0027,-0.0182,0.0079,-0.0420,0.0002
2013-10-31,0.0728,-0.0421,-0.0541,0.0163,0.0003,0.0000,-0.0482,-0.0193,0.0111,-0.0265,-0.0003
2013-11-30,-0.0640,-0.0060,-0.0538,-0.0313,0.0117,0.0000,-0.0767,-0.0397,-0.0212,0.0347,-0.0018
2013-12-31,0.0316,-0.0276,-0.0558,0.0008,0.0510,0.0000,-0.0134,-0.0775,-0.0227,-0.0260,-0.0012

In [172]:
port_first_portfoloio = pd.concat([port_top10,port_bottom10],axis=1)
port_first_portfoloio

,MNST,NFLX,REGN,HFC,NVDA,ABMD,ALXN,AAPL,CTSH,ISRG,...,WY,NWL,IPG,F,UA,GE,XRX,C,AIG,JPY=X
Date,,,,,,,,,,,,,,,,,,,,,
2013-01-31,-0.0628,0.3088,-0.0071,0.0138,0.0043,-0.0188,0.0312,-0.0644,0.0726,0.0267,...,-0.0970,-0.0390,-0.0859,-0.1632,0.0001,-0.0248,-0.0884,-0.1086,-0.0476,-0.0025
2013-02-28,-0.0142,0.5592,-0.0615,0.1930,0.0076,0.1142,-0.0778,-0.0782,-0.0009,0.0744,...,0.0080,-0.0439,-0.0412,0.0561,0.0001,-0.0660,-0.0580,-0.0185,-0.0609,-0.0007
2013-03-31,-0.0074,0.0122,0.0422,-0.0095,0.0220,0.1972,0.0259,-0.0317,0.0099,-0.1150,...,-0.0211,-0.0594,-0.0604,-0.0243,0.0001,-0.0249,-0.0706,-0.0570,-0.0045,-0.0010
2013-04-30,0.1166,-0.0101,0.1804,-0.0891,0.0133,0.0040,0.0496,-0.0500,-0.0922,-0.0195,...,-0.0089,-0.0344,-0.0304,0.0040,0.0000,0.0312,-0.0231,0.0066,-0.0289,-0.0018
2013-05-31,0.0339,0.2236,0.2786,0.0101,0.1205,0.2423,0.0388,0.0686,-0.0834,-0.0044,...,-0.0233,-0.0569,-0.0789,-0.1217,0.0000,-0.0208,-0.0160,-0.1078,-0.1253,-0.0014
2013-06-30,0.0560,-0.0215,-0.0991,-0.0818,0.0014,-0.0170,-0.0857,-0.0451,-0.0155,0.0244,...,0.0979,0.0238,0.0016,-0.0550,0.0000,-0.0189,-0.0291,0.0124,0.0014,0.0013
2013-07-31,0.0408,0.1242,0.0947,-0.0474,0.0019,0.1140,0.1555,0.0085,0.0986,-0.1526,...,-0.0217,-0.0119,-0.0848,-0.0925,0.0000,-0.0226,-0.0656,-0.0338,-0.0337,0.0002
2013-08-31,-0.0176,0.0735,-0.0424,0.0666,0.0341,-0.0405,0.0348,0.1356,0.0405,-0.0893,...,0.0454,0.0212,-0.0259,0.0056,0.0000,-0.0003,-0.0454,0.0091,-0.0285,-0.0002
2013-09-30,-0.0860,0.1486,0.1735,-0.0458,0.0523,-0.0331,0.0371,-0.0082,0.1021,-0.0335,...,-0.0405,-0.0269,-0.0549,-0.0370,0.0000,-0.0027,-0.0182,0.0079,-0.0420,0.0002
2013-10-31,0.0043,0.0601,0.0373,0.0195,-0.0045,-0.0743,0.0004,0.0511,0.0677,0.0098,...,-0.0421,-0.0541,0.0163,0.0003,0.0000,-0.0482,-0.0193,0.0111,-0.0265,-0.0003
2013-11-30,0.0320,0.0651,-0.0483,0.0628,0.0024,0.3302,0.0536,0.0445,0.0722,0.0197,...,-0.0060,-0.0538,-0.0313,0.0117,0.0000,-0.0767,-0.0397,-0.0212,0.0347,-0.0018
2013-12-31,0.1226,0.0740,-0.0271,0.0516,0.0088,0.0025,0.0577,0.0677,0.0449,-0.0410,...,-0.0276,-0.0558,0.0008,0.0510,0.0000,-0.0134,-0.0775,-0.0227,-0.0260,-0.0012

In [173]:
avg_returns=port_first_portfoloio.mean()
cov_mat=port_first_portfoloio.cov()

In [174]:
np.random.seed(42)
weights = np.random.random(size=(10**5,22))
weights /=  np.sum(weights, axis=1)[:, np.newaxis]
weights

array([[0.03781174, 0.09597947, 0.07389853, ..., 0.02940107, 0.06176968,
        0.01408262],
       [0.02949122, 0.03698325, 0.04603904, ..., 0.04998678, 0.00347143,
        0.09179346],
       [0.02372464, 0.06073926, 0.0285773 , ..., 0.03270672, 0.02575574,
        0.04975374],
       ...,
       [0.06682599, 0.0044611 , 0.0793555 , ..., 0.00982388, 0.0060689 ,
        0.04314398],
       [0.08030915, 0.07887397, 0.00759011, ..., 0.03562629, 0.00042849,
        0.06050497],
       [0.04211766, 0.07306966, 0.06545223, ..., 0.08525022, 0.02239374,
        0.0568134 ]])

In [175]:
###portfolio metrics:
portf_rtns = np.dot(weights, avg_returns)

portf_vol = []
for i in range(0, len(weights)):
    portf_vol.append(np.sqrt(np.dot(weights[i].T, 
                                    np.dot(cov_mat, weights[i]))))
portf_vol = np.array(portf_vol)  
portf_sharpe_ratio = portf_rtns / portf_vol

In [176]:
portf_results_df = pd.DataFrame({'returns': portf_rtns,
                                 'volatility': portf_vol,
                                 'sharpe_ratio': portf_sharpe_ratio})
portf_results_df

       returns  volatility  sharpe_ratio
0       0.0087      0.0196        0.4413
1       0.0050      0.0121        0.4139
2       0.0081      0.0170        0.4744
3       0.0071      0.0220        0.3246
4       0.0073      0.0156        0.4698
...        ...         ...           ...
99995   0.0049      0.0143        0.3452
99996   0.0062      0.0142        0.4349
99997   0.0056      0.0136        0.4147
99998   0.0101      0.0158        0.6390
99999   0.0103      0.0195        0.5279

[100000 rows x 3 columns]

In [177]:
max_sharpe_ind = np.argmax(portf_results_df.sharpe_ratio)
max_sharpe_portf = portf_results_df.loc[max_sharpe_ind]

min_vol_ind = np.argmin(portf_results_df.volatility)
min_vol_portf = portf_results_df.loc[min_vol_ind]

In [178]:
RISKY_ASSETS=port_first_portfoloio.columns
RISKY_ASSETS

Index(['MNST', 'NFLX', 'REGN', 'HFC', 'NVDA', 'ABMD', 'ALXN', 'AAPL', 'CTSH',
       'ISRG', 'APH', 'GPS', 'WY', 'NWL', 'IPG', 'F', 'UA', 'GE', 'XRX', 'C',
       'AIG', 'JPY=X'],
      dtype='object')

In [179]:
print('Maximum Sharpe Ratio portfolio ----')
print('Performance')
for index, value in max_sharpe_portf.items():
    print(f'{index}: {100 * value:.2f}% ', end="", flush=True)
print('\nWeights')
for x, y in zip(RISKY_ASSETS, weights[np.argmax(portf_results_df.sharpe_ratio)]):
    print(f'{x}: {100*y:.2f}% ', end="", flush=True)

Maximum Sharpe Ratio portfolio ----
Performance
returns: 2.16% volatility: 1.76% sharpe_ratio: 122.80%
Weights
MNST: 8.88% NFLX: 6.68% REGN: 10.24% HFC: 1.04% NVDA: 3.80% ABMD: 6.93% ALXN: 4.58% AAPL: 6.29% CTSH: 12.31% ISRG: 1.16% APH: 6.37% GPS: 2.30% WY: 9.99% NWL: 5.69% IPG: 0.21% F: 0.08% UA: 3.37% GE: 3.39% XRX: 0.76% C: 0.65% AIG: 2.28% JPY=X: 2.99%

In [180]:
print('Minimum Volatility portfolio ----')
print('Performance')
for index, value in min_vol_portf.items():
    print(f'{index}: {100 * value:.2f}% ', end="", flush=True)
print('\nWeights')
for x, y in zip(RISKY_ASSETS, weights[np.argmin(portf_results_df.volatility)]):
    print(f'{x}: {100*y:.2f}% ', end="", flush=True)

Minimum Volatility portfolio ----
Performance
returns: 0.09% volatility: 0.68% sharpe_ratio: 12.90%
Weights
MNST: 5.53% NFLX: 3.11% REGN: 2.85% HFC: 1.14% NVDA: 7.56% ABMD: 1.11% ALXN: 3.58% AAPL: 1.39% CTSH: 5.28% ISRG: 6.75% APH: 8.33% GPS: 2.08% WY: 4.88% NWL: 5.00% IPG: 1.79% F: 2.54% UA: 5.77% GE: 9.35% XRX: 3.36% C: 3.64% AIG: 7.26% JPY=X: 7.72%

### b.Recession:  Short the stock that is most related with market return and buy JP=X

In [181]:
df_monthrt['2007-11-30':'2009-02-28']

,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,AES,...,WYNN,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2007-11-30,-0.0972,0.0296,0.0000,-0.0541,-0.1053,-0.0719,-0.0594,-0.1267,0.0341,0.0358,...,-0.1353,0.0165,-0.0445,-0.1083,0.0000,0.0187,0.0640,-0.1603,-0.1917,0.0000
2007-12-31,0.0393,0.0503,0.0000,0.1788,0.0004,0.2976,-0.0074,-0.2909,0.0920,0.0073,...,-0.0909,0.0416,0.0099,-0.0290,0.0000,0.0122,-0.0492,0.0183,-0.0399,0.0000
2008-01-31,-0.0806,0.0113,0.0000,0.0027,-0.0478,-0.0134,-0.1306,-0.1942,-0.1071,-0.0885,...,-0.1050,-0.0507,-0.1187,-0.0623,0.0000,-0.0585,-0.1291,0.0238,-0.1015,0.0000
2008-02-29,0.0219,-0.0302,0.0000,0.0139,0.0235,-0.0101,-0.0754,0.0197,0.0215,-0.0325,...,0.0435,-0.0465,0.0405,0.0680,0.0000,-0.0230,-0.0024,0.1204,0.1440,0.0000
2008-03-31,-0.0152,-0.0516,0.0000,-0.0981,-0.0071,0.0068,-0.0221,-0.0768,-0.0299,-0.1086,...,-0.0996,-0.0294,-0.0319,0.0660,0.0000,0.0405,0.0691,-0.0079,-0.0798,0.0000
2008-04-30,0.0181,-0.0005,0.0000,0.0614,0.0882,0.0115,0.0873,-0.0440,0.0317,0.0200,...,0.0681,0.0444,-0.0026,0.0448,0.0000,0.0727,0.0354,0.0090,-0.0411,0.0000
2008-05-31,-0.0282,0.0309,0.0000,0.0105,0.0170,0.1446,0.1226,0.1406,0.0544,0.0878,...,-0.0183,0.0292,-0.0314,0.0810,0.0000,0.0264,0.0892,-0.0801,0.0003,0.0000
2008-06-30,-0.0361,0.0042,0.0000,0.2632,0.0360,0.1123,0.0142,0.0088,0.0933,0.0288,...,-0.1267,-0.0308,-0.0361,0.0222,0.0000,-0.0706,-0.0441,-0.0154,-0.2120,0.0000
2008-07-31,-0.0618,0.0526,0.0000,0.0114,0.0132,-0.0084,-0.0343,-0.3116,-0.0152,-0.1192,...,-0.0531,-0.0166,-0.0116,-0.1048,0.0000,-0.0487,-0.1171,-0.0181,-0.2453,0.0000
2008-08-31,0.0349,0.0366,0.0000,0.0043,0.0183,-0.0125,0.0915,0.1268,0.0898,-0.0982,...,0.1524,0.0200,0.0430,0.0994,0.0000,0.0381,0.0058,0.0453,0.0656,0.0000
2008-09-30,-0.0266,-0.0012,0.0000,-0.0414,-0.0727,-0.0339,-0.0926,0.0018,-0.0499,-0.1494,...,-0.1192,0.0092,-0.0766,-0.1100,0.0000,0.0065,-0.0667,-0.0456,0.3420,0.0000
2008-10-31,-0.1362,-0.0456,0.0000,-0.2234,-0.1520,-0.2433,-0.2877,-0.2913,-0.2825,-0.3398,...,-0.3775,-0.1345,-0.3418,-0.1479,0.0000,-0.2275,-0.2980,-0.2361,-0.0407,0.0000
2008-11-30,0.0485,-0.0121,0.0000,0.0079,-0.0659,-0.0982,-0.1692,-0.3171,-0.0439,-0.1257,...,-0.2218,0.0106,-0.2099,-0.1818,0.0000,-0.0721,-0.0762,-0.2203,-0.0679,0.0000
2008-12-31,-0.0819,-0.0351,0.0000,0.1287,0.0217,-0.1435,-0.0834,-0.1818,0.1334,-0.0194,...,-0.0081,0.0173,0.1119,0.0312,0.0000,0.1086,0.0094,-0.0478,-0.2389,0.0000
2009-01-31,-0.0257,0.0065,0.0000,-0.1234,0.0860,-0.0475,-0.0056,0.0858,0.0210,0.1483,...,-0.0634,0.0267,0.0650,0.0017,0.0000,0.0409,-0.0353,0.0387,-0.2737,0.0000
2009-02-28,-0.1190,0.0559,0.0000,-0.3449,-0.0516,0.0495,-0.0949,-0.0527,0.0732,-0.1264,...,-0.3448,-0.0153,-0.2148,0.0539,0.0000,-0.0531,-0.0649,-0.0321,-0.3819,0.0000

In [182]:
spx_frame = pd.DataFrame(data = spx_rt)
spx_frame['2007-11-30':'2009-02-28']

            Adj Close
Date
2007-11-30    -0.0480
2007-12-31     0.0127
2008-01-31    -0.0670
2008-02-29    -0.0145
2008-03-31    -0.0262
2008-04-30     0.0421
2008-05-31     0.0254
2008-06-30    -0.0427
2008-07-31    -0.0611
2008-08-31     0.0217
2008-09-30    -0.0480
2008-10-31    -0.2034
2008-11-30    -0.0846
2008-12-31    -0.0034
2009-01-31    -0.0115
2009-02-28    -0.0675

In [183]:
merged_capm=df_monthrt['2007-11-30':'2009-02-28'].join(spx_frame['2007-11-30':'2009-02-28'])
merged_capm_corr = merged_capm.corr()

In [184]:
merged_capm_corr.head()

,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,AES,...,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS,Adj Close
MMM,1.0000,0.0166,nan,0.5013,0.5125,0.4340,0.4889,0.2110,0.3577,0.3272,...,0.5329,0.4327,0.2355,nan,0.3970,0.4146,0.3779,0.4723,nan,0.6044
ABT,0.0166,1.0000,nan,0.0138,0.1170,0.5795,0.4221,0.0749,0.4235,0.2886,...,0.4618,0.1011,0.0559,nan,0.1064,0.1082,0.1772,-0.2614,nan,0.2856
ABBV,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
ABMD,0.5013,0.0138,nan,1.0000,0.4596,0.4224,0.4121,-0.0355,0.4595,0.4382,...,0.3641,0.5650,0.1097,nan,0.3353,0.2892,0.2643,0.1650,nan,0.4850
ACN,0.5125,0.1170,nan,0.4596,1.0000,0.4217,0.7601,0.4748,0.6353,0.7078,...,0.5479,0.7772,0.6674,nan,0.6423,0.5220,0.7213,-0.1398,nan,0.7931

In [185]:
merged_capm_top5=merged_capm_corr[merged_capm_corr['Adj Close']>=merged_capm_corr['Adj Close'].quantile(0.99)]
merged_capm_top5

,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,AES,...,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS,Adj Close
BEN,0.5608,0.2079,nan,0.5306,0.7813,0.4651,0.8676,0.6146,0.8273,0.6062,...,0.6980,0.8295,0.7540,nan,0.8171,0.7599,0.6526,0.1428,nan,0.9264
IEX,0.5539,0.2475,nan,0.5151,0.8552,0.5240,0.9126,0.5418,0.8023,0.8087,...,0.7630,0.7929,0.7108,nan,0.7887,0.7865,0.5195,-0.0815,nan,0.9313
ITW,0.5738,0.2415,nan,0.2985,0.8116,0.4073,0.8320,0.6030,0.7431,0.7770,...,0.8409,0.8298,0.6327,nan,0.8995,0.8073,0.6055,0.0642,nan,0.9445
OMC,0.4095,0.2981,nan,0.3156,0.7465,0.5830,0.8276,0.6532,0.8026,0.7304,...,0.6828,0.7750,0.8294,nan,0.8083,0.7796,0.7170,0.0593,nan,0.9359
Adj Close,0.6044,0.2856,nan,0.4850,0.7931,0.5869,0.8903,0.5500,0.8089,0.7623,...,0.8247,0.8397,0.6967,nan,0.8901,0.8350,0.6510,0.1129,nan,1.0000

In [186]:
capm_top10['Tickers'].values

array(['MNST', 'NFLX', 'REGN', 'HFC', 'NVDA', 'ABMD', 'ALXN', 'AAPL',
       'CTSH', 'ISRG'], dtype=object)

In [187]:
merged_capm_top5.index

Index(['BEN', 'IEX', 'ITW', 'OMC', 'Adj Close'], dtype='object')

In [188]:
capm_bottom10['Tickers'].values

array(['GPS', 'WY', 'NWL', 'IPG', 'F', 'UA', 'GE', 'XRX', 'C', 'AIG'],
      dtype=object)

In [189]:
port_top10=df_excessrt[['MNST', 'NFLX', 'REGN', 'HFC', 'NVDA', 'ABMD', 'ALXN', 'AAPL',
       'CTSH', 'ISRG']]['2007-11-30':'2009-02-28'].join(df_sentiment[['JPY=X']]['2007-11-30':'2009-02-28'])
port_top10

,MNST,NFLX,REGN,HFC,NVDA,ABMD,ALXN,AAPL,CTSH,ISRG,JPY=X
Date,,,,,,,,,,,
2007-11-30,-0.2604,0.0238,-0.0595,-0.1569,-0.1126,-0.0568,0.0288,0.0139,-0.2110,0.0864,-0.0014
2007-12-31,-0.0182,0.0273,0.2346,-0.0745,0.0482,0.1763,0.0149,0.0883,0.0355,0.1074,-0.0000
2008-01-31,-0.1055,-0.0685,-0.0117,-0.0780,-0.2264,0.0004,-0.0907,-0.1604,-0.1553,-0.1756,-0.0021
2008-02-29,-0.0238,0.1819,-0.1672,0.1060,-0.1160,0.0122,-0.0420,-0.2214,0.1024,0.0909,-0.0011
2008-03-31,-0.0461,0.2337,-0.0569,-0.1098,-0.1787,-0.0991,-0.1346,0.0443,-0.0722,-0.0140,-0.0018
2008-04-30,-0.1006,0.0410,0.0785,0.0032,0.0034,0.0603,0.1757,0.2081,0.0194,0.0842,0.0020
2008-05-31,-0.1185,-0.1324,0.0210,-0.0755,0.1718,0.0091,0.0540,0.1666,0.0569,-0.0880,0.0008
2008-06-30,0.0764,-0.0130,-0.2449,-0.0164,-0.0668,0.2617,-0.0056,-0.0355,0.1028,-0.0427,0.0003
2008-07-31,-0.2462,-0.0815,0.1075,-0.2698,-0.4305,0.0100,0.1173,-0.0615,-0.1713,0.0191,0.0007
2008-08-31,0.0525,0.0860,0.2816,0.0055,0.0135,0.0029,0.1602,0.0184,0.0359,0.0605,0.0004
2008-09-30,0.0176,-0.0060,-0.0330,0.0040,-0.1217,-0.0423,-0.0892,-0.1752,-0.1331,-0.0905,-0.0011
2008-10-31,-0.0625,-0.2307,-0.1114,-0.3857,-0.2864,-0.2239,-0.0687,-0.2996,-0.2916,-0.3119,-0.0027
2008-11-30,0.0138,-0.0653,-0.0916,-0.0947,-0.0408,0.0077,-0.0247,-0.0513,-0.0287,-0.2051,-0.0014
2008-12-31,0.1937,0.2363,-0.0120,0.0546,0.0643,0.1287,-0.1087,-0.0255,-0.0115,-0.1458,-0.0010
2009-01-31,0.0846,0.1883,0.0303,0.2227,0.0139,-0.1235,0.0789,-0.0303,0.1061,-0.1813,-0.0003
2009-02-28,0.0272,0.1423,0.0467,0.1189,0.0400,-0.3452,0.0446,0.0595,-0.0037,0.0111,0.0042

In [190]:
port_bottom10=df_excessrt[['GPS', 'WY', 'NWL', 'IPG', 'F', 'UA', 'GE', 'XRX', 'C', 'AIG','ITW']]['2007-11-30':'2009-02-28']
port_bottom10

,GPS,WY,NWL,IPG,F,UA,GE,XRX,C,AIG,ITW
Date,,,,,,,,,,,
2007-11-30,0.0388,-0.0098,-0.0393,-0.1038,-0.0930,-0.0027,-0.0618,-0.0471,-0.2570,-0.1426,-0.0478
2007-12-31,0.0945,0.0293,-0.0559,-0.0752,-0.1173,-0.0024,-0.0406,0.0074,-0.0642,0.0200,-0.0131
2008-01-31,-0.1291,-0.0977,-0.0859,-0.0645,-0.0974,-0.0022,-0.0492,-0.1209,-0.1355,-0.0441,-0.1009
2008-02-29,0.0568,-0.0259,-0.0304,0.0667,0.0293,-0.0017,-0.0228,0.0388,-0.0483,-0.1139,0.0000
2008-03-31,0.0321,-0.0186,-0.0120,-0.0211,-0.1134,-0.0010,0.0247,-0.0329,-0.1790,-0.1188,-0.0231
2008-04-30,-0.0571,0.0146,-0.0094,-0.0101,0.2521,-0.0011,-0.0199,-0.0037,0.1441,0.0576,0.0683
2008-05-31,-0.0302,0.0223,-0.0920,0.1828,0.0831,-0.0014,-0.0695,-0.0329,-0.0486,-0.1248,0.0441
2008-06-30,-0.0550,-0.1438,-0.0805,-0.0584,-0.2357,-0.0015,-0.0964,-0.0376,-0.1560,-0.1990,-0.0787
2008-07-31,-0.0629,-0.1014,-0.1197,-0.1464,-0.1627,-0.0013,-0.0283,-0.0129,-0.1014,-0.2108,-0.0513
2008-08-31,0.1401,0.0649,0.1064,0.1504,-0.0475,-0.0014,0.0385,0.0416,0.0411,-0.1108,0.0414
2008-09-30,0.0175,0.0918,0.0596,-0.0720,0.0005,-0.0009,-0.0863,-0.0775,0.0046,-0.5455,-0.0358
2008-10-31,-0.2606,-0.2436,-0.2467,-0.3511,-0.4579,-0.0005,-0.2294,-0.3423,-0.1759,-0.7576,-0.2502
2008-11-30,-0.1432,-0.2200,-0.1373,-0.2282,-0.2848,-0.0001,-0.1622,-0.2101,-0.3983,-0.2242,-0.0740
2008-12-31,0.1114,0.0336,-0.0655,-0.0855,0.4848,-0.0000,0.0077,0.1119,-0.1997,-0.1197,0.0114
2009-01-31,-0.0572,-0.1493,-0.1786,-0.0319,-0.1759,-0.0001,-0.1405,0.0649,-0.3366,-0.1448,0.0734
2009-02-28,-0.0795,-0.1038,-0.2291,-0.0790,-0.1859,-0.0002,-0.2547,-0.2150,-0.3775,-0.4645,-0.0643

In [191]:
port_bottom10 = port_bottom10*-1

In [192]:
port_first_portfoloio = pd.concat([port_top10,port_bottom10],axis=1)
port_first_portfoloio

,MNST,NFLX,REGN,HFC,NVDA,ABMD,ALXN,AAPL,CTSH,ISRG,...,WY,NWL,IPG,F,UA,GE,XRX,C,AIG,ITW
Date,,,,,,,,,,,,,,,,,,,,,
2007-11-30,-0.2604,0.0238,-0.0595,-0.1569,-0.1126,-0.0568,0.0288,0.0139,-0.2110,0.0864,...,0.0098,0.0393,0.1038,0.0930,0.0027,0.0618,0.0471,0.2570,0.1426,0.0478
2007-12-31,-0.0182,0.0273,0.2346,-0.0745,0.0482,0.1763,0.0149,0.0883,0.0355,0.1074,...,-0.0293,0.0559,0.0752,0.1173,0.0024,0.0406,-0.0074,0.0642,-0.0200,0.0131
2008-01-31,-0.1055,-0.0685,-0.0117,-0.0780,-0.2264,0.0004,-0.0907,-0.1604,-0.1553,-0.1756,...,0.0977,0.0859,0.0645,0.0974,0.0022,0.0492,0.1209,0.1355,0.0441,0.1009
2008-02-29,-0.0238,0.1819,-0.1672,0.1060,-0.1160,0.0122,-0.0420,-0.2214,0.1024,0.0909,...,0.0259,0.0304,-0.0667,-0.0293,0.0017,0.0228,-0.0388,0.0483,0.1139,-0.0000
2008-03-31,-0.0461,0.2337,-0.0569,-0.1098,-0.1787,-0.0991,-0.1346,0.0443,-0.0722,-0.0140,...,0.0186,0.0120,0.0211,0.1134,0.0010,-0.0247,0.0329,0.1790,0.1188,0.0231
2008-04-30,-0.1006,0.0410,0.0785,0.0032,0.0034,0.0603,0.1757,0.2081,0.0194,0.0842,...,-0.0146,0.0094,0.0101,-0.2521,0.0011,0.0199,0.0037,-0.1441,-0.0576,-0.0683
2008-05-31,-0.1185,-0.1324,0.0210,-0.0755,0.1718,0.0091,0.0540,0.1666,0.0569,-0.0880,...,-0.0223,0.0920,-0.1828,-0.0831,0.0014,0.0695,0.0329,0.0486,0.1248,-0.0441
2008-06-30,0.0764,-0.0130,-0.2449,-0.0164,-0.0668,0.2617,-0.0056,-0.0355,0.1028,-0.0427,...,0.1438,0.0805,0.0584,0.2357,0.0015,0.0964,0.0376,0.1560,0.1990,0.0787
2008-07-31,-0.2462,-0.0815,0.1075,-0.2698,-0.4305,0.0100,0.1173,-0.0615,-0.1713,0.0191,...,0.1014,0.1197,0.1464,0.1627,0.0013,0.0283,0.0129,0.1014,0.2108,0.0513
2008-08-31,0.0525,0.0860,0.2816,0.0055,0.0135,0.0029,0.1602,0.0184,0.0359,0.0605,...,-0.0649,-0.1064,-0.1504,0.0475,0.0014,-0.0385,-0.0416,-0.0411,0.1108,-0.0414
2008-09-30,0.0176,-0.0060,-0.0330,0.0040,-0.1217,-0.0423,-0.0892,-0.1752,-0.1331,-0.0905,...,-0.0918,-0.0596,0.0720,-0.0005,0.0009,0.0863,0.0775,-0.0046,0.5455,0.0358
2008-10-31,-0.0625,-0.2307,-0.1114,-0.3857,-0.2864,-0.2239,-0.0687,-0.2996,-0.2916,-0.3119,...,0.2436,0.2467,0.3511,0.4579,0.0005,0.2294,0.3423,0.1759,0.7576,0.2502
2008-11-30,0.0138,-0.0653,-0.0916,-0.0947,-0.0408,0.0077,-0.0247,-0.0513,-0.0287,-0.2051,...,0.2200,0.1373,0.2282,0.2848,0.0001,0.1622,0.2101,0.3983,0.2242,0.0740
2008-12-31,0.1937,0.2363,-0.0120,0.0546,0.0643,0.1287,-0.1087,-0.0255,-0.0115,-0.1458,...,-0.0336,0.0655,0.0855,-0.4848,0.0000,-0.0077,-0.1119,0.1997,0.1197,-0.0114
2009-01-31,0.0846,0.1883,0.0303,0.2227,0.0139,-0.1235,0.0789,-0.0303,0.1061,-0.1813,...,0.1493,0.1786,0.0319,0.1759,0.0001,0.1405,-0.0649,0.3366,0.1448,-0.0734
2009-02-28,0.0272,0.1423,0.0467,0.1189,0.0400,-0.3452,0.0446,0.0595,-0.0037,0.0111,...,0.1038,0.2291,0.0790,0.1859,0.0002,0.2547,0.2150,0.3775,0.4645,0.0643

In [193]:
avg_returns=port_first_portfoloio.mean()
cov_mat=port_first_portfoloio.cov()

In [194]:
np.random.seed(42)
weights = np.random.random(size=(10**5,22))
weights /=  np.sum(weights, axis=1)[:, np.newaxis]
weights

array([[0.03781174, 0.09597947, 0.07389853, ..., 0.02940107, 0.06176968,
        0.01408262],
       [0.02949122, 0.03698325, 0.04603904, ..., 0.04998678, 0.00347143,
        0.09179346],
       [0.02372464, 0.06073926, 0.0285773 , ..., 0.03270672, 0.02575574,
        0.04975374],
       ...,
       [0.06682599, 0.0044611 , 0.0793555 , ..., 0.00982388, 0.0060689 ,
        0.04314398],
       [0.08030915, 0.07887397, 0.00759011, ..., 0.03562629, 0.00042849,
        0.06050497],
       [0.04211766, 0.07306966, 0.06545223, ..., 0.08525022, 0.02239374,
        0.0568134 ]])

In [195]:
###portfolio metrics:
portf_rtns = np.dot(weights, avg_returns)

portf_vol = []
for i in range(0, len(weights)):
    portf_vol.append(np.sqrt(np.dot(weights[i].T, 
                                    np.dot(cov_mat, weights[i]))))
portf_vol = np.array(portf_vol)  
portf_sharpe_ratio = portf_rtns / portf_vol

In [196]:
portf_results_df = pd.DataFrame({'returns': portf_rtns,
                                 'volatility': portf_vol,
                                 'sharpe_ratio': portf_sharpe_ratio})
portf_results_df

       returns  volatility  sharpe_ratio
0       0.0239      0.0334        0.7164
1       0.0224      0.0350        0.6406
2       0.0099      0.0328        0.3006
3       0.0181      0.0350        0.5154
4       0.0144      0.0399        0.3607
...        ...         ...           ...
99995   0.0143      0.0307        0.4658
99996   0.0246      0.0349        0.7036
99997   0.0080      0.0275        0.2910
99998   0.0152      0.0340        0.4458
99999   0.0240      0.0288        0.8321

[100000 rows x 3 columns]

In [197]:
max_sharpe_ind = np.argmax(portf_results_df.sharpe_ratio)
max_sharpe_portf = portf_results_df.loc[max_sharpe_ind]

min_vol_ind = np.argmin(portf_results_df.volatility)
min_vol_portf = portf_results_df.loc[min_vol_ind]

In [198]:
RISKY_ASSETS=port_first_portfoloio.columns
RISKY_ASSETS

Index(['MNST', 'NFLX', 'REGN', 'HFC', 'NVDA', 'ABMD', 'ALXN', 'AAPL', 'CTSH',
       'ISRG', 'JPY=X', 'GPS', 'WY', 'NWL', 'IPG', 'F', 'UA', 'GE', 'XRX', 'C',
       'AIG', 'ITW'],
      dtype='object')

In [199]:
print('Maximum Sharpe Ratio portfolio ----')
print('Performance')
for index, value in max_sharpe_portf.items():
    print(f'{index}: {100 * value:.2f}% ', end="", flush=True)
print('\nWeights')
for x, y in zip(RISKY_ASSETS, weights[np.argmax(portf_results_df.sharpe_ratio)]):
    print(f'{x}: {100*y:.2f}% ', end="", flush=True)

Maximum Sharpe Ratio portfolio ----
Performance
returns: 4.63% volatility: 3.27% sharpe_ratio: 141.32%
Weights
MNST: 1.38% NFLX: 10.14% REGN: 9.14% HFC: 1.24% NVDA: 2.76% ABMD: 7.79% ALXN: 9.69% AAPL: 0.80% CTSH: 0.40% ISRG: 5.27% JPY=X: 3.73% GPS: 1.21% WY: 7.63% NWL: 3.18% IPG: 5.28% F: 1.36% UA: 0.52% GE: 2.66% XRX: 4.66% C: 9.44% AIG: 9.72% ITW: 2.02%

In [200]:
print('Minimum Volatility portfolio ----')
print('Performance')
for index, value in min_vol_portf.items():
    print(f'{index}: {100 * value:.2f}% ', end="", flush=True)
print('\nWeights')
for x, y in zip(RISKY_ASSETS, weights[np.argmin(portf_results_df.volatility)]):
    print(f'{x}: {100*y:.2f}% ', end="", flush=True)

Minimum Volatility portfolio ----
Performance
returns: 1.98% volatility: 2.03% sharpe_ratio: 97.55%
Weights
MNST: 0.04% NFLX: 5.76% REGN: 7.86% HFC: 1.80% NVDA: 0.08% ABMD: 9.18% ALXN: 5.63% AAPL: 2.67% CTSH: 4.01% ISRG: 7.03% JPY=X: 9.85% GPS: 9.07% WY: 6.14% NWL: 1.97% IPG: 6.01% F: 0.55% UA: 7.37% GE: 3.21% XRX: 1.60% C: 2.14% AIG: 3.29% ITW: 4.75%

## Fama-French three-factor model

In [201]:
factor_df = pd.read_csv('F-F_Research_Data_Factors.csv', skiprows=3)

STR_TO_MATCH = ' Annual Factors: January-December '
indices = factor_df.iloc[:, 0] == STR_TO_MATCH
start_of_annual = factor_df[indices].index[0]

factor_df = factor_df[factor_df.index < start_of_annual]

In [202]:
factor_df.set_index('Unnamed: 0',inplace=True)

factor_df.index=pd.to_datetime(factor_df.index,format='%Y%m')
factor_df.index

DatetimeIndex(['1926-07-01', '1926-08-01', '1926-09-01', '1926-10-01',
               '1926-11-01', '1926-12-01', '1927-01-01', '1927-02-01',
               '1927-03-01', '1927-04-01',
               ...
               '2019-02-01', '2019-03-01', '2019-04-01', '2019-05-01',
               '2019-06-01', '2019-07-01', '2019-08-01', '2019-09-01',
               '2019-10-01', '2019-11-01'],
              dtype='datetime64[ns]', name='Unnamed: 0', length=1121, freq=None)

In [203]:
factor_df.columns=['mkt','smb','hml','rf']
factor_df.index.rename('Date',inplace=True)
factor_df.head()

                 mkt       smb       hml        rf
Date
1926-07-01      2.96     -2.30     -2.87      0.22
1926-08-01      2.64     -1.40      4.19      0.25
1926-09-01      0.36     -1.32      0.01      0.23
1926-10-01     -3.24      0.04      0.51      0.32
1926-11-01      2.53     -0.20     -0.35      0.31

In [204]:
factor_df=factor_df['1999-03-01':'2018-12-1']
factor_df

                 mkt       smb       hml        rf
Date
1999-03-01      3.45     -3.93     -2.65      0.43
1999-04-01      4.33      4.00      2.53      0.37
1999-05-01     -2.46      3.42      2.40      0.34
1999-06-01      4.77      3.05     -3.60      0.40
1999-07-01     -3.49      2.67     -0.76      0.38
...              ...       ...       ...       ...
2018-08-01      3.44      1.15     -4.08      0.16
2018-09-01      0.06     -2.37     -1.30      0.15
2018-10-01     -7.68     -4.76      3.44      0.19
2018-11-01      1.69     -0.79      0.25      0.18
2018-12-01     -9.55     -2.63     -1.47      0.19

[238 rows x 4 columns]

In [205]:
factor_df.index=factor_df.index+pd.offsets.MonthEnd(0)

factor_df=factor_df[:'2018-11-30']

In [206]:
factor_df['rf']=rf.mul(100)
factor_df.head()

<ipython-input-206-ac048861ddeb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  factor_df['rf']=rf.mul(100)

                 mkt       smb       hml     rf
Date
1999-03-31      3.45     -3.93     -2.65 0.3563
1999-04-30      4.33      4.00      2.53 0.3497
1999-05-31     -2.46      3.42      2.40 0.3668
1999-06-30      4.77      3.05     -3.60 0.3723
1999-07-31     -3.49      2.67     -0.76 0.3713

In [207]:
factor_df=factor_df.apply(pd.to_numeric, errors='coerce').div(100)
factor_df.head()

               mkt     smb     hml     rf
Date
1999-03-31  0.0345 -0.0393 -0.0265 0.0036
1999-04-30  0.0433  0.0400  0.0253 0.0035
1999-05-31 -0.0246  0.0342  0.0240 0.0037
1999-06-30  0.0477  0.0305 -0.0360 0.0037
1999-07-31 -0.0349  0.0267 -0.0076 0.0037

In [208]:
excess_rt=df_monthrt.apply(lambda x: x-factor_df.rf)
excess_rt

,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,AES,...,WYNN,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
1999-03-31,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,...,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036
1999-04-30,0.1012,0.0810,-0.0035,0.1158,-0.0035,-0.0511,0.0379,0.0338,-0.0035,0.2432,...,-0.0035,0.0281,0.0711,0.1594,-0.0035,-0.0151,0.2167,-0.0035,0.0271,-0.0035
1999-05-31,0.1630,-0.0673,-0.0037,0.1446,-0.0037,0.0579,0.2237,0.1626,-0.0037,0.1004,...,-0.0037,0.0612,0.0269,-0.0133,-0.0037,-0.1431,0.1116,-0.0037,-0.0784,-0.0037
1999-06-30,-0.0164,-0.0666,-0.0037,-0.0983,-0.0037,0.0790,0.0566,-0.0465,-0.0037,0.0381,...,-0.0037,0.0033,-0.0197,0.0862,-0.0037,-0.1383,0.0623,-0.0037,-0.0740,-0.0037
1999-07-31,-0.0006,-0.0263,-0.0037,0.0288,-0.0037,0.0638,0.1301,-0.0519,-0.0037,0.0790,...,-0.0037,-0.0596,-0.0507,0.1864,-0.0037,-0.0307,0.1961,-0.0037,0.0341,-0.0037
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-07-31,0.0025,0.0179,-0.0284,-0.0368,0.0244,0.0341,0.0128,0.0706,0.0385,0.0047,...,-0.0717,0.0543,-0.0574,0.0016,-0.0191,-0.0347,-0.0424,0.0251,-0.0530,-0.0088
2018-08-31,0.0211,0.0291,0.0326,-0.0766,-0.0120,-0.0862,0.0088,0.2551,0.1052,0.0611,...,-0.0879,0.0313,0.0704,0.0668,0.1016,0.0584,0.1036,0.0750,0.0164,0.0617
2018-09-30,0.0306,0.0540,-0.0299,0.0607,0.0455,0.0977,0.0403,0.4629,0.0818,-0.0192,...,-0.0947,0.0101,0.0234,0.0647,0.0570,0.0645,0.0713,0.0265,-0.0229,-0.0159
2018-10-31,-0.0533,0.0124,-0.0520,-0.0575,-0.0537,-0.0555,-0.0553,-0.2003,-0.0187,0.0859,...,-0.1619,0.0126,-0.0225,-0.0056,-0.1050,0.0010,-0.0631,-0.0310,-0.0718,0.0124
2018-11-30,-0.0005,0.0169,-0.0123,-0.0922,-0.0017,-0.2552,-0.0557,-0.1766,0.0545,0.0485,...,-0.0488,0.0413,0.0178,0.1216,-0.0271,0.0002,0.0645,-0.0748,0.0008,0.0145

In [209]:
three_factor_alphas={}

for i in excess_rt.columns.unique(): 
    x=factor_df[['mkt','smb','hml']]
    y=excess_rt[i]

    ff_model=linear_model.LinearRegression().fit(x,y)

    three_factor_alphas[i]=ff_model.intercept_

three_factor_alphas

{'MMM': 0.006480541940466955,
 'ABT': 0.008115514678460486,
 'ABBV': 0.003278308691510686,
 'ABMD': 0.021941718488711466,
 'ACN': 0.008228543304567444,
 'ATVI': 0.017099846236056343,
 'ADBE': 0.012581605376768492,
 'AMD': 0.0072971034238458275,
 'AAP': 0.008632678665407841,
 'AES': 0.0007403276796111588,
 'AFL': 0.004400430885630684,
 'A': 0.0012907745983418116,
 'APD': 0.005924498143330974,
 'AKAM': 0.002126479103769058,
 'ALK': 0.007700268149030601,
 'ALB': 0.009075991733810634,
 'ARE': 0.007036148673522641,
 'ALXN': 0.020006422053293088,
 'ALGN': 0.012964457107543565,
 'ALLE': 0.001692745092607839,
 'LNT': 0.006966681267327289,
 'ALL': 0.0022943978218786087,
 'GOOGL': 0.011523435910352651,
 'GOOG': 0.011471934051186542,
 'MO': 0.011809042902455021,
 'AMZN': 0.014325645377499157,
 'AMCR': 0.00018492889673007046,
 'AEE': 0.005240935702059651,
 'AAL': 0.006551156204789139,
 'AEP': 0.004975544466817616,
 'AXP': 0.0011954747352284027,
 'AIG': -0.012212182602613498,
 'AMT': 0.010450788511973536,
 'AWK': 0.006183562751626156,
 'AMP': 0.0029448072533352684,
 'ABC': 0.010696723804764531,
 'AME': 0.012451961221978974,
 'AMGN': 0.006642769112210486,
 'APH': 0.013156715948608204,
 'ADI': 0.0051518895479156805,
 'ANSS': 0.015924525229480666,
 'ANTM': 0.009644913900802646,
 'AON': 0.005408296062967102,
 'AOS': 0.017137376659063085,
 'APA': 0.0048369252716469885,
 'AIV': 0.001827194298881429,
 'AAPL': 0.021787597584930155,
 'AMAT': 0.00011784608766971481,
 'APTV': 0.004893003651539552,
 'ADM': 0.006330513343095188,
 'ANET': 0.004749602326631889,
 'AJG': 0.00923054817976273,
 'AIZ': 0.0049319071920837865,
 'T': 0.00039623046444520194,
 'ATO': 0.007481886554808855,
 'ADSK': 0.008743618754594045,
 'ADP': 0.005202877168981506,
 'AZO': 0.012050745685462367,
 'AVB': 0.007259278539522345,
 'AVY': 0.0009326595231044224,
 'BKR': 0.000498883824341198,
 'BLL': 0.015554185812087055,
 'BAC': -0.0029793907022158716,
 'BK': -0.0010145077131006167,
 'BAX': 0.0069877575347156275,
 'BDX': 0.0068867163798527935,
 'BBY': 0.005165219556875698,
 'BIO': 0.00999314408204505,
 'BIIB': 0.015982076064034845,
 'BLK': 0.012435454383620446,
 'BA': 0.00923411608406697,
 'BKNG': 0.011757010196359977,
 'BWA': 0.0076837597819175985,
 'BXP': 0.005797619854046111,
 'BSX': 0.002091777328718742,
 'BMY': 0.0011980522925037949,
 'AVGO': 0.01075416939184833,
 'BR': 0.006095417007997205,
 'CHRW': 0.010070053038265084,
 'COG': 0.01548320485883941,
 'CDNS': 0.0012029610250543056,
 'CPB': 0.0015916066674651155,
 'COF': -0.0008568875207962331,
 'CAH': 0.0021912345319321114,
 'KMX': 0.013386182599667649,
 'CCL': -0.0010384812155196299,
 'CTLT': 0.0014968233978881866,
 'CAT': 0.006071495195529517,
 'CBOE': 0.004473584871113533,
 'CBRE': 0.004879306259425769,
 'CDW': 0.005441814704503208,
 'CE': 0.005240729413552544,
 'CNC': 0.01499326724316662,
 'CNP': 0.004526529653170992,
 'CERN': 0.013192080519721178,
 'CF': 0.013567020494460832,
 'SCHW': -0.0015218322800995415,
 'CHTR': 0.008485928087261358,
 'CVX': 0.005431106325927865,
 'CMG': 0.008630040617921886,
 'CB': 0.007160618295541677,
 'CHD': 0.015387320540384256,
 'CI': 0.008007211440432118,
 'CINF': 0.003843780764482933,
 'CTAS': 0.004169174204934978,
 'CSCO': 0.00041712021421306134,
 'C': -0.010797035027393223,
 'CFG': 0.0004194416948524864,
 'CTXS': 0.00866580634409939,
 'CLX': 0.005578139979154936,
 'CME': 0.012642921043142265,
 'CMS': 0.003199851561800841,
 'KO': 0.0038089123865793547,
 'CTSH': 0.019871860212735376,
 'CL': 0.005792387430155648,
 'CMCSA': 0.002996017042348948,
 'CMA': -0.0012044409165014149,
 'CAG': 0.0049203428338803435,
 'CXO': 0.009322003800583496,
 'COP': 0.00717255457885211,
 'ED': 0.005258420341729059,
 'STZ': 0.013404686764188132,
 'COO': 0.014345596762146452,
 'CPRT': 0.012042075448355652,
 'GLW': 0.0033294283616651828,
 'COST': 0.005714436010285302,
 'CCI': 0.007738105468683599,
 'CSX': 0.008686055485360538,
 'CMI': 0.012850585819634918,
 'CVS': 0.004688405424597367,
 'DHI': 0.007157803953109327,
 'DHR': 0.009254976546982695,
 'DRI': 0.009860395678200295,
 'DVA': 0.011761008363256071,
 'DE': 0.008809283600355093,
 'DAL': 0.0037118020300241383,
 'XRAY': 0.0042363762410469194,
 'DVN': 0.002702238916867598,
 'DXCM': 0.012600095517007536,
 'FANG': 0.006591664453022628,
 'DLR': 0.009720102297487487,
 'DFS': 0.00024902947500250565,
 'DISCA': 0.003975614023935014,
 'DISCK': 0.003399252710851762,
 'DISH': 0.005703322846163332,
 'DG': 0.005829152286376389,
 'DLTR': 0.009381597873116572,
 'D': 0.009481669766047938,
 'DPZ': 0.014798350126393111,
 'DOV': 0.004485093777229343,
 'DTE': 0.006420265324818862,
 'DUK': 0.0035271297087973922,
 'DRE': 0.0027165040912153814,
 'DD': 0.0008541476085474949,
 'DXC': 0.004189281934228415,
 'EMN': 0.006706357098581743,
 'ETN': 0.008439296732982965,
 'EBAY': 0.003710351445392881,
 'ECL': 0.007710692644868292,
 'EIX': 0.0055794334698200864,
 'EW': 0.015698668132392863,
 'EA': 0.006770549037542909,
 'EMR': 0.0030047375734898723,
 'ETR': 0.006410969098573567,
 'EOG': 0.013601079543029863,
 'EFX': 0.005117053118171248,
 'EQIX': 0.005041550368584701,
 'EQR': 0.005830485973786386,
 'ESS': 0.009389161163627487,
 'EL': 0.005743625768242701,
 'ETSY': 0.0029373856508657743,
 'EVRG': 0.005446431326654298,
 'ES': 0.007378025982598684,
 'RE': 0.006952733776497982,
 'EXC': 0.0042442156825126896,
 'EXPE': 0.004633760992658694,
 'EXPD': 0.008789220240878158,
 'EXR': 0.008139388332056286,
 'XOM': 0.003557597184615778,
 'FFIV': 0.017565061252879797,
 'FB': 0.006063860784146116,
 'FAST': 0.009644873221261539,
 'FRT': 0.008205883085432651,
 'FDX': 0.003163880123708913,
 'FIS': 0.00659406571436886,
 'FITB': -0.0035032877182671644,
 'FE': 0.004520755538193228,
 'FRC': 0.0041509328106100335,
 'FISV': 0.007864055604176612,
 'FLT': 0.006506289799664523,
 'FLIR': 0.014772600408899893,
 'FLS': 0.007796349527674677,
 'FMC': 0.00875892300100075,
 'F': -0.007006955762789208,
 'FTNT': 0.00878905553840222,
 'FTV': 0.00020210881934464898,
 'FBHS': 0.0037589173918949293,
 'BEN': 0.0024325415683409245,
 'FCX': 0.004240776233451719,
 'GPS': -0.0038272614437914083,
 'GRMN': 0.00741466299068681,
 'IT': 0.005974629183730753,
 'GD': 0.0066543203110217865,
 'GE': -0.007355142702063285,
 'GIS': 0.005031006320233755,
 'GM': -0.0011047472175194088,
 'GPC': 0.004946130875552805,
 'GILD': 0.016685938675483715,
 'GL': 0.004902497787719481,
 'GPN': 0.0114810355197791,
 'GS': 0.0017550613702923467,
 'GWW': 0.007089442698870676,
 'HAL': 0.00237798788081299,
 'HBI': 0.0025262246095813018,
 'HIG': -0.001255964384303052,
 'HAS': 0.0037035095198916738,
 'HCA': 0.006155688320626911,
 'PEAK': 0.006262107220141197,
 'HSIC': 0.009598152480691942,
 'HSY': 0.006137882589637654,
 'HES': 0.005549354456291359,
 'HPE': 0.0010019498096300954,
 'HLT': 0.00046961181787858255,
 'HFC': 0.02158217861208106,
 'HOLX': 0.011485277494619545,
 'HD': 0.0035603055807398084,
 'HON': 0.003862045608322443,
 'HRL': 0.009761110961384569,
 'HST': -0.0002751310015979228,
 'HPQ': 0.0007606157262187822,
 'HUM': 0.013441057989164229,
 'HBAN': -0.0026390475041170227,
 'HII': 0.006127212656683493,
 'IEX': 0.008305067827577173,
 'IDXX': 0.012835770607327405,
 'INFO': 0.001401998292154468,
 'ITW': 0.004779916361234567,
 'ILMN': 0.015970835637246508,
 'INCY': 0.01352309956946235,
 'IR': -0.0005152719751836932,
 'INTC': 0.0009501352267993167,
 'ICE': 0.009179422504184893,
 'IBM': -7.294467921142508e-05,
 'IP': -0.0007644078526650002,
 'IPG': -0.005457877850583241,
 'IFF': 0.004773340757634483,
 'INTU': 0.010222022299576722,
 'ISRG': 0.01972673009520552,
 'IVZ': -0.0020439089947998108,
 'IPGP': 0.00561231136717192,
 'IQV': 0.0028963281735903327,
 'IRM': 0.006385096986018371,
 'JKHY': 0.009959859895296679,
 'J': 0.005536227281930393,
 'JBHT': 0.010707793114479884,
 'SJM': 0.007414569087574825,
 'JNJ': 0.004928791788699831,
 'JCI': -0.0011743874384100832,
 'JPM': 0.00036178570379870583,
 'JNPR': 0.002311299846136289,
 'KSU': 0.004505851871450703,
 'K': 0.004034991985019751,
 'KEY': -0.0027375347873019196,
 'KEYS': 0.001354323854848045,
 'KMB': 0.004875012016627621,
 'KIM': 0.002441718684506827,
 'KMI': -0.002803723660133611,
 'KLAC': 0.0033514944718514425,
 'KHC': -0.002464610319974361,
 'KR': 0.0034018167636194535,
 'LB': 0.005200757036550462,
 'LHX': 0.011153706179286148,
 'LH': 0.013706819049869867,
 'LRCX': 0.008024267883487875,
 'LW': 0.002817520086063371,
 'LVS': 0.002167935371598541,
 'LEG': 0.0020300677071679743,
 'LDOS': 0.0022107271626720763,
 'LEN': 0.003541348977686508,
 'LLY': 0.00281559322760613,
 'LNC': 0.0002911928445646257,
 'LIN': 0.008552949906010378,
 'LYV': 0.005413021899536026,
 'LKQ': 0.00918431145978878,
 'LMT': 0.009559960917936695,
 'L': 0.0031587189922946115,
 'LOW': 0.005254064040874332,
 'LYB': 0.0059654349020377,
 'MTB': 0.002887995783785271,
 'MRO': 0.0030712030256969426,
 'MPC': 0.00445099089186805,
 'MKTX': 0.009455098384992889,
 'MAR': 0.004817585860384335,
 'MMC': 0.0030323683978592166,
 'MLM': 0.0027230260194635696,
 'MAS': -0.0016886407809493433,
 'MA': 0.015320033759732734,
 'MKC': 0.010242203876815311,
 'MXIM': 0.0014571160382300602,
 'MCD': 0.006474256570816048,
 'MCK': 0.003075882582822917,
 'MDT': 0.0029320153786651384,
 'MRK': 0.0024008005601908276,
 'MET': 0.0015379371294073664,
 'MTD': 0.010245467526700542,
 'MGM': 0.004263631480332868,
 'MCHP': 0.006776264855090621,
 'MU': 0.004468023630500719,
 'MSFT': 0.0031426934930193495,
 'MAA': 0.007768164512111841,
 'MHK': 0.0018116412565587154,
 'TAP': 0.004802111957995201,
 'MDLZ': 0.003415304053002571,
 'MNST': 0.030444691828215294,
 'MCO': 0.008314116547618659,
 'MS': -0.00153641067234784,
 'MOS': 0.004419801218896204,
 'MSI': -0.0007888682930165414,
 'MSCI': 0.004924349238182209,
 'MYL': 0.004411011114177443,
 'NDAQ': 0.007551401812006736,
 'NOV': 0.007463302281265487,
 'NTAP': 0.007724000479456556,
 'NFLX': 0.027345874384994452,
 'NWL': -0.0036976611370572766,
 'NEM': 0.004377895138339514,
 'NWSA': -0.0017612928838800475,
 'NWS': -0.0016860586467239785,
 'NEE': 0.009821438622236132,
 'NLSN': -0.00025910564145693903,
 'NKE': 0.014146636460872383,
 'NI': 0.004752852606432871,
 'NSC': 0.0072487817849469505,
 'NTRS': 0.0007977814852871057,
 'NOC': 0.01087986290477964,
 'NLOK': 0.009746706302249445,
 'NCLH': 0.00165384802688883,
 'NRG': 0.005777761228280204,
 'NUE': 0.005903255682177625,
 'NVDA': 0.02179844103474843,
 'NVR': 0.014040611664583084,
 'ORLY': 0.013339965841970673,
 'OXY': 0.009089817124438276,
 'ODFL': 0.016215928006508652,
 'OMC': 0.00022319730720607618,
 'OKE': 0.011653886417376358,
 'ORCL': 0.007620358321769004,
 'PCAR': 0.0068656409007029915,
 'PKG': 0.0077777695105985,
 'PH': 0.006343884497801516,
 'PAYX': 0.004070899169139415,
 'PAYC': 0.008527593121195496,
 'PYPL': 0.002040135674352151,
 'PNR': 0.003973858140768009,
 'PBCT': 0.004735707467897365,
 'PEP': 0.0044557575018631,
 'PKI': 0.006645616070785653,
 'PRGO': 0.008026616983787859,
 'PFE': 0.0007312616509552708,
 'PM': 0.0021872882045017115,
 'PSX': 0.0032608488899449417,
 'PNW': 0.005718497673636509,
 'PXD': 0.011818450897649466,
 'PNC': 0.0019745986682462562,
 'POOL': 0.013825445940259863,
 'PPG': 0.0043317013875248285,
 'PPL': 0.006696032887266666,
 'PFG': 0.0014501957212893065,
 'PG': 0.0034406535806156954,
 'PGR': 0.006722648226181391,
 'PLD': 0.0041435262940591935,
 'PRU': 0.0021329022199214316,
 'PEG': 0.006784103310189443,
 'PSA': 0.008991010732958413,
 'PHM': 0.004891695664830803,
 'PVH': 0.008660042355479586,
 'QRVO': -0.0011738342111042733,
 'PWR': 0.00438564619788104,
 'QCOM': 0.008985266452664696,
 'DGX': 0.01125700686533838,
 'RL': 0.004647744647223531,
 'RJF': 0.006199635196399358,
 'RTX': 0.003951683745800686,
 'O': 0.00959137994018918,
 'REG': 0.005937412121818356,
 'REGN': 0.021749713555739826,
 'RF': -0.003808440942885414,
 'RSG': 0.007944409618611075,
 'RMD': 0.013197010999722644,
 'RHI': 0.0022507788967342374,
 'ROK': 0.0071947027604711,
 'ROL': 0.013086096239614965,
 'ROP': 0.010685396247628775,
 'ROST': 0.014208253860774187,
 'RCL': 0.002114747766107648,
 'SPGI': 0.006683365041585602,
 'CRM': 0.012338449151786796,
 'SBAC': 0.017258669923664267,
 'SLB': 0.0013206600316048316,
 'STX': 0.006282561427902261,
 'SEE': 0.001959692838879031,
 'SRE': 0.008141598797871474,
 'NOW': 0.0073039750690753955,
 'SHW': 0.009374148682352881,
 'SPG': 0.008814107975491448,
 'SWKS': 0.010325019017114545,
 'SLG': 0.005535534974318591,
 'SNA': 0.005174558534311627,
 'SO': 0.007546279550453448,
 'LUV': 0.0030873759587653204,
 'SWK': 0.005152134223337534,
 'SBUX': 0.009845058486243456,
 'STT': -0.0009519008290550532,
 'STE': 0.006589662141157364,
 'SYK': 0.009540420327169183,
 'SIVB': 0.00988721761462338,
 'SYF': -0.0008758404337838175,
 'SNPS': 0.0030529307516675205,
 'SYY': 0.006506198803298055,
 'TMUS': 0.0009679423471814709,
 'TROW': 0.004228825602231586,
 'TTWO': 0.012215390584699445,
 'TPR': 0.0095677324943783,
 'TGT': 0.0018542650965795377,
 'TEL': 0.00033459207850457424,
 'FTI': 0.005778201574979153,
 'TDY': 0.011641064939785693,
 'TFX': 0.00799668109515202,
 'TER': -0.0012366517379469285,
 'TXN': 0.0034150072429429915,
 'TXT': -0.0013191734858181694,
 'TMO': 0.01039264950025536,
 'TIF': 0.005368172655736112,
 'TJX': 0.011499264791844505,
 'TSCO': 0.0151397928116742,
 'TT': 0.004947723046235568,
 'TDG': 0.013063435382014668,
 'TRV': 0.0061864787426529465,
 'TFC': 0.0002661029026310227,
 'TWTR': -0.0006958319801934823,
 'TYL': 0.017008809961970885,
 'TSN': 0.004515514330191345,
 'UDR': 0.007038728291750993,
 'ULTA': 0.007394120825031989,
 'USB': 0.0010846652393649162,
 'UAA': 0.00736220192098284,
 'UA': -0.005854147756807559,
 'UNP': 0.008955143203455578,
 'UAL': 0.0067878189492579285,
 'UNH': 0.015448498838134305,
 'UPS': 0.0005422710650511168,
 'URI': 0.0034990273967997684,
 'UHS': 0.009740529624199605,
 'UNM': -0.002492428894486681,
 'VFC': 0.00749061790075389,
 'VLO': 0.011961018809342985,
 'VAR': 0.011376294424952306,
 'VTR': 0.012471661067971821,
 'VRSN': 0.008194118368560623,
 'VRSK': 0.004788712108141221,
 'VZ': 0.0029685663365601727,
 'VRTX': 0.015300811356340371,
 'V': 0.00770247294648129,
 'VNO': 0.00416267451598011,
 'VMC': 0.0010178691663176925,
 'WRB': 0.011493109496293742,
 'WAB': 0.005954052378402353,
 'WMT': 0.0030819115766119107,
 'WBA': 0.0037639004708645827,
 'DIS': 0.0024405823742785094,
 'WM': 0.0028084840061928487,
 'WAT': 0.006685832166418345,
 'WEC': 0.008466901689618594,
 'WFC': 0.002817723512863632,
 'WELL': 0.008255105982464431,
 'WST': 0.008935901076609918,
 'WDC': 0.010791019590584768,
 'WU': -0.0024597830613001604,
 'WRK': -0.002127339241687387,
 'WY': -0.00463114460028876,
 'WHR': 0.0011560770392548764,
 'WMB': 0.0018163860810388073,
 'WLTW': 0.004762183552419852,
 'WYNN': 0.00892108611897529,
 'XEL': 0.005390205155194082,
 'XRX': -0.006951750344438264,
 'XLNX': 0.004273165672887085,
 'XYL': 0.002911617363362318,
 'YUM': 0.007648732790432834,
 'ZBRA': 0.008734466804012292,
 'ZBH': 0.003703561387670586,
 'ZION': -0.0034534075607308423,
 'ZTS': 0.0033741532958428896}

In [210]:
data2={}
tker=[]
tf_alphas=[]
for i in excess_rt.columns.unique(): 
    x=factor_df[['mkt','smb','hml']]
    y=excess_rt[i]

    ff_model=linear_model.LinearRegression().fit(x,y)

    tker.append(i)
    tf_alphas.append(ff_model.intercept_)
    
data2['Tickers']=tker
data2['Alphas']=tf_alphas

three_factor_df=pd.DataFrame(data2)
three_factor_df

    Tickers  Alphas
0       MMM  0.0065
1       ABT  0.0081
2      ABBV  0.0033
3      ABMD  0.0219
4       ACN  0.0082
..      ...     ...
488     YUM  0.0076
489    ZBRA  0.0087
490     ZBH  0.0037
491    ZION -0.0035
492     ZTS  0.0034

[493 rows x 2 columns]

In [211]:
three_factor_sorted=three_factor_df.sort_values('Alphas',ascending=False)
three_factor_sorted

    Tickers  Alphas
313    MNST  0.0304
323    NFLX  0.0273
3      ABMD  0.0219
339    NVDA  0.0218
46     AAPL  0.0218
..      ...     ...
485     XRX -0.0070
193       F -0.0070
203      GE -0.0074
106       C -0.0108
31      AIG -0.0122

[493 rows x 2 columns]

In [212]:
three_factor_top10=three_factor_sorted[three_factor_sorted.Alphas>=three_factor_sorted.Alphas.quantile(0.98)]
three_factor_top10

    Tickers  Alphas
313    MNST  0.0304
323    NFLX  0.0273
3      ABMD  0.0219
339    NVDA  0.0218
46     AAPL  0.0218
385    REGN  0.0217
223     HFC  0.0216
17     ALXN  0.0200
113    CTSH  0.0199
247    ISRG  0.0197

In [213]:
three_factor_top50=three_factor_sorted[three_factor_sorted.Alphas>=three_factor_sorted.Alphas.quantile(0.9)]
three_factor_top50

    Tickers  Alphas
313    MNST  0.0304
323    NFLX  0.0273
3      ABMD  0.0219
339    NVDA  0.0218
46     AAPL  0.0218
385    REGN  0.0217
223     HFC  0.0216
17     ALXN  0.0200
113    CTSH  0.0199
247    ISRG  0.0197
179    FFIV  0.0176
397    SBAC  0.0173
43      AOS  0.0171
5      ATVI  0.0171
440     TYL  0.0170
207    GILD  0.0167
343    ODFL  0.0162
68     BIIB  0.0160
237    ILMN  0.0160
40     ANSS  0.0159
160      EW  0.0157
61      BLL  0.0156
79      COG  0.0155
449     UNH  0.0154
101     CHD  0.0154
296      MA  0.0153
461    VRTX  0.0153
434    TSCO  0.0151
92      CNC  0.0150
148     DPZ  0.0148
190    FLIR  0.0148
122     COO  0.0143
25     AMZN  0.0143
393    ROST  0.0142
330     NKE  0.0141
340     NVR  0.0140
364    POOL  0.0138
272      LH  0.0137
164     EOG  0.0136
95       CF  0.0136
238    INCY  0.0135
230     HUM  0.0134
121     STZ  0.0134
84      KMX  0.0134
341    ORLY  0.0133
388     RMD  0.0132
94     CERN  0.0132
38      APH  0.0132
391     ROL  0.0131
436     TDG  0.0131

In [214]:
three_factor_bottom10=three_factor_sorted[three_factor_sorted.Alphas<=three_factor_sorted.Alphas.quantile(0.02)]
three_factor_bottom10

    Tickers  Alphas
386      RF -0.0038
199     GPS -0.0038
479      WY -0.0046
244     IPG -0.0055
446      UA -0.0059
485     XRX -0.0070
193       F -0.0070
203      GE -0.0074
106       C -0.0108
31      AIG -0.0122

In [215]:
three_factor_bottom50=three_factor_sorted[three_factor_sorted.Alphas<=three_factor_sorted.Alphas.quantile(0.1)]
three_factor_bottom50

    Tickers  Alphas
344     OMC  0.0002
195     FTV  0.0002
26     AMCR  0.0002
47     AMAT  0.0001
242     IBM -0.0001
329    NLSN -0.0003
228     HST -0.0003
239      IR -0.0005
439    TWTR -0.0007
243      IP -0.0008
317     MSI -0.0008
82      COF -0.0009
416     SYF -0.0009
412     STT -0.0010
63       BK -0.0010
85      CCL -0.0010
205      GM -0.0011
376    QRVO -0.0012
257     JCI -0.0012
116     CMA -0.0012
428     TER -0.0012
214     HIG -0.0013
430     TXT -0.0013
96     SCHW -0.0015
315      MS -0.0015
327     NWS -0.0017
295     MAS -0.0017
326    NWSA -0.0018
248     IVZ -0.0020
478     WRK -0.0021
477      WU -0.0025
268     KHC -0.0025
453     UNM -0.0025
231    HBAN -0.0026
262     KEY -0.0027
266     KMI -0.0028
62      BAC -0.0030
491    ZION -0.0035
185    FITB -0.0035
324     NWL -0.0037
386      RF -0.0038
199     GPS -0.0038
479      WY -0.0046
244     IPG -0.0055
446      UA -0.0059
485     XRX -0.0070
193       F -0.0070
203      GE -0.0074
106       C -0.0108
31      AIG -0.0122

### Sort Three factor portfolio alpha, buy top 10 and short bottom 10

In [216]:
three_factor_top10['Tickers'].values

array(['MNST', 'NFLX', 'ABMD', 'NVDA', 'AAPL', 'REGN', 'HFC', 'ALXN',
       'CTSH', 'ISRG'], dtype=object)

In [217]:
three_factor_bottom10['Tickers'].values

array(['RF', 'GPS', 'WY', 'IPG', 'UA', 'XRX', 'F', 'GE', 'C', 'AIG'],
      dtype=object)

In [218]:
three_factor_port_top10=df_excessrt[three_factor_top10['Tickers'].values]

In [219]:
three_factor_port_bottom10=df_excessrt[three_factor_bottom10['Tickers'].values]

In [220]:
three_factor_port_bottom10 = three_factor_port_bottom10*-1

In [221]:
three_factor_first_portfoloio = pd.concat([three_factor_port_top10,three_factor_port_bottom10],axis=1)
three_factor_first_portfoloio

,MNST,NFLX,ABMD,NVDA,AAPL,REGN,HFC,ALXN,CTSH,ISRG,RF,GPS,WY,IPG,UA,XRX,F,GE,C,AIG
Date,,,,,,,,,,,,,,,,,,,,
1999-03-31,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036
1999-04-30,0.1587,-0.0035,0.1158,-0.0993,0.0527,-0.0507,0.0063,0.1549,-0.1728,-0.0035,-0.0457,-0.0260,-0.1487,0.0368,0.0035,-0.0711,-0.1002,-0.0105,-0.1329,-0.0302
1999-05-31,0.1309,-0.0037,0.1446,-0.0688,0.1777,0.0581,0.0163,0.1164,0.0565,-0.0037,-0.0441,0.0932,-0.0621,-0.0160,0.0037,-0.0269,0.0274,0.0572,0.0451,0.0696
1999-06-30,-0.0651,-0.0037,-0.0983,-0.0347,0.0240,0.0362,-0.0495,-0.1059,0.0028,-0.0037,0.0061,-0.0655,0.0012,-0.0525,0.0037,0.0197,0.0978,0.0137,0.0450,-0.0116
1999-07-31,0.0905,-0.0037,0.0288,0.1713,0.1382,0.2070,0.1407,-0.0077,0.0527,-0.0037,0.0188,-0.0836,0.0454,-0.0495,0.0037,0.0507,0.0125,-0.0973,-0.0742,-0.0062
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-07-31,0.0889,-0.0084,-0.0368,-0.0320,0.0074,0.1402,-0.0408,0.0965,0.0431,0.0524,0.0384,0.0534,0.0361,0.0336,0.0559,0.0574,0.0860,-0.0025,-0.0307,-0.0010
2018-08-31,0.0055,-0.0941,-0.0766,0.0473,0.1221,0.0409,0.0027,-0.0967,-0.0632,0.0347,-0.0738,-0.0202,0.0301,0.0040,0.0563,-0.0704,0.0819,0.0616,-0.0321,0.0224
2018-09-30,-0.0230,0.0456,0.0607,0.0412,0.0402,0.0298,-0.0044,0.0228,-0.0019,0.0483,-0.0010,0.0856,0.0244,-0.0170,0.0276,-0.0234,0.0338,0.0331,-0.0056,-0.0091
2018-10-31,-0.0972,-0.0768,-0.0575,-0.1191,-0.0074,-0.0451,-0.0615,0.0067,-0.0491,-0.0641,0.1003,0.0420,0.1423,-0.0073,0.0480,0.0225,0.0531,0.0004,0.0437,0.1006
2018-11-30,0.0433,-0.1364,-0.0922,-0.2469,-0.1337,-0.0709,-0.0491,-0.0308,-0.0457,-0.0235,0.0392,0.0085,0.0676,-0.0259,-0.1710,-0.0178,-0.0592,0.3222,0.0501,0.1002

In [222]:
avg_returns=three_factor_first_portfoloio.mean()
cov_mat=three_factor_first_portfoloio.cov()

In [223]:
np.random.seed(42)
weights = np.random.random(size=(10**5,20))
weights /=  np.sum(weights, axis=1)[:, np.newaxis]
weights

array([[0.04091526, 0.10385728, 0.07996398, ..., 0.05732508, 0.04718624,
        0.03181425],
       [0.06726187, 0.01533476, 0.03211588, ..., 0.01073724, 0.07521872,
        0.04838659],
       [0.01245362, 0.05053124, 0.00350924, ..., 0.01999943, 0.0046153 ,
        0.03319893],
       ...,
       [0.04967842, 0.04181172, 0.05190261, ..., 0.01348652, 0.01234176,
        0.07783566],
       [0.0567995 , 0.02595997, 0.02513236, ..., 0.07208931, 0.01719708,
        0.05332819],
       [0.00598651, 0.06235709, 0.09087888, ..., 0.06491787, 0.03218369,
        0.06572618]])

In [224]:
###portfolio metrics:
portf_rtns = np.dot(weights, avg_returns)

portf_vol = []
for i in range(0, len(weights)):
    portf_vol.append(np.sqrt(np.dot(weights[i].T, 
                                    np.dot(cov_mat, weights[i]))))
portf_vol = np.array(portf_vol)  
portf_sharpe_ratio = portf_rtns / portf_vol

In [225]:
portf_results_df = pd.DataFrame({'returns': portf_rtns,
                                 'volatility': portf_vol,
                                 'sharpe_ratio': portf_sharpe_ratio})
portf_results_df

       returns  volatility  sharpe_ratio
0       0.0154      0.0354        0.4343
1       0.0127      0.0336        0.3776
2       0.0112      0.0335        0.3340
3       0.0136      0.0374        0.3638
4       0.0146      0.0290        0.5041
...        ...         ...           ...
99995   0.0161      0.0340        0.4737
99996   0.0139      0.0341        0.4085
99997   0.0166      0.0331        0.5003
99998   0.0129      0.0347        0.3711
99999   0.0120      0.0358        0.3347

[100000 rows x 3 columns]

In [226]:
max_sharpe_ind = np.argmax(portf_results_df.sharpe_ratio)
max_sharpe_portf = portf_results_df.loc[max_sharpe_ind]

min_vol_ind = np.argmin(portf_results_df.volatility)
min_vol_portf = portf_results_df.loc[min_vol_ind]

In [227]:
RISKY_ASSETS=three_factor_first_portfoloio.columns
RISKY_ASSETS

Index(['MNST', 'NFLX', 'ABMD', 'NVDA', 'AAPL', 'REGN', 'HFC', 'ALXN', 'CTSH',
       'ISRG', 'RF', 'GPS', 'WY', 'IPG', 'UA', 'XRX', 'F', 'GE', 'C', 'AIG'],
      dtype='object')

In [228]:
print('Maximum Sharpe Ratio portfolio ----')
print('Performance')
for index, value in max_sharpe_portf.items():
    print(f'{index}: {100 * value:.2f}% ', end="", flush=True)
print('\nWeights')
for x, y in zip(RISKY_ASSETS, weights[np.argmax(portf_results_df.sharpe_ratio)]):
    print(f'{x}: {100*y:.2f}% ', end="", flush=True)

Maximum Sharpe Ratio portfolio ----
Performance
returns: 1.66% volatility: 2.88% sharpe_ratio: 57.82%
Weights
MNST: 9.80% NFLX: 6.92% ABMD: 3.69% NVDA: 4.20% AAPL: 4.68% REGN: 1.73% HFC: 8.56% ALXN: 0.02% CTSH: 9.62% ISRG: 9.57% RF: 0.54% GPS: 9.76% WY: 1.20% IPG: 1.83% UA: 9.50% XRX: 1.36% F: 0.19% GE: 7.85% C: 6.77% AIG: 2.21%

In [229]:
print('Minimum Volatility portfolio ----')
print('Performance')
for index, value in min_vol_portf.items():
    print(f'{index}: {100 * value:.2f}% ', end="", flush=True)
print('\nWeights')
for x, y in zip(RISKY_ASSETS, weights[np.argmin(portf_results_df.volatility)]):
    print(f'{x}: {100*y:.2f}% ', end="", flush=True)

Minimum Volatility portfolio ----
Performance
returns: 1.27% volatility: 2.62% sharpe_ratio: 48.40%
Weights
MNST: 2.23% NFLX: 6.47% ABMD: 2.91% NVDA: 5.73% AAPL: 3.47% REGN: 0.52% HFC: 6.09% ALXN: 1.83% CTSH: 9.65% ISRG: 6.60% RF: 1.02% GPS: 7.36% WY: 9.37% IPG: 5.10% UA: 8.66% XRX: 5.13% F: 2.20% GE: 9.88% C: 5.44% AIG: 0.32%

### Sort Three factor portfolio alpha, buy top 50 and short bottom 50### Buy top 50 and short bottom 50

In [230]:
three_factor_top50['Tickers'].values

array(['MNST', 'NFLX', 'ABMD', 'NVDA', 'AAPL', 'REGN', 'HFC', 'ALXN',
       'CTSH', 'ISRG', 'FFIV', 'SBAC', 'AOS', 'ATVI', 'TYL', 'GILD',
       'ODFL', 'BIIB', 'ILMN', 'ANSS', 'EW', 'BLL', 'COG', 'UNH', 'CHD',
       'MA', 'VRTX', 'TSCO', 'CNC', 'DPZ', 'FLIR', 'COO', 'AMZN', 'ROST',
       'NKE', 'NVR', 'POOL', 'LH', 'EOG', 'CF', 'INCY', 'HUM', 'STZ',
       'KMX', 'ORLY', 'RMD', 'CERN', 'APH', 'ROL', 'TDG'], dtype=object)

In [231]:
three_factor_bottom50['Tickers'].values

array(['OMC', 'FTV', 'AMCR', 'AMAT', 'IBM', 'NLSN', 'HST', 'IR', 'TWTR',
       'IP', 'MSI', 'COF', 'SYF', 'STT', 'BK', 'CCL', 'GM', 'QRVO', 'JCI',
       'CMA', 'TER', 'HIG', 'TXT', 'SCHW', 'MS', 'NWS', 'MAS', 'NWSA',
       'IVZ', 'WRK', 'WU', 'KHC', 'UNM', 'HBAN', 'KEY', 'KMI', 'BAC',
       'ZION', 'FITB', 'NWL', 'RF', 'GPS', 'WY', 'IPG', 'UA', 'XRX', 'F',
       'GE', 'C', 'AIG'], dtype=object)

In [232]:
three_factor_port_top50=df_excessrt[three_factor_top50['Tickers'].values]

In [233]:
three_factor_port_bottom50=df_excessrt[three_factor_bottom50['Tickers'].values]

In [234]:
three_factor_port_bottom50= three_factor_port_bottom50*-1

In [235]:
three_factor_second_portfoloio = pd.concat([three_factor_port_top50,three_factor_port_bottom50],axis=1)
three_factor_second_portfoloio

,MNST,NFLX,ABMD,NVDA,AAPL,REGN,HFC,ALXN,CTSH,ISRG,...,RF,GPS,WY,IPG,UA,XRX,F,GE,C,AIG
Date,,,,,,,,,,,,,,,,,,,,,
1999-03-31,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,...,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036
1999-04-30,0.1587,-0.0035,0.1158,-0.0993,0.0527,-0.0507,0.0063,0.1549,-0.1728,-0.0035,...,-0.0457,-0.0260,-0.1487,0.0368,0.0035,-0.0711,-0.1002,-0.0105,-0.1329,-0.0302
1999-05-31,0.1309,-0.0037,0.1446,-0.0688,0.1777,0.0581,0.0163,0.1164,0.0565,-0.0037,...,-0.0441,0.0932,-0.0621,-0.0160,0.0037,-0.0269,0.0274,0.0572,0.0451,0.0696
1999-06-30,-0.0651,-0.0037,-0.0983,-0.0347,0.0240,0.0362,-0.0495,-0.1059,0.0028,-0.0037,...,0.0061,-0.0655,0.0012,-0.0525,0.0037,0.0197,0.0978,0.0137,0.0450,-0.0116
1999-07-31,0.0905,-0.0037,0.0288,0.1713,0.1382,0.2070,0.1407,-0.0077,0.0527,-0.0037,...,0.0188,-0.0836,0.0454,-0.0495,0.0037,0.0507,0.0125,-0.0973,-0.0742,-0.0062
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-07-31,0.0889,-0.0084,-0.0368,-0.0320,0.0074,0.1402,-0.0408,0.0965,0.0431,0.0524,...,0.0384,0.0534,0.0361,0.0336,0.0559,0.0574,0.0860,-0.0025,-0.0307,-0.0010
2018-08-31,0.0055,-0.0941,-0.0766,0.0473,0.1221,0.0409,0.0027,-0.0967,-0.0632,0.0347,...,-0.0738,-0.0202,0.0301,0.0040,0.0563,-0.0704,0.0819,0.0616,-0.0321,0.0224
2018-09-30,-0.0230,0.0456,0.0607,0.0412,0.0402,0.0298,-0.0044,0.0228,-0.0019,0.0483,...,-0.0010,0.0856,0.0244,-0.0170,0.0276,-0.0234,0.0338,0.0331,-0.0056,-0.0091
2018-10-31,-0.0972,-0.0768,-0.0575,-0.1191,-0.0074,-0.0451,-0.0615,0.0067,-0.0491,-0.0641,...,0.1003,0.0420,0.1423,-0.0073,0.0480,0.0225,0.0531,0.0004,0.0437,0.1006
2018-11-30,0.0433,-0.1364,-0.0922,-0.2469,-0.1337,-0.0709,-0.0491,-0.0308,-0.0457,-0.0235,...,0.0392,0.0085,0.0676,-0.0259,-0.1710,-0.0178,-0.0592,0.3222,0.0501,0.1002

In [236]:
avg_returns=three_factor_second_portfoloio.mean()
cov_mat=three_factor_second_portfoloio.cov()

In [237]:
np.random.seed(42)
weights = np.random.random(size=(10**5,100))
weights /=  np.sum(weights, axis=1)[:, np.newaxis]
weights

array([[0.00796588, 0.02022019, 0.01556835, ..., 0.00909312, 0.00054062,
        0.00229468],
       [0.00063132, 0.01278365, 0.0063145 , ..., 0.01802035, 0.017819  ,
        0.01566544],
       [0.01240398, 0.00162557, 0.00312265, ..., 0.00416964, 0.01203417,
        0.0016489 ],
       ...,
       [0.01098969, 0.01268501, 0.00084387, ..., 0.00218874, 0.00778975,
        0.01936558],
       [0.01432014, 0.00137127, 0.01232802, ..., 0.00425909, 0.01878983,
        0.00598754],
       [0.00218001, 0.0086047 , 0.01407926, ..., 0.01741434, 0.00457423,
        0.0072563 ]])

In [238]:
###portfolio metrics:
portf_rtns = np.dot(weights, avg_returns)

portf_vol = []
for i in range(0, len(weights)):
    portf_vol.append(np.sqrt(np.dot(weights[i].T, 
                                    np.dot(cov_mat, weights[i]))))
portf_vol = np.array(portf_vol)  
portf_sharpe_ratio = portf_rtns / portf_vol

In [239]:
portf_results_df = pd.DataFrame({'returns': portf_rtns,
                                 'volatility': portf_vol,
                                 'sharpe_ratio': portf_sharpe_ratio})
portf_results_df

       returns  volatility  sharpe_ratio
0       0.0084      0.0148        0.5655
1       0.0082      0.0194        0.4231
2       0.0083      0.0172        0.4842
3       0.0084      0.0183        0.4610
4       0.0089      0.0171        0.5196
...        ...         ...           ...
99995   0.0108      0.0172        0.6318
99996   0.0084      0.0163        0.5123
99997   0.0097      0.0180        0.5390
99998   0.0089      0.0145        0.6105
99999   0.0087      0.0154        0.5631

[100000 rows x 3 columns]

In [240]:
max_sharpe_ind = np.argmax(portf_results_df.sharpe_ratio)
max_sharpe_portf = portf_results_df.loc[max_sharpe_ind]

min_vol_ind = np.argmin(portf_results_df.volatility)
min_vol_portf = portf_results_df.loc[min_vol_ind]

In [241]:
RISKY_ASSETS=three_factor_second_portfoloio.columns
RISKY_ASSETS

Index(['MNST', 'NFLX', 'ABMD', 'NVDA', 'AAPL', 'REGN', 'HFC', 'ALXN', 'CTSH',
       'ISRG', 'FFIV', 'SBAC', 'AOS', 'ATVI', 'TYL', 'GILD', 'ODFL', 'BIIB',
       'ILMN', 'ANSS', 'EW', 'BLL', 'COG', 'UNH', 'CHD', 'MA', 'VRTX', 'TSCO',
       'CNC', 'DPZ', 'FLIR', 'COO', 'AMZN', 'ROST', 'NKE', 'NVR', 'POOL', 'LH',
       'EOG', 'CF', 'INCY', 'HUM', 'STZ', 'KMX', 'ORLY', 'RMD', 'CERN', 'APH',
       'ROL', 'TDG', 'OMC', 'FTV', 'AMCR', 'AMAT', 'IBM', 'NLSN', 'HST', 'IR',
       'TWTR', 'IP', 'MSI', 'COF', 'SYF', 'STT', 'BK', 'CCL', 'GM', 'QRVO',
       'JCI', 'CMA', 'TER', 'HIG', 'TXT', 'SCHW', 'MS', 'NWS', 'MAS', 'NWSA',
       'IVZ', 'WRK', 'WU', 'KHC', 'UNM', 'HBAN', 'KEY', 'KMI', 'BAC', 'ZION',
       'FITB', 'NWL', 'RF', 'GPS', 'WY', 'IPG', 'UA', 'XRX', 'F', 'GE', 'C',
       'AIG'],
      dtype='object')

In [242]:
print('Maximum Sharpe Ratio portfolio ----')
print('Performance')
for index, value in max_sharpe_portf.items():
    print(f'{index}: {100 * value:.2f}% ', end="", flush=True)
print('\nWeights')
for x, y in zip(RISKY_ASSETS, weights[np.argmax(portf_results_df.sharpe_ratio)]):
    print(f'{x}: {100*y:.2f}% ', end="", flush=True)

Maximum Sharpe Ratio portfolio ----
Performance
returns: 1.01% volatility: 1.34% sharpe_ratio: 75.35%
Weights
MNST: 1.57% NFLX: 1.85% ABMD: 1.03% NVDA: 1.41% AAPL: 0.66% REGN: 0.25% HFC: 0.06% ALXN: 1.76% CTSH: 1.27% ISRG: 1.78% FFIV: 1.94% SBAC: 1.16% AOS: 1.74% ATVI: 1.44% TYL: 1.42% GILD: 1.64% ODFL: 0.31% BIIB: 0.52% ILMN: 0.32% ANSS: 1.91% EW: 1.92% BLL: 0.17% COG: 1.04% UNH: 1.45% CHD: 1.77% MA: 1.05% VRTX: 0.72% TSCO: 1.58% CNC: 1.54% DPZ: 0.46% FLIR: 0.50% COO: 0.28% AMZN: 0.63% ROST: 1.93% NKE: 1.33% NVR: 1.93% POOL: 0.94% LH: 1.17% EOG: 0.14% CF: 1.92% INCY: 0.23% HUM: 0.29% STZ: 1.57% KMX: 0.19% ORLY: 0.58% RMD: 1.40% CERN: 0.84% APH: 0.95% ROL: 0.95% TDG: 1.42% OMC: 1.46% FTV: 1.98% AMCR: 0.94% AMAT: 1.71% IBM: 1.71% NLSN: 1.97% HST: 0.25% IR: 1.00% TWTR: 1.36% IP: 0.30% MSI: 1.62% COF: 0.78% SYF: 0.77% STT: 0.99% BK: 0.55% CCL: 0.00% GM: 0.99% QRVO: 0.10% JCI: 0.76% CMA: 0.03% TER: 1.89% HIG: 0.49% TXT: 0.56% SCHW: 0.65% MS: 1.48% NWS: 0.27% MAS: 0.15% NWSA: 1.97% IVZ: 1.82% WRK: 0.38% WU: 1.54% KHC: 0.94% UNM: 0.72% HBAN: 0.05% KEY: 0.69% KMI: 1.66% BAC: 0.05% ZION: 0.16% FITB: 1.17% NWL: 1.87% RF: 0.09% GPS: 1.78% WY: 1.10% IPG: 0.04% UA: 1.22% XRX: 0.13% F: 0.32% GE: 1.93% C: 0.37% AIG: 0.30%

In [243]:
print('Minimum Volatility portfolio ----')
print('Performance')
for index, value in min_vol_portf.items():
    print(f'{index}: {100 * value:.2f}% ', end="", flush=True)
print('\nWeights')
for x, y in zip(RISKY_ASSETS, weights[np.argmin(portf_results_df.volatility)]):
    print(f'{x}: {100*y:.2f}% ', end="", flush=True)

Minimum Volatility portfolio ----
Performance
returns: 0.93% volatility: 1.25% sharpe_ratio: 74.48%
Weights
MNST: 1.98% NFLX: 0.86% ABMD: 1.36% NVDA: 0.30% AAPL: 0.38% REGN: 0.38% HFC: 1.71% ALXN: 0.46% CTSH: 1.60% ISRG: 1.32% FFIV: 0.44% SBAC: 0.95% AOS: 1.38% ATVI: 0.02% TYL: 0.65% GILD: 0.91% ODFL: 1.63% BIIB: 2.00% ILMN: 0.60% ANSS: 1.76% EW: 0.96% BLL: 1.80% COG: 0.34% UNH: 1.34% CHD: 1.58% MA: 1.52% VRTX: 0.00% TSCO: 1.71% CNC: 0.22% DPZ: 0.17% FLIR: 1.02% COO: 1.46% AMZN: 0.60% ROST: 1.59% NKE: 0.56% NVR: 1.38% POOL: 1.82% LH: 1.81% EOG: 0.54% CF: 0.87% INCY: 1.14% HUM: 1.40% STZ: 1.73% KMX: 0.77% ORLY: 0.89% RMD: 1.83% CERN: 0.44% APH: 0.47% ROL: 0.56% TDG: 1.43% OMC: 0.97% FTV: 0.58% AMCR: 0.13% AMAT: 0.68% IBM: 1.40% NLSN: 0.26% HST: 1.19% IR: 0.70% TWTR: 0.98% IP: 0.39% MSI: 1.59% COF: 0.33% SYF: 1.73% STT: 1.80% BK: 1.51% CCL: 1.88% GM: 1.90% QRVO: 0.16% JCI: 1.99% CMA: 0.28% TER: 1.78% HIG: 1.54% TXT: 0.08% SCHW: 0.26% MS: 1.85% NWS: 1.15% MAS: 1.05% NWSA: 1.21% IVZ: 1.41% WRK: 1.65% WU: 1.85% KHC: 1.42% UNM: 0.49% HBAN: 0.01% KEY: 1.50% KMI: 1.04% BAC: 0.62% ZION: 0.06% FITB: 0.31% NWL: 0.46% RF: 0.19% GPS: 0.14% WY: 0.51% IPG: 1.18% UA: 0.13% XRX: 1.60% F: 1.54% GE: 1.80% C: 0.05% AIG: 0.06%

## Adding different types of asset  based on economy situations(a. Prosperity b.Recession ) to achieve better return or lower the volatility

### a. Prosperity: buy the stock that is most related with market return and short JPY=X

In [244]:
df_monthrt['2013-01-31':'2013-12-31']

,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,AES,...,WYNN,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2013-01-31,0.0603,0.0603,0.0000,-0.0188,0.0219,0.0184,0.0419,0.1083,0.0204,0.0205,...,0.0929,0.0161,0.0884,0.0291,0.0324,-0.0064,0.0515,0.0809,0.0828,0.0000
2013-02-28,0.0523,0.0371,0.0428,0.1143,0.0485,0.1961,0.0137,-0.0111,0.0520,0.0201,...,-0.0072,0.0288,0.0581,0.0356,0.0111,-0.0192,0.0662,0.0377,0.0747,0.0000
2013-03-31,0.0275,0.0007,0.0355,0.1973,0.0343,0.0842,0.0793,-0.0243,0.0202,0.1086,...,-0.0072,0.0359,0.0706,0.0114,0.0230,0.0666,0.0286,-0.0041,0.0427,0.0331
2013-04-30,0.0066,0.0711,0.1262,0.0041,0.0179,0.0092,0.0673,-0.0196,0.0314,0.0411,...,0.0590,0.0634,0.0231,-0.0290,-0.0223,-0.0216,-0.0021,0.0056,-0.0390,-0.0325
2013-05-31,0.0390,0.0118,0.0547,0.2424,0.0559,0.0333,-0.0067,0.5558,0.0423,0.0181,...,0.1047,-0.0152,0.0160,0.0623,0.0169,0.0342,0.0153,0.0587,0.1073,0.0217
2013-06-30,0.0054,-0.0201,-0.0484,-0.0169,-0.0119,-0.0540,-0.0020,0.0255,-0.0300,-0.0812,...,-0.0403,-0.0427,0.0291,0.0165,-0.0360,0.0157,-0.0327,-0.0238,0.0349,-0.0557
2013-07-31,0.0395,-0.0133,0.0288,0.1140,-0.0754,0.0899,0.0756,0.0091,0.0035,0.0295,...,-0.0240,0.0272,0.0656,0.0994,0.0451,0.0246,0.0191,0.0444,0.0827,-0.0265
2013-08-31,0.0167,-0.0132,-0.0001,-0.0405,-0.0158,0.1011,-0.0237,-0.1019,-0.0025,0.0374,...,0.0789,-0.0242,0.0454,0.0367,-0.1225,0.0143,0.0398,0.0077,-0.0259,-0.0068
2013-09-30,0.0253,-0.0266,0.0336,-0.0331,0.0296,-0.0044,0.0674,0.0324,-0.0210,0.0383,...,0.0824,-0.0307,0.0182,0.0441,0.0952,-0.0148,-0.0431,0.0094,-0.0253,0.0333
2013-10-31,0.0253,0.0351,0.0497,-0.0743,-0.0184,0.0035,0.0592,-0.0294,0.1330,0.0379,...,0.0970,0.0284,0.0193,-0.0170,0.0682,-0.0499,0.0417,0.0575,-0.0056,0.0321
2013-11-30,0.0650,0.0723,0.0251,0.3302,0.0516,0.0020,0.0691,-0.0622,0.0888,0.0543,...,0.0060,0.0068,0.0397,-0.0315,0.1880,0.0819,0.0848,0.0371,0.0258,-0.0198
2013-12-31,0.0240,-0.0088,0.0773,0.0025,0.0144,0.0157,0.0287,0.0833,0.0890,-0.0076,...,0.1141,-0.0120,0.0775,0.0038,-0.0044,0.0080,0.0197,0.0267,0.0108,0.0106

In [245]:
spx_frame = pd.DataFrame(data = spx_rt)
spx_frame['2013-01-31':'2013-12-31']

            Adj Close
Date
2013-01-31     0.0422
2013-02-28     0.0233
2013-03-31     0.0276
2013-04-30     0.0139
2013-05-31     0.0459
2013-06-30    -0.0108
2013-07-31     0.0323
2013-08-31     0.0027
2013-09-30     0.0122
2013-10-31     0.0207
2013-11-30     0.0388
2013-12-31     0.0154

In [246]:
merged_three_factor=df_monthrt['2013-01-31':'2013-12-31'].join(spx_frame['2013-01-31':'2013-12-31'])
merged_three_factor_corr = merged_three_factor.corr()

In [247]:
merged_three_factor_corr.head()

,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,AES,...,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS,Adj Close
MMM,1.0000,0.4762,-0.1153,0.5685,0.3531,0.3190,0.1841,0.1479,0.3145,0.2840,...,0.1743,0.4058,0.1341,0.6167,0.3106,0.7279,0.7226,0.6090,0.1695,0.8044
ABT,0.4762,1.0000,0.3761,0.2639,0.4010,-0.0082,0.2825,-0.0718,0.5133,0.2729,...,0.6418,0.0211,-0.5851,0.3686,-0.0542,0.6065,0.4578,0.0398,-0.1365,0.4835
ABBV,-0.1153,0.3761,1.0000,0.0709,0.2295,0.1060,0.3700,0.1250,0.4631,0.4054,...,0.6148,-0.1418,-0.2984,0.0833,-0.2477,0.0333,0.1408,-0.2702,0.2641,0.2463
ABMD,0.5685,0.2639,0.0709,1.0000,0.4596,0.2174,0.1709,0.3014,0.1738,0.3725,...,0.1535,0.0439,0.0339,0.4972,0.8076,0.4439,0.1391,0.5139,0.0144,0.6327
ACN,0.3531,0.4010,0.2295,0.4596,1.0000,0.0342,-0.0842,0.3485,0.2023,0.2284,...,-0.0138,-0.1116,-0.3682,0.2868,0.2299,0.2195,0.0701,0.1060,0.3511,0.3345

In [248]:
merged_three_factor_top5=merged_three_factor_corr[merged_three_factor_corr['Adj Close']>=merged_three_factor_corr['Adj Close'].quantile(0.99)]
merged_three_factor_top5

,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,AES,...,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS,Adj Close
APH,0.6949,0.4045,0.2908,0.5427,0.4161,0.0395,0.3272,0.5508,0.4278,0.2685,...,0.3211,0.3739,0.0669,0.5341,0.2611,0.3946,0.6976,0.6618,0.3620,0.8909
ADP,0.6055,0.2815,0.3252,0.8194,0.3884,0.2007,0.3968,0.4492,0.1328,0.5614,...,0.3357,0.2194,0.2069,0.4975,0.6091,0.3307,0.4030,0.5369,0.2581,0.8638
JCI,0.7432,0.3081,0.1396,0.4852,0.1519,0.0748,0.1286,0.5773,0.4726,0.1162,...,0.1588,0.3175,0.2550,0.4722,0.2162,0.4882,0.8588,0.7181,0.2587,0.8833
RL,0.8437,0.6029,0.1051,0.5650,0.3118,0.3002,0.0276,0.4077,0.3406,0.1999,...,0.3489,0.4192,0.1361,0.3207,0.2747,0.7069,0.7911,0.7224,0.0210,0.8778
Adj Close,0.8044,0.4835,0.2463,0.6327,0.3345,0.2080,0.3217,0.4753,0.3762,0.4897,...,0.3918,0.2652,0.1753,0.5455,0.3188,0.5587,0.7919,0.6363,0.3578,1.0000

In [249]:
merged_three_factor_top5.index

Index(['APH', 'ADP', 'JCI', 'RL', 'Adj Close'], dtype='object')

In [250]:
three_factor_top10['Tickers'].values

array(['MNST', 'NFLX', 'ABMD', 'NVDA', 'AAPL', 'REGN', 'HFC', 'ALXN',
       'CTSH', 'ISRG'], dtype=object)

In [251]:
three_factor_bottom10['Tickers'].values

array(['RF', 'GPS', 'WY', 'IPG', 'UA', 'XRX', 'F', 'GE', 'C', 'AIG'],
      dtype=object)

In [252]:
df_excessrt

,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,AES,...,WYNN,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
1999-03-31,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,...,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036
1999-04-30,0.1012,0.0810,-0.0035,0.1158,-0.0035,-0.0511,0.0379,0.0338,-0.0035,0.2432,...,-0.0035,0.0281,0.0711,0.1594,-0.0035,-0.0151,0.2167,-0.0035,0.0271,-0.0035
1999-05-31,0.1630,-0.0673,-0.0037,0.1446,-0.0037,0.0579,0.2237,0.1626,-0.0037,0.1004,...,-0.0037,0.0612,0.0269,-0.0133,-0.0037,-0.1431,0.1116,-0.0037,-0.0784,-0.0037
1999-06-30,-0.0164,-0.0666,-0.0037,-0.0983,-0.0037,0.0790,0.0566,-0.0465,-0.0037,0.0381,...,-0.0037,0.0033,-0.0197,0.0862,-0.0037,-0.1383,0.0623,-0.0037,-0.0740,-0.0037
1999-07-31,-0.0006,-0.0263,-0.0037,0.0288,-0.0037,0.0638,0.1301,-0.0519,-0.0037,0.0790,...,-0.0037,-0.0596,-0.0507,0.1864,-0.0037,-0.0307,0.1961,-0.0037,0.0341,-0.0037
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-07-31,0.0025,0.0179,-0.0284,-0.0368,0.0244,0.0341,0.0128,0.0706,0.0385,0.0047,...,-0.0717,0.0543,-0.0574,0.0016,-0.0191,-0.0347,-0.0424,0.0251,-0.0530,-0.0088
2018-08-31,0.0211,0.0291,0.0326,-0.0766,-0.0120,-0.0862,0.0088,0.2551,0.1052,0.0611,...,-0.0879,0.0313,0.0704,0.0668,0.1016,0.0584,0.1036,0.0750,0.0164,0.0617
2018-09-30,0.0306,0.0540,-0.0299,0.0607,0.0455,0.0977,0.0403,0.4629,0.0818,-0.0192,...,-0.0947,0.0101,0.0234,0.0647,0.0570,0.0645,0.0713,0.0265,-0.0229,-0.0159
2018-10-31,-0.0533,0.0124,-0.0520,-0.0575,-0.0537,-0.0555,-0.0553,-0.2003,-0.0187,0.0859,...,-0.1619,0.0126,-0.0225,-0.0056,-0.1050,0.0010,-0.0631,-0.0310,-0.0718,0.0124
2018-11-30,-0.0005,0.0169,-0.0123,-0.0922,-0.0017,-0.2552,-0.0557,-0.1766,0.0545,0.0485,...,-0.0488,0.0413,0.0178,0.1216,-0.0271,0.0002,0.0645,-0.0748,0.0008,0.0145

In [253]:
port_three_factor_top10=df_excessrt[['MNST', 'NFLX', 'ABMD', 'NVDA', 'AAPL', 'REGN', 'HFC', 'ALXN',
       'CTSH', 'ISRG','APH']]['2013-01-31':'2013-12-31']
port_three_factor_top10.head()

,MNST,NFLX,ABMD,NVDA,AAPL,REGN,HFC,ALXN,CTSH,ISRG,APH
Date,,,,,,,,,,,
2013-01-31,-0.0628,0.3088,-0.0188,0.0043,-0.0644,-0.0071,0.0138,0.0312,0.0726,0.0267,0.0718
2013-02-28,-0.0142,0.5592,0.1142,0.0076,-0.0782,-0.0615,0.1930,-0.0778,-0.0009,0.0744,0.0319
2013-03-31,-0.0074,0.0122,0.1972,0.0220,-0.0317,0.0422,-0.0095,0.0259,0.0099,-0.1150,0.0448
2013-04-30,0.1166,-0.0101,0.0040,0.0133,-0.0500,0.1804,-0.0891,0.0496,-0.0922,-0.0195,0.0112
2013-05-31,0.0339,0.2236,0.2423,0.1205,0.0686,0.2786,0.0101,0.0388,-0.0834,-0.0044,0.0729

In [254]:
port_three_factor_bottom10=df_excessrt[['RF', 'GPS', 'WY', 'IPG', 'UA', 'XRX', 'F', 'GE', 'C', 'AIG']]['2013-01-31':'2013-12-31'].join(df_sentiment[['JPY=X']]['2013-01-31':'2013-12-31'])
port_three_factor_bottom10

,RF,GPS,WY,IPG,UA,XRX,F,GE,C,AIG,JPY=X
Date,,,,,,,,,,,
2013-01-31,0.0969,0.0288,0.0970,0.0859,-0.0001,0.0884,0.1632,0.0248,0.1086,0.0476,0.0025
2013-02-28,0.0399,-0.0001,-0.0080,0.0412,-0.0001,0.0580,-0.0561,0.0660,0.0185,0.0609,0.0007
2013-03-31,0.0496,0.1004,0.0211,0.0604,-0.0001,0.0706,0.0243,0.0249,0.0570,0.0045,0.0010
2013-04-30,-0.0151,0.0424,0.0089,0.0304,-0.0000,0.0231,-0.0040,-0.0312,-0.0066,0.0289,0.0018
2013-05-31,0.1103,0.0826,0.0233,0.0789,-0.0000,0.0160,0.1217,0.0208,0.1078,0.1253,0.0014
2013-06-30,0.0280,0.0315,-0.0979,-0.0016,-0.0000,0.0291,0.0550,0.0189,-0.0124,-0.0014,-0.0013
2013-07-31,0.0996,0.0839,0.0217,0.0848,-0.0000,0.0656,0.0925,0.0226,0.0338,0.0337,-0.0002
2013-08-31,-0.0218,-0.0262,-0.0454,0.0259,-0.0000,0.0454,-0.0056,0.0003,-0.0091,0.0285,0.0002
2013-09-30,-0.0427,-0.0516,0.0405,0.0549,-0.0000,0.0182,0.0370,0.0027,-0.0079,0.0420,-0.0002
2013-10-31,0.0169,-0.0728,0.0421,-0.0163,-0.0000,0.0193,-0.0003,0.0482,-0.0111,0.0265,0.0003
2013-11-30,0.0108,0.0640,0.0060,0.0313,-0.0000,0.0397,-0.0117,0.0767,0.0212,-0.0347,0.0018
2013-12-31,0.0014,-0.0316,0.0276,-0.0008,-0.0000,0.0775,-0.0510,0.0134,0.0227,0.0260,0.0012

In [255]:
port_three_factor_bottom10 = port_three_factor_bottom10*-1

In [256]:
three_factor_first_portfoloio = pd.concat([port_three_factor_top10,port_three_factor_bottom10],axis=1)
three_factor_first_portfoloio

,MNST,NFLX,ABMD,NVDA,AAPL,REGN,HFC,ALXN,CTSH,ISRG,...,GPS,WY,IPG,UA,XRX,F,GE,C,AIG,JPY=X
Date,,,,,,,,,,,,,,,,,,,,,
2013-01-31,-0.0628,0.3088,-0.0188,0.0043,-0.0644,-0.0071,0.0138,0.0312,0.0726,0.0267,...,-0.0288,-0.0970,-0.0859,0.0001,-0.0884,-0.1632,-0.0248,-0.1086,-0.0476,-0.0025
2013-02-28,-0.0142,0.5592,0.1142,0.0076,-0.0782,-0.0615,0.1930,-0.0778,-0.0009,0.0744,...,0.0001,0.0080,-0.0412,0.0001,-0.0580,0.0561,-0.0660,-0.0185,-0.0609,-0.0007
2013-03-31,-0.0074,0.0122,0.1972,0.0220,-0.0317,0.0422,-0.0095,0.0259,0.0099,-0.1150,...,-0.1004,-0.0211,-0.0604,0.0001,-0.0706,-0.0243,-0.0249,-0.0570,-0.0045,-0.0010
2013-04-30,0.1166,-0.0101,0.0040,0.0133,-0.0500,0.1804,-0.0891,0.0496,-0.0922,-0.0195,...,-0.0424,-0.0089,-0.0304,0.0000,-0.0231,0.0040,0.0312,0.0066,-0.0289,-0.0018
2013-05-31,0.0339,0.2236,0.2423,0.1205,0.0686,0.2786,0.0101,0.0388,-0.0834,-0.0044,...,-0.0826,-0.0233,-0.0789,0.0000,-0.0160,-0.1217,-0.0208,-0.1078,-0.1253,-0.0014
2013-06-30,0.0560,-0.0215,-0.0170,0.0014,-0.0451,-0.0991,-0.0818,-0.0857,-0.0155,0.0244,...,-0.0315,0.0979,0.0016,0.0000,-0.0291,-0.0550,-0.0189,0.0124,0.0014,0.0013
2013-07-31,0.0408,0.1242,0.1140,0.0019,0.0085,0.0947,-0.0474,0.1555,0.0986,-0.1526,...,-0.0839,-0.0217,-0.0848,0.0000,-0.0656,-0.0925,-0.0226,-0.0338,-0.0337,0.0002
2013-08-31,-0.0176,0.0735,-0.0405,0.0341,0.1356,-0.0424,0.0666,0.0348,0.0405,-0.0893,...,0.0262,0.0454,-0.0259,0.0000,-0.0454,0.0056,-0.0003,0.0091,-0.0285,-0.0002
2013-09-30,-0.0860,0.1486,-0.0331,0.0523,-0.0082,0.1735,-0.0458,0.0371,0.1021,-0.0335,...,0.0516,-0.0405,-0.0549,0.0000,-0.0182,-0.0370,-0.0027,0.0079,-0.0420,0.0002
2013-10-31,0.0043,0.0601,-0.0743,-0.0045,0.0511,0.0373,0.0195,0.0004,0.0677,0.0098,...,0.0728,-0.0421,0.0163,0.0000,-0.0193,0.0003,-0.0482,0.0111,-0.0265,-0.0003
2013-11-30,0.0320,0.0651,0.3302,0.0024,0.0445,-0.0483,0.0628,0.0536,0.0722,0.0197,...,-0.0640,-0.0060,-0.0313,0.0000,-0.0397,0.0117,-0.0767,-0.0212,0.0347,-0.0018
2013-12-31,0.1226,0.0740,0.0025,0.0088,0.0677,-0.0271,0.0516,0.0577,0.0449,-0.0410,...,0.0316,-0.0276,0.0008,0.0000,-0.0775,0.0510,-0.0134,-0.0227,-0.0260,-0.0012

In [257]:
avg_returns=three_factor_first_portfoloio.mean()
cov_mat=three_factor_first_portfoloio.cov()

In [258]:
np.random.seed(42)
weights = np.random.random(size=(10**5,22))
weights /=  np.sum(weights, axis=1)[:, np.newaxis]
weights

array([[0.03781174, 0.09597947, 0.07389853, ..., 0.02940107, 0.06176968,
        0.01408262],
       [0.02949122, 0.03698325, 0.04603904, ..., 0.04998678, 0.00347143,
        0.09179346],
       [0.02372464, 0.06073926, 0.0285773 , ..., 0.03270672, 0.02575574,
        0.04975374],
       ...,
       [0.06682599, 0.0044611 , 0.0793555 , ..., 0.00982388, 0.0060689 ,
        0.04314398],
       [0.08030915, 0.07887397, 0.00759011, ..., 0.03562629, 0.00042849,
        0.06050497],
       [0.04211766, 0.07306966, 0.06545223, ..., 0.08525022, 0.02239374,
        0.0568134 ]])

In [259]:
###portfolio metrics:
portf_rtns = np.dot(weights, avg_returns)

portf_vol = []
for i in range(0, len(weights)):
    portf_vol.append(np.sqrt(np.dot(weights[i].T, 
                                    np.dot(cov_mat, weights[i]))))
portf_vol = np.array(portf_vol)  
portf_sharpe_ratio = portf_rtns / portf_vol

In [260]:
portf_results_df = pd.DataFrame({'returns': portf_rtns,
                                 'volatility': portf_vol,
                                 'sharpe_ratio': portf_sharpe_ratio})
portf_results_df

       returns  volatility  sharpe_ratio
0       0.0105      0.0184        0.5670
1       0.0015      0.0166        0.0922
2       0.0084      0.0172        0.4861
3       0.0090      0.0136        0.6610
4       0.0050      0.0147        0.3403
...        ...         ...           ...
99995   0.0018      0.0142        0.1243
99996   0.0047      0.0132        0.3569
99997   0.0047      0.0157        0.2962
99998   0.0111      0.0162        0.6870
99999   0.0090      0.0173        0.5196

[100000 rows x 3 columns]

In [261]:
max_sharpe_ind = np.argmax(portf_results_df.sharpe_ratio)
max_sharpe_portf = portf_results_df.loc[max_sharpe_ind]

min_vol_ind = np.argmin(portf_results_df.volatility)
min_vol_portf = portf_results_df.loc[min_vol_ind]

In [262]:
RISKY_ASSETS=three_factor_first_portfoloio.columns
RISKY_ASSETS

Index(['MNST', 'NFLX', 'ABMD', 'NVDA', 'AAPL', 'REGN', 'HFC', 'ALXN', 'CTSH',
       'ISRG', 'APH', 'RF', 'GPS', 'WY', 'IPG', 'UA', 'XRX', 'F', 'GE', 'C',
       'AIG', 'JPY=X'],
      dtype='object')

In [263]:
print('Maximum Sharpe Ratio portfolio ----')
print('Performance')
for index, value in max_sharpe_portf.items():
    print(f'{index}: {100 * value:.2f}% ', end="", flush=True)
print('\nWeights')
for x, y in zip(RISKY_ASSETS, weights[np.argmax(portf_results_df.sharpe_ratio)]):
    print(f'{x}: {100*y:.2f}% ', end="", flush=True)

Maximum Sharpe Ratio portfolio ----
Performance
returns: 2.09% volatility: 1.74% sharpe_ratio: 119.96%
Weights
MNST: 8.06% NFLX: 9.27% ABMD: 2.54% NVDA: 9.52% AAPL: 7.37% REGN: 4.56% HFC: 1.97% ALXN: 6.64% CTSH: 8.97% ISRG: 0.91% APH: 8.91% RF: 0.10% GPS: 3.12% WY: 0.25% IPG: 0.30% UA: 2.25% XRX: 3.23% F: 0.01% GE: 4.00% C: 7.84% AIG: 2.14% JPY=X: 8.06%

In [264]:
print('Minimum Volatility portfolio ----')
print('Performance')
for index, value in min_vol_portf.items():
    print(f'{index}: {100 * value:.2f}% ', end="", flush=True)
print('\nWeights')
for x, y in zip(RISKY_ASSETS, weights[np.argmin(portf_results_df.volatility)]):
    print(f'{x}: {100*y:.2f}% ', end="", flush=True)

Minimum Volatility portfolio ----
Performance
returns: 0.40% volatility: 0.81% sharpe_ratio: 49.79%
Weights
MNST: 3.03% NFLX: 3.62% ABMD: 0.51% NVDA: 11.12% AAPL: 1.30% REGN: 2.26% HFC: 3.65% ALXN: 4.91% CTSH: 8.66% ISRG: 0.84% APH: 6.05% RF: 5.65% GPS: 0.55% WY: 8.64% IPG: 10.12% UA: 8.39% XRX: 1.37% F: 0.09% GE: 7.48% C: 1.16% AIG: 3.61% JPY=X: 7.02%

### b.Recession:  Short the stock that is most related with market return and buy JP=X

In [265]:
df_monthrt['2007-11-30':'2009-02-28']

,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,AES,...,WYNN,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2007-11-30,-0.0972,0.0296,0.0000,-0.0541,-0.1053,-0.0719,-0.0594,-0.1267,0.0341,0.0358,...,-0.1353,0.0165,-0.0445,-0.1083,0.0000,0.0187,0.0640,-0.1603,-0.1917,0.0000
2007-12-31,0.0393,0.0503,0.0000,0.1788,0.0004,0.2976,-0.0074,-0.2909,0.0920,0.0073,...,-0.0909,0.0416,0.0099,-0.0290,0.0000,0.0122,-0.0492,0.0183,-0.0399,0.0000
2008-01-31,-0.0806,0.0113,0.0000,0.0027,-0.0478,-0.0134,-0.1306,-0.1942,-0.1071,-0.0885,...,-0.1050,-0.0507,-0.1187,-0.0623,0.0000,-0.0585,-0.1291,0.0238,-0.1015,0.0000
2008-02-29,0.0219,-0.0302,0.0000,0.0139,0.0235,-0.0101,-0.0754,0.0197,0.0215,-0.0325,...,0.0435,-0.0465,0.0405,0.0680,0.0000,-0.0230,-0.0024,0.1204,0.1440,0.0000
2008-03-31,-0.0152,-0.0516,0.0000,-0.0981,-0.0071,0.0068,-0.0221,-0.0768,-0.0299,-0.1086,...,-0.0996,-0.0294,-0.0319,0.0660,0.0000,0.0405,0.0691,-0.0079,-0.0798,0.0000
2008-04-30,0.0181,-0.0005,0.0000,0.0614,0.0882,0.0115,0.0873,-0.0440,0.0317,0.0200,...,0.0681,0.0444,-0.0026,0.0448,0.0000,0.0727,0.0354,0.0090,-0.0411,0.0000
2008-05-31,-0.0282,0.0309,0.0000,0.0105,0.0170,0.1446,0.1226,0.1406,0.0544,0.0878,...,-0.0183,0.0292,-0.0314,0.0810,0.0000,0.0264,0.0892,-0.0801,0.0003,0.0000
2008-06-30,-0.0361,0.0042,0.0000,0.2632,0.0360,0.1123,0.0142,0.0088,0.0933,0.0288,...,-0.1267,-0.0308,-0.0361,0.0222,0.0000,-0.0706,-0.0441,-0.0154,-0.2120,0.0000
2008-07-31,-0.0618,0.0526,0.0000,0.0114,0.0132,-0.0084,-0.0343,-0.3116,-0.0152,-0.1192,...,-0.0531,-0.0166,-0.0116,-0.1048,0.0000,-0.0487,-0.1171,-0.0181,-0.2453,0.0000
2008-08-31,0.0349,0.0366,0.0000,0.0043,0.0183,-0.0125,0.0915,0.1268,0.0898,-0.0982,...,0.1524,0.0200,0.0430,0.0994,0.0000,0.0381,0.0058,0.0453,0.0656,0.0000
2008-09-30,-0.0266,-0.0012,0.0000,-0.0414,-0.0727,-0.0339,-0.0926,0.0018,-0.0499,-0.1494,...,-0.1192,0.0092,-0.0766,-0.1100,0.0000,0.0065,-0.0667,-0.0456,0.3420,0.0000
2008-10-31,-0.1362,-0.0456,0.0000,-0.2234,-0.1520,-0.2433,-0.2877,-0.2913,-0.2825,-0.3398,...,-0.3775,-0.1345,-0.3418,-0.1479,0.0000,-0.2275,-0.2980,-0.2361,-0.0407,0.0000
2008-11-30,0.0485,-0.0121,0.0000,0.0079,-0.0659,-0.0982,-0.1692,-0.3171,-0.0439,-0.1257,...,-0.2218,0.0106,-0.2099,-0.1818,0.0000,-0.0721,-0.0762,-0.2203,-0.0679,0.0000
2008-12-31,-0.0819,-0.0351,0.0000,0.1287,0.0217,-0.1435,-0.0834,-0.1818,0.1334,-0.0194,...,-0.0081,0.0173,0.1119,0.0312,0.0000,0.1086,0.0094,-0.0478,-0.2389,0.0000
2009-01-31,-0.0257,0.0065,0.0000,-0.1234,0.0860,-0.0475,-0.0056,0.0858,0.0210,0.1483,...,-0.0634,0.0267,0.0650,0.0017,0.0000,0.0409,-0.0353,0.0387,-0.2737,0.0000
2009-02-28,-0.1190,0.0559,0.0000,-0.3449,-0.0516,0.0495,-0.0949,-0.0527,0.0732,-0.1264,...,-0.3448,-0.0153,-0.2148,0.0539,0.0000,-0.0531,-0.0649,-0.0321,-0.3819,0.0000

In [266]:
spx_frame = pd.DataFrame(data = spx_rt)
spx_frame['2007-11-30':'2009-02-28']

            Adj Close
Date
2007-11-30    -0.0480
2007-12-31     0.0127
2008-01-31    -0.0670
2008-02-29    -0.0145
2008-03-31    -0.0262
2008-04-30     0.0421
2008-05-31     0.0254
2008-06-30    -0.0427
2008-07-31    -0.0611
2008-08-31     0.0217
2008-09-30    -0.0480
2008-10-31    -0.2034
2008-11-30    -0.0846
2008-12-31    -0.0034
2009-01-31    -0.0115
2009-02-28    -0.0675

In [267]:
three_factor_top10['Tickers'].values

array(['MNST', 'NFLX', 'ABMD', 'NVDA', 'AAPL', 'REGN', 'HFC', 'ALXN',
       'CTSH', 'ISRG'], dtype=object)

In [268]:
three_factor_bottom10['Tickers'].values

array(['RF', 'GPS', 'WY', 'IPG', 'UA', 'XRX', 'F', 'GE', 'C', 'AIG'],
      dtype=object)

In [269]:
merged_three_factor=df_monthrt['2007-11-30':'2009-02-28'].join(spx_frame['2007-11-30':'2009-02-28'])
merged_three_factor_corr = merged_three_factor.corr()

In [270]:
merged_three_factor_corr.head()

,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,AES,...,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS,Adj Close
MMM,1.0000,0.0166,nan,0.5013,0.5125,0.4340,0.4889,0.2110,0.3577,0.3272,...,0.5329,0.4327,0.2355,nan,0.3970,0.4146,0.3779,0.4723,nan,0.6044
ABT,0.0166,1.0000,nan,0.0138,0.1170,0.5795,0.4221,0.0749,0.4235,0.2886,...,0.4618,0.1011,0.0559,nan,0.1064,0.1082,0.1772,-0.2614,nan,0.2856
ABBV,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
ABMD,0.5013,0.0138,nan,1.0000,0.4596,0.4224,0.4121,-0.0355,0.4595,0.4382,...,0.3641,0.5650,0.1097,nan,0.3353,0.2892,0.2643,0.1650,nan,0.4850
ACN,0.5125,0.1170,nan,0.4596,1.0000,0.4217,0.7601,0.4748,0.6353,0.7078,...,0.5479,0.7772,0.6674,nan,0.6423,0.5220,0.7213,-0.1398,nan,0.7931

In [271]:
merged_three_factor_top5=merged_three_factor_corr[merged_three_factor_corr['Adj Close']>=merged_three_factor_corr['Adj Close'].quantile(0.99)]
merged_three_factor_top5

,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,AES,...,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS,Adj Close
BEN,0.5608,0.2079,nan,0.5306,0.7813,0.4651,0.8676,0.6146,0.8273,0.6062,...,0.6980,0.8295,0.7540,nan,0.8171,0.7599,0.6526,0.1428,nan,0.9264
IEX,0.5539,0.2475,nan,0.5151,0.8552,0.5240,0.9126,0.5418,0.8023,0.8087,...,0.7630,0.7929,0.7108,nan,0.7887,0.7865,0.5195,-0.0815,nan,0.9313
ITW,0.5738,0.2415,nan,0.2985,0.8116,0.4073,0.8320,0.6030,0.7431,0.7770,...,0.8409,0.8298,0.6327,nan,0.8995,0.8073,0.6055,0.0642,nan,0.9445
OMC,0.4095,0.2981,nan,0.3156,0.7465,0.5830,0.8276,0.6532,0.8026,0.7304,...,0.6828,0.7750,0.8294,nan,0.8083,0.7796,0.7170,0.0593,nan,0.9359
Adj Close,0.6044,0.2856,nan,0.4850,0.7931,0.5869,0.8903,0.5500,0.8089,0.7623,...,0.8247,0.8397,0.6967,nan,0.8901,0.8350,0.6510,0.1129,nan,1.0000

In [272]:
merged_three_factor_top5.index

Index(['BEN', 'IEX', 'ITW', 'OMC', 'Adj Close'], dtype='object')

In [273]:
port_three_factor_top10=df_excessrt[three_factor_top10['Tickers'].values]['2007-11-30':'2009-02-28'].join(df_sentiment[['JPY=X']]['2007-11-30':'2009-02-28'])
port_three_factor_top10.head()

,MNST,NFLX,ABMD,NVDA,AAPL,REGN,HFC,ALXN,CTSH,ISRG,JPY=X
Date,,,,,,,,,,,
2007-11-30,-0.2604,0.0238,-0.0568,-0.1126,0.0139,-0.0595,-0.1569,0.0288,-0.2110,0.0864,-0.0014
2007-12-31,-0.0182,0.0273,0.1763,0.0482,0.0883,0.2346,-0.0745,0.0149,0.0355,0.1074,-0.0000
2008-01-31,-0.1055,-0.0685,0.0004,-0.2264,-0.1604,-0.0117,-0.0780,-0.0907,-0.1553,-0.1756,-0.0021
2008-02-29,-0.0238,0.1819,0.0122,-0.1160,-0.2214,-0.1672,0.1060,-0.0420,0.1024,0.0909,-0.0011
2008-03-31,-0.0461,0.2337,-0.0991,-0.1787,0.0443,-0.0569,-0.1098,-0.1346,-0.0722,-0.0140,-0.0018

In [274]:
port_three_factor_bottom10=df_excessrt[['RF', 'GPS', 'WY', 'IPG', 'UA', 'XRX', 'F', 'GE', 'C', 'AIG','ITW']]['2007-11-30':'2009-02-28']
port_three_factor_bottom10

,RF,GPS,WY,IPG,UA,XRX,F,GE,C,AIG,ITW
Date,,,,,,,,,,,
2007-11-30,-0.1341,0.0388,-0.0098,-0.1038,-0.0027,-0.0471,-0.0930,-0.0618,-0.2570,-0.1426,-0.0478
2007-12-31,0.0065,0.0945,0.0293,-0.0752,-0.0024,0.0074,-0.1173,-0.0406,-0.0642,0.0200,-0.0131
2008-01-31,-0.1262,-0.1291,-0.0977,-0.0645,-0.0022,-0.1209,-0.0974,-0.0492,-0.1355,-0.0441,-0.1009
2008-02-29,0.0766,0.0568,-0.0259,0.0667,-0.0017,0.0388,0.0293,-0.0228,-0.0483,-0.1139,0.0000
2008-03-31,-0.1028,0.0321,-0.0186,-0.0211,-0.0010,-0.0329,-0.1134,0.0247,-0.1790,-0.1188,-0.0231
2008-04-30,0.0212,-0.0571,0.0146,-0.0101,-0.0011,-0.0037,0.2521,-0.0199,0.1441,0.0576,0.0683
2008-05-31,-0.0225,-0.0302,0.0223,0.1828,-0.0014,-0.0329,0.0831,-0.0695,-0.0486,-0.1248,0.0441
2008-06-30,-0.3478,-0.0550,-0.1438,-0.0584,-0.0015,-0.0376,-0.2357,-0.0964,-0.1560,-0.1990,-0.0787
2008-07-31,-0.2614,-0.0629,-0.1014,-0.1464,-0.0013,-0.0129,-0.1627,-0.0283,-0.1014,-0.2108,-0.0513
2008-08-31,-0.0733,0.1401,0.0649,0.1504,-0.0014,0.0416,-0.0475,0.0385,0.0411,-0.1108,0.0414
2008-09-30,0.3724,0.0175,0.0918,-0.0720,-0.0009,-0.0775,0.0005,-0.0863,0.0046,-0.5455,-0.0358
2008-10-31,-0.1278,-0.2606,-0.2436,-0.3511,-0.0005,-0.3423,-0.4579,-0.2294,-0.1759,-0.7576,-0.2502
2008-11-30,-0.0625,-0.1432,-0.2200,-0.2282,-0.0001,-0.2101,-0.2848,-0.1622,-0.3983,-0.2242,-0.0740
2008-12-31,-0.1276,0.1114,0.0336,-0.0855,-0.0000,0.1119,0.4848,0.0077,-0.1997,-0.1197,0.0114
2009-01-31,-0.2986,-0.0572,-0.1493,-0.0319,-0.0001,0.0649,-0.1759,-0.1405,-0.3366,-0.1448,0.0734
2009-02-28,-0.4592,-0.0795,-0.1038,-0.0790,-0.0002,-0.2150,-0.1859,-0.2547,-0.3775,-0.4645,-0.0643

In [275]:
port_three_factor_bottom10 = port_three_factor_bottom10*-1

In [276]:
three_factor_first_portfoloio = pd.concat([port_three_factor_top10,port_three_factor_bottom10],axis=1)
three_factor_first_portfoloio

,MNST,NFLX,ABMD,NVDA,AAPL,REGN,HFC,ALXN,CTSH,ISRG,...,GPS,WY,IPG,UA,XRX,F,GE,C,AIG,ITW
Date,,,,,,,,,,,,,,,,,,,,,
2007-11-30,-0.2604,0.0238,-0.0568,-0.1126,0.0139,-0.0595,-0.1569,0.0288,-0.2110,0.0864,...,-0.0388,0.0098,0.1038,0.0027,0.0471,0.0930,0.0618,0.2570,0.1426,0.0478
2007-12-31,-0.0182,0.0273,0.1763,0.0482,0.0883,0.2346,-0.0745,0.0149,0.0355,0.1074,...,-0.0945,-0.0293,0.0752,0.0024,-0.0074,0.1173,0.0406,0.0642,-0.0200,0.0131
2008-01-31,-0.1055,-0.0685,0.0004,-0.2264,-0.1604,-0.0117,-0.0780,-0.0907,-0.1553,-0.1756,...,0.1291,0.0977,0.0645,0.0022,0.1209,0.0974,0.0492,0.1355,0.0441,0.1009
2008-02-29,-0.0238,0.1819,0.0122,-0.1160,-0.2214,-0.1672,0.1060,-0.0420,0.1024,0.0909,...,-0.0568,0.0259,-0.0667,0.0017,-0.0388,-0.0293,0.0228,0.0483,0.1139,-0.0000
2008-03-31,-0.0461,0.2337,-0.0991,-0.1787,0.0443,-0.0569,-0.1098,-0.1346,-0.0722,-0.0140,...,-0.0321,0.0186,0.0211,0.0010,0.0329,0.1134,-0.0247,0.1790,0.1188,0.0231
2008-04-30,-0.1006,0.0410,0.0603,0.0034,0.2081,0.0785,0.0032,0.1757,0.0194,0.0842,...,0.0571,-0.0146,0.0101,0.0011,0.0037,-0.2521,0.0199,-0.1441,-0.0576,-0.0683
2008-05-31,-0.1185,-0.1324,0.0091,0.1718,0.1666,0.0210,-0.0755,0.0540,0.0569,-0.0880,...,0.0302,-0.0223,-0.1828,0.0014,0.0329,-0.0831,0.0695,0.0486,0.1248,-0.0441
2008-06-30,0.0764,-0.0130,0.2617,-0.0668,-0.0355,-0.2449,-0.0164,-0.0056,0.1028,-0.0427,...,0.0550,0.1438,0.0584,0.0015,0.0376,0.2357,0.0964,0.1560,0.1990,0.0787
2008-07-31,-0.2462,-0.0815,0.0100,-0.4305,-0.0615,0.1075,-0.2698,0.1173,-0.1713,0.0191,...,0.0629,0.1014,0.1464,0.0013,0.0129,0.1627,0.0283,0.1014,0.2108,0.0513
2008-08-31,0.0525,0.0860,0.0029,0.0135,0.0184,0.2816,0.0055,0.1602,0.0359,0.0605,...,-0.1401,-0.0649,-0.1504,0.0014,-0.0416,0.0475,-0.0385,-0.0411,0.1108,-0.0414
2008-09-30,0.0176,-0.0060,-0.0423,-0.1217,-0.1752,-0.0330,0.0040,-0.0892,-0.1331,-0.0905,...,-0.0175,-0.0918,0.0720,0.0009,0.0775,-0.0005,0.0863,-0.0046,0.5455,0.0358
2008-10-31,-0.0625,-0.2307,-0.2239,-0.2864,-0.2996,-0.1114,-0.3857,-0.0687,-0.2916,-0.3119,...,0.2606,0.2436,0.3511,0.0005,0.3423,0.4579,0.2294,0.1759,0.7576,0.2502
2008-11-30,0.0138,-0.0653,0.0077,-0.0408,-0.0513,-0.0916,-0.0947,-0.0247,-0.0287,-0.2051,...,0.1432,0.2200,0.2282,0.0001,0.2101,0.2848,0.1622,0.3983,0.2242,0.0740
2008-12-31,0.1937,0.2363,0.1287,0.0643,-0.0255,-0.0120,0.0546,-0.1087,-0.0115,-0.1458,...,-0.1114,-0.0336,0.0855,0.0000,-0.1119,-0.4848,-0.0077,0.1997,0.1197,-0.0114
2009-01-31,0.0846,0.1883,-0.1235,0.0139,-0.0303,0.0303,0.2227,0.0789,0.1061,-0.1813,...,0.0572,0.1493,0.0319,0.0001,-0.0649,0.1759,0.1405,0.3366,0.1448,-0.0734
2009-02-28,0.0272,0.1423,-0.3452,0.0400,0.0595,0.0467,0.1189,0.0446,-0.0037,0.0111,...,0.0795,0.1038,0.0790,0.0002,0.2150,0.1859,0.2547,0.3775,0.4645,0.0643

In [277]:
avg_returns=three_factor_first_portfoloio.mean()
cov_mat=three_factor_first_portfoloio.cov()

In [278]:
np.random.seed(42)
weights = np.random.random(size=(10**5,22))
weights /=  np.sum(weights, axis=1)[:, np.newaxis]
weights

array([[0.03781174, 0.09597947, 0.07389853, ..., 0.02940107, 0.06176968,
        0.01408262],
       [0.02949122, 0.03698325, 0.04603904, ..., 0.04998678, 0.00347143,
        0.09179346],
       [0.02372464, 0.06073926, 0.0285773 , ..., 0.03270672, 0.02575574,
        0.04975374],
       ...,
       [0.06682599, 0.0044611 , 0.0793555 , ..., 0.00982388, 0.0060689 ,
        0.04314398],
       [0.08030915, 0.07887397, 0.00759011, ..., 0.03562629, 0.00042849,
        0.06050497],
       [0.04211766, 0.07306966, 0.06545223, ..., 0.08525022, 0.02239374,
        0.0568134 ]])

In [279]:
###portfolio metrics:
portf_rtns = np.dot(weights, avg_returns)

portf_vol = []
for i in range(0, len(weights)):
    portf_vol.append(np.sqrt(np.dot(weights[i].T, 
                                    np.dot(cov_mat, weights[i]))))
portf_vol = np.array(portf_vol)  
portf_sharpe_ratio = portf_rtns / portf_vol

In [280]:
portf_results_df = pd.DataFrame({'returns': portf_rtns,
                                 'volatility': portf_vol,
                                 'sharpe_ratio': portf_sharpe_ratio})
portf_results_df

       returns  volatility  sharpe_ratio
0       0.0307      0.0402        0.7645
1       0.0241      0.0465        0.5182
2       0.0158      0.0449        0.3529
3       0.0191      0.0303        0.6313
4       0.0155      0.0426        0.3652
...        ...         ...           ...
99995   0.0154      0.0349        0.4407
99996   0.0264      0.0371        0.7123
99997   0.0074      0.0304        0.2418
99998   0.0191      0.0368        0.5204
99999   0.0309      0.0315        0.9825

[100000 rows x 3 columns]

In [281]:
max_sharpe_ind = np.argmax(portf_results_df.sharpe_ratio)
max_sharpe_portf = portf_results_df.loc[max_sharpe_ind]

min_vol_ind = np.argmin(portf_results_df.volatility)
min_vol_portf = portf_results_df.loc[min_vol_ind]

In [282]:
RISKY_ASSETS=three_factor_first_portfoloio.columns
RISKY_ASSETS

Index(['MNST', 'NFLX', 'ABMD', 'NVDA', 'AAPL', 'REGN', 'HFC', 'ALXN', 'CTSH',
       'ISRG', 'JPY=X', 'RF', 'GPS', 'WY', 'IPG', 'UA', 'XRX', 'F', 'GE', 'C',
       'AIG', 'ITW'],
      dtype='object')

In [283]:
print('Maximum Sharpe Ratio portfolio ----')
print('Performance')
for index, value in max_sharpe_portf.items():
    print(f'{index}: {100 * value:.2f}% ', end="", flush=True)
print('\nWeights')
for x, y in zip(RISKY_ASSETS, weights[np.argmax(portf_results_df.sharpe_ratio)]):
    print(f'{x}: {100*y:.2f}% ', end="", flush=True)

Maximum Sharpe Ratio portfolio ----
Performance
returns: 3.93% volatility: 2.95% sharpe_ratio: 133.06%
Weights
MNST: 0.04% NFLX: 8.44% ABMD: 8.67% NVDA: 0.85% AAPL: 3.46% REGN: 8.95% HFC: 2.51% ALXN: 3.21% CTSH: 4.51% ISRG: 5.19% JPY=X: 1.45% RF: 3.06% GPS: 2.72% WY: 7.88% IPG: 4.94% UA: 5.46% XRX: 4.34% F: 1.11% GE: 0.49% C: 8.06% AIG: 8.06% ITW: 6.60%

In [284]:
print('Minimum Volatility portfolio ----')
print('Performance')
for index, value in min_vol_portf.items():
    print(f'{index}: {100 * value:.2f}% ', end="", flush=True)
print('\nWeights')
for x, y in zip(RISKY_ASSETS, weights[np.argmin(portf_results_df.volatility)]):
    print(f'{x}: {100*y:.2f}% ', end="", flush=True)

Minimum Volatility portfolio ----
Performance
returns: 1.71% volatility: 2.08% sharpe_ratio: 82.16%
Weights
MNST: 1.07% NFLX: 8.93% ABMD: 9.62% NVDA: 5.38% AAPL: 6.24% REGN: 3.60% HFC: 4.27% ALXN: 8.43% CTSH: 0.06% ISRG: 2.82% JPY=X: 8.35% RF: 0.19% GPS: 4.20% WY: 0.64% IPG: 1.79% UA: 3.12% XRX: 10.78% F: 0.02% GE: 1.58% C: 2.87% AIG: 3.28% ITW: 12.75%

## New Model

## Combined factors

In [285]:
merged_factors=pd.concat([factor_df,div_yield,earnings_growth,oil_price,pe,perf_ratio,inflation,Profit_margin,df_sentiment,max_drawdown],axis=1)
merged_factors=merged_factors.fillna(0)
merged_factors

,mkt,smb,hml,rf,Dividend yield,Earnings growth,Oil price,PE ratio,ROA,ROE,Inflation Rate,Net Profit Margin_Mean,JPY=X,^VIX,max_drawdown
Date,,,,,,,,,,,,,,,
1999-03-31,0.0345,-0.0393,-0.0265,0.0036,0.0128,-0.0038,0.2002,0.0381,-0.0261,-0.0467,0.0173,0.0000,0.0000,0.0000,0.0000
1999-04-30,0.0433,0.0400,0.0253,0.0035,0.0123,0.0028,0.1652,-0.0293,0.0081,0.0075,0.0228,0.0000,0.0003,0.0043,0.0000
1999-05-31,-0.0246,0.0342,0.0240,0.0037,0.0123,0.0028,0.0232,-0.0253,0.0012,-0.0050,0.0209,0.0000,0.0009,0.0022,-0.0020
1999-06-30,0.0477,0.0305,-0.0360,0.0037,0.0124,0.0028,0.0115,0.0530,-0.0090,-0.0112,0.0196,0.0005,-0.0002,-0.0072,-0.0091
1999-07-31,-0.0349,0.0267,-0.0076,0.0037,0.0120,0.0108,0.1148,-0.1018,0.0096,0.0022,0.0214,0.0005,-0.0024,0.0093,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-08-31,0.0344,0.0115,-0.0408,0.0017,0.0182,0.0155,-0.0397,0.0298,0.0056,0.0053,0.0270,0.0012,0.0000,0.0023,0.0000
2018-09-30,0.0006,-0.0237,-0.0130,0.0017,0.0180,0.0155,0.0325,0.0043,0.0551,0.0513,0.0228,0.0012,0.0011,-0.0017,0.0000
2018-10-31,-0.0768,-0.0476,0.0344,0.0018,0.0190,0.0145,0.0096,-0.0872,0.0008,-0.0033,0.0252,0.0011,-0.0001,0.0319,-0.0400
2018-11-30,0.0169,-0.0079,0.0025,0.0019,0.0196,0.0145,-0.2161,0.0177,0.0069,0.0078,0.0218,0.0012,0.0001,-0.0041,-0.0614
2018-12-31,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,-0.1488,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000

## Principal Component Analysis

In [286]:
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
import statsmodels.api as sm

In [287]:
merged_analyse=merged_factors.values
merged_analyse

array([[ 0.0345    , -0.0393    , -0.0265    , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.0433    ,  0.04      ,  0.0253    , ...,  0.00025353,
         0.00430574,  0.        ],
       [-0.0246    ,  0.0342    ,  0.024     , ...,  0.00089432,
         0.00223373, -0.00200984],
       ...,
       [-0.0768    , -0.0476    ,  0.0344    , ..., -0.0001088 ,
         0.03190514, -0.03999163],
       [ 0.0169    , -0.0079    ,  0.0025    , ...,  0.00014761,
        -0.00409829, -0.06144031],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ]])

In [288]:
analyse=StandardScaler().fit_transform(merged_analyse)
pca=PCA(n_components=4)
p_components=pca.fit_transform(analyse)
p_components

array([[-8.69314247e-01, -2.18466746e-01, -1.44913387e+00,
         1.99712108e+00],
       [-1.08553755e+00,  2.50620364e-01, -1.83203865e+00,
         2.55868352e+00],
       [-1.38149776e+00,  9.60497832e-02, -7.89204323e-01,
         2.05022497e+00],
       [-7.14094686e-01,  2.29967076e-01, -2.33575119e+00,
         5.73891983e-01],
       [-1.83277684e+00,  2.10717781e-01,  2.05859326e-02,
         1.85406567e+00],
       [-1.62446098e+00,  6.59859215e-02, -2.97965721e-01,
         1.19787841e+00],
       [-1.52947072e+00,  9.21587347e-01, -6.75446381e-01,
         1.39016246e+00],
       [-1.24359426e+00,  2.58446769e-01, -8.47587353e-01,
         5.25455844e-01],
       [-1.24600653e+00,  7.33578380e-01, -2.22517543e+00,
         8.29214678e-01],
       [-8.69971084e-01,  1.23924787e+00, -3.05835163e+00,
         2.64789311e-01],
       [-2.26576975e+00,  5.01848984e-01, -1.06822222e+00,
         1.12729087e+00],
       [-8.07642768e-01,  1.22202041e+00, -4.37397511e+00,
         6.36303234e-01],
       [-3.48045370e+00, -1.52960690e-01,  7.68111526e-01,
         6.51617728e-01],
       [-3.69612094e+00, -1.57595396e-01,  1.28251309e+00,
         3.08074899e-01],
       [-2.99600359e+00,  2.51166236e-01, -2.14324803e-01,
         1.08813241e+00],
       [-1.27587382e+00,  8.17941355e-01, -4.13483348e+00,
         4.74882422e-01],
       [-3.57171678e+00, -5.98170224e-02, -5.73957814e-02,
         6.76937470e-01],
       [-2.20500229e+00,  3.72495409e-01, -2.46561641e+00,
         4.50246999e-01],
       [-3.72814368e+00,  2.94227141e-02,  2.86392328e-01,
         1.24412841e+00],
       [-3.39211693e+00,  1.50262595e-02,  3.15802552e-01,
         5.32806195e-01],
       [-4.20407302e+00, -1.97988305e-01,  1.57526377e+00,
         1.58205460e+00],
       [-2.65908892e+00, -1.11584372e+00, -9.54087174e-01,
         1.47408874e-01],
       [-1.54374508e+00,  4.34512729e-01, -2.97905350e+00,
        -6.04208185e-02],
       [-3.72926261e+00, -4.10672980e-01,  1.83182748e+00,
         1.67353383e+00],
       [-2.42893204e+00, -2.11010132e+00,  2.72211348e-01,
         7.27427257e-01],
       [-6.34257547e-01,  2.06981110e-01, -2.19663350e+00,
        -4.24938547e-01],
       [-1.52203548e+00, -1.18218407e-01, -1.01769834e+00,
         1.47252421e+00],
       [-1.18584327e+00, -2.04010303e+00, -1.79340590e+00,
         8.74548008e-01],
       [-1.76204305e+00, -2.86179851e-01,  5.86399178e-01,
         4.00795064e-01],
       [-1.30983770e+00, -2.73337931e-01,  1.00141360e+00,
         2.32198308e+00],
       [-1.49537874e+00, -2.51587860e+00,  2.56020995e+00,
         1.63820982e+00],
       [ 9.74077292e-01,  5.67446568e-01, -1.25713277e+00,
        -9.34638611e-02],
       [ 8.89924993e-01, -2.40649889e-01, -1.65984276e+00,
         1.06804715e+00],
       [ 3.76794274e-01, -1.68616080e+00, -1.33252150e+00,
         1.52265312e+00],
       [ 4.21008258e-01, -1.62837890e-01, -3.00915035e-01,
         1.96481283e+00],
       [ 4.61503855e-01, -3.82684756e-01,  6.17751134e-01,
         2.67991909e+00],
       [ 3.95453864e-01, -7.23625672e+00, -2.64725095e+00,
         3.10158050e+00],
       [ 1.44094819e-01,  2.75262412e-01,  1.09791020e+00,
         3.46199588e+00],
       [ 7.49828336e-01, -2.66326063e-02,  6.77638137e-01,
         2.64859562e+00],
       [ 7.83622628e-01,  6.72568388e-01,  2.00054101e+00,
         2.64990141e+00],
       [ 7.75420837e-01,  7.75972265e-01,  2.67475453e+00,
         2.82099685e+00],
       [ 8.26435056e-01, -5.24095835e-02,  7.37814600e-01,
         2.16081708e+00],
       [ 5.75994565e-01,  3.69393258e-01,  2.03296866e+00,
         2.49000700e+00],
       [ 2.11195871e+00,  2.60975624e-01, -1.10118240e+00,
         8.27797539e-01],
       [ 1.72553452e+00,  4.19900741e-02, -8.53524513e-01,
         1.26729416e+00],
       [ 1.76509242e-01, -4.27806163e+00,  1.03986215e+00,
         2.86877227e+00],
       [ 8.52040173e-01,  3.19855030e-01,  6.34356765e-01,
         2.51584565e+00],
       [ 1.10801030e+00,  1.51889408e-01,  5.43661124e-01,
         2.15503121e+00],
       [ 2.27290241e+00,  1.06449403e+01,  1.24166991e+00,
         1.11083387e+00],
       [ 2.02674344e+00,  1.15227809e-01, -9.69559324e-01,
         1.30604578e+00],
       [ 1.61507487e+00, -4.09491480e-03, -1.19409652e+00,
         1.41697124e+00],
       [ 1.03805924e+00,  1.49148165e+00, -1.60446848e-01,
         1.75767913e+00],
       [ 1.24579318e+00,  3.87406846e-01, -5.50239004e-01,
         1.68821944e+00],
       [ 8.88168258e-01,  7.97656103e-02, -1.59606574e-01,
         1.48635437e+00],
       [ 4.57899107e-01,  7.97562592e-01,  1.52050297e+00,
         9.09993362e-01],
       [ 1.31883319e+00,  1.16174086e-01, -1.45110608e+00,
         2.03089064e+00],
       [ 7.18768797e-01,  7.69656059e-02, -6.31739081e-02,
         1.15372384e+00],
       [ 6.33856420e-01,  2.09913834e+00,  5.19890787e-01,
         8.24579576e-01],
       [ 5.81968030e-01,  1.18086393e-01, -5.73969368e-01,
         1.35035628e+00],
       [ 5.29483636e-01,  1.35705241e-01, -5.70629380e-01,
         3.81984667e-01],
       [ 2.63028790e-01,  1.02495787e-01,  8.03325582e-01,
         1.07119923e+00],
       [ 1.12074239e-01,  3.22898639e-01,  2.66220755e-01,
         2.49623127e-01],
       [ 1.36918221e-01,  3.00265845e-01, -4.31328609e-01,
         6.65386003e-01],
       [-1.22407408e-03,  6.16925390e-01, -3.55669561e-01,
         2.32608621e-01],
       [-8.04051903e-01, -8.08096512e-02,  1.11307043e+00,
         8.47683107e-01],
       [-1.05692793e-01,  1.77188201e-02,  2.57909010e-01,
         6.89331947e-01],
       [ 2.89293309e-01,  1.40640483e-01, -9.15402386e-01,
         2.74206704e-01],
       [-4.51656299e-01,  2.06135904e-01,  2.75899239e-01,
         8.12892561e-01],
       [-1.32419729e-01,  1.05995052e-01, -1.16025082e+00,
        -3.10156929e-02],
       [-5.15704086e-01, -3.02709548e-01, -3.84464494e-01,
        -4.21722307e-01],
       [-8.89549049e-01,  2.09773377e-02,  1.50524053e-01,
         6.32244156e-01],
       [-6.58433419e-01,  6.57841633e-02, -5.71773587e-01,
         1.77480823e-01],
       [-1.21563954e+00,  6.61366251e-02,  2.01850969e-01,
         5.38934762e-01],
       [-1.21500647e+00, -1.79803955e-02,  1.34036500e+00,
         2.06649347e-01],
       [-6.91090289e-02,  1.78850883e-01, -1.37714213e+00,
        -4.29115006e-01],
       [-5.12835741e-01,  3.36586409e-01, -1.06097449e+00,
         6.09788420e-01],
       [-5.36674557e-01,  2.85891613e-01, -1.33632102e+00,
         1.58216573e-01],
       [-1.42764797e+00,  1.14720136e-01,  1.33645919e-01,
         5.47805092e-01],
       [-1.50847949e+00,  6.20605964e-01, -5.85931590e-01,
        -9.61552020e-02],
       [-1.81428953e+00,  3.39979473e-01,  9.23058881e-01,
        -1.30961839e-01],
       [-6.65286197e-01,  2.35017666e-01, -1.56621283e+00,
        -6.27734435e-01],
       [-1.28679609e+00,  6.26843722e-01, -1.06421925e-01,
        -2.45049638e-03],
       [-1.41882761e+00,  3.58357113e-01, -1.27870743e+00,
         4.36198643e-01],
       [-1.43172017e+00,  3.61656415e-01, -1.81780683e-01,
        -3.47313373e-01],
       [-1.22541037e+00,  4.54759425e-01, -1.28536192e+00,
        -1.26489613e-01],
       [-1.76471212e+00,  8.62471975e-02, -2.11192936e-01,
         5.12432284e-01],
       [-2.65628836e+00,  1.18295420e-01,  1.50839746e+00,
         1.17778204e-01],
       [-1.71895544e+00, -4.53946474e-02, -7.52291360e-01,
        -1.71139597e-01],
       [-2.28224106e+00,  5.56157924e-02,  6.31419235e-01,
         2.00898537e-01],
       [-1.22839411e+00,  4.65627000e-01, -1.45468041e+00,
        -5.34542046e-01],
       [-8.98604408e-01,  2.77789423e-01, -2.19475326e-01,
        -8.97859286e-01],
       [-5.27047246e-01, -2.55805214e-02, -9.10809670e-01,
        -5.04592011e-01],
       [-1.08682823e+00,  2.26506701e-02, -7.65200833e-01,
        -3.08804467e-01],
       [-1.73605539e+00,  2.98502395e-01, -5.33917697e-01,
        -2.65534215e-01],
       [-1.14518011e+00, -2.17249766e-02, -7.28430619e-01,
        -9.49866541e-01],
       [-2.23007000e+00,  1.52059923e-01,  1.01133516e+00,
        -1.23001678e-02],
       [-1.51734973e+00,  1.41591970e-01, -5.06716128e-01,
        -3.77414169e-01],
       [-1.40377578e+00,  1.34665720e-01, -1.16715624e+00,
        -5.81103661e-01],
       [-1.41548324e+00,  1.35379066e-01, -1.38358014e+00,
        -7.91268261e-01],
       [-1.97696505e+00,  3.25215695e-01,  9.75736713e-02,
        -4.26218690e-01],
       [-2.13001983e+00,  1.40260858e-01,  1.09171061e+00,
        -4.80666496e-01],
       [-9.32882683e-01,  1.72552179e-03, -1.92465948e-01,
        -8.07143955e-01],
       [-1.03694668e+00, -7.39242382e-01, -1.60591379e+00,
        -5.63435636e-01],
       [-1.61121867e+00,  3.23578690e-01, -1.13826081e+00,
        -1.26495235e+00],
       [-2.31850973e+00, -2.42168162e-01,  1.25996850e+00,
        -2.50022354e-01],
       [-1.67679651e+00, -1.72081114e+00, -3.63513424e-01,
        -8.94714463e-01],
       [-1.93651961e+00, -1.74900004e-01,  1.55106437e+00,
        -3.39290875e-01],
       [-9.03456453e-01, -1.19198340e-01,  5.47040979e-01,
        -2.73959070e-01],
       [-4.65627151e-01, -1.01161667e+00,  1.39878702e-01,
        -1.58286148e-02],
       [-9.43074823e-02,  9.01547468e-02, -1.66263853e+00,
        -1.35547431e+00],
       [-3.80045393e-01,  3.27462346e-02, -1.47962010e+00,
        -2.81326193e-01],
       [-1.70197333e+00, -1.04324365e+00,  1.51153100e+00,
        -1.08016758e-01],
       [-1.06968340e+00, -2.74379934e-01, -7.37062236e-02,
        -4.44011992e-01],
       [-4.88560520e-01, -1.40234925e-01, -4.46954551e-01,
        -7.85507901e-01],
       [-1.79036063e+00, -4.53256091e-02,  4.33449132e+00,
        -9.92274090e-02],
       [ 4.64519537e-02, -4.70713341e-01,  4.86560213e+00,
        -4.13035892e+00],
       [ 2.84136696e+00, -1.01905328e+00,  3.44483636e+00,
        -1.59091289e+00],
       [ 3.28392993e+00, -9.25016925e+00,  3.79934167e-01,
        -1.34484453e+00],
       [ 3.66497033e+00,  3.11481474e+00,  2.06137468e+00,
        -3.13235389e+00],
       [ 3.58050021e+00, -6.89697739e-01,  2.37138759e+00,
        -5.18074477e-01],
       [ 4.26402504e+00, -4.38781651e+00, -2.68835531e-01,
         7.62357122e-01],
       [ 4.42114887e+00, -1.62973881e+00, -6.84923807e-01,
         8.11747056e-01],
       [ 4.12268906e+00, -1.64776566e+00,  1.91358195e-02,
         1.13857815e+00],
       [ 3.93133739e+00, -8.98130436e-01,  1.07122538e-01,
         1.11407014e+00],
       [ 4.10672633e+00, -1.03066553e+00,  9.89992300e-01,
         2.05623489e+00],
       [ 2.72697212e+00, -3.20723138e+00,  6.21116334e-01,
         1.75343242e+00],
       [ 3.55259649e+00,  2.13464132e+00,  5.90672272e-01,
         8.66975879e-01],
       [ 2.27555742e+00, -6.03452908e-01,  3.39817065e+00,
         5.23471825e+00],
       [ 2.21492595e+00,  2.77496703e-01, -6.88778346e-02,
         1.36164409e+00],
       [ 2.62827865e+00,  1.03477086e+01, -2.05638777e-01,
         5.70578212e-01],
       [ 1.17483928e+00,  1.43508586e+00,  2.02365890e+00,
         2.77722248e+00],
       [ 1.79562336e+00,  9.24552475e-01, -1.29615040e-02,
         1.17316988e+00],
       [ 1.62887715e+00,  2.60474418e+00, -8.60087932e-01,
         9.09535620e-01],
       [ 8.52898983e-01,  1.21724534e+00,  7.00761787e-01,
         1.53023405e+00],
       [ 3.69597860e-01,  1.19446546e+00,  3.87344498e+00,
         4.17048692e-01],
       [ 1.55018788e+00,  1.74104094e+00,  2.28987647e+00,
         7.45017319e-01],
       [ 2.35900045e+00,  6.18045669e-01, -9.38755394e-01,
         4.86649864e-01],
       [ 1.16206787e+00,  5.08841747e-01,  2.13416876e+00,
         3.83582907e-01],
       [ 2.41871765e+00,  1.12540829e+00, -1.21438733e+00,
        -2.04638697e-01],
       [ 1.53362770e+00, -5.70435571e-02, -5.49924369e-01,
         1.16039387e-01],
       [ 1.00268341e+00,  1.08410255e-01, -4.60694377e-02,
        -3.67060213e-01],
       [ 1.16442538e+00,  2.37214414e-01, -1.11042304e+00,
        -2.70693030e-02],
       [ 3.44537717e-01, -1.06848847e-02,  5.24816957e-01,
        -4.92034154e-01],
       [ 4.47636824e-01,  2.45498554e-02, -4.82800882e-01,
        -5.76559495e-01],
       [ 2.19151470e-01,  6.07107996e-01, -6.12144875e-01,
        -1.73940876e-01],
       [ 2.97737362e-01,  1.66208547e-01, -8.23088812e-01,
        -5.06499852e-01],
       [-3.38544111e-01,  1.69610296e-01,  6.59870922e-01,
        -1.10606540e+00],
       [-3.16990382e-01,  2.10085552e-01,  8.24903182e-01,
        -8.54055627e-01],
       [-8.38502778e-01,  1.91271716e-01,  2.01514737e+00,
        -5.34151443e-01],
       [-6.13367655e-01,  9.63069699e-02,  3.03951562e+00,
        -1.17640002e+00],
       [-6.22326922e-01,  2.90371785e-01,  2.66209271e+00,
        -7.31987018e-01],
       [ 1.29889822e+00,  1.12311815e-01, -2.24439130e+00,
        -1.01535169e+00],
       [ 1.85196583e-01,  8.87440668e-02, -1.11640529e-01,
        -5.37394784e-01],
       [ 4.39903872e-01, -3.15721611e-01, -2.13148714e-02,
        -7.23168082e-01],
       [ 8.43309282e-01, -3.12603544e-02, -1.06217524e+00,
        -8.89753895e-01],
       [ 3.19863029e-01,  7.18781243e-02, -7.84299761e-01,
        -1.20447367e+00],
       [ 3.69860644e-01,  8.74818457e-02, -7.98819907e-01,
        -8.93269366e-01],
       [ 1.44435675e-01, -1.30926479e-01,  9.21212017e-01,
        -9.10887405e-01],
       [ 6.46062752e-02, -1.54173143e-01,  2.36569834e+00,
        -9.57658530e-01],
       [ 1.32395539e+00, -4.19748928e-01, -6.76829563e-01,
        -1.49408038e+00],
       [ 5.84569666e-01, -3.77169791e-01,  7.01604207e-01,
        -7.99350919e-01],
       [ 7.13230542e-01, -2.17394074e-01, -4.50297515e-01,
        -6.80731491e-01],
       [ 5.38693882e-01, -4.44250825e-01, -3.21991774e-01,
        -8.70046135e-01],
       [-1.51492698e-01, -3.06201540e-01,  1.10146146e+00,
        -1.07913366e+00],
       [ 9.75457146e-01, -1.31332809e-01, -3.64343899e-01,
        -1.30225890e+00],
       [ 3.70438828e-01, -6.06955456e-01,  1.54433515e-01,
        -9.73372857e-01],
       [ 1.01100813e+00, -5.08188558e-02, -1.63695053e+00,
        -1.13466026e+00],
       [ 2.31941854e-01, -7.92976157e-02,  3.66577639e-01,
        -1.16678006e+00],
       [ 9.39932663e-01, -8.70098885e-02, -1.03172993e+00,
        -1.38975398e+00],
       [ 4.08764076e-01, -2.27495489e-01,  4.64281154e-01,
        -1.28980488e+00],
       [ 3.55901060e-01, -1.02900768e-01, -1.67179210e-01,
        -9.66384864e-01],
       [ 3.44479240e-01, -1.47758622e-02,  6.01326354e-01,
        -7.78693156e-01],
       [ 8.20865843e-01,  8.38203442e-02, -1.52569496e+00,
        -7.15928755e-01],
       [ 1.84119951e-01,  1.15849334e-03,  9.56307088e-01,
        -1.13847619e+00],
       [ 9.94986126e-01,  5.74234707e-02, -7.03758391e-01,
        -1.21986555e+00],
       [ 8.64773964e-01, -1.90469086e-01, -3.74673157e-01,
        -1.28243587e+00],
       [ 6.41960967e-01, -1.88568292e-03, -5.66608267e-01,
        -1.57535608e+00],
       [ 4.43172378e-01,  2.34662605e-01, -4.86451174e-01,
        -1.20268652e+00],
       [-6.16126767e-02, -8.10068346e-02,  1.42629396e+00,
        -1.09154817e+00],
       [ 1.00109562e+00, -1.38259534e-01, -1.33515359e+00,
        -1.06914662e+00],
       [-9.99907064e-02, -3.96618550e-01,  4.02941061e-01,
        -9.72997098e-01],
       [-9.62074521e-02, -2.35441313e-01,  5.41453493e-01,
        -1.13634515e+00],
       [ 2.73380450e-01, -1.26489968e-01, -4.02579552e-01,
        -1.33616851e+00],
       [ 2.81545685e-01, -1.63522239e-02, -6.67321169e-01,
        -1.15039981e+00],
       [-6.95855576e-01, -8.19329041e-02,  1.88057346e+00,
        -1.39081719e+00],
       [ 8.26081504e-01, -1.13267274e-01, -1.31084561e+00,
        -1.71012198e+00],
       [-3.44496567e-01,  2.07936502e-01,  1.22706022e+00,
        -1.81382731e+00],
       [ 7.91651923e-01, -1.86421409e-02, -6.03137302e-01,
        -1.80106742e+00],
       [ 5.25650936e-01,  6.47179691e-02, -6.85098759e-01,
        -2.48296103e+00],
       [ 3.88523739e-02, -7.56210385e-01,  1.47588672e+00,
        -2.14008416e+00],
       [ 7.99636819e-01, -3.02429910e-01,  1.51406247e+00,
        -2.35449832e+00],
       [ 1.74011714e+00, -2.32310835e-01, -2.24846175e+00,
        -1.30266911e+00],
       [ 7.78853095e-01, -5.37874288e-01,  4.68070173e-01,
        -1.38159258e+00],
       [ 7.07441790e-01, -5.13270719e-01,  6.39664513e-02,
        -8.59657853e-01],
       [ 1.03470722e+00, -1.70521814e-01, -7.10832639e-01,
        -1.15887466e+00],
       [ 5.55791934e-01, -7.37632152e-01,  9.48879832e-01,
        -1.00133376e+00],
       [ 1.39903635e+00, -3.64058835e-01, -2.94686322e-01,
        -2.35657877e+00],
       [-4.82220395e-01, -4.52048206e-01,  4.58740023e+00,
        -1.17788834e+00],
       [ 1.11718387e+00, -9.96362143e-01,  8.02896681e-01,
        -5.70883130e-01],
       [ 1.93826211e+00, -3.89189387e-01, -1.89651724e+00,
        -1.42049673e+00],
       [ 1.12114475e+00, -1.43237160e-01,  1.12915815e-01,
        -9.89859544e-01],
       [ 6.98705812e-01, -6.27673913e-01,  1.72751142e+00,
        -1.26183433e+00],
       [ 3.62335721e-01, -4.89329969e-01,  2.56698439e+00,
        -8.86166189e-01],
       [ 1.37888294e+00, -5.02217393e-01,  8.72751285e-01,
        -1.81175135e-01],
       [ 1.76821917e+00, -3.62179462e-01, -2.04338360e+00,
         4.07895886e-01],
       [ 6.78768385e-01, -3.97282565e-01,  6.39285442e-01,
         3.76857249e-01],
       [ 1.24283669e+00, -1.58600540e-01, -7.53162022e-01,
        -9.07315212e-02],
       [ 8.34302501e-01, -4.82076565e-01,  1.24308624e+00,
         1.16594447e-01],
       [ 1.66922843e+00, -1.86941868e-01, -1.28247544e+00,
        -6.97407233e-01],
       [ 6.91388162e-01, -3.84562897e-01,  5.71484356e-01,
         1.37672276e-01],
       [ 8.43684839e-01, -1.85103990e-01,  2.98364184e-01,
        -1.49011676e-01],
       [-8.11327347e-02, -4.13323051e-01,  1.34668833e+00,
         4.09124409e-01],
       [ 8.02159027e-01, -1.06063533e-01, -1.53983896e+00,
        -5.49698909e-01],
       [ 1.62349320e-01,  3.97562984e-01, -3.97482806e-01,
         6.27683179e-02],
       [ 5.58216148e-01, -6.08438208e-02, -3.79464120e-01,
        -3.08272533e-01],
       [ 1.23953712e-01,  4.87227902e-02, -1.18250203e-01,
        -6.92903338e-01],
       [ 3.63591801e-01,  5.21040291e-01, -7.41414822e-02,
        -8.92576643e-01],
       [ 3.71923619e-01,  5.56387547e-02, -4.99837517e-01,
        -4.17081084e-01],
       [ 1.98479302e-01,  3.17455765e-02,  2.63762818e-01,
        -1.27717537e+00],
       [ 9.15753433e-02, -4.71603790e-02,  4.11536724e-02,
        -9.35492998e-01],
       [ 1.97384613e-01, -8.40190418e-02, -3.06693071e-01,
        -5.68781896e-01],
       [-1.72158519e-01,  3.40327694e-02,  4.27211169e-01,
        -9.37744306e-01],
       [ 1.33039069e-02, -2.47098759e-01, -1.22977885e+00,
        -5.42277185e-01],
       [-1.96141945e-01, -2.43931446e-02, -9.48470303e-02,
        -7.36641464e-01],
       [-2.80728539e-01,  2.23132932e-02, -3.36583554e-01,
        -5.39837666e-01],
       [-3.09715345e-01, -2.78255801e-02, -3.00847939e-01,
        -7.57006908e-01],
       [-3.90801323e-01, -1.47865646e-01, -5.02626579e-02,
        -4.26942987e-01],
       [-1.59945688e+00,  1.79377832e-01,  2.95046522e+00,
        -1.06676385e+00],
       [-6.07026221e-01,  5.15527842e-01,  1.21200680e-01,
        -7.45625096e-01],
       [-3.33572769e-01,  6.80208966e-02, -9.74521780e-01,
        -6.64985950e-01],
       [-2.53250332e-01,  3.72246090e-01, -1.25494800e+00,
        -9.87326632e-01],
       [-7.32156380e-01,  6.79142580e-01, -2.60285570e-01,
        -1.42508774e+00],
       [-6.93604370e-01,  3.92522751e-02, -1.04800571e+00,
        -9.38623992e-01],
       [-5.05416970e-01,  3.27993125e-01, -8.40273055e-01,
        -1.70688662e+00],
       [-7.82566662e-01,  6.23311610e-01, -4.22624412e-01,
        -1.32190810e+00],

In [289]:
pca.explained_variance_ratio_

array([0.15122172, 0.14032219, 0.1282261 , 0.10627144])

In [290]:
p_df=pd.DataFrame(p_components)
p_df.columns=['P_C1','P_C2','P_C3','P_C4']
p_df.index=merged_factors.index

p_df

              P_C1    P_C2    P_C3    P_C4
Date
1999-03-31 -0.8693 -0.2185 -1.4491  1.9971
1999-04-30 -1.0855  0.2506 -1.8320  2.5587
1999-05-31 -1.3815  0.0960 -0.7892  2.0502
1999-06-30 -0.7141  0.2300 -2.3358  0.5739
1999-07-31 -1.8328  0.2107  0.0206  1.8541
...            ...     ...     ...     ...
2018-08-31 -0.5054  0.3280 -0.8403 -1.7069
2018-09-30 -0.7826  0.6233 -0.4226 -1.3219
2018-10-31 -2.2281 -0.1926  3.2253 -0.6321
2018-11-30 -0.3195 -0.0171 -0.0161 -2.0206
2018-12-31 -0.4079  0.1635 -0.5767  1.6700

[238 rows x 4 columns]

In [291]:
pd.set_option('display.float_format',lambda x : '%.4f' % x)

In [292]:
merged_and_princ=merged_factors.join(p_df)
merged_and_princ.corr()

,mkt,smb,hml,rf,Dividend yield,Earnings growth,Oil price,PE ratio,ROA,ROE,Inflation Rate,Net Profit Margin_Mean,JPY=X,^VIX,max_drawdown,P_C1,P_C2,P_C3,P_C4
mkt,1.0000,0.2441,-0.0961,-0.1099,-0.0043,0.0468,0.1725,0.1096,0.0147,0.0105,-0.1857,0.0096,0.0755,-0.6706,0.0837,0.3645,0.0266,-0.7701,-0.0603
smb,0.2441,1.0000,-0.2707,0.0194,-0.0732,0.0152,0.0480,0.0472,0.0154,0.0078,-0.0158,-0.1324,0.1233,-0.1867,-0.0513,0.1916,0.0894,-0.4786,0.1028
hml,-0.0961,-0.2707,1.0000,0.1050,-0.1332,-0.0365,0.0228,-0.1195,-0.1063,-0.1164,0.0813,-0.0646,0.0866,0.0743,-0.0003,-0.2695,-0.1913,0.1684,0.2604
rf,-0.1099,0.0194,0.1050,1.0000,-0.5912,-0.1408,0.1154,0.0248,-0.0521,-0.0517,0.5164,0.0374,0.0129,0.0254,0.1988,-0.7641,0.0325,-0.2699,0.2514
Dividend yield,-0.0043,-0.0732,-0.1332,-0.5912,1.0000,-0.0737,-0.1269,0.0860,-0.0495,-0.0488,-0.3711,0.1265,-0.0229,0.0179,-0.3033,0.6518,-0.1682,0.3333,-0.4032
Earnings growth,0.0468,0.0152,-0.0365,-0.1408,-0.0737,1.0000,0.0349,-0.1906,0.1813,0.1771,0.0255,0.0437,-0.0565,0.0239,-0.1313,0.1145,0.3217,0.0921,0.1964
Oil price,0.1725,0.0480,0.0228,0.1154,-0.1269,0.0349,1.0000,-0.1237,-0.0045,0.0043,0.0365,-0.1324,-0.0716,-0.1141,0.0446,-0.0502,0.0245,-0.2975,0.4077
PE ratio,0.1096,0.0472,-0.1195,0.0248,0.0860,-0.1906,-0.1237,1.0000,0.0529,0.0543,0.1156,0.1591,-0.0479,-0.1334,0.0376,0.0015,0.0636,-0.2082,-0.4761
ROA,0.0147,0.0154,-0.1063,-0.0521,-0.0495,0.1813,-0.0045,0.0529,1.0000,0.9932,0.0631,-0.0246,0.0555,0.0506,-0.0274,0.0907,0.9693,0.0801,-0.0245
ROE,0.0105,0.0078,-0.1164,-0.0517,-0.0488,0.1771,0.0043,0.0543,0.9932,1.0000,0.0623,-0.0288,0.0586,0.0513,-0.0273,0.0910,0.9693,0.0812,-0.0236
Inflation Rate,-0.1857,-0.0158,0.0813,0.5164,-0.3711,0.0255,0.0365,0.1156,0.0631,0.0623,1.0000,0.2930,0.0175,0.0967,0.1035,-0.7113,0.1862,-0.0950,-0.0166
Net Profit Margin_Mean,0.0096,-0.1324,-0.0646,0.0374,0.1265,0.0437,-0.1324,0.1591,-0.0246,-0.0288,0.2930,1.0000,0.0934,0.0894,0.5141,-0.3466,0.0153,-0.0334,-0.7741
JPY=X,0.0755,0.1233,0.0866,0.0129,-0.0229,-0.0565,-0.0716,-0.0479,0.0555,0.0586,0.0175,0.0934,1.0000,-0.1824,0.1122,-0.0231,0.0770,-0.2722,-0.1644
^VIX,-0.6706,-0.1867,0.0743,0.0254,0.0179,0.0239,-0.1141,-0.1334,0.0506,0.0513,0.0967,0.0894,-0.1824,1.0000,0.0753,-0.3338,0.0451,0.7669,-0.0297
max_drawdown,0.0837,-0.0513,-0.0003,0.1988,-0.3033,-0.1313,0.0446,0.0376,-0.0274,-0.0273,0.1035,0.5141,0.1122,0.0753,1.0000,-0.4972,0.0023,-0.2514,-0.4758
P_C1,0.3645,0.1916,-0.2695,-0.7641,0.6518,0.1145,-0.0502,0.0015,0.0907,0.0910,-0.7113,-0.3466,-0.0231,-0.3338,-0.4972,1.0000,-0.0000,0.0000,0.0000
P_C2,0.0266,0.0894,-0.1913,0.0325,-0.1682,0.3217,0.0245,0.0636,0.9693,0.9693,0.1862,0.0153,0.0770,0.0451,0.0023,-0.0000,1.0000,0.0000,0.0000
P_C3,-0.7701,-0.4786,0.1684,-0.2699,0.3333,0.0921,-0.2975,-0.2082,0.0801,0.0812,-0.0950,-0.0334,-0.2722,0.7669,-0.2514,0.0000,0.0000,1.0000,0.0000
P_C4,-0.0603,0.1028,0.2604,0.2514,-0.4032,0.1964,0.4077,-0.4761,-0.0245,-0.0236,-0.0166,-0.7741,-0.1644,-0.0297,-0.4758,0.0000,0.0000,0.0000,1.0000

In [293]:
spx_rt.fillna(0,inplace=True)
spx_rt=spx_rt

In [294]:
merged_factors= merged_factors.drop(pd.Timestamp('2018-12-31'))

In [295]:
result = sm.OLS(spx_rt, sm.add_constant(merged_factors[['Dividend yield','ROE','PE ratio', 'Net Profit Margin_Mean', '^VIX','max_drawdown']])).fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              Adj Close   R-squared:                       0.220
Model:                            OLS   Adj. R-squared:                  0.199
Method:                 Least Squares   F-statistic:                     10.80
Date:                Wed, 25 Nov 2020   Prob (F-statistic):           1.39e-10
Time:                        03:32:53   Log-Likelihood:                 480.74
No. Observations:                 237   AIC:                            -947.5
Df Residuals:                     230   BIC:                            -923.2
Df Model:                           6
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
const                      0.0190      0.011      1.709      0.089      -0.003       0.041
Dividend yield             0.0683      0.586      0.117      0.907      -1.086       1.223
ROE                        0.0281      0.016      1.725      0.086      -0.004       0.060
PE ratio                  -0.0326      0.016     -2.061      0.040      -0.064      -0.001
Net Profit Margin_Mean    -4.1001      8.290     -0.495      0.621     -20.434      12.234
^VIX                      -1.5209      0.211     -7.211      0.000      -1.936      -1.105
max_drawdown               0.0629      0.020      3.100      0.002       0.023       0.103
==============================================================================
Omnibus:                       15.628   Durbin-Watson:                   1.908
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               29.478
Skew:                          -0.334   Prob(JB):                     3.97e-07
Kurtosis:                       4.593   Cond. No.                     3.99e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.99e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [296]:

excess_rt

,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,AES,...,WYNN,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
1999-03-31,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,...,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036
1999-04-30,0.1012,0.0810,-0.0035,0.1158,-0.0035,-0.0511,0.0379,0.0338,-0.0035,0.2432,...,-0.0035,0.0281,0.0711,0.1594,-0.0035,-0.0151,0.2167,-0.0035,0.0271,-0.0035
1999-05-31,0.1630,-0.0673,-0.0037,0.1446,-0.0037,0.0579,0.2237,0.1626,-0.0037,0.1004,...,-0.0037,0.0612,0.0269,-0.0133,-0.0037,-0.1431,0.1116,-0.0037,-0.0784,-0.0037
1999-06-30,-0.0164,-0.0666,-0.0037,-0.0983,-0.0037,0.0790,0.0566,-0.0465,-0.0037,0.0381,...,-0.0037,0.0033,-0.0197,0.0862,-0.0037,-0.1383,0.0623,-0.0037,-0.0740,-0.0037
1999-07-31,-0.0006,-0.0263,-0.0037,0.0288,-0.0037,0.0638,0.1301,-0.0519,-0.0037,0.0790,...,-0.0037,-0.0596,-0.0507,0.1864,-0.0037,-0.0307,0.1961,-0.0037,0.0341,-0.0037
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-07-31,0.0025,0.0179,-0.0284,-0.0368,0.0244,0.0341,0.0128,0.0706,0.0385,0.0047,...,-0.0717,0.0543,-0.0574,0.0016,-0.0191,-0.0347,-0.0424,0.0251,-0.0530,-0.0088
2018-08-31,0.0211,0.0291,0.0326,-0.0766,-0.0120,-0.0862,0.0088,0.2551,0.1052,0.0611,...,-0.0879,0.0313,0.0704,0.0668,0.1016,0.0584,0.1036,0.0750,0.0164,0.0617
2018-09-30,0.0306,0.0540,-0.0299,0.0607,0.0455,0.0977,0.0403,0.4629,0.0818,-0.0192,...,-0.0947,0.0101,0.0234,0.0647,0.0570,0.0645,0.0713,0.0265,-0.0229,-0.0159
2018-10-31,-0.0533,0.0124,-0.0520,-0.0575,-0.0537,-0.0555,-0.0553,-0.2003,-0.0187,0.0859,...,-0.1619,0.0126,-0.0225,-0.0056,-0.1050,0.0010,-0.0631,-0.0310,-0.0718,0.0124
2018-11-30,-0.0005,0.0169,-0.0123,-0.0922,-0.0017,-0.2552,-0.0557,-0.1766,0.0545,0.0485,...,-0.0488,0.0413,0.0178,0.1216,-0.0271,0.0002,0.0645,-0.0748,0.0008,0.0145

In [297]:
new_factor_alphas={}

for i in excess_rt.columns.unique(): 
    x=merged_factors[['Dividend yield','PE ratio',
                       'Net Profit Margin_Mean', '^VIX', 'max_drawdown']]
    y=excess_rt[i]

    ff_model=linear_model.LinearRegression().fit(x,y)

    new_factor_alphas[i]=ff_model.intercept_

new_factor_alphas

{'MMM': 0.05173152986490731,
 'ABT': 0.006565207111451322,
 'ABBV': -0.0011464328007077928,
 'ABMD': 0.07987795721906528,
 'ACN': 0.02611967553161848,
 'ATVI': 0.09037456655872209,
 'ADBE': 0.08504649479984122,
 'AMD': 0.12191414433194683,
 'AAP': -0.008025296873613549,
 'AES': 0.01867113392162896,
 'AFL': 0.030701930241304805,
 'A': 0.056536176527332976,
 'APD': 0.03327023455619201,
 'AKAM': -0.05617854389154987,
 'ALK': -0.026344185084180752,
 'ALB': 0.04910919574474254,
 'ARE': 0.09370347873287277,
 'ALXN': 0.09639913069598448,
 'ALGN': -0.008545166924836249,
 'ALLE': -0.0039826855968287545,
 'LNT': 0.014434451707130466,
 'ALL': 0.030404724226160022,
 'GOOGL': 0.004486180248282914,
 'GOOG': 0.004777517264024875,
 'MO': 0.028360499923377934,
 'AMZN': -0.020124826002408062,
 'AMCR': -0.004703290320487526,
 'AEE': 0.03541128650777165,
 'AAL': 0.019616303150959028,
 'AEP': 0.015112944848627012,
 'AXP': 0.04260284426428101,
 'AIG': 0.0828402402671751,
 'AMT': -0.004969553355128362,
 'AWK': -0.011750763850562607,
 'AMP': 0.012623405509330426,
 'ABC': 0.03391978348999539,
 'AME': 0.07016634612555317,
 'AMGN': 0.011019836380056729,
 'APH': 0.06948578921667264,
 'ADI': 0.08224316063908706,
 'ANSS': 0.08298743614192224,
 'ANTM': 0.04163927163719201,
 'AON': -0.0019254551846895653,
 'AOS': 0.047906809057633934,
 'APA': 0.08971576650145242,
 'AIV': 0.0727191180754058,
 'AAPL': 0.049020487669079245,
 'AMAT': 0.05920628567700981,
 'APTV': -0.009382533577782244,
 'ADM': -0.005904680918108715,
 'ANET': 0.007492556806289497,
 'AJG': 0.05653973252130526,
 'AIZ': 0.02455606645298804,
 'T': -0.005234932641426568,
 'ATO': 0.00031385972574843497,
 'ADSK': 0.052371985155279736,
 'ADP': 0.011102882568872718,
 'AZO': 0.014170581065586316,
 'AVB': 0.04369954909111926,
 'AVY': 0.03885093404578814,
 'BKR': 0.0670385083348352,
 'BLL': 0.04673086072587313,
 'BAC': 0.07195902906301614,
 'BK': 0.028701526792013626,
 'BAX': 0.029975750258559225,
 'BDX': 0.013088350194741836,
 'BBY': 0.04053652417511101,
 'BIO': 0.10336541725137156,
 'BIIB': 0.10311495704592481,
 'BLK': 0.06330712314871616,
 'BA': 0.06161335803904672,
 'BKNG': -0.044505820181902356,
 'BWA': 0.056660064705709536,
 'BXP': 0.056475833770284235,
 'BSX': 0.027655772740494418,
 'BMY': -0.03857507172431123,
 'AVGO': -0.003286792963109828,
 'BR': -0.017347794635915757,
 'CHRW': 0.05202339304326845,
 'COG': 0.049424511892787557,
 'CDNS': 0.0005441598042453212,
 'CPB': -0.0026013883092360275,
 'COF': 0.062381801839403415,
 'CAH': 0.04096289374677815,
 'KMX': 0.10203741883163635,
 'CCL': 0.01575087886624647,
 'CTLT': -3.910687859710231e-05,
 'CAT': 0.060517584826227135,
 'CBOE': -0.0049037957430512705,
 'CBRE': 0.024548666936197894,
 'CDW': -0.005546080158698698,
 'CE': 0.012257567507313959,
 'CNC': 0.04111420906563139,
 'CNP': 0.0037975746440956732,
 'CERN': 0.04401262594126759,
 'CF': -0.012594218698130525,
 'SCHW': 0.019630603219214497,
 'CHTR': -0.006151355848958444,
 'CVX': 0.02086049053061689,
 'CMG': -0.032009548097320234,
 'CB': 0.021115530963244172,
 'CHD': 0.03511334790475813,
 'CI': 0.02513621475600058,
 'CINF': 0.007422607771974093,
 'CTAS': 0.012006220819747304,
 'CSCO': 0.024123567164704412,
 'C': 0.12388371028380067,
 'CFG': 0.005047822802043612,
 'CTXS': 0.024817455983493178,
 'CLX': -0.0033931995705656854,
 'CME': 0.04063701892155295,
 'CMS': -0.035677361328170225,
 'KO': 9.181154537895881e-05,
 'CTSH': 0.10414360227305151,
 'CL': 0.008658794338966623,
 'CMCSA': 0.013535045232007093,
 'CMA': 0.03925155983296969,
 'CAG': 0.015235120662694375,
 'CXO': -0.014375564519871018,
 'COP': 0.05862520571776033,
 'ED': -0.0001632227064157438,
 'STZ': 0.04653345655840701,
 'COO': 0.06698031231909438,
 'CPRT': 0.062302352980770304,
 'GLW': 0.03181110164024463,
 'COST': 0.005319189384069195,
 'CCI': -0.00986107772152179,
 'CSX': 0.041104484007853714,
 'CMI': 0.06607217875394539,
 'CVS': -0.009301057477372966,
 'DHI': 0.05187520287588886,
 'DHR': 0.04199139034116871,
 'DRI': 0.008817551181538524,
 'DVA': 0.07336681785404227,
 'DE': 0.04472595847140107,
 'DAL': 0.0020575151758400745,
 'XRAY': 0.06314431807906068,
 'DVN': 0.09319407106908885,
 'DXCM': -0.006599707853573205,
 'FANG': -0.007452134131629967,
 'DLR': -0.005663258115859016,
 'DFS': 0.008428478149698188,
 'DISCA': -0.02263362713980989,
 'DISCK': -0.032488169004069055,
 'DISH': 0.10239006170606156,
 'DG': -0.013971138910666384,
 'DLTR': 0.026789924408905007,
 'D': 0.04843970440466109,
 'DPZ': -0.006693780358253895,
 'DOV': 0.03416984064939761,
 'DTE': 0.016759606684172423,
 'DUK': 0.009152015964142838,
 'DRE': 0.06501627054234545,
 'DD': 0.061624676877802695,
 'DXC': 0.02720893215103281,
 'EMN': 0.041633451215283904,
 'ETN': 0.06705980027761159,
 'EBAY': 0.05401726474820531,
 'ECL': 0.02358746078319885,
 'EIX': 0.035409516453488665,
 'EW': 0.010281240626741411,
 'EA': 0.10094660092546297,
 'EMR': 0.03874054846718186,
 'ETR': 0.04356262840313086,
 'EOG': 0.06878298825990689,
 'EFX': 0.026152447348704352,
 'EQIX': -0.010321789724505962,
 'EQR': 0.047975772309529006,
 'ESS': 0.06825357138254343,
 'EL': 0.008084206494099624,
 'ETSY': 0.001931504209405771,
 'EVRG': -0.0074418938878301295,
 'ES': 0.023123420395317326,
 'RE': 0.027002000248410412,
 'EXC': 0.03495461019790393,
 'EXPE': -0.0051421586632641285,
 'EXPD': 0.056775566034799343,
 'EXR': 0.0065282753913752465,
 'XOM': 0.021835007035392012,
 'FFIV': 0.10012996807826946,
 'FB': -0.007222201317968167,
 'FAST': 0.06622281256087546,
 'FRT': 0.039286670868941345,
 'FDX': 0.04289935625738087,
 'FIS': 0.012586591608682196,
 'FITB': 0.03826096570877837,
 'FE': 0.03829093123223882,
 'FRC': -0.005458668561003611,
 'FISV': 0.025642317937145352,
 'FLT': -0.00965538814940117,
 'FLIR': 0.09840517362178117,
 'FLS': 0.05048968755468427,
 'FMC': 0.04249582801949359,
 'F': -0.057399826195070155,
 'FTNT': -0.006907971086945481,
 'FTV': -0.0026695679505858777,
 'FBHS': -0.012455259228224576,
 'BEN': 0.05917978652474308,
 'FCX': 0.07053809654445925,
 'GPS': -0.014602779264534283,
 'GRMN': 0.04519607307902814,
 'IT': 0.005698046378026803,
 'GD': 0.050251772067285976,
 'GE': 0.040953411480555674,
 'GIS': 0.013188420187860608,
 'GM': 0.001910895229277611,
 'GPC': 0.01745113864189932,
 'GILD': 0.06312874485150827,
 'GL': 0.035327397396393845,
 'GPN': 0.047766524130453306,
 'GS': 0.028772380833959506,
 'GWW': 0.015747662698604007,
 'HAL': 0.03522749655249258,
 'HBI': 0.0015389473669831814,
 'HIG': 0.06265533899199911,
 'HAS': -0.0027027918041239614,
 'HCA': -0.009605839783914796,
 'PEAK': 0.042841544347851285,
 'HSIC': 0.046333016711972506,
 'HSY': 0.002369169882887924,
 'HES': 0.05479282189517799,
 'HPE': 0.0009061588067019368,
 'HLT': 0.0011165705049258838,
 'HFC': 0.04736799309381179,
 'HOLX': 0.08021773721770711,
 'HD': -0.006649781331880695,
 'HON': 0.027597959935004156,
 'HRL': 0.008269140542720188,
 'HST': 0.0565276601300465,
 'HPQ': 0.05002378432238314,
 'HUM': 0.029150090025630473,
 'HBAN': 0.03164806143696993,
 'HII': -0.005450579049542928,
 'IEX': 0.04940009770239684,
 'IDXX': 0.039524752685748836,
 'INFO': -0.0028763455131938925,
 'ITW': 0.03299641086119786,
 'ILMN': -0.027026452355166153,
 'INCY': 0.13661279647603197,
 'IR': -0.002244162180778975,
 'INTC': 0.021480673957250257,
 'ICE': -0.00423779140109787,
 'IBM': 0.013772385512517818,
 'IP': 0.04296323719091334,
 'IPG': 0.005464993457030148,
 'IFF': 0.01770434867057758,
 'INTU': 0.03006702374583779,
 'ISRG': 0.05931709894739349,
 'IVZ': 0.03270960040559705,
 'IPGP': 0.03312154811352111,
 'IQV': -0.0036640271511797057,
 'IRM': 0.022513787386334104,
 'JKHY': 0.03731306856988674,
 'J': 0.047244111795326144,
 'JBHT': 0.04972798115068352,
 'SJM': 0.027543942320309392,
 'JNJ': 0.01571287872294449,
 'JCI': 0.006672673347444565,
 'JPM': 0.012178605191438456,
 'JNPR': 0.07166933087457257,
 'KSU': 0.041272901312060115,
 'K': 0.021747508301125817,
 'KEY': 0.05722310158241989,
 'KEYS': -0.0015470334020425867,
 'KMB': 0.020998002242394835,
 'KIM': 0.07865841816144857,
 'KMI': -0.004744174876360873,
 'KLAC': 0.05896126214059179,
 'KHC': -0.0019037356930876287,
 'KR': -0.016946531459918212,
 'LB': 0.027870089278469262,
 'LHX': 0.06817966826823865,
 'LH': 0.11699054809438657,
 'LRCX': 0.07700690434400673,
 'LW': -0.005378866883256219,
 'LVS': 0.024799506796734705,
 'LEG': 0.03335319146364259,
 'LDOS': 0.01099826536732934,
 'LEN': 0.05636885291675771,
 'LLY': -0.009959995113970272,
 'LNC': 0.059023014039935484,
 'LIN': 0.04111037325062829,
 'LYV': 0.05935914768580528,
 'LKQ': -0.007851471780119102,
 'LMT': 0.04277050097394681,
 'L': 0.04763312209209275,
 'LOW': 0.022163218858733652,
 'LYB': -0.013910841502706425,
 'MTB': 0.04732909696225062,
 'MRO': 0.03839746203435758,
 'MPC': -0.0015338959554130772,
 'MKTX': -0.03924630070793208,
 'MAR': 0.030169129923877224,
 'MMC': 0.03353077465019762,
 'MLM': 0.0055786940760706675,
 'MAS': 0.03064484028323112,
 'MA': -0.0035174663221921067,
 'MKC': 0.025582521291174408,
 'MXIM': 0.04820064297147586,
 'MCD': -0.018860345845685113,
 'MCK': -0.012715177165769332,
 'MDT': 0.03828397754858658,
 'MRK': -0.009023079832095297,
 'MET': 0.06014020780103352,
 'MTD': 0.04595953843095159,
 'MGM': 0.12378834647098705,
 'MCHP': 0.07813021572769568,
 'MU': 0.038191322487176035,
 'MSFT': 0.000977035930205275,
 'MAA': 0.03093832114298281,
 'MHK': 0.066656855121531,
 'TAP': 0.020448320892523263,
 'MDLZ': 0.0157127846472771,
 'MNST': 0.027347513142569613,
 'MCO': 0.04422827287825513,
 'MS': 0.029242734840522654,
 'MOS': 0.01837890124357873,
 'MSI': 0.018744159833421096,
 'MSCI': 0.0015753711907455668,
 'MYL': -0.0005379459385365564,
 'NDAQ': 0.027565757064872444,
 'NOV': 0.08051653882600855,
 'NTAP': 0.10546221815799348,
 'NFLX': -0.015997536620414848,
 'NWL': 0.010637742845918983,
 'NEM': 0.023794761113885274,
 'NWSA': 0.00132722879647548,
 'NWS': 0.0007462078055118445,
 'NEE': 0.00375818768113907,
 'NLSN': -0.00690223153489376,
 'NKE': 0.01833592674897526,
 'NI': 0.000682811385909322,
 'NSC': 0.045418488298533996,
 'NTRS': 0.026663229538293462,
 'NOC': 0.049204540504933954,
 'NLOK': 0.10856263827425529,
 'NCLH': -0.005124526142174804,
 'NRG': 0.022728713915308472,
 'NUE': 0.03893306613956292,
 'NVDA': 0.1303128035107153,
 'NVR': 0.10435747741975969,
 'ORLY': -0.016498837995749503,
 'OXY': 0.04239312124916444,
 'ODFL': 0.03683802616007294,
 'OMC': 0.014508798361393318,
 'OKE': 0.05137594006066542,
 'ORCL': 0.05745845929364179,
 'PCAR': 0.06426334154078221,
 'PKG': 0.04484163151954023,
 'PH': 0.05123343685664965,
 'PAYX': 0.04200632449031797,
 'PAYC': -0.0008085078602527093,
 'PYPL': -0.00031530184446639225,
 'PNR': 0.05714015347422047,
 'PBCT': 0.020229414649112605,
 'PEP': 0.016240031794837996,
 'PKI': 0.06022923572202697,
 'PRGO': 0.03764576239957911,
 'PFE': -0.011330423992680765,
 'PM': -0.006122267548167951,
 'PSX': -0.009645597156202057,
 'PNW': 0.007919472916374692,
 'PXD': 0.09963780366038057,
 'PNC': 0.04016621931402222,
 'POOL': 0.08961497119468109,
 'PPG': 0.0245628173518903,
 'PPL': 0.038213761719469025,
 'PFG': 0.05102286285415235,
 'PG': 0.017458698178126324,
 'PGR': 0.01755881361199528,
 'PLD': 0.06523582297919707,
 'PRU': 0.04365178155940361,
 'PEG': 0.019915033474459685,
 'PSA': 0.028099116138365444,
 'PHM': 0.06981572321075882,
 'PVH': 0.05822218687779176,
 'QRVO': 0.004642832005198416,
 'PWR': 0.03804394904419358,
 'QCOM': 0.10226160084695919,
 'DGX': 0.098235971144958,
 'RL': 0.023451743356908816,
 'RJF': 0.06568867510286691,
 'RTX': 0.031185972989965664,
 'O': 0.03148950485472829,
 'REG': 0.05933824853679484,
 'REGN': 0.08475963286064246,
 'RF': 0.06376355415042917,
 'RSG': 0.04168093766571279,
 'RMD': 0.04941768271693696,
 'RHI': 0.03005294151809465,
 'ROK': 0.0521778263209379,
 'ROL': 0.007601022351957622,
 'ROP': 0.0437084716274429,
 'ROST': 0.018504137573316506,
 'RCL': 0.049543335323956474,
 'SPGI': 0.016477560515682055,
 'CRM': -0.00566392942177555,
 'SBAC': 0.005396986450615513,
 'SLB': 0.04496002120642745,
 'STX': 0.025713604403902805,
 'SEE': 0.030823540359845542,
 'SRE': 0.013763550688571925,
 'NOW': -0.002424796993830568,
 'SHW': 0.00952645501399316,
 'SPG': 0.04711164708910101,
 'SWKS': 0.06186216083311333,
 'SLG': 0.09964066018158689,
 'SNA': 0.03715725237928681,
 'SO': 0.033977578732715716,
 'LUV': 0.050627165019996236,
 'SWK': 0.04757616795963818,
 'SBUX': 0.031232832500701142,
 'STT': 0.03704707471670972,
 'STE': 0.006353018893836705,
 'SYK': 0.07910803426773841,
 'SIVB': 0.1312181358858838,
 'SYF': 9.818751767670772e-05,
 'SNPS': 0.010433302024944403,
 'SYY': 0.05292134781163399,
 'TMUS': 0.012874464299258875,
 'TROW': 0.039180290295762706,
 'TTWO': 0.11944744718664252,
 'TPR': 0.07611943365868801,
 'TGT': 0.014333687696757566,
 'TEL': 0.02371165466046031,
 'FTI': 0.029792854580613475,
 'TDY': 0.07910050127537395,
 'TFX': 0.052317603459558076,
 'TER': 0.04663908679674876,
 'TXN': 0.04047681126766045,
 'TXT': 0.04676992859409062,
 'TMO': 0.06263274428890575,
 'TIF': 0.07549556406507377,
 'TJX': -0.004595914965716494,
 'TSCO': 0.054635218085771306,
 'TT': 0.04179702849615887,
 'TDG': -0.016505555606707203,
 'TRV': 0.018772278704957873,
 'TFC': 0.034550370708390926,
 'TWTR': 0.00023584446799073322,
 'TYL': 0.03080682839457282,
 'TSN': -0.001310678846043697,
 'UDR': 0.061322679373114045,
 'ULTA': -0.00531617597722828,
 'USB': 0.030143713753178255,
 'UAA': -0.011460056324042645,
 'UA': -0.016338785244357494,
 'UNP': 0.02593395929433781,
 'UAL': 0.04423510518314451,
 'UNH': 0.06830904143057631,
 'UPS': 0.008587223833655688,
 'URI': 0.056814328736376866,
 'UHS': 0.04398936703850945,
 'UNM': 0.012678299553380621,
 'VFC': -0.006957778432463448,
 'VLO': 0.05835898179855907,
 'VAR': 0.10299272926194773,
 'VTR': 0.06405274456112058,
 'VRSN': 0.0285946061281002,
 'VRSK': -0.012966486822072156,
 'VZ': -0.010822112540891767,
 'VRTX': 0.04781017692078397,
 'V': -0.012178813247044269,
 'VNO': 0.06190960088871413,
 'VMC': 0.028542307825397253,
 'WRB': 0.04318185954010464,
 'WAB': 0.011675819261039793,
 'WMT': 0.010934498226468897,
 'WBA': 0.0016693689196298229,
 'DIS': 0.010237376168603846,
 'WM': 0.0015488285977879688,
 'WAT': 0.044985703332447946,
 'WEC': 0.002506499475364441,
 'WFC': 0.04066275875962501,
 'WELL': 0.03476189057975998,
 'WST': 0.02458115647751996,
 'WDC': 0.04370047625437393,
 'WU': 0.01634010316598623,
 'WRK': 0.0063211147133726536,
 'WY': 0.06394960455171404,
 'WHR': 0.04623544442983794,
 'WMB': 0.017685073525754175,
 'WLTW': 0.040238263604613474,
 'WYNN': 0.06527876590326895,
 'XEL': -0.01173402892840471,
 'XRX': 0.006534974615750819,
 'XLNX': 0.052721013013674885,
 'XYL': -0.0020097620628562354,
 'YUM': -0.006893419785028818,
 'ZBRA': 0.08030429539766196,
 'ZBH': 0.04856384053722264,
 'ZION': 0.06995570649881834,
 'ZTS': -0.003066859189487403}

In [298]:
data2={}
tker=[]
tf_alphas=[]
for i in excess_rt.columns.unique(): 
    x=merged_factors[['Dividend yield','PE ratio',
                       'Net Profit Margin_Mean', '^VIX', 'max_drawdown']]
    y=excess_rt[i]

    ff_model=linear_model.LinearRegression().fit(x,y)

    tker.append(i)
    tf_alphas.append(ff_model.intercept_)
    
data2['Tickers']=tker
data2['Alphas']=tf_alphas

new_factor_df=pd.DataFrame(data2)
new_factor_df

    Tickers  Alphas
0       MMM  0.0517
1       ABT  0.0066
2      ABBV -0.0011
3      ABMD  0.0799
4       ACN  0.0261
..      ...     ...
488     YUM -0.0069
489    ZBRA  0.0803
490     ZBH  0.0486
491    ZION  0.0700
492     ZTS -0.0031

[493 rows x 2 columns]

In [299]:
new_factor_sorted=new_factor_df.sort_values('Alphas',ascending=False)
new_factor_sorted

    Tickers  Alphas
238    INCY  0.1366
415    SIVB  0.1312
339    NVDA  0.1303
106       C  0.1239
305     MGM  0.1238
..      ...     ...
75      BMY -0.0386
291    MKTX -0.0392
71     BKNG -0.0445
13     AKAM -0.0562
193       F -0.0574

[493 rows x 2 columns]

In [300]:
new_factor_top10=new_factor_sorted[new_factor_sorted.Alphas>=new_factor_sorted.Alphas.quantile(0.98)]
new_factor_top10

    Tickers  Alphas
238    INCY  0.1366
415    SIVB  0.1312
339    NVDA  0.1303
106       C  0.1239
305     MGM  0.1238
7       AMD  0.1219
421    TTWO  0.1194
272      LH  0.1170
335    NLOK  0.1086
322    NTAP  0.1055

In [301]:
new_factor_top50=new_factor_sorted[new_factor_sorted.Alphas>=new_factor_sorted.Alphas.quantile(0.9)]
new_factor_top50

    Tickers  Alphas
238    INCY  0.1366
415    SIVB  0.1312
339    NVDA  0.1303
106       C  0.1239
305     MGM  0.1238
7       AMD  0.1219
421    TTWO  0.1194
272      LH  0.1170
335    NLOK  0.1086
322    NTAP  0.1055
340     NVR  0.1044
113    CTSH  0.1041
67      BIO  0.1034
68     BIIB  0.1031
456     VAR  0.1030
144    DISH  0.1024
378    QCOM  0.1023
84      KMX  0.1020
161      EA  0.1009
179    FFIV  0.1001
406     SLG  0.0996
362     PXD  0.0996
190    FLIR  0.0984
379     DGX  0.0982
17     ALXN  0.0964
16      ARE  0.0937
137     DVN  0.0932
5      ATVI  0.0904
44      APA  0.0897
364    POOL  0.0896
6      ADBE  0.0850
385    REGN  0.0848
40     ANSS  0.0830
31      AIG  0.0828
39      ADI  0.0822
321     NOV  0.0805
489    ZBRA  0.0803
224    HOLX  0.0802
3      ABMD  0.0799
414     SYK  0.0791
426     TDY  0.0791
265     KIM  0.0787
306    MCHP  0.0781
273    LRCX  0.0770
422     TPR  0.0761
432     TIF  0.0755
133     DVA  0.0734
45      AIV  0.0727
62      BAC  0.0720
259    JNPR  0.0717

In [302]:
new_factor_bottom10=new_factor_sorted[new_factor_sorted.Alphas<=new_factor_sorted.Alphas.quantile(0.02)]
new_factor_bottom10

    Tickers  Alphas
14      ALK -0.0263
237    ILMN -0.0270
99      CMG -0.0320
143   DISCK -0.0325
111     CMS -0.0357
75      BMY -0.0386
291    MKTX -0.0392
71     BKNG -0.0445
13     AKAM -0.0562
193       F -0.0574

In [303]:
new_factor_sorted.Alphas[443:493]

194   -0.0069
454   -0.0070
180   -0.0072
171   -0.0074
139   -0.0075
283   -0.0079
8     -0.0080
18    -0.0085
302   -0.0090
129   -0.0093
48    -0.0094
216   -0.0096
360   -0.0096
189   -0.0097
126   -0.0099
279   -0.0100
166   -0.0103
460   -0.0108
358   -0.0113
445   -0.0115
484   -0.0117
33    -0.0118
462   -0.0122
196   -0.0125
95    -0.0126
300   -0.0127
459   -0.0130
287   -0.0139
145   -0.0140
118   -0.0144
199   -0.0146
323   -0.0160
446   -0.0163
341   -0.0165
436   -0.0165
269   -0.0169
77    -0.0173
299   -0.0189
25    -0.0201
142   -0.0226
14    -0.0263
237   -0.0270
99    -0.0320
143   -0.0325
111   -0.0357
75    -0.0386
291   -0.0392
71    -0.0445
13    -0.0562
193   -0.0574
Name: Alphas, dtype: float64

In [304]:
new_factor_bottom50=new_factor_sorted[443:493]
new_factor_bottom50

    Tickers  Alphas
194    FTNT -0.0069
454     VFC -0.0070
180      FB -0.0072
171    EVRG -0.0074
139    FANG -0.0075
283     LKQ -0.0079
8       AAP -0.0080
18     ALGN -0.0085
302     MRK -0.0090
129     CVS -0.0093
48     APTV -0.0094
216     HCA -0.0096
360     PSX -0.0096
189     FLT -0.0097
126     CCI -0.0099
279     LLY -0.0100
166    EQIX -0.0103
460      VZ -0.0108
358     PFE -0.0113
445     UAA -0.0115
484     XEL -0.0117
33      AWK -0.0118
462       V -0.0122
196    FBHS -0.0125
95       CF -0.0126
300     MCK -0.0127
459    VRSK -0.0130
287     LYB -0.0139
145      DG -0.0140
118     CXO -0.0144
199     GPS -0.0146
323    NFLX -0.0160
446      UA -0.0163
341    ORLY -0.0165
436     TDG -0.0165
269      KR -0.0169
77       BR -0.0173
299     MCD -0.0189
25     AMZN -0.0201
142   DISCA -0.0226
14      ALK -0.0263
237    ILMN -0.0270
99      CMG -0.0320
143   DISCK -0.0325
111     CMS -0.0357
75      BMY -0.0386
291    MKTX -0.0392
71     BKNG -0.0445
13     AKAM -0.0562
193       F -0.0574

### Buy top 10 and short bottom 10

In [305]:
new_factor_top10['Tickers'].values

array(['INCY', 'SIVB', 'NVDA', 'C', 'MGM', 'AMD', 'TTWO', 'LH', 'NLOK',
       'NTAP'], dtype=object)

In [306]:
new_factor_bottom10['Tickers'].values

array(['ALK', 'ILMN', 'CMG', 'DISCK', 'CMS', 'BMY', 'MKTX', 'BKNG',
       'AKAM', 'F'], dtype=object)

In [307]:
new_factor_bottom10=df_excessrt[['AMT', 'SBAC', 'NFLX', 'CCI', 'AMZN', 'ILMN', 'EQIX', 'BKNG',
       'ALGN', 'AKAM']]

new_factor_bottom10 = new_factor_bottom10*-1

In [308]:
new_factor_top10=df_excessrt[['KMX', 'PXD', 'TTWO', 'NVR', 'NVDA', 'C', 'LH', 'AMD', 'SIVB',
       'EA']]

new_factor_first_portfoloio = pd.concat([new_factor_top10,new_factor_bottom10],axis=1)
new_factor_first_portfoloio

,KMX,PXD,TTWO,NVR,NVDA,C,LH,AMD,SIVB,EA,AMT,SBAC,NFLX,CCI,AMZN,ILMN,EQIX,BKNG,ALGN,AKAM
Date,,,,,,,,,,,,,,,,,,,,
1999-03-31,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036
1999-04-30,0.0184,0.1440,0.1280,0.0604,-0.0993,0.1329,0.1087,0.0338,-0.1117,0.0568,0.0306,0.0035,0.0035,-0.0121,-0.0539,0.0035,0.0035,-0.0917,0.0035,0.0035
1999-05-31,0.2288,0.3081,-0.1085,0.0848,-0.0688,-0.0451,0.2679,0.1626,0.0134,-0.0244,0.0270,0.0037,0.0037,-0.0770,0.2695,0.0037,0.0037,-0.4151,0.0037,0.0037
1999-06-30,0.1580,-0.0683,-0.0910,0.0171,-0.0347,-0.0450,0.1016,-0.0465,0.1413,0.0174,-0.0383,0.0037,0.0037,0.0457,0.1689,0.0037,0.0037,0.2432,0.0037,0.0037
1999-07-31,-0.2314,0.0295,0.0891,0.0891,0.1713,0.0742,0.1005,-0.0519,0.1532,0.1213,0.0128,-0.3165,0.0037,-0.1900,-0.0694,0.0037,0.0037,0.0275,0.0037,0.0037
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-07-31,0.0358,-0.0181,0.0574,-0.0315,-0.0320,0.0307,-0.0184,0.0706,-0.0306,0.0202,-0.0220,-0.0159,0.0084,-0.0651,-0.0489,-0.0620,-0.0700,0.0305,-0.0198,0.0181
2018-08-31,-0.0180,-0.0327,0.0290,-0.0990,0.0473,0.0321,-0.0279,0.2551,0.0585,-0.1130,-0.0421,0.0390,0.0941,-0.0178,-0.0618,-0.1148,-0.0046,0.0555,-0.0182,0.0470
2018-09-30,0.0420,-0.0514,0.0462,-0.0344,0.0412,0.0056,-0.0391,0.4629,-0.0077,-0.1035,0.0180,-0.0143,-0.0456,-0.0015,-0.0342,-0.0540,0.0054,0.0085,-0.0412,-0.0058
2018-10-31,-0.1068,-0.0172,-0.0561,-0.1269,-0.1191,-0.0437,-0.0212,-0.2003,-0.1136,-0.0861,-0.0088,0.0338,0.0768,0.0375,0.0954,0.0970,0.0670,0.0403,0.1880,0.1205
2018-11-30,-0.0650,-0.0973,-0.0977,0.0495,-0.2469,-0.0501,-0.0263,-0.1766,-0.1544,-0.1655,-0.0824,-0.0948,0.1364,-0.0288,0.0898,0.0004,0.0505,-0.0094,0.2769,-0.0566

In [309]:
avg_returns=new_factor_first_portfoloio.mean()
cov_mat=new_factor_first_portfoloio.cov()

In [310]:
np.random.seed(42)
weights = np.random.random(size=(10**5,20))
weights /=  np.sum(weights, axis=1)[:, np.newaxis]
weights

array([[0.04091526, 0.10385728, 0.07996398, ..., 0.05732508, 0.04718624,
        0.03181425],
       [0.06726187, 0.01533476, 0.03211588, ..., 0.01073724, 0.07521872,
        0.04838659],
       [0.01245362, 0.05053124, 0.00350924, ..., 0.01999943, 0.0046153 ,
        0.03319893],
       ...,
       [0.04967842, 0.04181172, 0.05190261, ..., 0.01348652, 0.01234176,
        0.07783566],
       [0.0567995 , 0.02595997, 0.02513236, ..., 0.07208931, 0.01719708,
        0.05332819],
       [0.00598651, 0.06235709, 0.09087888, ..., 0.06491787, 0.03218369,
        0.06572618]])

In [311]:
###portfolio metrics:
portf_rtns = np.dot(weights, avg_returns)

portf_vol = []
for i in range(0, len(weights)):
    portf_vol.append(np.sqrt(np.dot(weights[i].T, 
                                    np.dot(cov_mat, weights[i]))))
portf_vol = np.array(portf_vol)  
portf_sharpe_ratio = portf_rtns / portf_vol

portf_results_df = pd.DataFrame({'returns': portf_rtns,
                                 'volatility': portf_vol,
                                 'sharpe_ratio': portf_sharpe_ratio})
portf_results_df

       returns  volatility  sharpe_ratio
0       0.0003      0.0381        0.0089
1      -0.0024      0.0382       -0.0615
2      -0.0051      0.0433       -0.1177
3      -0.0003      0.0373       -0.0091
4      -0.0001      0.0352       -0.0031
...        ...         ...           ...
99995   0.0024      0.0379        0.0634
99996  -0.0009      0.0424       -0.0206
99997   0.0049      0.0386        0.1273
99998  -0.0023      0.0397       -0.0568
99999  -0.0029      0.0422       -0.0693

[100000 rows x 3 columns]

In [312]:
max_sharpe_ind = np.argmax(portf_results_df.sharpe_ratio)
max_sharpe_portf = portf_results_df.loc[max_sharpe_ind]

min_vol_ind = np.argmin(portf_results_df.volatility)
min_vol_portf = portf_results_df.loc[min_vol_ind]

RISKY_ASSETS=new_factor_first_portfoloio.columns
RISKY_ASSETS

Index(['KMX', 'PXD', 'TTWO', 'NVR', 'NVDA', 'C', 'LH', 'AMD', 'SIVB', 'EA',
       'AMT', 'SBAC', 'NFLX', 'CCI', 'AMZN', 'ILMN', 'EQIX', 'BKNG', 'ALGN',
       'AKAM'],
      dtype='object')

In [313]:
print('Maximum Sharpe Ratio portfolio ----')
print('Performance')
for index, value in max_sharpe_portf.items():
    print(f'{index}: {100 * value:.2f}% ', end="", flush=True)
print('\nWeights')
for x, y in zip(RISKY_ASSETS, weights[np.argmax(portf_results_df.sharpe_ratio)]):
    print(f'{x}: {100*y:.2f}% ', end="", flush=True)

Maximum Sharpe Ratio portfolio ----
Performance
returns: 0.99% volatility: 4.52% sharpe_ratio: 21.84%
Weights
KMX: 8.38% PXD: 5.04% TTWO: 9.29% NVR: 9.47% NVDA: 12.56% C: 3.73% LH: 6.85% AMD: 6.48% SIVB: 8.43% EA: 5.27% AMT: 1.65% SBAC: 0.15% NFLX: 1.74% CCI: 5.59% AMZN: 0.65% ILMN: 6.19% EQIX: 0.39% BKNG: 0.18% ALGN: 2.11% AKAM: 5.85%

In [314]:
print('Minimum Volatility portfolio ----')
print('Performance')
for index, value in min_vol_portf.items():
    print(f'{index}: {100 * value:.2f}% ', end="", flush=True)
print('\nWeights')
for x, y in zip(RISKY_ASSETS, weights[np.argmin(portf_results_df.volatility)]):
    print(f'{x}: {100*y:.2f}% ', end="", flush=True)

Minimum Volatility portfolio ----
Performance
returns: 0.25% volatility: 3.27% sharpe_ratio: 7.64%
Weights
KMX: 6.62% PXD: 3.28% TTWO: 8.16% NVR: 6.07% NVDA: 6.43% C: 3.43% LH: 8.31% AMD: 4.12% SIVB: 4.83% EA: 7.43% AMT: 3.47% SBAC: 1.17% NFLX: 4.13% CCI: 6.01% AMZN: 5.93% ILMN: 4.72% EQIX: 3.31% BKNG: 5.90% ALGN: 6.53% AKAM: 0.16%

### Buy top 50 and short bottom 50

In [315]:
new_factor_top50['Tickers'].values

array(['INCY', 'SIVB', 'NVDA', 'C', 'MGM', 'AMD', 'TTWO', 'LH', 'NLOK',
       'NTAP', 'NVR', 'CTSH', 'BIO', 'BIIB', 'VAR', 'DISH', 'QCOM', 'KMX',
       'EA', 'FFIV', 'SLG', 'PXD', 'FLIR', 'DGX', 'ALXN', 'ARE', 'DVN',
       'ATVI', 'APA', 'POOL', 'ADBE', 'REGN', 'ANSS', 'AIG', 'ADI', 'NOV',
       'ZBRA', 'HOLX', 'ABMD', 'SYK', 'TDY', 'KIM', 'MCHP', 'LRCX', 'TPR',
       'TIF', 'DVA', 'AIV', 'BAC', 'JNPR'], dtype=object)

In [316]:
new_factor_bottom50['Tickers'].values

array(['FTNT', 'VFC', 'FB', 'EVRG', 'FANG', 'LKQ', 'AAP', 'ALGN', 'MRK',
       'CVS', 'APTV', 'HCA', 'PSX', 'FLT', 'CCI', 'LLY', 'EQIX', 'VZ',
       'PFE', 'UAA', 'XEL', 'AWK', 'V', 'FBHS', 'CF', 'MCK', 'VRSK',
       'LYB', 'DG', 'CXO', 'GPS', 'NFLX', 'UA', 'ORLY', 'TDG', 'KR', 'BR',
       'MCD', 'AMZN', 'DISCA', 'ALK', 'ILMN', 'CMG', 'DISCK', 'CMS',
       'BMY', 'MKTX', 'BKNG', 'AKAM', 'F'], dtype=object)

In [317]:
new_factor_port_top50=df_excessrt[new_factor_top50['Tickers'].values]
new_factor_port_top50

,INCY,SIVB,NVDA,C,MGM,AMD,TTWO,LH,NLOK,NTAP,...,TDY,KIM,MCHP,LRCX,TPR,TIF,DVA,AIV,BAC,JNPR
Date,,,,,,,,,,,,,,,,,,,,,
1999-03-31,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,...,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036
1999-04-30,0.0003,-0.1117,-0.0993,0.1329,0.1798,0.0338,0.1280,0.1087,0.0007,0.1034,...,-0.0035,0.0327,0.0224,0.0961,-0.0035,0.0769,0.0430,0.0485,0.0277,-0.0035
1999-05-31,0.0934,0.0134,-0.0688,-0.0451,0.1541,0.1626,-0.1085,0.2679,0.2535,-0.1434,...,-0.0037,0.0540,0.1830,-0.0514,-0.0037,0.0333,0.3004,0.0929,-0.0678,-0.0037
1999-06-30,0.0680,0.1413,-0.0347,-0.0450,-0.0214,-0.0465,-0.0910,0.1016,0.1758,-0.0009,...,-0.0037,-0.0237,0.0734,0.2133,-0.0037,0.0201,-0.0233,0.0349,0.0142,-0.0037
1999-07-31,0.1265,0.1532,0.1713,0.0742,0.0422,-0.0519,0.0891,0.1005,0.1357,0.2025,...,-0.0037,-0.0126,0.0835,0.2684,-0.0037,0.1742,-0.2097,-0.0413,0.0540,0.2129
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-07-31,-0.0080,-0.0306,-0.0320,0.0307,-0.0072,0.0706,0.0574,-0.0184,0.0038,0.0582,...,0.0184,0.0125,-0.0566,-0.0341,0.0174,0.0057,-0.0071,0.0120,0.0106,0.0195
2018-08-31,-0.0273,0.0585,0.0473,0.0321,-0.0493,0.2551,0.0290,-0.0279,-0.0689,0.0312,...,0.1114,0.0113,-0.0539,0.0067,0.0524,-0.0269,0.0240,0.0346,0.0471,-0.0110
2018-09-30,0.0080,-0.0077,0.0412,0.0056,-0.0415,0.4629,0.0462,-0.0391,0.0426,0.0272,...,0.0509,0.0038,-0.0711,-0.1210,0.0134,-0.0443,-0.0400,0.0147,-0.0134,0.0449
2018-10-31,-0.0570,-0.1136,-0.1191,-0.0437,-0.0491,-0.2003,-0.0561,-0.0212,-0.0424,-0.0766,...,-0.0708,-0.0681,-0.1758,-0.0755,-0.1129,-0.0916,0.0012,-0.0219,-0.0740,-0.0036
2018-11-30,0.0172,-0.1544,-0.2469,-0.0501,0.0127,-0.1766,-0.0977,-0.0263,0.1129,-0.0620,...,-0.0228,0.0185,0.0720,0.0258,-0.0947,-0.0684,-0.0622,0.0571,-0.0187,0.0051

In [318]:
new_factor_port_bottom50=df_excessrt[new_factor_bottom50['Tickers'].values]

new_factor_port_bottom50 = new_factor_port_bottom50*-1

In [319]:
new_factor_port_bottom50

,FTNT,VFC,FB,EVRG,FANG,LKQ,AAP,ALGN,MRK,CVS,...,ALK,ILMN,CMG,DISCK,CMS,BMY,MKTX,BKNG,AKAM,F
Date,,,,,,,,,,,,,,,,,,,,,
1999-03-31,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,...,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036
1999-04-30,0.0035,-0.0496,0.0035,0.0235,0.0035,0.0035,0.0035,0.0035,0.0408,0.0341,...,0.0052,0.0035,0.0035,0.0035,-0.0178,-0.0017,0.0035,-0.0917,0.0035,-0.1002
1999-05-31,0.0037,0.0161,0.0037,-0.0872,0.0037,0.0037,0.0037,0.0037,0.0844,-0.0252,...,0.0946,0.0037,0.0037,0.0037,-0.0975,-0.0411,0.0037,-0.4151,0.0037,0.0274
1999-06-30,0.0037,0.1473,0.0037,0.0264,0.0037,0.0037,0.0037,0.0037,0.0275,-0.0433,...,0.0677,0.0037,0.0037,0.0037,0.0394,0.0025,0.0037,0.2432,0.0037,0.0978
1999-07-31,0.0037,0.0706,0.0037,0.0454,0.0037,0.0037,0.0037,0.0037,-0.0339,0.0005,...,-0.0794,0.0037,0.0037,0.0037,0.0867,-0.0619,0.0037,0.0275,0.0037,0.0125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-07-31,-0.0369,-0.0537,-0.0225,-0.0376,-0.0949,-0.0222,-0.0385,-0.0198,-0.0240,0.0161,...,0.0023,-0.0620,0.0069,-0.0450,-0.0643,-0.0635,0.0385,0.0305,0.0181,0.0860
2018-08-31,-0.1601,-0.0598,0.1141,-0.0226,0.0441,-0.0078,-0.1052,-0.0182,-0.0761,-0.0690,...,-0.0425,-0.1148,-0.0848,-0.0063,-0.0298,-0.0545,0.0725,0.0555,0.0470,0.0819
2018-09-30,-0.1439,0.0128,0.0756,-0.0026,0.0220,0.0290,-0.0818,-0.0412,-0.0375,-0.0897,...,-0.0608,-0.0540,0.0279,-0.1126,-0.0136,-0.0186,0.0295,0.0085,-0.0058,0.0338
2018-10-31,0.0589,0.0609,0.0638,0.0164,-0.0127,0.1304,0.0187,0.1880,-0.0188,0.0324,...,0.0757,0.0970,0.0887,-0.0439,-0.0016,0.0746,-0.0586,0.0403,0.1205,0.0531
2018-11-30,0.1177,0.0409,0.0833,-0.0447,0.1145,0.0292,-0.0545,0.2769,-0.0523,-0.0453,...,-0.0707,0.0004,-0.0844,0.0264,-0.0179,0.0694,-0.0892,-0.0094,-0.0566,-0.0592

In [320]:
new_factor_second_portfoloio = pd.concat([new_factor_port_top50,new_factor_port_bottom50],axis=1)
new_factor_second_portfoloio

,INCY,SIVB,NVDA,C,MGM,AMD,TTWO,LH,NLOK,NTAP,...,ALK,ILMN,CMG,DISCK,CMS,BMY,MKTX,BKNG,AKAM,F
Date,,,,,,,,,,,,,,,,,,,,,
1999-03-31,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,...,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036
1999-04-30,0.0003,-0.1117,-0.0993,0.1329,0.1798,0.0338,0.1280,0.1087,0.0007,0.1034,...,0.0052,0.0035,0.0035,0.0035,-0.0178,-0.0017,0.0035,-0.0917,0.0035,-0.1002
1999-05-31,0.0934,0.0134,-0.0688,-0.0451,0.1541,0.1626,-0.1085,0.2679,0.2535,-0.1434,...,0.0946,0.0037,0.0037,0.0037,-0.0975,-0.0411,0.0037,-0.4151,0.0037,0.0274
1999-06-30,0.0680,0.1413,-0.0347,-0.0450,-0.0214,-0.0465,-0.0910,0.1016,0.1758,-0.0009,...,0.0677,0.0037,0.0037,0.0037,0.0394,0.0025,0.0037,0.2432,0.0037,0.0978
1999-07-31,0.1265,0.1532,0.1713,0.0742,0.0422,-0.0519,0.0891,0.1005,0.1357,0.2025,...,-0.0794,0.0037,0.0037,0.0037,0.0867,-0.0619,0.0037,0.0275,0.0037,0.0125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-07-31,-0.0080,-0.0306,-0.0320,0.0307,-0.0072,0.0706,0.0574,-0.0184,0.0038,0.0582,...,0.0023,-0.0620,0.0069,-0.0450,-0.0643,-0.0635,0.0385,0.0305,0.0181,0.0860
2018-08-31,-0.0273,0.0585,0.0473,0.0321,-0.0493,0.2551,0.0290,-0.0279,-0.0689,0.0312,...,-0.0425,-0.1148,-0.0848,-0.0063,-0.0298,-0.0545,0.0725,0.0555,0.0470,0.0819
2018-09-30,0.0080,-0.0077,0.0412,0.0056,-0.0415,0.4629,0.0462,-0.0391,0.0426,0.0272,...,-0.0608,-0.0540,0.0279,-0.1126,-0.0136,-0.0186,0.0295,0.0085,-0.0058,0.0338
2018-10-31,-0.0570,-0.1136,-0.1191,-0.0437,-0.0491,-0.2003,-0.0561,-0.0212,-0.0424,-0.0766,...,0.0757,0.0970,0.0887,-0.0439,-0.0016,0.0746,-0.0586,0.0403,0.1205,0.0531
2018-11-30,0.0172,-0.1544,-0.2469,-0.0501,0.0127,-0.1766,-0.0977,-0.0263,0.1129,-0.0620,...,-0.0707,0.0004,-0.0844,0.0264,-0.0179,0.0694,-0.0892,-0.0094,-0.0566,-0.0592

In [321]:
avg_returns=new_factor_second_portfoloio .mean()
cov_mat=new_factor_second_portfoloio .cov()

In [322]:
np.random.seed(42)
weights = np.random.random(size=(10**5,100))
weights /=  np.sum(weights, axis=1)[:, np.newaxis]
weights

array([[0.00796588, 0.02022019, 0.01556835, ..., 0.00909312, 0.00054062,
        0.00229468],
       [0.00063132, 0.01278365, 0.0063145 , ..., 0.01802035, 0.017819  ,
        0.01566544],
       [0.01240398, 0.00162557, 0.00312265, ..., 0.00416964, 0.01203417,
        0.0016489 ],
       ...,
       [0.01098969, 0.01268501, 0.00084387, ..., 0.00218874, 0.00778975,
        0.01936558],
       [0.01432014, 0.00137127, 0.01232802, ..., 0.00425909, 0.01878983,
        0.00598754],
       [0.00218001, 0.0086047 , 0.01407926, ..., 0.01741434, 0.00457423,
        0.0072563 ]])

In [323]:
###portfolio metrics:
portf_rtns = np.dot(weights, avg_returns)

portf_vol = []
for i in range(0, len(weights)):
    portf_vol.append(np.sqrt(np.dot(weights[i].T, 
                                    np.dot(cov_mat, weights[i]))))
portf_vol = np.array(portf_vol)  
portf_sharpe_ratio = portf_rtns / portf_vol

portf_results_df = pd.DataFrame({'returns': portf_rtns,
                                 'volatility': portf_vol,
                                 'sharpe_ratio': portf_sharpe_ratio})
portf_results_df

       returns  volatility  sharpe_ratio
0       0.0021      0.0196        0.1069
1       0.0023      0.0175        0.1321
2       0.0026      0.0192        0.1364
3       0.0023      0.0182        0.1287
4       0.0028      0.0183        0.1548
...        ...         ...           ...
99995   0.0057      0.0240        0.2390
99996   0.0026      0.0190        0.1388
99997   0.0039      0.0216        0.1788
99998   0.0035      0.0196        0.1796
99999   0.0027      0.0190        0.1433

[100000 rows x 3 columns]

In [324]:
max_sharpe_ind = np.argmax(portf_results_df.sharpe_ratio)
max_sharpe_portf = portf_results_df.loc[max_sharpe_ind]

min_vol_ind = np.argmin(portf_results_df.volatility)
min_vol_portf = portf_results_df.loc[min_vol_ind]

RISKY_ASSETS=new_factor_first_portfoloio.columns
RISKY_ASSETS

Index(['KMX', 'PXD', 'TTWO', 'NVR', 'NVDA', 'C', 'LH', 'AMD', 'SIVB', 'EA',
       'AMT', 'SBAC', 'NFLX', 'CCI', 'AMZN', 'ILMN', 'EQIX', 'BKNG', 'ALGN',
       'AKAM'],
      dtype='object')

In [325]:
print('Maximum Sharpe Ratio portfolio ----')
print('Performance')
for index, value in max_sharpe_portf.items():
    print(f'{index}: {100 * value:.2f}% ', end="", flush=True)
print('\nWeights')
for x, y in zip(RISKY_ASSETS, weights[np.argmax(portf_results_df.sharpe_ratio)]):
    print(f'{x}: {100*y:.2f}% ', end="", flush=True)

Maximum Sharpe Ratio portfolio ----
Performance
returns: 0.59% volatility: 2.31% sharpe_ratio: 25.73%
Weights
KMX: 0.88% PXD: 1.09% TTWO: 1.48% NVR: 0.30% NVDA: 1.31% C: 0.71% LH: 0.88% AMD: 1.32% SIVB: 2.10% EA: 1.76% AMT: 1.36% SBAC: 1.91% NFLX: 0.70% CCI: 0.57% AMZN: 1.16% ILMN: 0.29% EQIX: 0.96% BKNG: 0.88% ALGN: 2.18% AKAM: 1.15%

In [326]:
print('Minimum Volatility portfolio ----')
print('Performance')
for index, value in min_vol_portf.items():
    print(f'{index}: {100 * value:.2f}% ', end="", flush=True)
print('\nWeights')
for x, y in zip(RISKY_ASSETS, weights[np.argmin(portf_results_df.volatility)]):
    print(f'{x}: {100*y:.2f}% ', end="", flush=True)

Minimum Volatility portfolio ----
Performance
returns: 0.01% volatility: 1.45% sharpe_ratio: 0.73%
Weights
KMX: 0.15% PXD: 0.30% TTWO: 0.84% NVR: 0.92% NVDA: 1.02% C: 0.78% LH: 0.30% AMD: 0.27% SIVB: 0.97% EA: 0.45% AMT: 0.71% SBAC: 0.16% NFLX: 0.81% CCI: 1.50% AMZN: 1.64% ILMN: 1.05% EQIX: 1.35% BKNG: 0.99% ALGN: 0.44% AKAM: 0.27%

## Adding different types of asset  based on economy situations(a. Prosperity b.Recession ) to achieve better return or lower the volatility

### a. Prosperity: buy the stock that is most related with market return and short JPY=X

In [327]:
data2={}
tker=[]
tf_alphas=[]
for i in excess_rt.columns.unique(): 
    x=merged_factors[['Dividend yield','PE ratio',
                       'Net Profit Margin_Mean', '^VIX', 'max_drawdown']]['2013-01-31':'2013-12-31']
    y=excess_rt[i]['2013-01-31':'2013-12-31']

    ff_model=linear_model.LinearRegression().fit(x,y)

    tker.append(i)
    tf_alphas.append(ff_model.intercept_)
    
data2['Tickers']=tker
data2['Alphas']=tf_alphas

new_factor_df=pd.DataFrame(data2)
new_factor_df

    Tickers  Alphas
0       MMM  0.2319
1       ABT -0.0518
2      ABBV -1.0385
3      ABMD  7.0274
4       ACN -0.5986
..      ...     ...
488     YUM  1.5357
489    ZBRA -0.0042
490     ZBH  0.3408
491    ZION  3.7945
492     ZTS -1.7434

[493 rows x 2 columns]

In [328]:
new_factor_sorted=new_factor_df.sort_values('Alphas',ascending=False)
new_factor_sorted

    Tickers   Alphas
7       AMD   9.9014
3      ABMD   7.0274
229     HPQ   5.1308
88     CBOE   5.0176
371     PRU   4.5726
..      ...      ...
396     CRM  -4.8339
345     OKE  -5.1966
66      BBY  -5.4035
238    INCY  -8.9018
180      FB -10.3758

[493 rows x 2 columns]

In [329]:
new_factor_top10=new_factor_sorted[new_factor_sorted.Alphas>=new_factor_sorted.Alphas.quantile(0.98)]
new_factor_top10

    Tickers  Alphas
7       AMD  9.9014
3      ABMD  7.0274
229     HPQ  5.1308
88     CBOE  5.0176
371     PRU  4.5726
110     CME  4.5613
313    MNST  4.3766
415    SIVB  4.1185
375     PVH  4.0829
96     SCHW  4.0592

In [330]:
new_factor_bottom10=new_factor_sorted[new_factor_sorted.Alphas<=new_factor_sorted.Alphas.quantile(0.02)]
new_factor_bottom10

    Tickers   Alphas
186      FE  -3.8097
275     LVS  -4.0493
388     RMD  -4.1200
481     WMB  -4.1526
251     IRM  -4.4181
396     CRM  -4.8339
345     OKE  -5.1966
66      BBY  -5.4035
238    INCY  -8.9018
180      FB -10.3758

In [331]:
df_monthrt['2013-01-31':'2013-12-31']

,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,AES,...,WYNN,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2013-01-31,0.0603,0.0603,0.0000,-0.0188,0.0219,0.0184,0.0419,0.1083,0.0204,0.0205,...,0.0929,0.0161,0.0884,0.0291,0.0324,-0.0064,0.0515,0.0809,0.0828,0.0000
2013-02-28,0.0523,0.0371,0.0428,0.1143,0.0485,0.1961,0.0137,-0.0111,0.0520,0.0201,...,-0.0072,0.0288,0.0581,0.0356,0.0111,-0.0192,0.0662,0.0377,0.0747,0.0000
2013-03-31,0.0275,0.0007,0.0355,0.1973,0.0343,0.0842,0.0793,-0.0243,0.0202,0.1086,...,-0.0072,0.0359,0.0706,0.0114,0.0230,0.0666,0.0286,-0.0041,0.0427,0.0331
2013-04-30,0.0066,0.0711,0.1262,0.0041,0.0179,0.0092,0.0673,-0.0196,0.0314,0.0411,...,0.0590,0.0634,0.0231,-0.0290,-0.0223,-0.0216,-0.0021,0.0056,-0.0390,-0.0325
2013-05-31,0.0390,0.0118,0.0547,0.2424,0.0559,0.0333,-0.0067,0.5558,0.0423,0.0181,...,0.1047,-0.0152,0.0160,0.0623,0.0169,0.0342,0.0153,0.0587,0.1073,0.0217
2013-06-30,0.0054,-0.0201,-0.0484,-0.0169,-0.0119,-0.0540,-0.0020,0.0255,-0.0300,-0.0812,...,-0.0403,-0.0427,0.0291,0.0165,-0.0360,0.0157,-0.0327,-0.0238,0.0349,-0.0557
2013-07-31,0.0395,-0.0133,0.0288,0.1140,-0.0754,0.0899,0.0756,0.0091,0.0035,0.0295,...,-0.0240,0.0272,0.0656,0.0994,0.0451,0.0246,0.0191,0.0444,0.0827,-0.0265
2013-08-31,0.0167,-0.0132,-0.0001,-0.0405,-0.0158,0.1011,-0.0237,-0.1019,-0.0025,0.0374,...,0.0789,-0.0242,0.0454,0.0367,-0.1225,0.0143,0.0398,0.0077,-0.0259,-0.0068
2013-09-30,0.0253,-0.0266,0.0336,-0.0331,0.0296,-0.0044,0.0674,0.0324,-0.0210,0.0383,...,0.0824,-0.0307,0.0182,0.0441,0.0952,-0.0148,-0.0431,0.0094,-0.0253,0.0333
2013-10-31,0.0253,0.0351,0.0497,-0.0743,-0.0184,0.0035,0.0592,-0.0294,0.1330,0.0379,...,0.0970,0.0284,0.0193,-0.0170,0.0682,-0.0499,0.0417,0.0575,-0.0056,0.0321
2013-11-30,0.0650,0.0723,0.0251,0.3302,0.0516,0.0020,0.0691,-0.0622,0.0888,0.0543,...,0.0060,0.0068,0.0397,-0.0315,0.1880,0.0819,0.0848,0.0371,0.0258,-0.0198
2013-12-31,0.0240,-0.0088,0.0773,0.0025,0.0144,0.0157,0.0287,0.0833,0.0890,-0.0076,...,0.1141,-0.0120,0.0775,0.0038,-0.0044,0.0080,0.0197,0.0267,0.0108,0.0106

In [332]:
spx_rt=spx.pct_change()
spx_rt

Date
1999-03-31       nan
1999-04-30    0.0424
1999-05-31   -0.0020
1999-06-30   -0.0066
1999-07-31    0.0446
               ...
2018-07-31    0.0155
2018-08-31    0.0245
2018-09-30    0.0170
2018-10-31   -0.0390
2018-11-30   -0.0207
Freq: M, Name: Adj Close, Length: 237, dtype: float64

In [333]:
spx_frame = pd.DataFrame(data = spx_rt)
spx_frame['2013-01-31':'2013-12-31']

            Adj Close
Date
2013-01-31     0.0422
2013-02-28     0.0233
2013-03-31     0.0276
2013-04-30     0.0139
2013-05-31     0.0459
2013-06-30    -0.0108
2013-07-31     0.0323
2013-08-31     0.0027
2013-09-30     0.0122
2013-10-31     0.0207
2013-11-30     0.0388
2013-12-31     0.0154

In [334]:
merged_new_factor=df_monthrt['2013-01-31':'2013-12-31'].join(spx_frame['2013-01-31':'2013-12-31'])
merged_new_factor_corr = merged_new_factor.corr()

In [335]:
merged_new_factor_corr.head()

,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,AES,...,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS,Adj Close
MMM,1.0000,0.4762,-0.1153,0.5685,0.3531,0.3190,0.1841,0.1479,0.3145,0.2840,...,0.1743,0.4058,0.1341,0.6167,0.3106,0.7279,0.7226,0.6090,0.1695,0.8044
ABT,0.4762,1.0000,0.3761,0.2639,0.4010,-0.0082,0.2825,-0.0718,0.5133,0.2729,...,0.6418,0.0211,-0.5851,0.3686,-0.0542,0.6065,0.4578,0.0398,-0.1365,0.4835
ABBV,-0.1153,0.3761,1.0000,0.0709,0.2295,0.1060,0.3700,0.1250,0.4631,0.4054,...,0.6148,-0.1418,-0.2984,0.0833,-0.2477,0.0333,0.1408,-0.2702,0.2641,0.2463
ABMD,0.5685,0.2639,0.0709,1.0000,0.4596,0.2174,0.1709,0.3014,0.1738,0.3725,...,0.1535,0.0439,0.0339,0.4972,0.8076,0.4439,0.1391,0.5139,0.0144,0.6327
ACN,0.3531,0.4010,0.2295,0.4596,1.0000,0.0342,-0.0842,0.3485,0.2023,0.2284,...,-0.0138,-0.1116,-0.3682,0.2868,0.2299,0.2195,0.0701,0.1060,0.3511,0.3345

In [336]:
merged_new_factor_top5=merged_new_factor_corr[merged_new_factor_corr['Adj Close']>=merged_new_factor_corr['Adj Close'].quantile(0.99)]
merged_new_factor_top5

,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,AES,...,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS,Adj Close
APH,0.6949,0.4045,0.2908,0.5427,0.4161,0.0395,0.3272,0.5508,0.4278,0.2685,...,0.3211,0.3739,0.0669,0.5341,0.2611,0.3946,0.6976,0.6618,0.3620,0.8909
ADP,0.6055,0.2815,0.3252,0.8194,0.3884,0.2007,0.3968,0.4492,0.1328,0.5614,...,0.3357,0.2194,0.2069,0.4975,0.6091,0.3307,0.4030,0.5369,0.2581,0.8638
JCI,0.7432,0.3081,0.1396,0.4852,0.1519,0.0748,0.1286,0.5773,0.4726,0.1162,...,0.1588,0.3175,0.2550,0.4722,0.2162,0.4882,0.8588,0.7181,0.2587,0.8833
RL,0.8437,0.6029,0.1051,0.5650,0.3118,0.3002,0.0276,0.4077,0.3406,0.1999,...,0.3489,0.4192,0.1361,0.3207,0.2747,0.7069,0.7911,0.7224,0.0210,0.8778
Adj Close,0.8044,0.4835,0.2463,0.6327,0.3345,0.2080,0.3217,0.4753,0.3762,0.4897,...,0.3918,0.2652,0.1753,0.5455,0.3188,0.5587,0.7919,0.6363,0.3578,1.0000

In [337]:
merged_new_factor_top5.index

Index(['APH', 'ADP', 'JCI', 'RL', 'Adj Close'], dtype='object')

In [338]:
new_factor_top10['Tickers'].values

array(['AMD', 'ABMD', 'HPQ', 'CBOE', 'PRU', 'CME', 'MNST', 'SIVB', 'PVH',
       'SCHW'], dtype=object)

In [339]:
new_factor_bottom10['Tickers'].values

array(['FE', 'LVS', 'RMD', 'WMB', 'IRM', 'CRM', 'OKE', 'BBY', 'INCY',
       'FB'], dtype=object)

In [340]:
port_new_factor_top10=df_excessrt[['KMX', 'NVDA', 'C', 'AMD', 'INCY', 'AIG', 'SIVB', 'PXD', 'TTWO',
       'EA','APH']]['2013-01-31':'2013-12-31']
port_new_factor_top10.head()

,KMX,NVDA,C,AMD,INCY,AIG,SIVB,PXD,TTWO,EA,APH
Date,,,,,,,,,,,
2013-01-31,0.0589,0.0043,0.1086,0.1082,0.0988,0.0476,0.1084,0.0789,0.0240,-0.0058,0.0718
2013-02-28,0.0236,0.0076,0.0185,-0.0112,0.0754,0.0609,0.0928,0.1119,0.1790,0.1876,0.0319
2013-03-31,0.0403,0.0220,0.0570,-0.0243,0.1638,0.0045,0.0266,-0.0045,0.0663,0.0597,0.0448
2013-04-30,0.0529,0.0133,-0.0066,-0.0196,-0.0550,0.0289,-0.0066,-0.0604,-0.0117,-0.0458,0.0112
2013-05-31,0.0961,0.1205,0.1078,0.5557,0.0388,0.1253,0.0747,0.1712,0.0471,0.2235,0.0729

In [341]:
port_new_factor_bottom10=df_excessrt[new_factor_bottom10['Tickers'].values]['2013-01-31':'2013-12-31'].join(df_sentiment[['JPY=X']]['2013-01-31':'2013-12-31'])
port_new_factor_bottom10

,FE,LVS,RMD,WMB,IRM,CRM,OKE,BBY,INCY,FB,JPY=X
Date,,,,,,,,,,,
2013-01-31,-0.0273,0.1545,0.0733,0.0709,0.0831,0.0435,0.0584,0.1728,0.0988,0.1179,0.0025
2013-02-28,0.0060,0.0095,-0.0219,0.0252,0.0277,-0.0059,0.0336,0.1489,0.0754,-0.0741,0.0007
2013-03-31,0.0264,0.0180,0.0171,0.0170,0.0374,0.0484,-0.0318,0.2919,0.1638,-0.0457,0.0010
2013-04-30,0.0939,0.0251,0.0356,0.0628,0.0373,-0.0703,0.0918,0.1468,-0.0550,-0.0074,0.0018
2013-05-31,-0.0359,0.0636,0.0806,-0.0207,0.0359,0.0526,-0.0347,0.0997,0.0388,-0.0175,0.0014
2013-06-30,-0.1153,-0.0454,-0.0477,-0.0833,-0.2312,-0.1300,-0.0956,0.0438,-0.0850,-0.0842,-0.0013
2013-07-31,-0.0015,-0.0118,-0.0399,0.0071,-0.0374,0.0845,0.0383,0.0765,0.1127,0.1657,-0.0002
2013-08-31,0.0057,0.0406,0.0839,0.0610,-0.0229,0.0764,0.1634,0.1145,0.2835,0.3882,0.0002
2013-09-30,-0.0089,0.1239,0.0666,0.0144,-0.0045,0.1429,0.0128,0.1665,0.2211,0.1810,-0.0002
2013-10-31,0.0111,0.0946,0.0438,0.0119,-0.0265,0.0364,0.0474,0.0659,0.0624,0.1038,0.0003
2013-11-30,-0.0411,0.0169,-0.0669,-0.0319,0.0578,0.0394,0.0567,0.0288,0.1342,-0.0621,0.0018
2013-12-31,-0.0918,0.0892,-0.0686,0.0478,0.0615,-0.0299,0.0322,-0.0134,0.1134,0.1095,0.0012

In [342]:
port_new_factor_bottom10 = port_new_factor_bottom10*-1

In [343]:
new_factor_first_portfoloio = pd.concat([port_new_factor_top10,port_new_factor_bottom10],axis=1)
new_factor_first_portfoloio

,KMX,NVDA,C,AMD,INCY,AIG,SIVB,PXD,TTWO,EA,...,LVS,RMD,WMB,IRM,CRM,OKE,BBY,INCY,FB,JPY=X
Date,,,,,,,,,,,,,,,,,,,,,
2013-01-31,0.0589,0.0043,0.1086,0.1082,0.0988,0.0476,0.1084,0.0789,0.0240,-0.0058,...,-0.1545,-0.0733,-0.0709,-0.0831,-0.0435,-0.0584,-0.1728,-0.0988,-0.1179,-0.0025
2013-02-28,0.0236,0.0076,0.0185,-0.0112,0.0754,0.0609,0.0928,0.1119,0.1790,0.1876,...,-0.0095,0.0219,-0.0252,-0.0277,0.0059,-0.0336,-0.1489,-0.0754,0.0741,-0.0007
2013-03-31,0.0403,0.0220,0.0570,-0.0243,0.1638,0.0045,0.0266,-0.0045,0.0663,0.0597,...,-0.0180,-0.0171,-0.0170,-0.0374,-0.0484,0.0318,-0.2919,-0.1638,0.0457,-0.0010
2013-04-30,0.0529,0.0133,-0.0066,-0.0196,-0.0550,0.0289,-0.0066,-0.0604,-0.0117,-0.0458,...,-0.0251,-0.0356,-0.0628,-0.0373,0.0703,-0.0918,-0.1468,0.0550,0.0074,-0.0018
2013-05-31,0.0961,0.1205,0.1078,0.5557,0.0388,0.1253,0.0747,0.1712,0.0471,0.2235,...,-0.0636,-0.0806,0.0207,-0.0359,-0.0526,0.0347,-0.0997,-0.0388,0.0175,-0.0014
2013-06-30,-0.0188,0.0014,-0.0124,0.0255,-0.0850,-0.0014,0.0540,0.0552,-0.0341,0.0501,...,0.0454,0.0477,0.0833,0.2312,0.1300,0.0956,-0.0438,0.0850,0.0842,0.0013
2013-07-31,0.0339,0.0019,0.0338,0.0090,0.1127,0.0337,0.1352,0.0523,0.0435,0.0851,...,0.0118,0.0399,-0.0071,0.0374,-0.0845,-0.0383,-0.0765,-0.1127,-0.1657,0.0002
2013-08-31,0.0175,0.0341,-0.0091,-0.1019,0.2835,0.0285,-0.0143,0.1299,0.1363,0.1035,...,-0.0406,-0.0839,-0.0610,0.0229,-0.0764,-0.1634,-0.1145,-0.2835,-0.3882,-0.0002
2013-09-30,0.0386,0.0523,-0.0079,0.0324,0.2211,0.0420,-0.0338,0.0655,-0.0305,-0.0030,...,-0.1239,-0.0666,-0.0144,0.0045,-0.1429,-0.0128,-0.1665,-0.2211,-0.1810,0.0002
2013-10-31,-0.0516,-0.0045,-0.0111,-0.0294,0.0624,0.0265,0.1082,0.1051,-0.0288,-0.0686,...,-0.0946,-0.0438,-0.0119,0.0265,-0.0364,-0.0474,-0.0659,-0.0624,-0.1038,-0.0003
2013-11-30,0.0259,0.0024,0.0212,-0.0623,0.1342,-0.0347,0.0585,-0.0665,0.0036,-0.0195,...,-0.0169,0.0669,0.0319,-0.0578,-0.0394,-0.0567,-0.0288,-0.1342,0.0621,-0.0018
2013-12-31,0.0210,0.0088,0.0227,0.0833,0.1134,0.0260,0.0407,-0.0427,-0.0158,-0.0799,...,-0.0892,0.0686,-0.0478,-0.0615,0.0299,-0.0322,0.0134,-0.1134,-0.1095,-0.0012

In [344]:
avg_returns=new_factor_first_portfoloio.mean()
cov_mat=new_factor_first_portfoloio.cov()

In [345]:
np.random.seed(42)
weights = np.random.random(size=(10**5,22))
weights /=  np.sum(weights, axis=1)[:, np.newaxis]
weights

array([[0.03781174, 0.09597947, 0.07389853, ..., 0.02940107, 0.06176968,
        0.01408262],
       [0.02949122, 0.03698325, 0.04603904, ..., 0.04998678, 0.00347143,
        0.09179346],
       [0.02372464, 0.06073926, 0.0285773 , ..., 0.03270672, 0.02575574,
        0.04975374],
       ...,
       [0.06682599, 0.0044611 , 0.0793555 , ..., 0.00982388, 0.0060689 ,
        0.04314398],
       [0.08030915, 0.07887397, 0.00759011, ..., 0.03562629, 0.00042849,
        0.06050497],
       [0.04211766, 0.07306966, 0.06545223, ..., 0.08525022, 0.02239374,
        0.0568134 ]])

In [346]:
###portfolio metrics:
portf_rtns = np.dot(weights, avg_returns)

portf_vol = []
for i in range(0, len(weights)):
    portf_vol.append(np.sqrt(np.dot(weights[i].T, 
                                    np.dot(cov_mat, weights[i]))))
portf_vol = np.array(portf_vol)  
portf_sharpe_ratio = portf_rtns / portf_vol

In [347]:
portf_results_df = pd.DataFrame({'returns': portf_rtns,
                                 'volatility': portf_vol,
                                 'sharpe_ratio': portf_sharpe_ratio})
portf_results_df

       returns  volatility  sharpe_ratio
0       0.0023      0.0345        0.0663
1       0.0021      0.0287        0.0743
2       0.0119      0.0287        0.4139
3       0.0106      0.0331        0.3194
4       0.0087      0.0276        0.3170
...        ...         ...           ...
99995   0.0047      0.0262        0.1779
99996   0.0020      0.0253        0.0801
99997   0.0105      0.0270        0.3899
99998   0.0082      0.0195        0.4215
99999  -0.0031      0.0214       -0.1429

[100000 rows x 3 columns]

In [348]:
max_sharpe_ind = np.argmax(portf_results_df.sharpe_ratio)
max_sharpe_portf = portf_results_df.loc[max_sharpe_ind]

min_vol_ind = np.argmin(portf_results_df.volatility)
min_vol_portf = portf_results_df.loc[min_vol_ind]

In [349]:
RISKY_ASSETS=three_factor_first_portfoloio.columns
RISKY_ASSETS

Index(['MNST', 'NFLX', 'ABMD', 'NVDA', 'AAPL', 'REGN', 'HFC', 'ALXN', 'CTSH',
       'ISRG', 'JPY=X', 'RF', 'GPS', 'WY', 'IPG', 'UA', 'XRX', 'F', 'GE', 'C',
       'AIG', 'ITW'],
      dtype='object')

In [350]:
print('Maximum Sharpe Ratio portfolio ----')
print('Performance')
for index, value in max_sharpe_portf.items():
    print(f'{index}: {100 * value:.2f}% ', end="", flush=True)
print('\nWeights')
for x, y in zip(RISKY_ASSETS, weights[np.argmax(portf_results_df.sharpe_ratio)]):
    print(f'{x}: {100*y:.2f}% ', end="", flush=True)

Maximum Sharpe Ratio portfolio ----
Performance
returns: 2.68% volatility: 2.37% sharpe_ratio: 113.30%
Weights
MNST: 10.10% NFLX: 1.49% ABMD: 7.42% NVDA: 4.32% AAPL: 13.47% REGN: 4.23% HFC: 4.75% ALXN: 9.86% CTSH: 1.79% ISRG: 4.53% JPY=X: 9.70% RF: 0.43% GPS: 4.34% WY: 0.12% IPG: 2.09% UA: 8.42% XRX: 6.37% F: 2.18% GE: 1.09% C: 0.79% AIG: 1.19% ITW: 1.34%

In [351]:
print('Minimum Volatility portfolio ----')
print('Performance')
for index, value in min_vol_portf.items():
    print(f'{index}: {100 * value:.2f}% ', end="", flush=True)
print('\nWeights')
for x, y in zip(RISKY_ASSETS, weights[np.argmin(portf_results_df.volatility)]):
    print(f'{x}: {100*y:.2f}% ', end="", flush=True)

Minimum Volatility portfolio ----
Performance
returns: 1.20% volatility: 1.61% sharpe_ratio: 74.38%
Weights
MNST: 3.60% NFLX: 5.51% ABMD: 11.55% NVDA: 0.08% AAPL: 11.82% REGN: 7.23% HFC: 2.94% ALXN: 6.60% CTSH: 2.11% ISRG: 2.62% JPY=X: 3.85% RF: 1.81% GPS: 3.73% WY: 6.66% IPG: 4.49% UA: 4.77% XRX: 2.51% F: 0.03% GE: 1.32% C: 8.49% AIG: 2.04% ITW: 6.25%

### b.Recession:  Short the stock that is most related with market return and buy JP=X

In [352]:
data2={}
tker=[]
tf_alphas=[]
for i in excess_rt.columns.unique(): 
    x=merged_factors[['Dividend yield','PE ratio',
                       'Net Profit Margin_Mean', '^VIX', 'max_drawdown']]['2007-11-30':'2009-02-28']
    y=excess_rt[i]['2007-11-30':'2009-02-28']

    ff_model=linear_model.LinearRegression().fit(x,y)

    tker.append(i)
    tf_alphas.append(ff_model.intercept_)
    
data2['Tickers']=tker
data2['Alphas']=tf_alphas

new_factor_df=pd.DataFrame(data2)
new_factor_df

    Tickers  Alphas
0       MMM  0.2745
1       ABT -0.6273
2      ABBV  0.0062
3      ABMD -0.7170
4       ACN  0.5483
..      ...     ...
488     YUM  0.0963
489    ZBRA -0.3878
490     ZBH  1.9593
491    ZION  3.1044
492     ZTS  0.0062

[493 rows x 2 columns]

In [353]:
new_factor_sorted=new_factor_df.sort_values('Alphas',ascending=False)
new_factor_sorted

    Tickers  Alphas
28      AAL  9.8722
448     UAL  5.6780
374     PHM  4.9283
201      IT  4.3393
82      COF  4.1055
..      ...     ...
296      MA -3.4645
220     HES -3.7266
77       BR -3.9240
316     MOS -4.0653
339    NVDA -4.2686

[493 rows x 2 columns]

In [354]:
new_factor_top10=new_factor_sorted[new_factor_sorted.Alphas>=new_factor_sorted.Alphas.quantile(0.98)]
new_factor_top10

    Tickers  Alphas
28      AAL  9.8722
448     UAL  5.6780
374     PHM  4.9283
201      IT  4.3393
82      COF  4.1055
231    HBAN  4.0677
185    FITB  3.8617
62      BAC  3.7781
282     LYV  3.7395
434    TSCO  3.7112

In [355]:
new_factor_bottom10=new_factor_sorted[new_factor_sorted.Alphas<=new_factor_sorted.Alphas.quantile(0.02)]
new_factor_bottom10

    Tickers  Alphas
476     WDC -3.1266
13     AKAM -3.1440
49      ADM -3.1646
22    GOOGL -3.3143
23     GOOG -3.3143
296      MA -3.4645
220     HES -3.7266
77       BR -3.9240
316     MOS -4.0653
339    NVDA -4.2686

In [356]:
df_monthrt['2007-11-30':'2009-02-28']

,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,AES,...,WYNN,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2007-11-30,-0.0972,0.0296,0.0000,-0.0541,-0.1053,-0.0719,-0.0594,-0.1267,0.0341,0.0358,...,-0.1353,0.0165,-0.0445,-0.1083,0.0000,0.0187,0.0640,-0.1603,-0.1917,0.0000
2007-12-31,0.0393,0.0503,0.0000,0.1788,0.0004,0.2976,-0.0074,-0.2909,0.0920,0.0073,...,-0.0909,0.0416,0.0099,-0.0290,0.0000,0.0122,-0.0492,0.0183,-0.0399,0.0000
2008-01-31,-0.0806,0.0113,0.0000,0.0027,-0.0478,-0.0134,-0.1306,-0.1942,-0.1071,-0.0885,...,-0.1050,-0.0507,-0.1187,-0.0623,0.0000,-0.0585,-0.1291,0.0238,-0.1015,0.0000
2008-02-29,0.0219,-0.0302,0.0000,0.0139,0.0235,-0.0101,-0.0754,0.0197,0.0215,-0.0325,...,0.0435,-0.0465,0.0405,0.0680,0.0000,-0.0230,-0.0024,0.1204,0.1440,0.0000
2008-03-31,-0.0152,-0.0516,0.0000,-0.0981,-0.0071,0.0068,-0.0221,-0.0768,-0.0299,-0.1086,...,-0.0996,-0.0294,-0.0319,0.0660,0.0000,0.0405,0.0691,-0.0079,-0.0798,0.0000
2008-04-30,0.0181,-0.0005,0.0000,0.0614,0.0882,0.0115,0.0873,-0.0440,0.0317,0.0200,...,0.0681,0.0444,-0.0026,0.0448,0.0000,0.0727,0.0354,0.0090,-0.0411,0.0000
2008-05-31,-0.0282,0.0309,0.0000,0.0105,0.0170,0.1446,0.1226,0.1406,0.0544,0.0878,...,-0.0183,0.0292,-0.0314,0.0810,0.0000,0.0264,0.0892,-0.0801,0.0003,0.0000
2008-06-30,-0.0361,0.0042,0.0000,0.2632,0.0360,0.1123,0.0142,0.0088,0.0933,0.0288,...,-0.1267,-0.0308,-0.0361,0.0222,0.0000,-0.0706,-0.0441,-0.0154,-0.2120,0.0000
2008-07-31,-0.0618,0.0526,0.0000,0.0114,0.0132,-0.0084,-0.0343,-0.3116,-0.0152,-0.1192,...,-0.0531,-0.0166,-0.0116,-0.1048,0.0000,-0.0487,-0.1171,-0.0181,-0.2453,0.0000
2008-08-31,0.0349,0.0366,0.0000,0.0043,0.0183,-0.0125,0.0915,0.1268,0.0898,-0.0982,...,0.1524,0.0200,0.0430,0.0994,0.0000,0.0381,0.0058,0.0453,0.0656,0.0000
2008-09-30,-0.0266,-0.0012,0.0000,-0.0414,-0.0727,-0.0339,-0.0926,0.0018,-0.0499,-0.1494,...,-0.1192,0.0092,-0.0766,-0.1100,0.0000,0.0065,-0.0667,-0.0456,0.3420,0.0000
2008-10-31,-0.1362,-0.0456,0.0000,-0.2234,-0.1520,-0.2433,-0.2877,-0.2913,-0.2825,-0.3398,...,-0.3775,-0.1345,-0.3418,-0.1479,0.0000,-0.2275,-0.2980,-0.2361,-0.0407,0.0000
2008-11-30,0.0485,-0.0121,0.0000,0.0079,-0.0659,-0.0982,-0.1692,-0.3171,-0.0439,-0.1257,...,-0.2218,0.0106,-0.2099,-0.1818,0.0000,-0.0721,-0.0762,-0.2203,-0.0679,0.0000
2008-12-31,-0.0819,-0.0351,0.0000,0.1287,0.0217,-0.1435,-0.0834,-0.1818,0.1334,-0.0194,...,-0.0081,0.0173,0.1119,0.0312,0.0000,0.1086,0.0094,-0.0478,-0.2389,0.0000
2009-01-31,-0.0257,0.0065,0.0000,-0.1234,0.0860,-0.0475,-0.0056,0.0858,0.0210,0.1483,...,-0.0634,0.0267,0.0650,0.0017,0.0000,0.0409,-0.0353,0.0387,-0.2737,0.0000
2009-02-28,-0.1190,0.0559,0.0000,-0.3449,-0.0516,0.0495,-0.0949,-0.0527,0.0732,-0.1264,...,-0.3448,-0.0153,-0.2148,0.0539,0.0000,-0.0531,-0.0649,-0.0321,-0.3819,0.0000

In [357]:
spx_frame = pd.DataFrame(data = spx_rt)
spx_frame['2007-11-30':'2009-02-28']

            Adj Close
Date
2007-11-30    -0.0480
2007-12-31     0.0127
2008-01-31    -0.0670
2008-02-29    -0.0145
2008-03-31    -0.0262
2008-04-30     0.0421
2008-05-31     0.0254
2008-06-30    -0.0427
2008-07-31    -0.0611
2008-08-31     0.0217
2008-09-30    -0.0480
2008-10-31    -0.2034
2008-11-30    -0.0846
2008-12-31    -0.0034
2009-01-31    -0.0115
2009-02-28    -0.0675

In [358]:
new_factor_top10['Tickers'].values

array(['AAL', 'UAL', 'PHM', 'IT', 'COF', 'HBAN', 'FITB', 'BAC', 'LYV',
       'TSCO'], dtype=object)

In [359]:
new_factor_bottom10['Tickers'].values

array(['WDC', 'AKAM', 'ADM', 'GOOGL', 'GOOG', 'MA', 'HES', 'BR', 'MOS',
       'NVDA'], dtype=object)

In [360]:
merged_new_factor=df_monthrt['2007-11-30':'2009-02-28'].join(spx_frame['2007-11-30':'2009-02-28'])
merged_new_factor_corr = merged_new_factor.corr()

In [361]:
merged_new_factor_corr.head()

,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,AES,...,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS,Adj Close
MMM,1.0000,0.0166,nan,0.5013,0.5125,0.4340,0.4889,0.2110,0.3577,0.3272,...,0.5329,0.4327,0.2355,nan,0.3970,0.4146,0.3779,0.4723,nan,0.6044
ABT,0.0166,1.0000,nan,0.0138,0.1170,0.5795,0.4221,0.0749,0.4235,0.2886,...,0.4618,0.1011,0.0559,nan,0.1064,0.1082,0.1772,-0.2614,nan,0.2856
ABBV,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
ABMD,0.5013,0.0138,nan,1.0000,0.4596,0.4224,0.4121,-0.0355,0.4595,0.4382,...,0.3641,0.5650,0.1097,nan,0.3353,0.2892,0.2643,0.1650,nan,0.4850
ACN,0.5125,0.1170,nan,0.4596,1.0000,0.4217,0.7601,0.4748,0.6353,0.7078,...,0.5479,0.7772,0.6674,nan,0.6423,0.5220,0.7213,-0.1398,nan,0.7931

In [362]:
merged_new_factor_top5=merged_new_factor_corr[merged_new_factor_corr['Adj Close']>=merged_new_factor_corr['Adj Close'].quantile(0.99)]
merged_new_factor_top5

,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,AES,...,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS,Adj Close
BEN,0.5608,0.2079,nan,0.5306,0.7813,0.4651,0.8676,0.6146,0.8273,0.6062,...,0.6980,0.8295,0.7540,nan,0.8171,0.7599,0.6526,0.1428,nan,0.9264
IEX,0.5539,0.2475,nan,0.5151,0.8552,0.5240,0.9126,0.5418,0.8023,0.8087,...,0.7630,0.7929,0.7108,nan,0.7887,0.7865,0.5195,-0.0815,nan,0.9313
ITW,0.5738,0.2415,nan,0.2985,0.8116,0.4073,0.8320,0.6030,0.7431,0.7770,...,0.8409,0.8298,0.6327,nan,0.8995,0.8073,0.6055,0.0642,nan,0.9445
OMC,0.4095,0.2981,nan,0.3156,0.7465,0.5830,0.8276,0.6532,0.8026,0.7304,...,0.6828,0.7750,0.8294,nan,0.8083,0.7796,0.7170,0.0593,nan,0.9359
Adj Close,0.6044,0.2856,nan,0.4850,0.7931,0.5869,0.8903,0.5500,0.8089,0.7623,...,0.8247,0.8397,0.6967,nan,0.8901,0.8350,0.6510,0.1129,nan,1.0000

In [363]:
merged_new_factor_top5.index

Index(['BEN', 'IEX', 'ITW', 'OMC', 'Adj Close'], dtype='object')

In [364]:
port_new_factor_top10=df_excessrt[new_factor_top10['Tickers'].values]['2007-11-30':'2009-02-28'].join(df_sentiment[['JPY=X']]['2007-11-30':'2009-02-28'])
port_new_factor_top10.head()

,AAL,UAL,PHM,IT,COF,HBAN,FITB,BAC,LYV,TSCO,JPY=X
Date,,,,,,,,,,,
2007-11-30,-0.2341,-0.1344,-0.2118,-0.2224,-0.2016,-0.1215,-0.1145,-0.1207,-0.2543,-0.1278,-0.0014
2007-12-31,-0.2558,-0.1100,-0.1007,-0.0870,-0.1070,-0.0241,-0.0385,-0.0124,-0.1221,-0.0472,-0.0000
2008-01-31,-0.2392,-0.0696,0.0327,-0.1335,-0.0627,-0.1566,-0.1047,-0.0839,-0.1484,-0.1514,-0.0021
2008-02-29,0.1410,0.1243,0.3385,0.1383,0.0861,0.0097,0.0423,0.0756,-0.0614,0.2139,-0.0011
2008-03-31,-0.3335,-0.3318,-0.1009,0.1062,-0.0200,-0.0971,-0.1177,-0.0905,-0.0029,-0.0195,-0.0018

In [365]:
new_factor_bottom10['Tickers'].values

array(['WDC', 'AKAM', 'ADM', 'GOOGL', 'GOOG', 'MA', 'HES', 'BR', 'MOS',
       'NVDA'], dtype=object)

In [366]:
port_new_factor_bottom10=df_excessrt[['AAL', 'ILMN', 'BKNG', 'MCD', 'MKTX', 'BMY', 'ALK', 'AKAM', 'NFLX',
       'ALGN','ITW']]['2007-11-30':'2009-02-28']
port_new_factor_bottom10

,AAL,ILMN,BKNG,MCD,MKTX,BMY,ALK,AKAM,NFLX,ALGN,ITW
Date,,,,,,,,,,,
2007-11-30,-0.2341,-0.0615,0.1169,0.0334,-0.0155,-0.0381,-0.0772,0.0731,0.0238,-0.3489,-0.0478
2007-12-31,-0.2558,0.0664,0.1342,0.0423,-0.1491,-0.0061,0.0944,-0.0269,0.0273,0.0320,-0.0131
2008-01-31,-0.2392,0.1115,-0.1114,-0.0978,-0.1998,-0.1102,-0.0973,-0.1939,-0.0685,-0.1859,-0.1009
2008-02-29,0.1410,0.0998,0.0943,0.0135,-0.0777,-0.0713,0.1531,0.1162,0.1819,-0.0983,0.0000
2008-03-31,-0.3335,-0.0136,0.0465,-0.0095,0.0471,-0.0768,-0.2458,-0.0223,0.2337,-0.1165,-0.0231
2008-04-30,-0.1173,0.0921,0.0557,0.0531,-0.1050,0.0297,-0.0263,0.0046,0.0410,-0.0729,0.0683
2008-05-31,-0.2225,0.0203,0.0537,0.0409,-0.1139,0.0185,0.0198,0.1692,-0.1324,0.1861,0.0441
2008-06-30,-0.5094,0.0328,-0.0260,-0.0243,-0.0154,-0.0853,-0.0960,-0.0400,-0.0130,-0.0408,-0.0787
2008-07-31,-0.0065,0.0910,-0.1682,0.0119,-0.0175,0.0704,-0.1723,-0.1197,-0.0815,-0.0874,-0.0513
2008-08-31,1.3827,0.0152,-0.0583,0.0651,0.2397,0.0112,0.3346,-0.2832,0.0860,0.1103,0.0414
2008-09-30,-0.0433,-0.0829,-0.1760,0.0021,-0.1116,-0.0286,0.0715,-0.2203,-0.0060,0.0128,-0.0358
2008-10-31,-0.0716,-0.2726,-0.3056,-0.1069,-0.3386,-0.0976,-0.0455,-0.1987,-0.2307,-0.4422,-0.2502
2008-11-30,-0.0233,-0.1755,-0.0300,0.0026,-0.0324,0.0698,0.1494,-0.1224,-0.0653,-0.0221,-0.0740
2008-12-31,0.0528,-0.0767,0.1694,0.0932,0.2760,0.0950,0.1142,0.1113,0.2363,0.1540,0.0114
2009-01-31,0.1253,0.1768,0.0812,-0.0203,0.1475,0.0249,0.0583,0.0098,0.1883,0.1130,0.0734
2009-02-28,-0.4432,0.2354,0.0696,-0.0551,-0.0040,-0.0411,-0.0678,0.2004,0.1423,-0.0705,-0.0643

In [367]:
port_new_factor_bottom10 = port_new_factor_bottom10*-1

In [368]:
new_factor_second_portfoloio = pd.concat([port_new_factor_top10,port_new_factor_bottom10],axis=1)
new_factor_second_portfoloio

,AAL,UAL,PHM,IT,COF,HBAN,FITB,BAC,LYV,TSCO,...,ILMN,BKNG,MCD,MKTX,BMY,ALK,AKAM,NFLX,ALGN,ITW
Date,,,,,,,,,,,,,,,,,,,,,
2007-11-30,-0.2341,-0.1344,-0.2118,-0.2224,-0.2016,-0.1215,-0.1145,-0.1207,-0.2543,-0.1278,...,0.0615,-0.1169,-0.0334,0.0155,0.0381,0.0772,-0.0731,-0.0238,0.3489,0.0478
2007-12-31,-0.2558,-0.1100,-0.1007,-0.0870,-0.1070,-0.0241,-0.0385,-0.0124,-0.1221,-0.0472,...,-0.0664,-0.1342,-0.0423,0.1491,0.0061,-0.0944,0.0269,-0.0273,-0.0320,0.0131
2008-01-31,-0.2392,-0.0696,0.0327,-0.1335,-0.0627,-0.1566,-0.1047,-0.0839,-0.1484,-0.1514,...,-0.1115,0.1114,0.0978,0.1998,0.1102,0.0973,0.1939,0.0685,0.1859,0.1009
2008-02-29,0.1410,0.1243,0.3385,0.1383,0.0861,0.0097,0.0423,0.0756,-0.0614,0.2139,...,-0.0998,-0.0943,-0.0135,0.0777,0.0713,-0.1531,-0.1162,-0.1819,0.0983,-0.0000
2008-03-31,-0.3335,-0.3318,-0.1009,0.1062,-0.0200,-0.0971,-0.1177,-0.0905,-0.0029,-0.0195,...,0.0136,-0.0465,0.0095,-0.0471,0.0768,0.2458,0.0223,-0.2337,0.1165,0.0231
2008-04-30,-0.1173,-0.1925,0.0978,0.0885,0.0390,-0.1057,-0.0328,-0.0048,0.1682,-0.0355,...,-0.0921,-0.0557,-0.0531,0.1050,-0.0297,0.0263,-0.0046,-0.0410,0.0729,-0.0683
2008-05-31,-0.2225,-0.3957,-0.0743,0.0620,0.0353,-0.0755,-0.0303,-0.0443,0.1113,-0.0971,...,-0.0203,-0.0537,-0.0409,0.1139,-0.0185,-0.0198,-0.1692,0.1324,-0.1861,-0.0441
2008-06-30,-0.5094,-0.4033,-0.1777,-0.0517,-0.1636,-0.2660,-0.3545,-0.1974,-0.1367,-0.0517,...,-0.0328,0.0260,0.0243,0.0154,0.0853,0.0960,0.0400,0.0130,0.0408,0.0787
2008-07-31,-0.0065,-0.2152,-0.0373,-0.0101,-0.0800,-0.0611,-0.0490,-0.0885,-0.1209,-0.0092,...,-0.0910,0.1682,-0.0119,0.0175,-0.0704,0.1723,0.1197,0.0815,0.0874,0.0513
2008-08-31,1.3827,1.0396,0.2096,0.2344,0.0767,0.1650,0.1719,0.1743,0.3826,0.2881,...,-0.0152,0.0583,-0.0651,-0.2397,-0.0112,-0.3346,0.2832,-0.0860,-0.1103,-0.0414
2008-09-30,-0.0433,-0.0197,0.1925,-0.0810,0.1419,0.1999,0.0507,0.0748,0.0204,0.0703,...,0.0829,0.1760,-0.0021,0.1116,0.0286,-0.0715,0.2203,0.0060,-0.0128,0.0358
2008-10-31,-0.0716,-0.1282,-0.2845,-0.2610,-0.1923,0.0455,-0.2508,-0.2297,-0.2629,-0.1553,...,0.2726,0.3056,0.1069,0.3386,0.0976,0.0455,0.1987,0.2307,0.4422,0.2502
2008-11-30,-0.0233,0.1642,-0.1327,-0.1149,-0.1609,-0.1050,-0.1593,-0.3146,-0.4513,-0.0071,...,0.1755,0.0300,-0.0026,0.0324,-0.0698,-0.1494,0.1224,0.0653,0.0221,0.0740
2008-12-31,0.0528,-0.0935,0.1391,0.0491,-0.0775,-0.0887,-0.1884,-0.1402,-0.3583,0.0102,...,0.0767,-0.1694,-0.0932,-0.2760,-0.0950,-0.1142,-0.1113,-0.2363,-0.1540,-0.0114
2009-01-31,0.1253,0.0959,0.0308,-0.0562,-0.1713,-0.3127,-0.3110,-0.3503,0.3404,-0.0957,...,-0.1768,-0.0812,0.0203,-0.1475,-0.0249,-0.0583,-0.0098,-0.1883,-0.1130,-0.0734
2009-02-28,-0.4432,-0.3555,-0.0847,-0.2736,-0.4870,-0.6666,-0.6527,-0.4549,-0.2521,-0.0221,...,-0.2354,-0.0696,0.0551,0.0040,0.0411,0.0678,-0.2004,-0.1423,0.0705,0.0643

In [369]:
avg_returns=new_factor_second_portfoloio.mean()
cov_mat=new_factor_second_portfoloio.cov()

In [370]:
np.random.seed(42)
weights = np.random.random(size=(10**5,22))
weights /=  np.sum(weights, axis=1)[:, np.newaxis]
weights

array([[0.03781174, 0.09597947, 0.07389853, ..., 0.02940107, 0.06176968,
        0.01408262],
       [0.02949122, 0.03698325, 0.04603904, ..., 0.04998678, 0.00347143,
        0.09179346],
       [0.02372464, 0.06073926, 0.0285773 , ..., 0.03270672, 0.02575574,
        0.04975374],
       ...,
       [0.06682599, 0.0044611 , 0.0793555 , ..., 0.00982388, 0.0060689 ,
        0.04314398],
       [0.08030915, 0.07887397, 0.00759011, ..., 0.03562629, 0.00042849,
        0.06050497],
       [0.04211766, 0.07306966, 0.06545223, ..., 0.08525022, 0.02239374,
        0.0568134 ]])

In [371]:
###portfolio metrics:
portf_rtns = np.dot(weights, avg_returns)

portf_vol = []
for i in range(0, len(weights)):
    portf_vol.append(np.sqrt(np.dot(weights[i].T, 
                                    np.dot(cov_mat, weights[i]))))
portf_vol = np.array(portf_vol)  
portf_sharpe_ratio = portf_rtns / portf_vol

In [372]:
portf_results_df = pd.DataFrame({'returns': portf_rtns,
                                 'volatility': portf_vol,
                                 'sharpe_ratio': portf_sharpe_ratio})
portf_results_df

       returns  volatility  sharpe_ratio
0      -0.0219      0.0523       -0.4186
1      -0.0217      0.0457       -0.4743
2      -0.0308      0.0625       -0.4932
3      -0.0249      0.0699       -0.3558
4      -0.0395      0.1002       -0.3936
...        ...         ...           ...
99995  -0.0280      0.0731       -0.3825
99996  -0.0221      0.0741       -0.2984
99997  -0.0287      0.0756       -0.3793
99998  -0.0389      0.1035       -0.3757
99999  -0.0262      0.0854       -0.3062

[100000 rows x 3 columns]

In [373]:
max_sharpe_ind = np.argmax(portf_results_df.sharpe_ratio)
max_sharpe_portf = portf_results_df.loc[max_sharpe_ind]

min_vol_ind = np.argmin(portf_results_df.volatility)
min_vol_portf = portf_results_df.loc[min_vol_ind]

In [374]:
RISKY_ASSETS=three_factor_first_portfoloio.columns
RISKY_ASSETS

Index(['MNST', 'NFLX', 'ABMD', 'NVDA', 'AAPL', 'REGN', 'HFC', 'ALXN', 'CTSH',
       'ISRG', 'JPY=X', 'RF', 'GPS', 'WY', 'IPG', 'UA', 'XRX', 'F', 'GE', 'C',
       'AIG', 'ITW'],
      dtype='object')

In [375]:
print('Maximum Sharpe Ratio portfolio ----')
print('Performance')
for index, value in max_sharpe_portf.items():
    print(f'{index}: {100 * value:.2f}% ', end="", flush=True)
print('\nWeights')
for x, y in zip(RISKY_ASSETS, weights[np.argmax(portf_results_df.sharpe_ratio)]):
    print(f'{x}: {100*y:.2f}% ', end="", flush=True)

Maximum Sharpe Ratio portfolio ----
Performance
returns: 0.52% volatility: 4.70% sharpe_ratio: 11.00%
Weights
MNST: 2.11% NFLX: 3.00% ABMD: 3.05% NVDA: 2.27% AAPL: 0.50% REGN: 2.41% HFC: 0.89% ALXN: 0.67% CTSH: 0.59% ISRG: 7.72% JPY=X: 9.06% RF: 9.50% GPS: 2.70% WY: 1.40% IPG: 8.69% UA: 4.19% XRX: 9.14% F: 4.63% GE: 6.29% C: 2.27% AIG: 9.94% ITW: 8.98%

In [376]:
print('Minimum Volatility portfolio ----')
print('Performance')
for index, value in min_vol_portf.items():
    print(f'{index}: {100 * value:.2f}% ', end="", flush=True)
print('\nWeights')
for x, y in zip(RISKY_ASSETS, weights[np.argmin(portf_results_df.volatility)]):
    print(f'{x}: {100*y:.2f}% ', end="", flush=True)

Minimum Volatility portfolio ----
Performance
returns: -1.13% volatility: 3.18% sharpe_ratio: -35.64%
Weights
MNST: 6.20% NFLX: 3.90% ABMD: 1.01% NVDA: 3.27% AAPL: 3.80% REGN: 0.42% HFC: 2.19% ALXN: 0.81% CTSH: 8.54% ISRG: 13.22% JPY=X: 2.51% RF: 12.61% GPS: 3.05% WY: 0.57% IPG: 6.20% UA: 0.24% XRX: 11.35% F: 6.61% GE: 1.93% C: 1.15% AIG: 4.19% ITW: 6.25%

## After examining and comparing based on various properties the existing risk factors in the two linear factor models with the five hand-picked factors, we constructed the factor premiums for each of the five risk factors by first ranking and identifying the stock symbols for the largest 30 and smallest 30 factor values, and subsequently taking the difference between the mean of the monthly return of the stocks with the largest 30 factor values, and the mean of the monthly return of the stocks with the smallest 30 factor values.

In [377]:
excessrt02 = excess_rt.drop(['O', 'ESS', 'ZTS', 'PEAK', 'GRMN', 'APTV', 'WELL', 'NLOK', 'AMCR', 'TEL', 'ZION', 'GL', 'VNO', 'STX', 'SLB', 'RCL', 'EXR', 'REG', 'ARE', 'WLTW', 'NCLH', 'IVZ', 'AVB', 'LHX', 'PSA', 'LYB', 'SPG', 'MAA', 'TFC', 'FRT', 'KIM', 'AIV', 'NLSN', 'UDR', 'PLD', 'SLG', 'VTR', 'DRE', 'EQR', 'CCL', 'DISCK', 'DLR', 'BXP'],axis=1)
len(excessrt02.columns.unique())

450

In [378]:
big_df=pd.read_csv('pe_pm_div_roe.csv')
big_df.head()

,permno,adate,qdate,public_date,CAPEI,pe_inc,npm,roe,divyield,TICKER
0,10104,1998/05/31,1998/11/30,1999/03/31,63.0280,35.6420,0.1360,0.3840,NaN,ORCL
1,10104,1998/05/31,1999/02/28,1999/04/30,60.0510,5.7340,0.1400,0.3990,NaN,ORCL
2,10104,1998/05/31,1999/02/28,1999/05/31,54.2160,5.2570,0.1400,0.3990,NaN,ORCL
3,10104,1998/05/31,1999/02/28,1999/06/30,81.1180,7.8650,0.1400,0.3990,NaN,ORCL
4,10104,1999/05/31,1999/05/31,1999/07/31,67.9580,43.7500,0.1460,0.3790,NaN,ORCL

In [379]:
big_df=big_df[['public_date','pe_inc','npm',
               'roe','divyield','TICKER']]
big_df.columns=['Date','PE','NPM','ROE','Div_yield','Ticker']
big_df=big_df.fillna(0)
big_df.head()

         Date      PE    NPM    ROE Div_yield Ticker
0  1999/03/31 35.6420 0.1360 0.3840         0   ORCL
1  1999/04/30  5.7340 0.1400 0.3990         0   ORCL
2  1999/05/31  5.2570 0.1400 0.3990         0   ORCL
3  1999/06/30  7.8650 0.1400 0.3990         0   ORCL
4  1999/07/31 43.7500 0.1460 0.3790         0   ORCL

In [380]:
big_df.set_index('Date',inplace=True)

In [381]:
big_df.head()

                PE    NPM    ROE Div_yield Ticker
Date
1999/03/31 35.6420 0.1360 0.3840         0   ORCL
1999/04/30  5.7340 0.1400 0.3990         0   ORCL
1999/05/31  5.2570 0.1400 0.3990         0   ORCL
1999/06/30  7.8650 0.1400 0.3990         0   ORCL
1999/07/31 43.7500 0.1460 0.3790         0   ORCL

In [382]:
big_df.index=pd.to_datetime(big_df.index,format='%Y/%m/%d')
big_df.head()

                PE    NPM    ROE Div_yield Ticker
Date
1999-03-31 35.6420 0.1360 0.3840         0   ORCL
1999-04-30  5.7340 0.1400 0.3990         0   ORCL
1999-05-31  5.2570 0.1400 0.3990         0   ORCL
1999-06-30  7.8650 0.1400 0.3990         0   ORCL
1999-07-31 43.7500 0.1460 0.3790         0   ORCL

In [383]:
df_pe=big_df[['PE','Ticker']]
df_npm=big_df[['NPM','Ticker']]
df_roe=big_df[['ROE','Ticker']]
df_divyield=big_df[['Div_yield','Ticker']]

In [384]:
df_pe.reset_index(inplace=True)
df_npm.reset_index(inplace=True)
df_roe.reset_index(inplace=True)
df_divyield.reset_index(inplace=True)

In [385]:
import re

In [386]:
df_divyield['Div_yield']=df_divyield['Div_yield'].astype(str)
df_divyield['Div_yield']=df_divyield['Div_yield'].apply(lambda x: re.search('[\d.]+',x)[0])
df_divyield['Div_yield']=df_divyield['Div_yield'].astype(float)

<ipython-input-386-55f61dc2170e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_divyield['Div_yield']=df_divyield['Div_yield'].astype(str)
<ipython-input-386-55f61dc2170e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_divyield['Div_yield']=df_divyield['Div_yield'].apply(lambda x: re.search('[\d.]+',x)[0])
<ipython-input-386-55f61dc2170e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_divyield['Div_yield']=df_divyield['Div_yield'].astype(float)

In [387]:
df_pe=df_pe.pivot_table(values='PE',index='Date',columns='Ticker')
df_pe=df_pe[excessrt02.columns.unique()]
df_pe=df_pe.fillna(0)

df_npm=df_npm.pivot_table(values='NPM',index='Date',columns='Ticker')
df_npm=df_npm[excessrt02.columns.unique()]
df_npm=df_npm.fillna(0)

df_roe=df_roe.pivot_table(values='ROE',index='Date',columns='Ticker')
df_roe=df_roe[excessrt02.columns.unique()]
df_roe=df_roe.fillna(0)

df_divyield=df_divyield.pivot_table(values='Div_yield',index='Date',columns='Ticker')
df_divyield=df_divyield[excessrt02.columns.unique()]
df_divyield=df_divyield.fillna(0)

In [388]:
df_pe = df_pe.drop(pd.Timestamp('2018-12-31'))
df_npm = df_npm.drop(pd.Timestamp('2018-12-31'))
df_roe = df_roe.drop(pd.Timestamp('2018-12-31'))
df_divyield = df_divyield.drop(pd.Timestamp('2018-12-31'))

In [389]:
wealth_index = 1000*(1+df_monthrt).cumprod()
previous_peak = wealth_index.cummax()
max_drawdown = (wealth_index-previous_peak)/previous_peak
max_drawdown = max_drawdown.drop(['O', 'ESS', 'ZTS', 'PEAK', 'GRMN', 'APTV', 'WELL', 'NLOK', 'AMCR', 'TEL', 'ZION', 'GL', 'VNO', 'STX', 'SLB', 'RCL', 'EXR', 'REG', 'ARE', 'WLTW', 'NCLH', 'IVZ', 'AVB', 'LHX', 'PSA', 'LYB', 'SPG', 'MAA', 'TFC', 'FRT', 'KIM', 'AIV', 'NLSN', 'UDR', 'PLD', 'SLG', 'VTR', 'DRE', 'EQR', 'CCL', 'DISCK', 'DLR', 'BXP'],axis=1)

In [390]:
df_2=pd.DataFrame([])

for i in range(len(df_pe.index)):
    df_sorted=df_pe.iloc[i].sort_values(ascending=False)
    pe_top30=df_sorted[df_sorted>=df_sorted.quantile(0.93333)]
    top30_tickers=[[i for i in pe_top30.index.values]]
    
    pe_bottom30=df_sorted[df_sorted<=df_sorted.quantile(0.06667)]
    bottom30_tickers=[[i for i in pe_bottom30.index.values]]
    
    df_1=pd.DataFrame({'Top 30':top30_tickers,
                       'Bottom 30':bottom30_tickers})
    
    df_2=pd.concat([df_2,df_1],ignore_index=True)

df_2.index=df_pe.index
df_2

,Top 30,Bottom 30
Date,,
1999-03-31,"[SEE, EBAY, COP, COG, KLAC, INCY, URI, WMB, NV...","[CNP, ADP, STZ, MGM, ABMD, NEM, PPL, DISH, NOW..."
1999-04-30,"[EBAY, SEE, COP, COG, KLAC, WMB, URI, INCY, TS...","[ADP, STZ, MGM, PPL, ABMD, NEM, NOW, DISH, ANE..."
1999-05-31,"[COP, SYK, AIG, EBAY, XRX, KLAC, WMB, C, SEE, ...","[UNH, NEM, UNP, APA, VAR, DVN, BR, ANET, AMD, ..."
1999-06-30,"[SYK, COP, KLAC, AIG, XRX, EBAY, WMB, AMAT, C,...","[UNH, UNP, NEM, APA, ANET, BR, DVN, NOV, INFO,..."
1999-07-31,"[SYK, COP, KLAC, AIG, XRX, EBAY, WMB, AMAT, C,...","[UNH, VRTX, NEM, ANET, KMX, APA, NOV, BR, DVN,..."
...,...,...
2018-07-31,"[BSX, WAT, TWTR, NEM, MCK, KMI, JNJ, NTAP, ABT...","[HIG, XRAY, AIG, GE, WU, AES, FE, QCOM, EBAY, ..."
2018-08-31,"[HAL, JNJ, NTAP, WAT, BMY, MCHP, CTXS, HBI, SN...","[NRG, WHR, WU, FE, DISCA, QCOM, C, GLW, EBAY, ..."
2018-09-30,"[CSCO, HAL, JNJ, WAT, BMY, SNPS, MCHP, HBI, CT...","[GE, NRG, WHR, WU, FE, DISCA, QCOM, C, GLW, EB..."
2018-10-31,"[JNJ, CSCO, HAL, WAT, SNPS, BMY, HBI, CTXS, FT...","[GE, NRG, WHR, WU, FE, QCOM, C, DISCA, GLW, EB..."
2018-11-30,"[CSCO, BDX, XRX, MCHP, HBI, JNJ, DXCM, LLY, WA...","[XRAY, HES, AIG, HIG, NRG, FE, WHR, QCOM, WU, ..."

In [391]:
df_3=pd.DataFrame([])

for i in range(len(df_npm.index)):
    df_sorted=df_npm.iloc[i].sort_values(ascending=False)
    npm_top30=df_sorted[df_sorted>=df_sorted.quantile(0.93333)]
    top30_tickers=[[i for i in npm_top30.index.values]]
    
    npm_bottom30=df_sorted[df_sorted<=df_sorted.quantile(0.06667)]
    bottom30_tickers=[[i for i in npm_bottom30.index.values]]
    
    df_1=pd.DataFrame({'Top 30':top30_tickers,
                       'Bottom 30':bottom30_tickers})
    
    df_3=pd.concat([df_3,df_1],ignore_index=True)


df_3.index=df_npm.index
df_3

,Top 30,Bottom 30
Date,,
1999-03-31,"[MSFT, COO, TRV, MXIM, AMGN, CTXS, INTC, LLY, ...","[KMX, NOW, AMD, IDXX, ADP, UNP, STZ, PRGO, MU,..."
1999-04-30,"[MSFT, COO, TRV, MXIM, AMGN, CTXS, INTC, LLY, ...","[CNP, NOW, AMD, IDXX, ADP, UNP, MU, STZ, PRGO,..."
1999-05-31,"[MSFT, COO, AMGN, MXIM, TRV, CTXS, INTC, LLY, ...","[UNP, ADP, AMD, MU, STZ, FLIR, NOV, BSX, PRGO,..."
1999-06-30,"[MSFT, COO, AMGN, MXIM, TRV, CTXS, INTC, LLY, ...","[UNP, ADP, AMD, MU, STZ, FLIR, NOV, BSX, PRGO,..."
1999-07-31,"[MSFT, COO, AMGN, MXIM, TRV, CTXS, INTC, LLY, ...","[UNP, MU, ADP, AMD, STZ, FLIR, NOV, BSX, PRGO,..."
...,...,...
2018-07-31,"[CME, AVGO, MO, NSC, CSX, UNP, V, NEE, MU, KHC...","[MOS, HIG, GM, LYV, IT, QRVO, UAA, HAL, COP, M..."
2018-08-31,"[CME, AVGO, MO, CSX, NSC, UNP, NEE, V, BIO, MU...","[MSI, NOV, LYV, MOS, QRVO, KMI, HOLX, CSCO, WH..."
2018-09-30,"[CME, AVGO, MO, CSX, NSC, UNP, NEE, V, BIO, MU...","[GM, MSI, NOV, MOS, LYV, QRVO, KMI, HOLX, WHR,..."
2018-10-31,"[CME, AVGO, MO, CSX, NSC, UNP, NEE, V, MU, BIO...","[GM, MSI, MOS, LYV, NOV, QRVO, KMI, HOLX, WHR,..."
2018-11-30,"[CME, AVGO, BIO, CSX, MO, NSC, UNP, NEE, V, MU...","[SEE, NOV, LYV, MOS, FLS, QRVO, NI, NOW, UAA, ..."

In [392]:
df_4=pd.DataFrame([])

for i in range(len(df_roe.index)):
    df_sorted=df_roe.iloc[i].sort_values(ascending=False)
    roe_top30=df_sorted[df_sorted>=df_sorted.quantile(0.93333)]
    top30_tickers=[[i for i in roe_top30.index.values]]
    
    roe_bottom30=df_sorted[df_sorted<=df_sorted.quantile(0.06667)]
    bottom30_tickers=[[i for i in roe_bottom30.index.values]]
    
    df_1=pd.DataFrame({'Top 30':top30_tickers,
                       'Bottom 30':bottom30_tickers})
    
    df_4=pd.concat([df_4,df_1],ignore_index=True)


df_4.index=df_roe.index
df_4

,Top 30,Bottom 30
Date,,
1999-03-31,"[GIS, WAT, F, MTD, GPS, MSI, CPB, EFX, UAL, LL...","[VLO, UNH, BKR, UNP, AMD, IDXX, AMT, APA, REGN..."
1999-04-30,"[GIS, WAT, F, MTD, GPS, MSI, CPB, EFX, UAL, LL...","[VLO, UNH, BKR, UNP, IDXX, AMD, AMT, REGN, APA..."
1999-05-31,"[WAT, GIS, MTD, GPS, LH, EFX, NVR, MSI, CPB, A...","[AMT, NOV, KMX, MU, APA, AMD, REGN, DVN, BR, C..."
1999-06-30,"[WAT, GIS, CPB, GPS, MTD, LH, EFX, NVR, MSI, A...","[NOV, KMX, MU, APA, AMD, REGN, BR, DVN, CNP, A..."
1999-07-31,"[WAT, GIS, CPB, GPS, MTD, LH, EFX, NVR, MSI, A...","[KMX, AMT, NOV, APA, AMD, REGN, DVN, BR, CNP, ..."
...,...,...
2018-07-31,"[UPS, BA, HD, KMB, SPGI, LMT, CLX, ORLY, HSY, ...","[QRVO, HIG, NOV, COP, CSCO, GM, C, MRO, HOLX, ..."
2018-08-31,"[BA, UPS, HD, SPGI, KMB, MCO, ORLY, LMT, CLX, ...","[LLY, DXCM, MRO, FLS, CSCO, HOLX, MCK, C, GM, ..."
2018-09-30,"[HD, BA, UPS, SPGI, KMB, MCO, ORLY, LMT, CLX, ...","[ALXN, LLY, MRO, DXCM, FLS, HOLX, MCK, C, GM, ..."
2018-10-31,"[HD, BA, UPS, SPGI, KMB, MCO, ORLY, LMT, CLX, ...","[ALXN, LLY, MRO, DXCM, FLS, HOLX, MCK, C, GM, ..."
2018-11-30,"[HD, BA, SPGI, UPS, LMT, ORLY, MCO, KMB, SBUX,...","[NOV, MOS, QRVO, NI, NEM, C, SRE, FLS, HOLX, G..."

In [393]:
df_5=pd.DataFrame([])

for i in range(len(df_divyield.index)):
    df_sorted=df_divyield.iloc[i].sort_values(ascending=False)
    div_top30=df_sorted[df_sorted>=df_sorted.quantile(0.93333)]
    top30_tickers=[[i for i in div_top30.index.values]]
    
    div_bottom30=df_sorted[df_sorted<=df_sorted.quantile(0.06667)]
    bottom30_tickers=[[i for i in div_bottom30.index.values]]
    
    df_1=pd.DataFrame({'Top 30':top30_tickers,
                       'Bottom 30':bottom30_tickers})
    
    df_5=pd.concat([df_5,df_1],ignore_index=True)


df_5.index=df_divyield.index
df_5

,Top 30,Bottom 30
Date,,
1999-03-31,"[SRE, LNT, AEE, D, AEP, WEC, SO, PEG, OXY, DTE...","[STZ, ETN, AAL, AMT, AMP, ABC, AMGN, APH, AMZN..."
1999-04-30,"[SRE, LNT, AEE, D, WEC, AEP, PEG, FE, DTE, MO,...","[STZ, ETN, AAL, AMT, AMP, ABC, AMGN, APH, AMZN..."
1999-05-31,"[SRE, LNT, AEE, D, WEC, AEP, PEG, OXY, SO, FE,...","[APH, EBAY, AAL, AMT, AMP, ABC, AMGN, ETN, DXC..."
1999-06-30,"[LNT, SRE, AEE, AEP, WEC, D, ADP, PEG, DTE, SO...","[EBAY, AMZN, AAL, AMT, AMP, ABC, ETN, CPRT, AM..."
1999-07-31,"[SRE, LNT, AEP, AEE, WEC, D, PEG, FE, DTE, OXY...","[DPZ, EW, EBAY, DXCM, DXC, EQIX, DISCA, EVRG, ..."
...,...,...
2018-07-31,"[LB, F, T, PPL, PM, GM, SO, MO, D, WMB, VZ, OK...","[HSIC, J, IPGP, TDG, ANSS, ACN, AON, IQV, TT, ..."
2018-08-31,"[LB, F, T, PM, PPL, SO, GM, OKE, MO, D, WMB, L...","[TDG, ZBRA, INFO, ANSS, ILMN, AON, ETSY, INCY,..."
2018-09-30,"[LB, F, T, GM, PPL, PM, SO, MO, LVS, WMB, OKE,...","[ALLE, ADSK, AMD, ADBE, ANET, TDY, FTI, TTWO, ..."
2018-10-31,"[F, LB, T, LVS, NWL, WMB, GM, IBM, PPL, SO, PM...","[ISRG, AMT, ULTA, TYL, TWTR, IR, TDG, FLT, TT,..."
2018-11-30,"[F, LB, GE, T, MO, OKE, LVS, WMB, PPL, PM, GM,...","[BKNG, ACN, CRM, SBAC, NOW, BIIB, BKR, BSX, SI..."

In [394]:
df_6=pd.DataFrame([])

for i in range(len(max_drawdown.index)):
    df_sorted=max_drawdown.iloc[i].sort_values(ascending=False)
    ddw_top30=df_sorted[df_sorted>=df_sorted.quantile(0.93333)]
    top30_tickers=[[i for i in ddw_top30.index.values]]
    
    ddw_bottom30=df_sorted[df_sorted<=df_sorted.quantile(0.06667)]
    bottom30_tickers=[[i for i in ddw_bottom30.index.values]]
    
    df_1=pd.DataFrame({'Top 30':top30_tickers,
                       'Bottom 30':bottom30_tickers})
    
    df_6=pd.concat([df_6,df_1],ignore_index=True)


df_6.index=max_drawdown.index
df_6

,Top 30,Bottom 30
Date,,
1999-03-31,"[ZBH, COP, DUK, DD, DXC, EMN, ETN, EBAY, ECL, ...","[ZBH, COP, DUK, DD, DXC, EMN, ETN, EBAY, ECL, ..."
1999-04-30,"[ZBH, FB, EOG, EFX, EQIX, ETSY, ES, EXC, EXPE,...","[COST, AMGN, CTXS, IRM, HOLX, GILD, INTU, HSIC..."
1999-05-31,"[ZBH, BEN, EVRG, ES, RE, EXC, EXPE, EXPD, XOM,...","[MRK, MCD, LOW, BBY, CTSH, MSFT, SNPS, LLY, CP..."
1999-06-30,"[ZBH, FLS, FTV, FBHS, FCX, GIS, GM, GPC, GILD,...","[ALK, VFC, USB, EBAY, WDC, RL, NUE, INTU, FLIR..."
1999-07-31,"[ZBH, IR, GM, GILD, GPN, HAL, HBI, HCA, HSY, H...","[AFL, FDX, DIS, HAS, FISV, CB, IDXX, TSCO, PFE..."
...,...,...
2018-07-31,"[ICE, NTRS, PYPL, PAYX, CDW, IT, CNC, ORLY, CH...","[FTI, FLS, NOV, MRO, F, IPG, NWL, MYL, INCY, K..."
2018-08-31,"[RTX, DHR, DRI, DXCM, PSX, PFE, DG, PKI, DPZ, ...","[MCK, MRO, NEM, TWTR, MYL, IPG, F, AMD, INCY, ..."
2018-09-30,"[ZBH, FTV, ILMN, INFO, IEX, HUM, HPQ, HON, HD,...","[FTI, NOV, IPG, MYL, MU, NEM, TWTR, INCY, F, K..."
2018-10-31,"[ES, CME, NEE, KO, VZ, MRK, BA, BLL, PFE, ATO,...","[WYNN, NOV, NEM, WY, TWTR, MU, KMI, MYL, INCY,..."
2018-11-30,"[ICE, STE, CI, CHD, TMUS, PFE, CDW, PEP, GPC, ...","[WY, AMD, MRO, INCY, FTI, UAA, KMI, MHK, MU, N..."

In [395]:
data={}
pe_ratio=[]
for i in range(len(df_monthrt.index)):
    pe_mean = df_monthrt.iloc[i][df_2.iloc[i][0]].mean()-df_monthrt.iloc[i][df_2.iloc[i][1]].mean()
    pe_ratio.append(pe_mean)
    
    

data['Pe_ratio']=pe_ratio

df_peratio=pd.DataFrame(data)
df_peratio.index = df_pe.index
df_peratio

            Pe_ratio
Date
1999-03-31    0.0000
1999-04-30    0.0225
1999-05-31   -0.0743
1999-06-30   -0.0014
1999-07-31   -0.0016
...              ...
2018-07-31    0.0095
2018-08-31   -0.0228
2018-09-30    0.0186
2018-10-31   -0.0093
2018-11-30   -0.0114

[237 rows x 1 columns]

In [396]:
data={}
npm_ratio=[]
for i in range(len(df_monthrt.index)):
    npm_mean = df_monthrt.iloc[i][df_3.iloc[i][0]].mean()-df_monthrt.iloc[i][df_3.iloc[i][1]].mean()
    npm_ratio.append(npm_mean)
    
    

data['Net_Profit_Margin']=npm_ratio

df_npmratio=pd.DataFrame(data)
df_npmratio.index = df_npm.index
df_npmratio

            Net_Profit_Margin
Date
1999-03-31             0.0000
1999-04-30            -0.0107
1999-05-31            -0.0155
1999-06-30             0.0003
1999-07-31            -0.0178
...                       ...
2018-07-31            -0.0028
2018-08-31             0.0218
2018-09-30             0.0016
2018-10-31            -0.0093
2018-11-30            -0.0121

[237 rows x 1 columns]

In [397]:
data={}
roe_ratio=[]
for i in range(len(df_monthrt.index)):
    roe_mean = df_monthrt.iloc[i][df_4.iloc[i][0]].mean()-df_monthrt.iloc[i][df_4.iloc[i][1]].mean()
    roe_ratio.append(roe_mean)
    
    

data['ROE']=roe_ratio

df_roeratio=pd.DataFrame(data)
df_roeratio.index = df_roe.index
df_roeratio

               ROE
Date
1999-03-31  0.0000
1999-04-30 -0.0052
1999-05-31 -0.0264
1999-06-30  0.0235
1999-07-31  0.0044
...            ...
2018-07-31 -0.0044
2018-08-31  0.0245
2018-09-30  0.0049
2018-10-31 -0.0200
2018-11-30 -0.0094

[237 rows x 1 columns]

In [398]:
data={}
div_ratio=[]
for i in range(len(df_monthrt.index)):
    div_mean = df_monthrt.iloc[i][df_5.iloc[i][0]].mean()-df_monthrt.iloc[i][df_5.iloc[i][1]].mean()
    div_ratio.append(div_mean)
    
    

data['Dividend']=div_ratio

df_divratio=pd.DataFrame(data)
df_divratio.index = df_divyield.index
df_divratio

            Dividend
Date
1999-03-31    0.0000
1999-04-30    0.0177
1999-05-31    0.0374
1999-06-30    0.0036
1999-07-31   -0.0609
...              ...
2018-07-31   -0.0159
2018-08-31   -0.0219
2018-09-30   -0.0357
2018-10-31    0.0219
2018-11-30   -0.0158

[237 rows x 1 columns]

In [399]:
data={}
mdd_ratio=[]
for i in range(len(df_monthrt.index)):
    mdd_mean = df_monthrt.iloc[i][df_6.iloc[i][0]].mean()-df_monthrt.iloc[i][df_6.iloc[i][1]].mean()
    mdd_ratio.append(mdd_mean)
    
    

data['Max_Drawdown']=mdd_ratio

df_mddratio=pd.DataFrame(data)
df_mddratio.index = max_drawdown.index
df_mddratio

            Max_Drawdown
Date
1999-03-31        0.0000
1999-04-30        0.1632
1999-05-31        0.1980
1999-06-30        0.1086
1999-07-31        0.1540
...                  ...
2018-07-31        0.0371
2018-08-31        0.0745
2018-09-30        0.0606
2018-10-31        0.0744
2018-11-30        0.0939

[237 rows x 1 columns]

In [400]:
merged_new_factors = pd.concat([df_peratio,df_npmratio,df_roeratio,df_divratio,df_mddratio,merged_factors['^VIX']],axis=1)

In [401]:
merged_new_factors

,Pe_ratio,Net_Profit_Margin,ROE,Dividend,Max_Drawdown,^VIX
Date,,,,,,
1999-03-31,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
1999-04-30,0.0225,-0.0107,-0.0052,0.0177,0.1632,0.0043
1999-05-31,-0.0743,-0.0155,-0.0264,0.0374,0.1980,0.0022
1999-06-30,-0.0014,0.0003,0.0235,0.0036,0.1086,-0.0072
1999-07-31,-0.0016,-0.0178,0.0044,-0.0609,0.1540,0.0093
...,...,...,...,...,...,...
2018-07-31,0.0095,-0.0028,-0.0044,-0.0159,0.0371,-0.0087
2018-08-31,-0.0228,0.0218,0.0245,-0.0219,0.0745,0.0023
2018-09-30,0.0186,0.0016,0.0049,-0.0357,0.0606,-0.0017
2018-10-31,-0.0093,-0.0093,-0.0200,0.0219,0.0744,0.0319
2018-11-30,-0.0114,-0.0121,-0.0094,-0.0158,0.0939,-0.0041

In [402]:
merged_new_factors.to_csv('merged_new_factors')

In [403]:
spx_rt

Date
1999-03-31       nan
1999-04-30    0.0424
1999-05-31   -0.0020
1999-06-30   -0.0066
1999-07-31    0.0446
               ...
2018-07-31    0.0155
2018-08-31    0.0245
2018-09-30    0.0170
2018-10-31   -0.0390
2018-11-30   -0.0207
Freq: M, Name: Adj Close, Length: 237, dtype: float64

 ## $R$$i$ – $R$$f$ = $α$ + $\ β$$market$$(Rm – Rf)$ + $β$$size$$SMB$ + $β$$BM$$HML$ + $β$$profitability$$RMW$ + $β$$investment$$CMA$ +$\ ε$

In [404]:
result = sm.OLS(spx_rt, sm.add_constant(merged_new_factors[['Pe_ratio','ROE','Net_Profit_Margin','Dividend','Max_Drawdown','^VIX']])).fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              Adj Close   R-squared:                         nan
Model:                            OLS   Adj. R-squared:                    nan
Method:                 Least Squares   F-statistic:                       nan
Date:                Wed, 25 Nov 2020   Prob (F-statistic):                nan
Time:                        03:33:28   Log-Likelihood:                    nan
No. Observations:                 237   AIC:                               nan
Df Residuals:                     230   BIC:                               nan
Df Model:                           6
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
const                    nan        nan        nan        nan         nan         nan
Pe_ratio                 nan        nan        nan        nan         nan         nan
ROE                      nan        nan        nan        nan         nan         nan
Net_Profit_Margin        nan        nan        nan        nan         nan         nan
Dividend                 nan        nan        nan        nan         nan         nan
Max_Drawdown             nan        nan        nan        nan         nan         nan
^VIX                     nan        nan        nan        nan         nan         nan
==============================================================================
Omnibus:                          nan   Durbin-Watson:                     nan
Prob(Omnibus):                    nan   Jarque-Bera (JB):                  nan
Skew:                             nan   Prob(JB):                          nan
Kurtosis:                         nan   Cond. No.                         104.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/Users/willlee/.local/lib/python3.8/site-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/Users/willlee/.local/lib/python3.8/site-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/Users/willlee/.local/lib/python3.8/site-packages/scipy/stats/_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)

In [405]:
merged_new_factors

,Pe_ratio,Net_Profit_Margin,ROE,Dividend,Max_Drawdown,^VIX
Date,,,,,,
1999-03-31,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
1999-04-30,0.0225,-0.0107,-0.0052,0.0177,0.1632,0.0043
1999-05-31,-0.0743,-0.0155,-0.0264,0.0374,0.1980,0.0022
1999-06-30,-0.0014,0.0003,0.0235,0.0036,0.1086,-0.0072
1999-07-31,-0.0016,-0.0178,0.0044,-0.0609,0.1540,0.0093
...,...,...,...,...,...,...
2018-07-31,0.0095,-0.0028,-0.0044,-0.0159,0.0371,-0.0087
2018-08-31,-0.0228,0.0218,0.0245,-0.0219,0.0745,0.0023
2018-09-30,0.0186,0.0016,0.0049,-0.0357,0.0606,-0.0017
2018-10-31,-0.0093,-0.0093,-0.0200,0.0219,0.0744,0.0319
2018-11-30,-0.0114,-0.0121,-0.0094,-0.0158,0.0939,-0.0041

In [406]:
new_factor_alphas={}

for i in excess_rt.columns.unique(): 
    x=merged_new_factors[['Pe_ratio','ROE','Net_Profit_Margin','Dividend','Max_Drawdown','^VIX']]
    y=excess_rt[i]

    ff_model=linear_model.LinearRegression().fit(x,y)

    new_factor_alphas[i]=ff_model.intercept_

new_factor_alphas

{'MMM': 0.021295278068683227,
 'ABT': 0.015477145946850176,
 'ABBV': 0.005023007334704939,
 'ABMD': 0.016997243958492822,
 'ACN': 0.02333829911596976,
 'ATVI': 0.024174909358267917,
 'ADBE': 0.025994484020758567,
 'AMD': 0.03913305296126357,
 'AAP': 0.020341978087812213,
 'AES': 0.028530708792793305,
 'AFL': 0.03552724803549516,
 'A': 0.013687832958061169,
 'APD': 0.024495107093311548,
 'AKAM': 0.022620516975318042,
 'ALK': 0.03444083635526612,
 'ALB': 0.036361111083239916,
 'ARE': 0.025681608563864547,
 'ALXN': -0.0017232168205210015,
 'ALGN': 0.04779532007432011,
 'ALLE': 0.00203219716316148,
 'LNT': 0.01943534458331655,
 'ALL': 0.02990744062940749,
 'GOOGL': 0.024045856115735946,
 'GOOG': 0.023988670107748446,
 'MO': 0.027794333214709387,
 'AMZN': 0.028715128267798463,
 'AMCR': 0.001957491983676554,
 'AEE': 0.021470500109548984,
 'AAL': 0.03726981563593562,
 'AEP': 0.02349302320837029,
 'AXP': 0.03335666070390533,
 'AIG': 0.029293945519080558,
 'AMT': 0.025266673896742243,
 'AWK': 0.010713605692335378,
 'AMP': 0.027216498823010502,
 'ABC': 0.02435286034843607,
 'AME': 0.03206615546618416,
 'AMGN': 0.009408986283937716,
 'APH': 0.030705792075191154,
 'ADI': 0.009891414472584835,
 'ANSS': 0.029460219329393356,
 'ANTM': 0.025293419494174123,
 'AON': 0.0193826601264996,
 'AOS': 0.04136706398199905,
 'APA': 0.024809333973054327,
 'AIV': 0.03168296311790183,
 'AAPL': 0.0386440939443,
 'AMAT': 0.015275406616502268,
 'APTV': 0.009135453638389435,
 'ADM': 0.01780695354403329,
 'ANET': 0.0049127718265101405,
 'AJG': 0.020690812466235844,
 'AIZ': 0.02238907519206656,
 'T': 0.0140574708976542,
 'ATO': 0.020476533108571046,
 'ADSK': 0.0283329292764291,
 'ADP': 0.01874526222821784,
 'AZO': 0.023469485649407547,
 'AVB': 0.026889112055686296,
 'AVY': 0.02406166147905395,
 'BKR': 0.022247027682044413,
 'BLL': 0.03125540354540078,
 'BAC': 0.03886479958489283,
 'BK': 0.018620650807502307,
 'BAX': 0.01829622594639071,
 'BDX': 0.016043566526718282,
 'BBY': 0.029710444145938132,
 'BIO': 0.022165596699990534,
 'BIIB': 0.0062593691761898135,
 'BLK': 0.02986240032217675,
 'BA': 0.0304229117639737,
 'BKNG': 0.04125253135060826,
 'BWA': 0.04064102582889481,
 'BXP': 0.02867512865841161,
 'BSX': 0.019038149916288105,
 'BMY': 0.013486546035985755,
 'AVGO': 0.013260277247054643,
 'BR': 0.012862533437570368,
 'CHRW': 0.01859587314570789,
 'COG': 0.0346745595909829,
 'CDNS': 0.01636433713557652,
 'CPB': 0.013073477134957242,
 'COF': 0.04046221290560643,
 'CAH': 0.01716248336703074,
 'KMX': 0.042803646114601385,
 'CCL': 0.028449771955999854,
 'CTLT': 0.002774607325160616,
 'CAT': 0.03940791360764568,
 'CBOE': 0.006470800935664356,
 'CBRE': 0.040565566581640705,
 'CDW': 0.006600688216160162,
 'CE': 0.034729950636044477,
 'CNC': 0.029766478232966402,
 'CNP': 0.023135267396463502,
 'CERN': 0.015366366257462455,
 'CF': 0.026551877787674115,
 'SCHW': 0.019296193061564867,
 'CHTR': 0.012291336028200591,
 'CVX': 0.020715513091298394,
 'CMG': 0.018854023407708233,
 'CB': 0.02884252043795313,
 'CHD': 0.02905687447489194,
 'CI': 0.03082060906311875,
 'CINF': 0.02452949536740716,
 'CTAS': 0.024346039170949702,
 'CSCO': 0.011664771564324307,
 'C': 0.025788815992718782,
 'CFG': 0.0023003726812514777,
 'CTXS': 0.016399166878850797,
 'CLX': 0.016813794776105485,
 'CME': 0.027862636050774,
 'CMS': 0.02992597272790247,
 'KO': 0.015412053839158738,
 'CTSH': 0.021988962134900137,
 'CL': 0.016407836626610477,
 'CMCSA': 0.020514256664151437,
 'CMA': 0.02702923534430599,
 'CAG': 0.02142636343387709,
 'CXO': 0.017665461560066376,
 'COP': 0.02862746631713237,
 'ED': 0.017481757953133885,
 'STZ': 0.029802292729902022,
 'COO': 0.028430268280056542,
 'CPRT': 0.020434495502974343,
 'GLW': 0.016735561565776134,
 'COST': 0.016136491517377182,
 'CCI': 0.022526261582539335,
 'CSX': 0.0359603461488137,
 'CMI': 0.04664851094910895,
 'CVS': 0.022104787952441154,
 'DHI': 0.03208572526855555,
 'DHR': 0.027591789855506324,
 'DRI': 0.029488915940222328,
 'DVA': 0.03142295074003643,
 'DE': 0.03170423401224634,
 'DAL': 0.02316339852128852,
 'XRAY': 0.016532106784485922,
 'DVN': 0.02348082951174202,
 'DXCM': 0.0210644721571677,
 'FANG': 0.010358763974184271,
 'DLR': 0.023551571032075183,
 'DFS': 0.024269137426570116,
 'DISCA': 0.01731768306636642,
 'DISCK': 0.013346301998825862,
 'DISH': 0.02047247279013574,
 'DG': 0.006868214106509565,
 'DLTR': 0.021887047366930527,
 'D': 0.022188897625135547,
 'DPZ': 0.03352552630137722,
 'DOV': 0.028347533214741004,
 'DTE': 0.021752942192742118,
 'DUK': 0.017638016325629592,
 'DRE': 0.03325283531558724,
 'DD': 0.0375002578959082,
 'DXC': 0.02056125494458769,
 'EMN': 0.0376473820483306,
 'ETN': 0.03338943002115591,
 'EBAY': 0.020516809249332347,
 'ECL': 0.024074084985789817,
 'EIX': 0.023115098560294717,
 'EW': 0.017523842837469047,
 'EA': 0.015408127383090064,
 'EMR': 0.026065855524961195,
 'ETR': 0.024507759270005924,
 'EOG': 0.03387653705501548,
 'EFX': 0.02648379518318269,
 'EQIX': 0.034050042007353905,
 'EQR': 0.026766941243505933,
 'ESS': 0.024169854669098476,
 'EL': 0.02742846757854322,
 'ETSY': 0.0029685205812950313,
 'EVRG': 0.018951131576941078,
 'ES': 0.019423486221545026,
 'RE': 0.01840340881570545,
 'EXC': 0.01762232177713324,
 'EXPE': 0.024235094860901918,
 'EXPD': 0.018103105893033135,
 'EXR': 0.02753860371963979,
 'XOM': 0.012685077071283728,
 'FFIV': 0.03073797780416508,
 'FB': 0.004960401427932925,
 'FAST': 0.029402563560654568,
 'FRT': 0.028140469841898306,
 'FDX': 0.02858647825354947,
 'FIS': 0.020396710077090104,
 'FITB': 0.042848371118548285,
 'FE': 0.01975900974929177,
 'FRC': 0.007324038603021859,
 'FISV': 0.025931969323476738,
 'FLT': 0.010238057586385432,
 'FLIR': 0.029083311259052683,
 'FLS': 0.041306839862780866,
 'FMC': 0.029963839866570544,
 'F': 0.03915047527071561,
 'FTNT': 0.012290577473654309,
 'FTV': 0.0008583004281832384,
 'FBHS': 0.0071839766490288184,
 'BEN': 0.031585222984301914,
 'FCX': 0.037729921340017,
 'GPS': 0.019767612282944613,
 'GRMN': 0.02772685500426527,
 'IT': 0.031852191807973926,
 'GD': 0.029239826554883726,
 'GE': 0.016278872661169053,
 'GIS': 0.013894266896164928,
 'GM': 0.004038052294956611,
 'GPC': 0.02493616358582331,
 'GILD': 0.019292769061775253,
 'GL': 0.03389182242679355,
 'GPN': 0.02338239136432925,
 'GS': 0.017637430857667336,
 'GWW': 0.024470104999676463,
 'HAL': 0.02883229993455514,
 'HBI': 0.028327242723505026,
 'HIG': 0.04293259026812435,
 'HAS': 0.030438340513842498,
 'HCA': 0.009137231646916304,
 'PEAK': 0.02421296539743399,
 'HSIC': 0.022722851905110544,
 'HSY': 0.015487630872617762,
 'HES': 0.024858724717479953,
 'HPE': 0.0021394821696169167,
 'HLT': 0.002451391633834959,
 'HFC': 0.0382341485213219,
 'HOLX': 0.02493011225571223,
 'HD': 0.020969051783079437,
 'HON': 0.03007877306081618,
 'HRL': 0.021161349005056097,
 'HST': 0.040614748386183036,
 'HPQ': 0.017638617420110476,
 'HUM': 0.03194468108568581,
 'HBAN': 0.03916733829906121,
 'HII': 0.009314256502040418,
 'IEX': 0.029865494058062943,
 'IDXX': 0.021540767841204435,
 'INFO': 0.001587865301638437,
 'ITW': 0.025204716510541025,
 'ILMN': 0.02533016557664762,
 'INCY': 0.009925172673121149,
 'IR': 0.000680526584338371,
 'INTC': 0.013607375253807332,
 'ICE': 0.022222668876884545,
 'IBM': 0.015330507209282213,
 'IP': 0.03711576609449135,
 'IPG': 0.02494727468990146,
 'IFF': 0.025320378028105116,
 'INTU': 0.010201455836868586,
 'ISRG': 0.03859426703131079,
 'IVZ': 0.025005548539325677,
 'IPGP': 0.02286123770998636,
 'IQV': 0.0027685197929200054,
 'IRM': 0.0202979346080311,
 'JKHY': 0.01950509565584139,
 'J': 0.027927230468841435,
 'JBHT': 0.035325780144325795,
 'SJM': 0.021479872408608956,
 'JNJ': 0.01768663062936112,
 'JCI': 0.023876671629610376,
 'JPM': 0.026907998416317403,
 'JNPR': 0.008287340562754689,
 'KSU': 0.025942071770199415,
 'K': 0.01696785740095405,
 'KEY': 0.021391539604990975,
 'KEYS': 0.001848250853257447,
 'KMB': 0.016621060615210063,
 'KIM': 0.03119993649778182,
 'KMI': 0.003162237190491788,
 'KLAC': 0.024308288210752926,
 'KHC': -0.0013910437861384137,
 'KR': 0.020135258054274442,
 'LB': 0.03368100023884361,
 'LHX': 0.021281990513681293,
 'LH': 0.019848448723555692,
 'LRCX': 0.026523405278015486,
 'LW': 0.003145789697768137,
 'LVS': 0.05467169473573191,
 'LEG': 0.02833863914607566,
 'LDOS': 0.006837383102197325,
 'LEN': 0.028253611902803386,
 'LLY': 0.016315025023380215,
 'LNC': 0.044145874496786267,
 'LIN': 0.025587366150231047,
 'LYV': 0.03095794334970558,
 'LKQ': 0.024115637388732215,
 'LMT': 0.027288449245225603,
 'L': 0.03064729746300663,
 'LOW': 0.02857047892710786,
 'LYB': 0.01466239175215237,
 'MTB': 0.0253509503870192,
 'MRO': 0.03036167686008848,
 'MPC': 0.00963243454114101,
 'MKTX': 0.02194531635133464,
 'MAR': 0.03395548090393622,
 'MMC': 0.01527275728587771,
 'MLM': 0.026442767590036977,
 'MAS': 0.03631562344927262,
 'MA': 0.02604795830584793,
 'MKC': 0.018083362543288226,
 'MXIM': 0.011589132631879037,
 'MCD': 0.02188755812941132,
 'MCK': 0.01855246388330549,
 'MDT': 0.010866004747325141,
 'MRK': 0.015222732224447371,
 'MET': 0.030666983886005333,
 'MTD': 0.026343851231361883,
 'MGM': 0.05509809687665164,
 'MCHP': 0.018222605579390903,
 'MU': 0.02154329785646608,
 'MSFT': 0.01612155100889348,
 'MAA': 0.024451918374825687,
 'MHK': 0.0388152398002083,
 'TAP': 0.02058092299175243,
 'MDLZ': 0.014458813906772373,
 'MNST': 0.03867397188438302,
 'MCO': 0.03472441158108636,
 'MS': 0.017046529883661416,
 'MOS': 0.02598194436352623,
 'MSI': 0.020475299986718185,
 'MSCI': 0.01953300411303826,
 'MYL': 0.01198890121858568,
 'NDAQ': 0.020090846086721025,
 'NOV': 0.019954360115405065,
 'NTAP': 0.012623502674777699,
 'NFLX': 0.03795122331946616,
 'NWL': 0.028561713180473708,
 'NEM': 0.010580641664362782,
 'NWSA': -0.0003742921369849152,
 'NWS': -0.0003504740957798692,
 'NEE': 0.0199683456911706,
 'NLSN': 0.0018394503139979245,
 'NKE': 0.03624112415458812,
 'NI': 0.02703939679068755,
 'NSC': 0.037295182014922726,
 'NTRS': 0.014370635889983068,
 'NOC': 0.028059549041406538,
 'NLOK': 0.02341988899606911,
 'NCLH': 0.0022746215211669535,
 'NRG': 0.01838048812509481,
 'NUE': 0.025633490513776544,
 'NVDA': 0.03368012118847638,
 'NVR': 0.0369669387218231,
 'ORLY': 0.028517016806578113,
 'OXY': 0.030435932211119544,
 'ODFL': 0.0327638425798738,
 'OMC': 0.021391375368514418,
 'OKE': 0.03380087908164904,
 'ORCL': 0.005818738025834483,
 'PCAR': 0.02971075483353155,
 'PKG': 0.031110295330618754,
 'PH': 0.03264040929024072,
 'PAYX': 0.015221661373578289,
 'PAYC': 0.008465987448124936,
 'PYPL': 0.002941455148813008,
 'PNR': 0.027129903920681125,
 'PBCT': 0.02014573647057328,
 'PEP': 0.015768900297151205,
 'PKI': 0.013502968098923691,
 'PRGO': 0.02320866318075515,
 'PFE': 0.013733989638276486,
 'PM': 0.013123854343885195,
 'PSX': 0.007947239806701393,
 'PNW': 0.022475024193164134,
 'PXD': 0.042460298394242514,
 'PNC': 0.03120044586231512,
 'POOL': 0.031121997526468985,
 'PPG': 0.0283830711956691,
 'PPL': 0.020958271699146533,
 'PFG': 0.03900271311819052,
 'PG': 0.017090708067841506,
 'PGR': 0.028531011923598533,
 'PLD': 0.033807307126935665,
 'PRU': 0.03681429301014704,
 'PEG': 0.023763473031782514,
 'PSA': 0.02723479160361473,
 'PHM': 0.033525733706321184,
 'PVH': 0.04036043540933557,
 'QRVO': -0.0009312622757456587,
 'PWR': 0.032460585100792715,
 'QCOM': 0.008264933369291988,
 'DGX': 0.01769919186148026,
 'RL': 0.031015770333800003,
 'RJF': 0.024184702427367026,
 'RTX': 0.023577180681373648,
 'O': 0.02495987653240425,
 'REG': 0.02803574927489146,
 'REGN': 0.018170871065398646,
 'RF': 0.03023659519197889,
 'RSG': 0.03221795913105004,
 'RMD': 0.016873069033287957,
 'RHI': 0.021620796689137446,
 'ROK': 0.03795169117064953,
 'ROL': 0.0225223199980256,
 'ROP': 0.027138615239887906,
 'ROST': 0.03096867538984594,
 'RCL': 0.04692319601380074,
 'SPGI': 0.03027163941981545,
 'CRM': 0.03065198995020446,
 'SBAC': 0.02303460838305247,
 'SLB': 0.017911887385255978,
 'STX': 0.03721029840764313,
 'SEE': 0.030895642544063965,
 'SRE': 0.024731080469929,
 'NOW': 0.008255116362350682,
 'SHW': 0.03003101348594197,
 'SPG': 0.03448854066834279,
 'SWKS': 0.016961383678201127,
 'SLG': 0.03875939327202818,
 'SNA': 0.03468504071673255,
 'SO': 0.018180653082579323,
 'LUV': 0.024029070350481387,
 'SWK': 0.02949476479156944,
 'SBUX': 0.021555521154538897,
 'STT': 0.02612825478116075,
 'STE': 0.021148942884221346,
 'SYK': 0.022694794019493307,
 'SIVB': 0.025100526933510302,
 'SYF': 0.0017671933294434964,
 'SNPS': 0.01955974386716846,
 'SYY': 0.021146660816046235,
 'TMUS': 0.011930071248244746,
 'TROW': 0.0354895599240943,
 'TTWO': 0.029858395730263713,
 'TPR': 0.04054804605149963,
 'TGT': 0.023436838574082144,
 'TEL': 0.02406693036001576,
 'FTI': 0.026575811500387618,
 'TDY': 0.03327018017782553,
 'TFX': 0.027018264036474976,
 'TER': 0.025774255404118283,
 'TXN': 0.013491228870104633,
 'TXT': 0.047487030225098835,
 'TMO': 0.018597505647980864,
 'TIF': 0.027551965991853916,
 'TJX': 0.029892732093121335,
 'TSCO': 0.04061491055422459,
 'TT': 0.03832879605023396,
 'TDG': 0.01967384092194813,
 'TRV': 0.02283967884986273,
 'TFC': 0.02505585790016882,
 'TWTR': -0.0005572307364053758,
 'TYL': 0.030658992079265954,
 'TSN': 0.031512247279861315,
 'UDR': 0.028749546387822983,
 'ULTA': 0.027237084298867224,
 'USB': 0.03153186717538514,
 'UAA': 0.026784519102443352,
 'UA': -0.005676329997084577,
 'UNP': 0.03190124564345464,
 'UAL': 0.03269540004199896,
 'UNH': 0.030046677884007344,
 'UPS': 0.018455001230224758,
 'URI': 0.04906603406484584,
 'UHS': 0.022471065553220343,
 'UNM': 0.03753538624775211,
 'VFC': 0.030642295770393495,
 'VLO': 0.030322413960428132,
 'VAR': 0.01766723852741442,
 'VTR': 0.039168923001957345,
 'VRSN': 0.0064609216290699,
 'VRSK': 0.006875274996633769,
 'VZ': 0.014791412785651138,
 'VRTX': 0.009132575548551049,
 'V': 0.015941341665681067,
 'VNO': 0.029596842439281137,
 'VMC': 0.024240249914873238,
 'WRB': 0.026007471226799243,
 'WAB': 0.03697200512021458,
 'WMT': 0.012451830418444344,
 'WBA': 0.018140118133278867,
 'DIS': 0.022171552189420986,
 'WM': 0.026676236936639633,
 'WAT': 0.01196669898605759,
 'WEC': 0.022188561595166856,
 'WFC': 0.028558957291946026,
 'WELL': 0.025006326294904,
 'WST': 0.026973472712626012,
 'WDC': 0.033759589100106305,
 'WU': 0.015290144519495553,
 'WRK': 1.230406581862408e-05,
 'WY': 0.02262238414303952,
 'WHR': 0.037886345983969755,
 'WMB': 0.03346058459309584,
 'WLTW': 0.016539371542683264,
 'WYNN': 0.04580315453433549,
 'XEL': 0.020403361344199705,
 'XRX': 0.03165317149291975,
 'XLNX': 0.013194710413704699,
 'XYL': 0.0051379015793104775,
 'YUM': 0.0301877833133202,
 'ZBRA': 0.025163176023063647,
 'ZBH': 0.019562366460810738,
 'ZION': 0.026112583996986686,
 'ZTS': 0.0029650493343697723}

In [407]:
data2={}
tker=[]
tf_alphas=[]
for i in excess_rt.columns.unique(): 
    x=merged_new_factors[['Pe_ratio','ROE','Net_Profit_Margin','Dividend','Max_Drawdown','^VIX']]
    y=excess_rt[i]

    ff_model=linear_model.LinearRegression().fit(x,y)

    tker.append(i)
    tf_alphas.append(ff_model.intercept_)
    
data2['Tickers']=tker
data2['Alphas']=tf_alphas

new_factor_df=pd.DataFrame(data2)
new_factor_df

    Tickers  Alphas
0       MMM  0.0213
1       ABT  0.0155
2      ABBV  0.0050
3      ABMD  0.0170
4       ACN  0.0233
..      ...     ...
488     YUM  0.0302
489    ZBRA  0.0252
490     ZBH  0.0196
491    ZION  0.0261
492     ZTS  0.0030

[493 rows x 2 columns]

In [408]:
new_factor_sorted=new_factor_df.sort_values('Alphas',ascending=False)
new_factor_sorted

    Tickers  Alphas
305     MGM  0.0551
275     LVS  0.0547
451     URI  0.0491
18     ALGN  0.0478
430     TXT  0.0475
..      ...     ...
439    TWTR -0.0006
376    QRVO -0.0009
268     KHC -0.0014
17     ALXN -0.0017
446      UA -0.0057

[493 rows x 2 columns]

In [409]:
new_factor_top10=new_factor_sorted[new_factor_sorted.Alphas>=new_factor_sorted.Alphas.quantile(0.98)]
new_factor_top10

    Tickers  Alphas
305     MGM  0.0551
275     LVS  0.0547
451     URI  0.0491
18     ALGN  0.0478
430     TXT  0.0475
394     RCL  0.0469
128     CMI  0.0466
483    WYNN  0.0458
280     LNC  0.0441
214     HIG  0.0429

In [410]:
new_factor_top50=new_factor_sorted[new_factor_sorted.Alphas>=new_factor_sorted.Alphas.quantile(0.9)]
new_factor_top50

    Tickers  Alphas
305     MGM  0.0551
275     LVS  0.0547
451     URI  0.0491
18     ALGN  0.0478
430     TXT  0.0475
394     RCL  0.0469
128     CMI  0.0466
483    WYNN  0.0458
280     LNC  0.0441
214     HIG  0.0429
185    FITB  0.0428
84      KMX  0.0428
362     PXD  0.0425
43      AOS  0.0414
191     FLS  0.0413
71     BKNG  0.0413
72      BWA  0.0406
434    TSCO  0.0406
228     HST  0.0406
89     CBRE  0.0406
422     TPR  0.0405
82      COF  0.0405
375     PVH  0.0404
87      CAT  0.0394
457     VTR  0.0392
231    HBAN  0.0392
193       F  0.0392
7       AMD  0.0391
367     PFG  0.0390
62      BAC  0.0389
310     MHK  0.0388
406     SLG  0.0388
313    MNST  0.0387
46     AAPL  0.0386
247    ISRG  0.0386
435      TT  0.0383
223     HFC  0.0382
390     ROK  0.0380
323    NFLX  0.0380
480     WHR  0.0379
198     FCX  0.0377
155     EMN  0.0376
453     UNM  0.0375
153      DD  0.0375
332     NSC  0.0373
28      AAL  0.0373
399     STX  0.0372
243      IP  0.0371
466     WAB  0.0370
340     NVR  0.0370

In [411]:
new_factor_bottom10=new_factor_sorted[new_factor_sorted.Alphas<=new_factor_sorted.Alphas.quantile(0.02)]
new_factor_bottom10

    Tickers  Alphas
195     FTV  0.0009
239      IR  0.0007
478     WRK  0.0000
327     NWS -0.0004
326    NWSA -0.0004
439    TWTR -0.0006
376    QRVO -0.0009
268     KHC -0.0014
17     ALXN -0.0017
446      UA -0.0057

In [412]:
new_factor_sorted.Alphas[443:493]

216    0.0091
48     0.0091
461    0.0091
351    0.0085
259    0.0083
378    0.0083
402    0.0083
360    0.0079
187    0.0073
196    0.0072
459    0.0069
145    0.0069
277    0.0068
90     0.0066
88     0.0065
458    0.0065
68     0.0063
346    0.0058
487    0.0051
2      0.0050
180    0.0050
50     0.0049
205    0.0040
266    0.0032
274    0.0031
170    0.0030
492    0.0030
352    0.0029
86     0.0028
250    0.0028
222    0.0025
107    0.0023
336    0.0023
221    0.0021
19     0.0020
26     0.0020
263    0.0018
329    0.0018
416    0.0018
235    0.0016
195    0.0009
239    0.0007
478    0.0000
327   -0.0004
326   -0.0004
439   -0.0006
376   -0.0009
268   -0.0014
17    -0.0017
446   -0.0057
Name: Alphas, dtype: float64

In [413]:
new_factor_bottom50=new_factor_sorted[443:493]
new_factor_bottom50

    Tickers  Alphas
216     HCA  0.0091
48     APTV  0.0091
461    VRTX  0.0091
351    PAYC  0.0085
259    JNPR  0.0083
378    QCOM  0.0083
402     NOW  0.0083
360     PSX  0.0079
187     FRC  0.0073
196    FBHS  0.0072
459    VRSK  0.0069
145      DG  0.0069
277    LDOS  0.0068
90      CDW  0.0066
88     CBOE  0.0065
458    VRSN  0.0065
68     BIIB  0.0063
346    ORCL  0.0058
487     XYL  0.0051
2      ABBV  0.0050
180      FB  0.0050
50     ANET  0.0049
205      GM  0.0040
266     KMI  0.0032
274      LW  0.0031
170    ETSY  0.0030
492     ZTS  0.0030
352    PYPL  0.0029
86     CTLT  0.0028
250     IQV  0.0028
222     HLT  0.0025
107     CFG  0.0023
336    NCLH  0.0023
221     HPE  0.0021
19     ALLE  0.0020
26     AMCR  0.0020
263    KEYS  0.0018
329    NLSN  0.0018
416     SYF  0.0018
235    INFO  0.0016
195     FTV  0.0009
239      IR  0.0007
478     WRK  0.0000
327     NWS -0.0004
326    NWSA -0.0004
439    TWTR -0.0006
376    QRVO -0.0009
268     KHC -0.0014
17     ALXN -0.0017
446      UA -0.0057

### Buy top 10 and short bottom 10

In [414]:
new_factor_top10['Tickers'].values

array(['MGM', 'LVS', 'URI', 'ALGN', 'TXT', 'RCL', 'CMI', 'WYNN', 'LNC',
       'HIG'], dtype=object)

In [415]:
new_factor_bottom10['Tickers'].values

array(['FTV', 'IR', 'WRK', 'NWS', 'NWSA', 'TWTR', 'QRVO', 'KHC', 'ALXN',
       'UA'], dtype=object)

In [416]:
new_factor_bottom10=df_excessrt[new_factor_bottom10['Tickers'].values]

new_factor_bottom10 = new_factor_bottom10*-1

In [417]:
new_factor_top10=df_excessrt[new_factor_top10['Tickers'].values]

new_factor_first_portfoloio = pd.concat([new_factor_top10,new_factor_bottom10],axis=1)
new_factor_first_portfoloio

,MGM,LVS,URI,ALGN,TXT,RCL,CMI,WYNN,LNC,HIG,FTV,IR,WRK,NWS,NWSA,TWTR,QRVO,KHC,ALXN,UA
Date,,,,,,,,,,,,,,,,,,,,
1999-03-31,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036
1999-04-30,0.1798,-0.0035,0.0241,-0.0035,0.0999,-0.0535,0.2781,-0.0035,-0.0230,0.0336,0.0035,0.0035,0.0035,0.0035,0.0035,0.0035,0.0035,0.0035,-0.1549,0.0035
1999-05-31,0.1541,-0.0037,0.0055,-0.0037,0.0939,0.0439,0.1432,-0.0037,0.0444,0.0647,0.0037,0.0037,0.0037,0.0037,0.0037,0.0037,0.0037,0.0037,-0.1164,0.0037
1999-06-30,-0.0214,-0.0037,-0.0875,-0.0037,-0.0859,0.0994,0.0514,-0.0037,0.0132,-0.0474,0.0037,0.0037,0.0037,0.0037,0.0037,0.0037,0.0037,0.0037,0.1059,0.0037
1999-07-31,0.0422,-0.0037,0.0923,-0.0037,0.0146,0.0457,0.1141,-0.0037,0.0526,-0.0159,0.0037,0.0037,0.0037,0.0037,0.0037,0.0037,0.0037,0.0037,0.0077,0.0037
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-07-31,-0.0072,-0.0707,-0.0575,0.0198,-0.0091,0.0127,-0.0300,-0.0717,-0.0178,0.0019,-0.0053,0.0700,0.0380,0.0316,0.0273,0.0181,0.0031,-0.0186,-0.0965,0.0559
2018-08-31,-0.0493,-0.0857,0.0143,0.0182,0.0103,0.0656,0.0484,-0.0879,0.0142,-0.0209,-0.0378,-0.0058,0.0253,0.0771,0.0893,0.2150,-0.0033,0.0307,0.0967,0.0563
2018-09-30,-0.0415,-0.0835,0.0766,0.0412,0.0450,0.0943,0.0244,-0.0947,0.0138,-0.0268,-0.0564,-0.0016,0.0069,0.0810,0.0895,0.1014,0.0733,0.0442,-0.0228,0.0276
2018-10-31,-0.0491,-0.0810,-0.1846,-0.1880,-0.1161,-0.0823,-0.0194,-0.1619,-0.0381,-0.0565,0.0779,0.0524,0.1912,-0.0134,-0.0294,0.0205,0.0433,0.0262,-0.0067,0.0480
2018-11-30,0.0127,-0.0420,-0.1146,-0.2769,-0.1117,-0.0716,0.0247,-0.0488,-0.0178,-0.0498,0.0569,0.0296,-0.0311,-0.0177,-0.0172,-0.1145,0.0855,0.0562,0.0308,-0.1710

In [418]:
avg_returns=new_factor_first_portfoloio.mean()
cov_mat=new_factor_first_portfoloio.cov()

In [419]:
np.random.seed(42)
weights = np.random.random(size=(10**5,20))
weights /=  np.sum(weights, axis=1)[:, np.newaxis]
weights

array([[0.04091526, 0.10385728, 0.07996398, ..., 0.05732508, 0.04718624,
        0.03181425],
       [0.06726187, 0.01533476, 0.03211588, ..., 0.01073724, 0.07521872,
        0.04838659],
       [0.01245362, 0.05053124, 0.00350924, ..., 0.01999943, 0.0046153 ,
        0.03319893],
       ...,
       [0.04967842, 0.04181172, 0.05190261, ..., 0.01348652, 0.01234176,
        0.07783566],
       [0.0567995 , 0.02595997, 0.02513236, ..., 0.07208931, 0.01719708,
        0.05332819],
       [0.00598651, 0.06235709, 0.09087888, ..., 0.06491787, 0.03218369,
        0.06572618]])

In [420]:
###portfolio metrics:
portf_rtns = np.dot(weights, avg_returns)

portf_vol = []
for i in range(0, len(weights)):
    portf_vol.append(np.sqrt(np.dot(weights[i].T, 
                                    np.dot(cov_mat, weights[i]))))
portf_vol = np.array(portf_vol)  
portf_sharpe_ratio = portf_rtns / portf_vol

portf_results_df = pd.DataFrame({'returns': portf_rtns,
                                 'volatility': portf_vol,
                                 'sharpe_ratio': portf_sharpe_ratio})
portf_results_df

       returns  volatility  sharpe_ratio
0       0.0061      0.0526        0.1155
1       0.0041      0.0398        0.1025
2       0.0058      0.0363        0.1605
3       0.0053      0.0453        0.1175
4       0.0068      0.0493        0.1369
...        ...         ...           ...
99995   0.0063      0.0527        0.1194
99996   0.0055      0.0451        0.1229
99997   0.0076      0.0553        0.1372
99998   0.0052      0.0445        0.1177
99999   0.0058      0.0384        0.1517

[100000 rows x 3 columns]

In [421]:
max_sharpe_ind = np.argmax(portf_results_df.sharpe_ratio)
max_sharpe_portf = portf_results_df.loc[max_sharpe_ind]

min_vol_ind = np.argmin(portf_results_df.volatility)
min_vol_portf = portf_results_df.loc[min_vol_ind]

RISKY_ASSETS=new_factor_first_portfoloio.columns
RISKY_ASSETS

Index(['MGM', 'LVS', 'URI', 'ALGN', 'TXT', 'RCL', 'CMI', 'WYNN', 'LNC', 'HIG',
       'FTV', 'IR', 'WRK', 'NWS', 'NWSA', 'TWTR', 'QRVO', 'KHC', 'ALXN', 'UA'],
      dtype='object')

In [422]:
print('Maximum Sharpe Ratio portfolio ----')
print('Performance')
for index, value in max_sharpe_portf.items():
    print(f'{index}: {100 * value:.2f}% ', end="", flush=True)
print('\nWeights')
for x, y in zip(RISKY_ASSETS, weights[np.argmax(portf_results_df.sharpe_ratio)]):
    print(f'{x}: {100*y:.2f}% ', end="", flush=True)

Maximum Sharpe Ratio portfolio ----
Performance
returns: 0.66% volatility: 3.06% sharpe_ratio: 21.63%
Weights
MGM: 0.86% LVS: 0.23% URI: 3.41% ALGN: 10.08% TXT: 0.69% RCL: 1.61% CMI: 8.29% WYNN: 6.31% LNC: 1.97% HIG: 3.64% FTV: 9.23% IR: 9.74% WRK: 7.95% NWS: 5.54% NWSA: 3.40% TWTR: 0.31% QRVO: 4.83% KHC: 9.93% ALXN: 0.74% UA: 11.23%

In [423]:
print('Minimum Volatility portfolio ----')
print('Performance')
for index, value in min_vol_portf.items():
    print(f'{index}: {100 * value:.2f}% ', end="", flush=True)
print('\nWeights')
for x, y in zip(RISKY_ASSETS, weights[np.argmin(portf_results_df.volatility)]):
    print(f'{x}: {100*y:.2f}% ', end="", flush=True)

Minimum Volatility portfolio ----
Performance
returns: 0.15% volatility: 2.25% sharpe_ratio: 6.77%
Weights
MGM: 0.63% LVS: 0.17% URI: 6.13% ALGN: 0.33% TXT: 1.81% RCL: 2.09% CMI: 3.14% WYNN: 3.14% LNC: 3.05% HIG: 1.66% FTV: 6.85% IR: 10.27% WRK: 8.49% NWS: 7.85% NWSA: 9.23% TWTR: 8.06% QRVO: 5.66% KHC: 9.22% ALXN: 8.47% UA: 3.75%

### Buy top 50 and short bottom 50

In [424]:
new_factor_top50['Tickers'].values

array(['MGM', 'LVS', 'URI', 'ALGN', 'TXT', 'RCL', 'CMI', 'WYNN', 'LNC',
       'HIG', 'FITB', 'KMX', 'PXD', 'AOS', 'FLS', 'BKNG', 'BWA', 'TSCO',
       'HST', 'CBRE', 'TPR', 'COF', 'PVH', 'CAT', 'VTR', 'HBAN', 'F',
       'AMD', 'PFG', 'BAC', 'MHK', 'SLG', 'MNST', 'AAPL', 'ISRG', 'TT',
       'HFC', 'ROK', 'NFLX', 'WHR', 'FCX', 'EMN', 'UNM', 'DD', 'NSC',
       'AAL', 'STX', 'IP', 'WAB', 'NVR'], dtype=object)

In [425]:
new_factor_bottom50['Tickers'].values

array(['HCA', 'APTV', 'VRTX', 'PAYC', 'JNPR', 'QCOM', 'NOW', 'PSX', 'FRC',
       'FBHS', 'VRSK', 'DG', 'LDOS', 'CDW', 'CBOE', 'VRSN', 'BIIB',
       'ORCL', 'XYL', 'ABBV', 'FB', 'ANET', 'GM', 'KMI', 'LW', 'ETSY',
       'ZTS', 'PYPL', 'CTLT', 'IQV', 'HLT', 'CFG', 'NCLH', 'HPE', 'ALLE',
       'AMCR', 'KEYS', 'NLSN', 'SYF', 'INFO', 'FTV', 'IR', 'WRK', 'NWS',
       'NWSA', 'TWTR', 'QRVO', 'KHC', 'ALXN', 'UA'], dtype=object)

In [426]:
new_factor_port_top50=df_excessrt[new_factor_top50['Tickers'].values]
new_factor_port_top50

,MGM,LVS,URI,ALGN,TXT,RCL,CMI,WYNN,LNC,HIG,...,FCX,EMN,UNM,DD,NSC,AAL,STX,IP,WAB,NVR
Date,,,,,,,,,,,,,,,,,,,,,
1999-03-31,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,...,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036
1999-04-30,0.1798,-0.0035,0.0241,-0.0035,0.0999,-0.0535,0.2781,-0.0035,-0.0230,0.0336,...,0.1555,0.1166,-0.0042,0.1750,0.0817,-0.0035,-0.0035,0.2069,0.0296,0.0604
1999-05-31,0.1541,-0.0037,0.0055,-0.0037,0.0939,0.0439,0.1432,-0.0037,0.0444,0.0647,...,0.2382,0.1568,0.1859,0.1799,0.2134,-0.0037,-0.0037,0.0659,0.0119,0.0848
1999-06-30,-0.0214,-0.0037,-0.0875,-0.0037,-0.0859,0.0994,0.0514,-0.0037,0.0132,-0.0474,...,0.0121,-0.0142,0.0051,-0.0257,-0.0619,-0.0037,-0.0037,-0.0319,0.1233,0.0171
1999-07-31,0.0422,-0.0037,0.0923,-0.0037,0.0146,0.0457,0.1141,-0.0037,0.0526,-0.0159,...,0.1021,-0.0167,-0.0324,0.0121,-0.0935,-0.0037,-0.0037,-0.0054,-0.0433,0.0891
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-07-31,-0.0072,-0.0707,-0.0575,0.0198,-0.0091,0.0127,-0.0300,-0.0717,-0.0178,0.0019,...,-0.0239,-0.0440,-0.0060,-0.0123,0.0472,-0.0940,-0.0006,-0.0528,0.0323,-0.0315
2018-08-31,-0.0493,-0.0857,0.0143,0.0182,0.0103,0.0656,0.0484,-0.0879,0.0142,-0.0209,...,-0.1206,-0.0124,-0.0529,0.0248,0.0852,0.0160,-0.0565,-0.0080,0.0614,-0.0990
2018-09-30,-0.0415,-0.0835,0.0766,0.0412,0.0450,0.0943,0.0244,-0.0947,0.0138,-0.0268,...,-0.0621,-0.0163,0.0461,0.0122,0.0394,0.0455,-0.0957,0.0033,-0.0241,-0.0344
2018-10-31,-0.0491,-0.0810,-0.1846,-0.1880,-0.1161,-0.0823,-0.0194,-0.1619,-0.0381,-0.0565,...,-0.0972,-0.1343,-0.0087,-0.1502,-0.0529,-0.1661,-0.1011,-0.1475,-0.1055,-0.1269
2018-11-30,0.0127,-0.0420,-0.1146,-0.2769,-0.1117,-0.0716,0.0247,-0.0488,-0.0178,-0.0498,...,-0.0650,-0.0409,-0.0178,-0.0109,-0.0137,0.0978,-0.0019,0.0348,-0.1063,0.0495

In [427]:
new_factor_port_bottom50=df_excessrt[new_factor_bottom50['Tickers'].values]

new_factor_port_bottom50 = new_factor_port_bottom50*-1

In [428]:
new_factor_port_bottom50

,HCA,APTV,VRTX,PAYC,JNPR,QCOM,NOW,PSX,FRC,FBHS,...,FTV,IR,WRK,NWS,NWSA,TWTR,QRVO,KHC,ALXN,UA
Date,,,,,,,,,,,,,,,,,,,,,
1999-03-31,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,...,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036
1999-04-30,0.0035,0.0035,0.0889,0.0035,0.0035,-0.3315,0.0035,0.0035,0.0035,0.0035,...,0.0035,0.0035,0.0035,0.0035,0.0035,0.0035,0.0035,0.0035,-0.1549,0.0035
1999-05-31,0.0037,0.0037,0.1186,0.0037,0.0037,-0.2589,0.0037,0.0037,0.0037,0.0037,...,0.0037,0.0037,0.0037,0.0037,0.0037,0.0037,0.0037,0.0037,-0.1164,0.0037
1999-06-30,0.0037,0.0037,-0.1097,0.0037,0.0037,-0.1226,0.0037,0.0037,0.0037,0.0037,...,0.0037,0.0037,0.0037,0.0037,0.0037,0.0037,0.0037,0.0037,0.1059,0.0037
1999-07-31,0.0037,0.0037,-0.0729,0.0037,-0.2129,-0.2756,0.0037,0.0037,0.0037,0.0037,...,0.0037,0.0037,0.0037,0.0037,0.0037,0.0037,0.0037,0.0037,0.0077,0.0037
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-07-31,-0.0438,0.0498,-0.1512,-0.0042,-0.0195,-0.0073,-0.0325,0.0178,0.0150,0.0180,...,-0.0053,0.0700,0.0380,0.0316,0.0273,0.0181,0.0031,-0.0186,-0.0965,0.0559
2018-08-31,-0.1772,0.0071,-0.0079,-0.3072,0.0110,-0.1207,-0.0032,-0.0620,-0.0365,0.0036,...,-0.0378,-0.0058,0.0253,0.0771,0.0893,0.2150,-0.0033,0.0307,0.0967,0.0563
2018-09-30,-0.0312,0.0804,-0.0201,-0.1046,-0.0449,-0.1035,-0.0451,0.0490,0.0219,0.0112,...,-0.0564,-0.0016,0.0069,0.0810,0.0895,0.1014,0.0733,0.0442,-0.0228,0.0276
2018-10-31,-0.0029,0.1096,0.0137,0.1483,0.0036,0.0833,0.0765,0.0493,0.0927,0.1212,...,0.0779,0.0524,0.1912,-0.0134,-0.0294,0.0205,0.0433,0.0262,-0.0067,0.0480
2018-11-30,-0.0311,0.0277,0.0437,0.0722,-0.0051,0.1378,0.0448,0.1106,-0.0276,0.0871,...,0.0569,0.0296,-0.0311,-0.0177,-0.0172,-0.1145,0.0855,0.0562,0.0308,-0.1710

In [429]:
new_factor_second_portfoloio = pd.concat([new_factor_port_top50,new_factor_port_bottom50],axis=1)
new_factor_second_portfoloio

,MGM,LVS,URI,ALGN,TXT,RCL,CMI,WYNN,LNC,HIG,...,FTV,IR,WRK,NWS,NWSA,TWTR,QRVO,KHC,ALXN,UA
Date,,,,,,,,,,,,,,,,,,,,,
1999-03-31,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,...,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036,0.0036
1999-04-30,0.1798,-0.0035,0.0241,-0.0035,0.0999,-0.0535,0.2781,-0.0035,-0.0230,0.0336,...,0.0035,0.0035,0.0035,0.0035,0.0035,0.0035,0.0035,0.0035,-0.1549,0.0035
1999-05-31,0.1541,-0.0037,0.0055,-0.0037,0.0939,0.0439,0.1432,-0.0037,0.0444,0.0647,...,0.0037,0.0037,0.0037,0.0037,0.0037,0.0037,0.0037,0.0037,-0.1164,0.0037
1999-06-30,-0.0214,-0.0037,-0.0875,-0.0037,-0.0859,0.0994,0.0514,-0.0037,0.0132,-0.0474,...,0.0037,0.0037,0.0037,0.0037,0.0037,0.0037,0.0037,0.0037,0.1059,0.0037
1999-07-31,0.0422,-0.0037,0.0923,-0.0037,0.0146,0.0457,0.1141,-0.0037,0.0526,-0.0159,...,0.0037,0.0037,0.0037,0.0037,0.0037,0.0037,0.0037,0.0037,0.0077,0.0037
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-07-31,-0.0072,-0.0707,-0.0575,0.0198,-0.0091,0.0127,-0.0300,-0.0717,-0.0178,0.0019,...,-0.0053,0.0700,0.0380,0.0316,0.0273,0.0181,0.0031,-0.0186,-0.0965,0.0559
2018-08-31,-0.0493,-0.0857,0.0143,0.0182,0.0103,0.0656,0.0484,-0.0879,0.0142,-0.0209,...,-0.0378,-0.0058,0.0253,0.0771,0.0893,0.2150,-0.0033,0.0307,0.0967,0.0563
2018-09-30,-0.0415,-0.0835,0.0766,0.0412,0.0450,0.0943,0.0244,-0.0947,0.0138,-0.0268,...,-0.0564,-0.0016,0.0069,0.0810,0.0895,0.1014,0.0733,0.0442,-0.0228,0.0276
2018-10-31,-0.0491,-0.0810,-0.1846,-0.1880,-0.1161,-0.0823,-0.0194,-0.1619,-0.0381,-0.0565,...,0.0779,0.0524,0.1912,-0.0134,-0.0294,0.0205,0.0433,0.0262,-0.0067,0.0480
2018-11-30,0.0127,-0.0420,-0.1146,-0.2769,-0.1117,-0.0716,0.0247,-0.0488,-0.0178,-0.0498,...,0.0569,0.0296,-0.0311,-0.0177,-0.0172,-0.1145,0.0855,0.0562,0.0308,-0.1710

In [430]:
avg_returns=new_factor_second_portfoloio .mean()
cov_mat=new_factor_second_portfoloio .cov()

In [431]:
np.random.seed(42)
weights = np.random.random(size=(10**5,100))
weights /=  np.sum(weights, axis=1)[:, np.newaxis]
weights

array([[0.00796588, 0.02022019, 0.01556835, ..., 0.00909312, 0.00054062,
        0.00229468],
       [0.00063132, 0.01278365, 0.0063145 , ..., 0.01802035, 0.017819  ,
        0.01566544],
       [0.01240398, 0.00162557, 0.00312265, ..., 0.00416964, 0.01203417,
        0.0016489 ],
       ...,
       [0.01098969, 0.01268501, 0.00084387, ..., 0.00218874, 0.00778975,
        0.01936558],
       [0.01432014, 0.00137127, 0.01232802, ..., 0.00425909, 0.01878983,
        0.00598754],
       [0.00218001, 0.0086047 , 0.01407926, ..., 0.01741434, 0.00457423,
        0.0072563 ]])

In [432]:
###portfolio metrics:
portf_rtns = np.dot(weights, avg_returns)

portf_vol = []
for i in range(0, len(weights)):
    portf_vol.append(np.sqrt(np.dot(weights[i].T, 
                                    np.dot(cov_mat, weights[i]))))
portf_vol = np.array(portf_vol)  
portf_sharpe_ratio = portf_rtns / portf_vol

portf_results_df = pd.DataFrame({'returns': portf_rtns,
                                 'volatility': portf_vol,
                                 'sharpe_ratio': portf_sharpe_ratio})
portf_results_df

       returns  volatility  sharpe_ratio
0       0.0043      0.0282        0.1530
1       0.0041      0.0290        0.1421
2       0.0038      0.0294        0.1278
3       0.0037      0.0279        0.1322
4       0.0042      0.0299        0.1418
...        ...         ...           ...
99995   0.0064      0.0353        0.1820
99996   0.0047      0.0280        0.1683
99997   0.0056      0.0325        0.1728
99998   0.0042      0.0301        0.1403
99999   0.0041      0.0295        0.1405

[100000 rows x 3 columns]

In [433]:
max_sharpe_ind = np.argmax(portf_results_df.sharpe_ratio)
max_sharpe_portf = portf_results_df.loc[max_sharpe_ind]

min_vol_ind = np.argmin(portf_results_df.volatility)
min_vol_portf = portf_results_df.loc[min_vol_ind]

RISKY_ASSETS=new_factor_second_portfoloio.columns
RISKY_ASSETS

Index(['MGM', 'LVS', 'URI', 'ALGN', 'TXT', 'RCL', 'CMI', 'WYNN', 'LNC', 'HIG',
       'FITB', 'KMX', 'PXD', 'AOS', 'FLS', 'BKNG', 'BWA', 'TSCO', 'HST',
       'CBRE', 'TPR', 'COF', 'PVH', 'CAT', 'VTR', 'HBAN', 'F', 'AMD', 'PFG',
       'BAC', 'MHK', 'SLG', 'MNST', 'AAPL', 'ISRG', 'TT', 'HFC', 'ROK', 'NFLX',
       'WHR', 'FCX', 'EMN', 'UNM', 'DD', 'NSC', 'AAL', 'STX', 'IP', 'WAB',
       'NVR', 'HCA', 'APTV', 'VRTX', 'PAYC', 'JNPR', 'QCOM', 'NOW', 'PSX',
       'FRC', 'FBHS', 'VRSK', 'DG', 'LDOS', 'CDW', 'CBOE', 'VRSN', 'BIIB',
       'ORCL', 'XYL', 'ABBV', 'FB', 'ANET', 'GM', 'KMI', 'LW', 'ETSY', 'ZTS',
       'PYPL', 'CTLT', 'IQV', 'HLT', 'CFG', 'NCLH', 'HPE', 'ALLE', 'AMCR',
       'KEYS', 'NLSN', 'SYF', 'INFO', 'FTV', 'IR', 'WRK', 'NWS', 'NWSA',
       'TWTR', 'QRVO', 'KHC', 'ALXN', 'UA'],
      dtype='object')

In [434]:
print('Maximum Sharpe Ratio portfolio ----')
print('Performance')
for index, value in max_sharpe_portf.items():
    print(f'{index}: {100 * value:.2f}% ', end="", flush=True)
print('\nWeights')
for x, y in zip(RISKY_ASSETS, weights[np.argmax(portf_results_df.sharpe_ratio)]):
    print(f'{x}: {100*y:.2f}% ', end="", flush=True)

Maximum Sharpe Ratio portfolio ----
Performance
returns: 0.64% volatility: 2.96% sharpe_ratio: 21.63%
Weights
MGM: 1.32% LVS: 1.48% URI: 0.33% ALGN: 2.11% TXT: 0.02% RCL: 0.82% CMI: 2.26% WYNN: 0.69% LNC: 0.31% HIG: 0.34% FITB: 0.47% KMX: 1.71% PXD: 0.56% AOS: 0.97% FLS: 1.32% BKNG: 1.66% BWA: 1.00% TSCO: 2.22% HST: 0.96% CBRE: 0.62% TPR: 0.96% COF: 1.09% PVH: 0.75% CAT: 1.45% VTR: 0.74% HBAN: 1.64% F: 0.28% AMD: 0.34% PFG: 0.98% BAC: 0.44% MHK: 0.73% SLG: 0.42% MNST: 2.32% AAPL: 1.35% ISRG: 0.95% TT: 0.15% HFC: 1.10% ROK: 1.41% NFLX: 1.94% WHR: 1.00% FCX: 0.59% EMN: 0.40% UNM: 1.76% DD: 0.64% NSC: 1.51% AAL: 2.00% STX: 0.17% IP: 1.15% WAB: 1.58% NVR: 1.34% HCA: 0.03% APTV: 0.48% VRTX: 0.06% PAYC: 1.21% JNPR: 0.63% QCOM: 0.14% NOW: 1.28% PSX: 0.84% FRC: 0.97% FBHS: 2.24% VRSK: 0.46% DG: 0.09% LDOS: 1.03% CDW: 1.95% CBOE: 0.20% VRSN: 1.35% BIIB: 0.02% ORCL: 0.84% XYL: 0.79% ABBV: 1.79% FB: 0.40% ANET: 1.73% GM: 1.23% KMI: 0.28% LW: 1.45% ETSY: 2.15% ZTS: 1.84% PYPL: 1.11% CTLT: 1.06% IQV: 1.47% HLT: 0.64% CFG: 1.13% NCLH: 1.15% HPE: 1.46% ALLE: 0.26% AMCR: 0.52% KEYS: 0.48% NLSN: 1.26% SYF: 1.40% INFO: 0.38% FTV: 2.23% IR: 0.40% WRK: 1.40% NWS: 0.89% NWSA: 0.33% TWTR: 2.09% QRVO: 0.11% KHC: 0.29% ALXN: 0.08% UA: 2.01%

In [435]:
print('Minimum Volatility portfolio ----')
print('Performance')
for index, value in min_vol_portf.items():
    print(f'{index}: {100 * value:.2f}% ', end="", flush=True)
print('\nWeights')
for x, y in zip(RISKY_ASSETS, weights[np.argmin(portf_results_df.volatility)]):
    print(f'{x}: {100*y:.2f}% ', end="", flush=True)

Minimum Volatility portfolio ----
Performance
returns: 0.18% volatility: 2.08% sharpe_ratio: 8.69%
Weights
MGM: 1.09% LVS: 0.05% URI: 1.71% ALGN: 0.41% TXT: 0.61% RCL: 0.77% CMI: 0.14% WYNN: 0.69% LNC: 0.80% HIG: 0.07% FITB: 1.52% KMX: 0.96% PXD: 0.66% AOS: 0.41% FLS: 0.78% BKNG: 0.66% BWA: 0.12% TSCO: 1.08% HST: 0.77% CBRE: 1.06% TPR: 1.02% COF: 0.61% PVH: 1.02% CAT: 1.43% VTR: 0.19% HBAN: 0.20% F: 0.44% AMD: 0.42% PFG: 1.58% BAC: 1.11% MHK: 0.13% SLG: 0.17% MNST: 1.76% AAPL: 0.02% ISRG: 0.33% TT: 0.76% HFC: 0.20% ROK: 0.18% NFLX: 1.19% WHR: 0.17% FCX: 1.37% EMN: 1.47% UNM: 0.45% DD: 0.42% NSC: 0.27% AAL: 0.28% STX: 0.03% IP: 1.78% WAB: 1.32% NVR: 0.47% HCA: 2.08% APTV: 1.76% VRTX: 0.46% PAYC: 0.47% JNPR: 1.41% QCOM: 2.28% NOW: 1.87% PSX: 1.91% FRC: 1.16% FBHS: 1.31% VRSK: 1.96% DG: 0.51% LDOS: 1.57% CDW: 1.45% CBOE: 1.56% VRSN: 2.12% BIIB: 0.69% ORCL: 0.73% XYL: 0.87% ABBV: 0.92% FB: 1.67% ANET: 2.18% GM: 1.87% KMI: 1.08% LW: 0.09% ETSY: 0.10% ZTS: 0.11% PYPL: 1.14% CTLT: 1.78% IQV: 0.51% HLT: 0.44% CFG: 0.79% NCLH: 2.06% HPE: 1.54% ALLE: 1.62% AMCR: 2.05% KEYS: 1.98% NLSN: 2.04% SYF: 0.94% INFO: 1.98% FTV: 1.06% IR: 1.08% WRK: 1.30% NWS: 2.26% NWSA: 1.66% TWTR: 0.67% QRVO: 0.89% KHC: 1.32% ALXN: 1.56% UA: 0.00%

## Adding different types of asset  based on economy situations(a. Prosperity b.Recession ) to achieve better return or lower the volatility

### a. Prosperity: buy the stock that is most related with market return and short JPY=X

In [436]:
data2={}
tker=[]
tf_alphas=[]
for i in excess_rt.columns.unique(): 
    x=merged_new_factors[['Pe_ratio','ROE','Net_Profit_Margin','Dividend','Max_Drawdown','^VIX']]['2013-01-31':'2013-12-31']
    y=excess_rt[i]['2013-01-31':'2013-12-31']

    ff_model=linear_model.LinearRegression().fit(x,y)

    tker.append(i)
    tf_alphas.append(ff_model.intercept_)
    
data2['Tickers']=tker
data2['Alphas']=tf_alphas

new_factor_df=pd.DataFrame(data2)
new_factor_df

    Tickers  Alphas
0       MMM  0.0433
1       ABT  0.0519
2      ABBV  0.0479
3      ABMD  0.1072
4       ACN  0.0177
..      ...     ...
488     YUM  0.0086
489    ZBRA  0.0448
490     ZBH  0.0425
491    ZION  0.0574
492     ZTS -0.0126

[493 rows x 2 columns]

In [437]:
new_factor_sorted=new_factor_df.sort_values('Alphas',ascending=False)
new_factor_sorted

    Tickers  Alphas
323    NFLX  0.2336
66      BBY  0.1636
139    FANG  0.1139
461    VRTX  0.1112
3      ABMD  0.1072
..      ...     ...
200    GRMN -0.0330
179    FFIV -0.0339
160      EW -0.0493
325     NEM -0.0500
46     AAPL -0.0512

[493 rows x 2 columns]

In [438]:
new_factor_top10=new_factor_sorted[new_factor_sorted.Alphas>=new_factor_sorted.Alphas.quantile(0.98)]
new_factor_top10

    Tickers  Alphas
323    NFLX  0.2336
66      BBY  0.1636
139    FANG  0.1139
461    VRTX  0.1112
3      ABMD  0.1072
135     DAL  0.1060
229     HPQ  0.1041
207    GILD  0.0915
74      BSX  0.0907
213     HBI  0.0904

In [439]:
new_factor_bottom10=new_factor_sorted[new_factor_sorted.Alphas<=new_factor_sorted.Alphas.quantile(0.02)]
new_factor_bottom10

    Tickers  Alphas
198     FCX -0.0130
422     TPR -0.0135
464     VMC -0.0179
95       CF -0.0241
439    TWTR -0.0303
200    GRMN -0.0330
179    FFIV -0.0339
160      EW -0.0493
325     NEM -0.0500
46     AAPL -0.0512

In [440]:
df_monthrt['2013-01-31':'2013-12-31']

,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,AES,...,WYNN,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2013-01-31,0.0603,0.0603,0.0000,-0.0188,0.0219,0.0184,0.0419,0.1083,0.0204,0.0205,...,0.0929,0.0161,0.0884,0.0291,0.0324,-0.0064,0.0515,0.0809,0.0828,0.0000
2013-02-28,0.0523,0.0371,0.0428,0.1143,0.0485,0.1961,0.0137,-0.0111,0.0520,0.0201,...,-0.0072,0.0288,0.0581,0.0356,0.0111,-0.0192,0.0662,0.0377,0.0747,0.0000
2013-03-31,0.0275,0.0007,0.0355,0.1973,0.0343,0.0842,0.0793,-0.0243,0.0202,0.1086,...,-0.0072,0.0359,0.0706,0.0114,0.0230,0.0666,0.0286,-0.0041,0.0427,0.0331
2013-04-30,0.0066,0.0711,0.1262,0.0041,0.0179,0.0092,0.0673,-0.0196,0.0314,0.0411,...,0.0590,0.0634,0.0231,-0.0290,-0.0223,-0.0216,-0.0021,0.0056,-0.0390,-0.0325
2013-05-31,0.0390,0.0118,0.0547,0.2424,0.0559,0.0333,-0.0067,0.5558,0.0423,0.0181,...,0.1047,-0.0152,0.0160,0.0623,0.0169,0.0342,0.0153,0.0587,0.1073,0.0217
2013-06-30,0.0054,-0.0201,-0.0484,-0.0169,-0.0119,-0.0540,-0.0020,0.0255,-0.0300,-0.0812,...,-0.0403,-0.0427,0.0291,0.0165,-0.0360,0.0157,-0.0327,-0.0238,0.0349,-0.0557
2013-07-31,0.0395,-0.0133,0.0288,0.1140,-0.0754,0.0899,0.0756,0.0091,0.0035,0.0295,...,-0.0240,0.0272,0.0656,0.0994,0.0451,0.0246,0.0191,0.0444,0.0827,-0.0265
2013-08-31,0.0167,-0.0132,-0.0001,-0.0405,-0.0158,0.1011,-0.0237,-0.1019,-0.0025,0.0374,...,0.0789,-0.0242,0.0454,0.0367,-0.1225,0.0143,0.0398,0.0077,-0.0259,-0.0068
2013-09-30,0.0253,-0.0266,0.0336,-0.0331,0.0296,-0.0044,0.0674,0.0324,-0.0210,0.0383,...,0.0824,-0.0307,0.0182,0.0441,0.0952,-0.0148,-0.0431,0.0094,-0.0253,0.0333
2013-10-31,0.0253,0.0351,0.0497,-0.0743,-0.0184,0.0035,0.0592,-0.0294,0.1330,0.0379,...,0.0970,0.0284,0.0193,-0.0170,0.0682,-0.0499,0.0417,0.0575,-0.0056,0.0321
2013-11-30,0.0650,0.0723,0.0251,0.3302,0.0516,0.0020,0.0691,-0.0622,0.0888,0.0543,...,0.0060,0.0068,0.0397,-0.0315,0.1880,0.0819,0.0848,0.0371,0.0258,-0.0198
2013-12-31,0.0240,-0.0088,0.0773,0.0025,0.0144,0.0157,0.0287,0.0833,0.0890,-0.0076,...,0.1141,-0.0120,0.0775,0.0038,-0.0044,0.0080,0.0197,0.0267,0.0108,0.0106

In [441]:
spx_rt=spx.pct_change()
spx_rt

Date
1999-03-31       nan
1999-04-30    0.0424
1999-05-31   -0.0020
1999-06-30   -0.0066
1999-07-31    0.0446
               ...
2018-07-31    0.0155
2018-08-31    0.0245
2018-09-30    0.0170
2018-10-31   -0.0390
2018-11-30   -0.0207
Freq: M, Name: Adj Close, Length: 237, dtype: float64

In [442]:
spx_frame = pd.DataFrame(data = spx_rt)
spx_frame['2013-01-31':'2013-12-31']

            Adj Close
Date
2013-01-31     0.0422
2013-02-28     0.0233
2013-03-31     0.0276
2013-04-30     0.0139
2013-05-31     0.0459
2013-06-30    -0.0108
2013-07-31     0.0323
2013-08-31     0.0027
2013-09-30     0.0122
2013-10-31     0.0207
2013-11-30     0.0388
2013-12-31     0.0154

In [443]:
merged_new_factor=df_monthrt['2013-01-31':'2013-12-31'].join(spx_frame['2013-01-31':'2013-12-31'])
merged_new_factor_corr = merged_new_factor.corr()

In [444]:
merged_new_factor_corr.head()

,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,AES,...,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS,Adj Close
MMM,1.0000,0.4762,-0.1153,0.5685,0.3531,0.3190,0.1841,0.1479,0.3145,0.2840,...,0.1743,0.4058,0.1341,0.6167,0.3106,0.7279,0.7226,0.6090,0.1695,0.8044
ABT,0.4762,1.0000,0.3761,0.2639,0.4010,-0.0082,0.2825,-0.0718,0.5133,0.2729,...,0.6418,0.0211,-0.5851,0.3686,-0.0542,0.6065,0.4578,0.0398,-0.1365,0.4835
ABBV,-0.1153,0.3761,1.0000,0.0709,0.2295,0.1060,0.3700,0.1250,0.4631,0.4054,...,0.6148,-0.1418,-0.2984,0.0833,-0.2477,0.0333,0.1408,-0.2702,0.2641,0.2463
ABMD,0.5685,0.2639,0.0709,1.0000,0.4596,0.2174,0.1709,0.3014,0.1738,0.3725,...,0.1535,0.0439,0.0339,0.4972,0.8076,0.4439,0.1391,0.5139,0.0144,0.6327
ACN,0.3531,0.4010,0.2295,0.4596,1.0000,0.0342,-0.0842,0.3485,0.2023,0.2284,...,-0.0138,-0.1116,-0.3682,0.2868,0.2299,0.2195,0.0701,0.1060,0.3511,0.3345

In [445]:
merged_new_factor_top5=merged_new_factor_corr[merged_new_factor_corr['Adj Close']>=merged_new_factor_corr['Adj Close'].quantile(0.99)]
merged_new_factor_top5

,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,AES,...,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS,Adj Close
APH,0.6949,0.4045,0.2908,0.5427,0.4161,0.0395,0.3272,0.5508,0.4278,0.2685,...,0.3211,0.3739,0.0669,0.5341,0.2611,0.3946,0.6976,0.6618,0.3620,0.8909
ADP,0.6055,0.2815,0.3252,0.8194,0.3884,0.2007,0.3968,0.4492,0.1328,0.5614,...,0.3357,0.2194,0.2069,0.4975,0.6091,0.3307,0.4030,0.5369,0.2581,0.8638
JCI,0.7432,0.3081,0.1396,0.4852,0.1519,0.0748,0.1286,0.5773,0.4726,0.1162,...,0.1588,0.3175,0.2550,0.4722,0.2162,0.4882,0.8588,0.7181,0.2587,0.8833
RL,0.8437,0.6029,0.1051,0.5650,0.3118,0.3002,0.0276,0.4077,0.3406,0.1999,...,0.3489,0.4192,0.1361,0.3207,0.2747,0.7069,0.7911,0.7224,0.0210,0.8778
Adj Close,0.8044,0.4835,0.2463,0.6327,0.3345,0.2080,0.3217,0.4753,0.3762,0.4897,...,0.3918,0.2652,0.1753,0.5455,0.3188,0.5587,0.7919,0.6363,0.3578,1.0000

In [446]:
merged_new_factor_top5.index

Index(['APH', 'ADP', 'JCI', 'RL', 'Adj Close'], dtype='object')

In [447]:
new_factor_top10['Tickers'].values

array(['NFLX', 'BBY', 'FANG', 'VRTX', 'ABMD', 'DAL', 'HPQ', 'GILD', 'BSX',
       'HBI'], dtype=object)

In [448]:
new_factor_bottom10['Tickers'].values

array(['FCX', 'TPR', 'VMC', 'CF', 'TWTR', 'GRMN', 'FFIV', 'EW', 'NEM',
       'AAPL'], dtype=object)

In [449]:
port_new_factor_top10=df_excessrt[['NFLX', 'BBY', 'FANG', 'VRTX', 'ABMD', 'DAL', 'HPQ', 'GILD', 'BSX',
       'HBI','APH']]['2013-01-31':'2013-12-31']
port_new_factor_top10.head()

,NFLX,BBY,FANG,VRTX,ABMD,DAL,HPQ,GILD,BSX,HBI,APH
Date,,,,,,,,,,,
2013-01-31,0.3088,0.1728,0.1618,0.1237,-0.0188,0.2260,0.1627,0.0479,0.1527,0.0427,0.0718
2013-02-28,0.5592,0.1489,0.0250,-0.0173,0.1142,0.0541,0.0696,0.0644,0.1424,0.0547,0.0319
2013-03-31,0.0122,0.2919,0.1264,0.1340,0.1972,0.1410,0.2607,0.0981,-0.0038,0.0551,0.0448
2013-04-30,-0.0101,0.1468,0.0774,0.2280,0.0040,-0.0385,-0.0433,0.1098,0.0148,0.1403,0.0112
2013-05-31,0.2236,0.0997,0.1640,0.2336,0.2423,0.1663,0.0504,0.0848,0.1423,0.0636,0.0729

In [450]:
port_new_factor_bottom10=df_excessrt[new_factor_bottom10['Tickers'].values]['2013-01-31':'2013-12-31'].join(df_sentiment[['JPY=X']]['2013-01-31':'2013-12-31'])
port_new_factor_bottom10

,FCX,TPR,VMC,CF,TWTR,GRMN,FFIV,EW,NEM,AAPL,JPY=X
Date,,,,,,,,,,,
2013-01-31,0.0448,-0.0139,0.0625,0.0601,-0.0001,-0.0293,0.0484,0.0087,0.0003,-0.0644,0.0025
2013-02-28,-0.0162,-0.1396,-0.0249,-0.0144,-0.0001,-0.0701,0.0215,-0.0492,-0.0385,-0.0782,0.0007
2013-03-31,-0.0388,0.0287,-0.0175,-0.0679,-0.0001,-0.0634,-0.1022,-0.0308,-0.0604,-0.0317,0.0010
2013-04-30,-0.0642,0.0653,-0.0929,-0.0739,-0.0000,-0.0090,-0.1611,-0.0669,-0.1011,-0.0500,0.0018
2013-05-31,0.0357,0.1135,0.1187,0.0326,-0.0000,0.0478,0.0475,-0.1639,-0.0942,0.0686,0.0014
2013-06-30,-0.0482,-0.0128,-0.0397,-0.0185,-0.0000,-0.0128,-0.0777,0.0274,-0.0099,-0.0451,-0.0013
2013-07-31,-0.0089,0.0067,-0.0558,-0.0142,-0.0000,0.0547,0.0617,0.0042,-0.0963,0.0085,-0.0002
2013-08-31,0.0884,-0.0873,-0.0117,0.0518,-0.0000,0.0813,0.1179,0.0543,0.0695,0.1356,0.0002
2013-09-30,0.0730,0.0327,0.0622,0.0613,-0.0000,0.1097,0.0167,-0.0153,-0.0479,-0.0082,-0.0002
2013-10-31,0.0672,-0.0284,0.0317,0.0490,-0.0000,0.1015,-0.0175,0.0440,-0.0726,0.0511,0.0003
2013-11-30,0.0411,0.0149,0.0622,0.0332,-0.0000,-0.0073,-0.0625,-0.1324,-0.0139,0.0445,0.0018
2013-12-31,-0.0254,0.0516,0.0066,0.0714,0.3233,-0.0016,0.0389,0.0035,-0.1207,0.0677,0.0012

In [451]:
port_new_factor_bottom10 = port_new_factor_bottom10*-1

In [452]:
new_factor_first_portfoloio = pd.concat([port_new_factor_top10,port_new_factor_bottom10],axis=1)
new_factor_first_portfoloio

,NFLX,BBY,FANG,VRTX,ABMD,DAL,HPQ,GILD,BSX,HBI,...,TPR,VMC,CF,TWTR,GRMN,FFIV,EW,NEM,AAPL,JPY=X
Date,,,,,,,,,,,,,,,,,,,,,
2013-01-31,0.3088,0.1728,0.1618,0.1237,-0.0188,0.2260,0.1627,0.0479,0.1527,0.0427,...,0.0139,-0.0625,-0.0601,0.0001,0.0293,-0.0484,-0.0087,-0.0003,0.0644,-0.0025
2013-02-28,0.5592,0.1489,0.0250,-0.0173,0.1142,0.0541,0.0696,0.0644,0.1424,0.0547,...,0.1396,0.0249,0.0144,0.0001,0.0701,-0.0215,0.0492,0.0385,0.0782,-0.0007
2013-03-31,0.0122,0.2919,0.1264,0.1340,0.1972,0.1410,0.2607,0.0981,-0.0038,0.0551,...,-0.0287,0.0175,0.0679,0.0001,0.0634,0.1022,0.0308,0.0604,0.0317,-0.0010
2013-04-30,-0.0101,0.1468,0.0774,0.2280,0.0040,-0.0385,-0.0433,0.1098,0.0148,0.1403,...,-0.0653,0.0929,0.0739,0.0000,0.0090,0.1611,0.0669,0.1011,0.0500,-0.0018
2013-05-31,0.2236,0.0997,0.1640,0.2336,0.2423,0.1663,0.0504,0.0848,0.1423,0.0636,...,-0.1135,-0.1187,-0.0326,0.0000,-0.0478,-0.0475,0.1639,0.0942,-0.0686,-0.0014
2013-06-30,-0.0215,0.0438,0.1081,0.0105,-0.0170,0.0075,0.1204,-0.0636,0.0774,0.0102,...,0.0128,0.0397,0.0185,0.0000,0.0128,0.0777,-0.0274,0.0099,0.0451,0.0013
2013-07-31,0.1242,0.0765,0.0936,0.0545,0.1140,0.0892,0.0498,0.1217,0.0518,0.0806,...,-0.0067,0.0558,0.0142,0.0000,-0.0547,-0.0617,-0.0042,0.0963,-0.0085,0.0002
2013-08-31,0.0735,0.1145,0.1004,-0.0753,-0.0405,0.0142,-0.0231,0.0348,0.1313,0.1259,...,0.0873,0.0117,-0.0518,0.0000,-0.0813,-0.1179,-0.0543,-0.0695,-0.1356,-0.0002
2013-09-30,0.1486,0.1665,0.0745,0.0024,-0.0331,0.1152,-0.1316,0.0547,0.0511,0.0197,...,-0.0327,-0.0622,-0.0613,0.0000,-0.1097,-0.0167,0.0153,0.0479,0.0082,0.0002
2013-10-31,0.0601,0.0659,0.1024,-0.0339,-0.0743,0.1133,0.0518,0.0471,0.0207,-0.0020,...,0.0284,-0.0317,-0.0490,0.0000,-0.1015,0.0175,-0.0440,0.0726,-0.0511,-0.0003
2013-11-30,0.0651,0.0288,0.0702,-0.1418,0.3302,0.1160,0.1247,0.0714,-0.0022,0.1023,...,-0.0149,-0.0622,-0.0332,0.0000,0.0073,0.0625,0.1324,0.0139,-0.0445,-0.0018
2013-12-31,0.0740,-0.0134,-0.0596,0.0727,0.0025,-0.0025,0.0769,0.0425,-0.0153,0.0038,...,-0.0516,-0.0066,-0.0714,-0.3233,0.0016,-0.0389,-0.0035,0.1207,-0.0677,-0.0012

In [453]:
avg_returns=new_factor_first_portfoloio.mean()
cov_mat=new_factor_first_portfoloio.cov()

In [454]:
np.random.seed(42)
weights = np.random.random(size=(10**5,22))
weights /=  np.sum(weights, axis=1)[:, np.newaxis]
weights

array([[0.03781174, 0.09597947, 0.07389853, ..., 0.02940107, 0.06176968,
        0.01408262],
       [0.02949122, 0.03698325, 0.04603904, ..., 0.04998678, 0.00347143,
        0.09179346],
       [0.02372464, 0.06073926, 0.0285773 , ..., 0.03270672, 0.02575574,
        0.04975374],
       ...,
       [0.06682599, 0.0044611 , 0.0793555 , ..., 0.00982388, 0.0060689 ,
        0.04314398],
       [0.08030915, 0.07887397, 0.00759011, ..., 0.03562629, 0.00042849,
        0.06050497],
       [0.04211766, 0.07306966, 0.06545223, ..., 0.08525022, 0.02239374,
        0.0568134 ]])

In [455]:
###portfolio metrics:
portf_rtns = np.dot(weights, avg_returns)

portf_vol = []
for i in range(0, len(weights)):
    portf_vol.append(np.sqrt(np.dot(weights[i].T, 
                                    np.dot(cov_mat, weights[i]))))
portf_vol = np.array(portf_vol)  
portf_sharpe_ratio = portf_rtns / portf_vol

In [456]:
portf_results_df = pd.DataFrame({'returns': portf_rtns,
                                 'volatility': portf_vol,
                                 'sharpe_ratio': portf_sharpe_ratio})
portf_results_df

       returns  volatility  sharpe_ratio
0       0.0408      0.0304        1.3429
1       0.0299      0.0275        1.0871
2       0.0422      0.0319        1.3220
3       0.0356      0.0335        1.0636
4       0.0462      0.0385        1.2010
...        ...         ...           ...
99995   0.0411      0.0337        1.2201
99996   0.0358      0.0332        1.0782
99997   0.0412      0.0294        1.4020
99998   0.0460      0.0349        1.3155
99999   0.0447      0.0326        1.3710

[100000 rows x 3 columns]

In [457]:
max_sharpe_ind = np.argmax(portf_results_df.sharpe_ratio)
max_sharpe_portf = portf_results_df.loc[max_sharpe_ind]

min_vol_ind = np.argmin(portf_results_df.volatility)
min_vol_portf = portf_results_df.loc[min_vol_ind]

In [458]:
RISKY_ASSETS=three_factor_first_portfoloio.columns
RISKY_ASSETS

Index(['MNST', 'NFLX', 'ABMD', 'NVDA', 'AAPL', 'REGN', 'HFC', 'ALXN', 'CTSH',
       'ISRG', 'JPY=X', 'RF', 'GPS', 'WY', 'IPG', 'UA', 'XRX', 'F', 'GE', 'C',
       'AIG', 'ITW'],
      dtype='object')

In [459]:
print('Maximum Sharpe Ratio portfolio ----')
print('Performance')
for index, value in max_sharpe_portf.items():
    print(f'{index}: {100 * value:.2f}% ', end="", flush=True)
print('\nWeights')
for x, y in zip(RISKY_ASSETS, weights[np.argmax(portf_results_df.sharpe_ratio)]):
    print(f'{x}: {100*y:.2f}% ', end="", flush=True)

Maximum Sharpe Ratio portfolio ----
Performance
returns: 5.25% volatility: 2.79% sharpe_ratio: 188.30%
Weights
MNST: 3.90% NFLX: 9.32% ABMD: 7.38% NVDA: 0.96% AAPL: 2.95% REGN: 5.40% HFC: 8.82% ALXN: 8.04% CTSH: 6.95% ISRG: 9.83% JPY=X: 1.19% RF: 0.46% GPS: 5.76% WY: 10.26% IPG: 0.18% UA: 1.89% XRX: 0.32% F: 0.89% GE: 4.65% C: 6.00% AIG: 0.42% ITW: 4.41%

In [460]:
print('Minimum Volatility portfolio ----')
print('Performance')
for index, value in min_vol_portf.items():
    print(f'{index}: {100 * value:.2f}% ', end="", flush=True)
print('\nWeights')
for x, y in zip(RISKY_ASSETS, weights[np.argmin(portf_results_df.volatility)]):
    print(f'{x}: {100*y:.2f}% ', end="", flush=True)

Minimum Volatility portfolio ----
Performance
returns: 3.75% volatility: 2.15% sharpe_ratio: 174.20%
Weights
MNST: 1.30% NFLX: 4.57% ABMD: 2.24% NVDA: 1.11% AAPL: 1.47% REGN: 10.14% HFC: 3.84% ALXN: 5.48% CTSH: 6.83% ISRG: 9.51% JPY=X: 2.69% RF: 6.29% GPS: 8.87% WY: 9.77% IPG: 3.18% UA: 1.96% XRX: 0.21% F: 4.21% GE: 0.93% C: 9.85% AIG: 0.79% ITW: 4.75%

### b.Recession:  Short the stock that is most related with market return and buy JP=X

In [461]:
data2={}
tker=[]
tf_alphas=[]
for i in excess_rt.columns.unique(): 
    x=merged_new_factors[['Pe_ratio','ROE','Net_Profit_Margin','Dividend','Max_Drawdown','^VIX']]['2007-11-30':'2009-02-28']
    y=excess_rt[i]['2007-11-30':'2009-02-28']

    ff_model=linear_model.LinearRegression().fit(x,y)

    tker.append(i)
    tf_alphas.append(ff_model.intercept_)
    
data2['Tickers']=tker
data2['Alphas']=tf_alphas

new_factor_df=pd.DataFrame(data2)
new_factor_df

    Tickers  Alphas
0       MMM  0.0085
1       ABT  0.0069
2      ABBV -0.0015
3      ABMD  0.0499
4       ACN  0.0217
..      ...     ...
488     YUM  0.0458
489    ZBRA  0.0346
490     ZBH  0.0157
491    ZION  0.0061
492     ZTS -0.0015

[493 rows x 2 columns]

In [462]:
new_factor_sorted=new_factor_df.sort_values('Alphas',ascending=False)
new_factor_sorted

    Tickers  Alphas
28      AAL  0.1322
323    NFLX  0.0914
201      IT  0.0892
407     SNA  0.0834
421    TTWO  0.0829
..      ...     ...
106       C -0.0451
80     CDNS -0.0547
31      AIG -0.0592
224    HOLX -0.0595
200    GRMN -0.0624

[493 rows x 2 columns]

In [463]:
new_factor_top10=new_factor_sorted[new_factor_sorted.Alphas>=new_factor_sorted.Alphas.quantile(0.98)]
new_factor_top10

    Tickers  Alphas
28      AAL  0.1322
323    NFLX  0.0914
201      IT  0.0892
407     SNA  0.0834
421    TTWO  0.0829
220     HES  0.0813
374     PHM  0.0788
282     LYV  0.0787
191     FLS  0.0736
128     CMI  0.0732

In [464]:
new_factor_bottom10=new_factor_sorted[new_factor_sorted.Alphas<=new_factor_sorted.Alphas.quantile(0.02)]
new_factor_bottom10

    Tickers  Alphas
210      GS -0.0287
13     AKAM -0.0299
313    MNST -0.0325
110     CME -0.0405
68     BIIB -0.0418
106       C -0.0451
80     CDNS -0.0547
31      AIG -0.0592
224    HOLX -0.0595
200    GRMN -0.0624

In [465]:
df_monthrt['2007-11-30':'2009-02-28']

,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,AES,...,WYNN,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2007-11-30,-0.0972,0.0296,0.0000,-0.0541,-0.1053,-0.0719,-0.0594,-0.1267,0.0341,0.0358,...,-0.1353,0.0165,-0.0445,-0.1083,0.0000,0.0187,0.0640,-0.1603,-0.1917,0.0000
2007-12-31,0.0393,0.0503,0.0000,0.1788,0.0004,0.2976,-0.0074,-0.2909,0.0920,0.0073,...,-0.0909,0.0416,0.0099,-0.0290,0.0000,0.0122,-0.0492,0.0183,-0.0399,0.0000
2008-01-31,-0.0806,0.0113,0.0000,0.0027,-0.0478,-0.0134,-0.1306,-0.1942,-0.1071,-0.0885,...,-0.1050,-0.0507,-0.1187,-0.0623,0.0000,-0.0585,-0.1291,0.0238,-0.1015,0.0000
2008-02-29,0.0219,-0.0302,0.0000,0.0139,0.0235,-0.0101,-0.0754,0.0197,0.0215,-0.0325,...,0.0435,-0.0465,0.0405,0.0680,0.0000,-0.0230,-0.0024,0.1204,0.1440,0.0000
2008-03-31,-0.0152,-0.0516,0.0000,-0.0981,-0.0071,0.0068,-0.0221,-0.0768,-0.0299,-0.1086,...,-0.0996,-0.0294,-0.0319,0.0660,0.0000,0.0405,0.0691,-0.0079,-0.0798,0.0000
2008-04-30,0.0181,-0.0005,0.0000,0.0614,0.0882,0.0115,0.0873,-0.0440,0.0317,0.0200,...,0.0681,0.0444,-0.0026,0.0448,0.0000,0.0727,0.0354,0.0090,-0.0411,0.0000
2008-05-31,-0.0282,0.0309,0.0000,0.0105,0.0170,0.1446,0.1226,0.1406,0.0544,0.0878,...,-0.0183,0.0292,-0.0314,0.0810,0.0000,0.0264,0.0892,-0.0801,0.0003,0.0000
2008-06-30,-0.0361,0.0042,0.0000,0.2632,0.0360,0.1123,0.0142,0.0088,0.0933,0.0288,...,-0.1267,-0.0308,-0.0361,0.0222,0.0000,-0.0706,-0.0441,-0.0154,-0.2120,0.0000
2008-07-31,-0.0618,0.0526,0.0000,0.0114,0.0132,-0.0084,-0.0343,-0.3116,-0.0152,-0.1192,...,-0.0531,-0.0166,-0.0116,-0.1048,0.0000,-0.0487,-0.1171,-0.0181,-0.2453,0.0000
2008-08-31,0.0349,0.0366,0.0000,0.0043,0.0183,-0.0125,0.0915,0.1268,0.0898,-0.0982,...,0.1524,0.0200,0.0430,0.0994,0.0000,0.0381,0.0058,0.0453,0.0656,0.0000
2008-09-30,-0.0266,-0.0012,0.0000,-0.0414,-0.0727,-0.0339,-0.0926,0.0018,-0.0499,-0.1494,...,-0.1192,0.0092,-0.0766,-0.1100,0.0000,0.0065,-0.0667,-0.0456,0.3420,0.0000
2008-10-31,-0.1362,-0.0456,0.0000,-0.2234,-0.1520,-0.2433,-0.2877,-0.2913,-0.2825,-0.3398,...,-0.3775,-0.1345,-0.3418,-0.1479,0.0000,-0.2275,-0.2980,-0.2361,-0.0407,0.0000
2008-11-30,0.0485,-0.0121,0.0000,0.0079,-0.0659,-0.0982,-0.1692,-0.3171,-0.0439,-0.1257,...,-0.2218,0.0106,-0.2099,-0.1818,0.0000,-0.0721,-0.0762,-0.2203,-0.0679,0.0000
2008-12-31,-0.0819,-0.0351,0.0000,0.1287,0.0217,-0.1435,-0.0834,-0.1818,0.1334,-0.0194,...,-0.0081,0.0173,0.1119,0.0312,0.0000,0.1086,0.0094,-0.0478,-0.2389,0.0000
2009-01-31,-0.0257,0.0065,0.0000,-0.1234,0.0860,-0.0475,-0.0056,0.0858,0.0210,0.1483,...,-0.0634,0.0267,0.0650,0.0017,0.0000,0.0409,-0.0353,0.0387,-0.2737,0.0000
2009-02-28,-0.1190,0.0559,0.0000,-0.3449,-0.0516,0.0495,-0.0949,-0.0527,0.0732,-0.1264,...,-0.3448,-0.0153,-0.2148,0.0539,0.0000,-0.0531,-0.0649,-0.0321,-0.3819,0.0000

In [466]:
spx_frame = pd.DataFrame(data = spx_rt)
spx_frame['2007-11-30':'2009-02-28']

            Adj Close
Date
2007-11-30    -0.0480
2007-12-31     0.0127
2008-01-31    -0.0670
2008-02-29    -0.0145
2008-03-31    -0.0262
2008-04-30     0.0421
2008-05-31     0.0254
2008-06-30    -0.0427
2008-07-31    -0.0611
2008-08-31     0.0217
2008-09-30    -0.0480
2008-10-31    -0.2034
2008-11-30    -0.0846
2008-12-31    -0.0034
2009-01-31    -0.0115
2009-02-28    -0.0675

In [467]:
new_factor_top10['Tickers'].values

array(['AAL', 'NFLX', 'IT', 'SNA', 'TTWO', 'HES', 'PHM', 'LYV', 'FLS',
       'CMI'], dtype=object)

In [468]:
new_factor_bottom10['Tickers'].values

array(['GS', 'AKAM', 'MNST', 'CME', 'BIIB', 'C', 'CDNS', 'AIG', 'HOLX',
       'GRMN'], dtype=object)

In [469]:
merged_new_factor=df_monthrt['2007-11-30':'2009-02-28'].join(spx_frame['2007-11-30':'2009-02-28'])
merged_new_factor_corr = merged_new_factor.corr()

In [470]:
merged_new_factor_corr.head()

,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,AES,...,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS,Adj Close
MMM,1.0000,0.0166,nan,0.5013,0.5125,0.4340,0.4889,0.2110,0.3577,0.3272,...,0.5329,0.4327,0.2355,nan,0.3970,0.4146,0.3779,0.4723,nan,0.6044
ABT,0.0166,1.0000,nan,0.0138,0.1170,0.5795,0.4221,0.0749,0.4235,0.2886,...,0.4618,0.1011,0.0559,nan,0.1064,0.1082,0.1772,-0.2614,nan,0.2856
ABBV,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
ABMD,0.5013,0.0138,nan,1.0000,0.4596,0.4224,0.4121,-0.0355,0.4595,0.4382,...,0.3641,0.5650,0.1097,nan,0.3353,0.2892,0.2643,0.1650,nan,0.4850
ACN,0.5125,0.1170,nan,0.4596,1.0000,0.4217,0.7601,0.4748,0.6353,0.7078,...,0.5479,0.7772,0.6674,nan,0.6423,0.5220,0.7213,-0.1398,nan,0.7931

In [471]:
merged_new_factor_top5=merged_new_factor_corr[merged_new_factor_corr['Adj Close']>=merged_new_factor_corr['Adj Close'].quantile(0.99)]
merged_new_factor_top5

,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,AES,...,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS,Adj Close
BEN,0.5608,0.2079,nan,0.5306,0.7813,0.4651,0.8676,0.6146,0.8273,0.6062,...,0.6980,0.8295,0.7540,nan,0.8171,0.7599,0.6526,0.1428,nan,0.9264
IEX,0.5539,0.2475,nan,0.5151,0.8552,0.5240,0.9126,0.5418,0.8023,0.8087,...,0.7630,0.7929,0.7108,nan,0.7887,0.7865,0.5195,-0.0815,nan,0.9313
ITW,0.5738,0.2415,nan,0.2985,0.8116,0.4073,0.8320,0.6030,0.7431,0.7770,...,0.8409,0.8298,0.6327,nan,0.8995,0.8073,0.6055,0.0642,nan,0.9445
OMC,0.4095,0.2981,nan,0.3156,0.7465,0.5830,0.8276,0.6532,0.8026,0.7304,...,0.6828,0.7750,0.8294,nan,0.8083,0.7796,0.7170,0.0593,nan,0.9359
Adj Close,0.6044,0.2856,nan,0.4850,0.7931,0.5869,0.8903,0.5500,0.8089,0.7623,...,0.8247,0.8397,0.6967,nan,0.8901,0.8350,0.6510,0.1129,nan,1.0000

In [472]:
merged_new_factor_top5.index

Index(['BEN', 'IEX', 'ITW', 'OMC', 'Adj Close'], dtype='object')

In [473]:
port_new_factor_top10=df_excessrt[new_factor_top10['Tickers'].values]['2007-11-30':'2009-02-28'].join(df_sentiment[['JPY=X']]['2007-11-30':'2009-02-28'])
port_new_factor_top10.head()

,AAL,NFLX,IT,SNA,TTWO,HES,PHM,LYV,FLS,CMI,JPY=X
Date,,,,,,,,,,,
2007-11-30,-0.2341,0.0238,-0.2224,-0.0166,-0.1474,0.0234,-0.2118,-0.2543,0.1512,-0.1257,-0.0014
2007-12-31,-0.2558,0.0273,-0.0870,-0.0082,0.1470,0.2589,-0.1007,-0.1221,0.0608,0.0592,-0.0000
2008-01-31,-0.2392,-0.0685,-0.1335,-0.0966,-0.1077,0.0327,0.0327,-0.1484,-0.1035,-0.1782,-0.0021
2008-02-29,0.1410,0.1819,0.1383,0.1779,0.1768,0.0108,0.3385,-0.0614,0.1457,0.0071,-0.0011
2008-03-31,-0.3335,0.2337,0.1062,-0.0364,0.3475,0.0187,-0.1009,-0.0029,0.0299,-0.0338,-0.0018

In [474]:
new_factor_bottom10['Tickers'].values

array(['GS', 'AKAM', 'MNST', 'CME', 'BIIB', 'C', 'CDNS', 'AIG', 'HOLX',
       'GRMN'], dtype=object)

In [475]:
port_new_factor_bottom10=df_excessrt[['GS', 'AKAM', 'MNST', 'CME', 'BIIB', 'C', 'CDNS', 'AIG', 'HOLX',
       'GRMN','ITW']]['2007-11-30':'2009-02-28']
port_new_factor_bottom10

,GS,AKAM,MNST,CME,BIIB,C,CDNS,AIG,HOLX,GRMN,ITW
Date,,,,,,,,,,,
2007-11-30,-0.0402,0.0731,-0.2604,0.0246,-0.0286,-0.2570,-0.2034,-0.1426,-0.0303,-0.1584,-0.0478
2007-12-31,-0.0381,-0.0269,-0.0182,0.0652,-0.1017,-0.0642,-0.0118,0.0200,0.0297,0.0905,-0.0131
2008-01-31,-0.0805,-0.1939,-0.1055,-0.1204,-0.0878,-0.1355,-0.1170,-0.0441,-0.0037,-0.2980,-0.1009
2008-02-29,-0.0726,0.1162,-0.0238,-0.1246,0.0404,-0.0483,-0.2747,-0.1139,-0.0624,-0.1108,0.0000
2008-03-31,-0.0901,-0.0223,-0.0461,-0.0871,-0.0285,-0.1790,0.0024,-0.1188,-0.1022,-0.1069,-0.0231
2008-04-30,0.0720,0.0046,-0.1006,0.0121,0.0787,0.1441,0.0159,0.0576,0.0283,-0.1877,0.0683
2008-05-31,0.0440,0.1692,-0.1185,-0.0567,-0.0273,-0.0486,0.0020,-0.1248,-0.2184,-0.0376,0.0441
2008-06-30,-0.0574,-0.0400,0.0764,-0.1210,-0.0526,-0.1560,-0.0124,-0.1990,0.0259,0.0195,-0.0787
2008-07-31,0.0020,-0.1197,-0.2462,-0.1637,0.0926,-0.1014,-0.1656,-0.2108,-0.0181,-0.0534,-0.0513
2008-08-31,-0.0550,-0.2832,0.0525,-0.0131,-0.2013,0.0411,-0.1882,-0.1108,-0.1142,-0.1760,0.0414
2008-09-30,-0.1482,-0.2203,0.0176,0.0470,-0.0725,0.0046,-0.0080,-0.5455,-0.0388,-0.0496,-0.0358
2008-10-31,-0.2200,-0.1987,-0.0625,-0.0261,-0.0759,-0.1759,-0.3784,-0.7576,-0.2590,-0.2774,-0.2502
2008-11-30,-0.3521,-0.1224,0.0138,-0.3400,-0.0206,-0.3983,-0.1716,-0.2242,-0.0855,-0.2464,-0.0740
2008-12-31,0.0335,0.1113,0.1937,-0.1043,0.0545,-0.1997,-0.1163,-0.1197,-0.0333,0.0437,0.0114
2009-01-31,0.0650,0.0098,0.0846,-0.0909,0.0604,-0.3366,0.1696,-0.1448,-0.0594,0.0098,0.0734
2009-02-28,0.1418,0.2004,0.0272,-0.0066,0.0411,-0.3775,0.0252,-0.4645,0.0847,-0.1056,-0.0643

In [476]:
port_new_factor_bottom10 = port_new_factor_bottom10*-1

In [477]:
new_factor_second_portfoloio = pd.concat([port_new_factor_top10,port_new_factor_bottom10],axis=1)
new_factor_second_portfoloio

,AAL,NFLX,IT,SNA,TTWO,HES,PHM,LYV,FLS,CMI,...,AKAM,MNST,CME,BIIB,C,CDNS,AIG,HOLX,GRMN,ITW
Date,,,,,,,,,,,,,,,,,,,,,
2007-11-30,-0.2341,0.0238,-0.2224,-0.0166,-0.1474,0.0234,-0.2118,-0.2543,0.1512,-0.1257,...,-0.0731,0.2604,-0.0246,0.0286,0.2570,0.2034,0.1426,0.0303,0.1584,0.0478
2007-12-31,-0.2558,0.0273,-0.0870,-0.0082,0.1470,0.2589,-0.1007,-0.1221,0.0608,0.0592,...,0.0269,0.0182,-0.0652,0.1017,0.0642,0.0118,-0.0200,-0.0297,-0.0905,0.0131
2008-01-31,-0.2392,-0.0685,-0.1335,-0.0966,-0.1077,0.0327,0.0327,-0.1484,-0.1035,-0.1782,...,0.1939,0.1055,0.1204,0.0878,0.1355,0.1170,0.0441,0.0037,0.2980,0.1009
2008-02-29,0.1410,0.1819,0.1383,0.1779,0.1768,0.0108,0.3385,-0.0614,0.1457,0.0071,...,-0.1162,0.0238,0.1246,-0.0404,0.0483,0.2747,0.1139,0.0624,0.1108,-0.0000
2008-03-31,-0.3335,0.2337,0.1062,-0.0364,0.3475,0.0187,-0.1009,-0.0029,0.0299,-0.0338,...,0.0223,0.0461,0.0871,0.0285,0.1790,-0.0024,0.1188,0.1022,0.1069,0.0231
2008-04-30,-0.1173,0.0410,0.0885,0.1203,0.0147,0.0925,0.0978,0.1682,0.0894,0.0650,...,-0.0046,0.1006,-0.0121,-0.0787,-0.1441,-0.0159,-0.0576,-0.0283,0.1877,-0.0683
2008-05-31,-0.2225,-0.1324,0.0620,0.1023,0.0323,0.1729,-0.0743,0.1113,0.1365,0.3223,...,-0.1692,0.1185,0.0567,0.0273,0.0486,-0.0020,0.1248,0.2184,0.0376,-0.0441
2008-06-30,-0.5094,-0.0130,-0.0517,-0.0526,-0.0092,0.0419,-0.1777,-0.1367,0.0593,0.0024,...,0.0400,-0.0764,0.1210,0.0526,0.1560,0.0124,0.1990,-0.0259,-0.0195,0.0787
2008-07-31,-0.0065,-0.0815,-0.0101,-0.0804,-0.0897,-0.1593,-0.0373,-0.1209,-0.0299,-0.0515,...,0.1197,0.2462,0.1637,-0.0926,0.1014,0.1656,0.2108,0.0181,0.0534,0.0513
2008-08-31,1.3827,0.0860,0.2344,0.1002,0.0040,-0.0460,0.2096,0.3826,-0.0219,0.0295,...,0.2832,-0.0525,0.0131,0.2013,-0.0411,0.1882,0.1108,0.1142,0.1760,-0.0414
2008-09-30,-0.0433,-0.0060,-0.0810,-0.0197,-0.2219,-0.1169,0.1925,0.0204,-0.2127,-0.1898,...,0.2203,-0.0176,-0.0470,0.0725,-0.0046,0.0080,0.5455,0.0388,0.0496,0.0358
2008-10-31,-0.0716,-0.2307,-0.2610,-0.2771,-0.3178,-0.3548,-0.2845,-0.2629,-0.3949,-0.4025,...,0.1987,0.0625,0.0261,0.0759,0.1759,0.3784,0.7576,0.2590,0.2774,0.2502
2008-11-30,-0.0233,-0.0653,-0.1149,-0.1754,-0.1327,-0.0641,-0.1327,-0.4513,-0.1834,-0.3046,...,0.1224,-0.0138,0.3400,0.0206,0.3983,0.1716,0.2242,0.0855,0.2464,0.0740
2008-12-31,0.0528,0.2363,0.0491,0.1143,-0.0886,-0.1255,0.1391,-0.3583,-0.0165,0.0977,...,-0.1113,-0.1937,0.1043,-0.0545,0.1997,0.1163,0.1197,0.0333,-0.0437,-0.0114
2009-01-31,0.1253,0.1883,-0.0562,-0.0383,-0.2685,0.1946,0.0308,0.3404,0.0694,0.0675,...,-0.0098,-0.0846,0.0909,-0.0604,0.3366,-0.1696,0.1448,0.0594,-0.0098,-0.0734
2009-02-28,-0.4432,0.1423,-0.2736,-0.2199,-0.0571,-0.0178,-0.0847,-0.2521,-0.0049,-0.1101,...,-0.2004,-0.0272,0.0066,-0.0411,0.3775,-0.0252,0.4645,-0.0847,0.1056,0.0643

In [478]:
avg_returns=new_factor_second_portfoloio.mean()
cov_mat=new_factor_second_portfoloio.cov()

In [479]:
np.random.seed(42)
weights = np.random.random(size=(10**5,22))
weights /=  np.sum(weights, axis=1)[:, np.newaxis]
weights

array([[0.03781174, 0.09597947, 0.07389853, ..., 0.02940107, 0.06176968,
        0.01408262],
       [0.02949122, 0.03698325, 0.04603904, ..., 0.04998678, 0.00347143,
        0.09179346],
       [0.02372464, 0.06073926, 0.0285773 , ..., 0.03270672, 0.02575574,
        0.04975374],
       ...,
       [0.06682599, 0.0044611 , 0.0793555 , ..., 0.00982388, 0.0060689 ,
        0.04314398],
       [0.08030915, 0.07887397, 0.00759011, ..., 0.03562629, 0.00042849,
        0.06050497],
       [0.04211766, 0.07306966, 0.06545223, ..., 0.08525022, 0.02239374,
        0.0568134 ]])

In [480]:
###portfolio metrics:
portf_rtns = np.dot(weights, avg_returns)

portf_vol = []
for i in range(0, len(weights)):
    portf_vol.append(np.sqrt(np.dot(weights[i].T, 
                                    np.dot(cov_mat, weights[i]))))
portf_vol = np.array(portf_vol)  
portf_sharpe_ratio = portf_rtns / portf_vol

In [481]:
portf_results_df = pd.DataFrame({'returns': portf_rtns,
                                 'volatility': portf_vol,
                                 'sharpe_ratio': portf_sharpe_ratio})
portf_results_df

       returns  volatility  sharpe_ratio
0       0.0223      0.0543        0.4098
1       0.0277      0.0365        0.7582
2       0.0199      0.0467        0.4268
3       0.0169      0.0439        0.3835
4       0.0205      0.0631        0.3244
...        ...         ...           ...
99995   0.0225      0.0512        0.4401
99996   0.0282      0.0497        0.5674
99997   0.0162      0.0538        0.3012
99998   0.0216      0.0569        0.3796
99999   0.0340      0.0356        0.9551

[100000 rows x 3 columns]

In [482]:
max_sharpe_ind = np.argmax(portf_results_df.sharpe_ratio)
max_sharpe_portf = portf_results_df.loc[max_sharpe_ind]

min_vol_ind = np.argmin(portf_results_df.volatility)
min_vol_portf = portf_results_df.loc[min_vol_ind]

In [483]:
RISKY_ASSETS=new_factor_second_portfoloio.columns
RISKY_ASSETS

Index(['AAL', 'NFLX', 'IT', 'SNA', 'TTWO', 'HES', 'PHM', 'LYV', 'FLS', 'CMI',
       'JPY=X', 'GS', 'AKAM', 'MNST', 'CME', 'BIIB', 'C', 'CDNS', 'AIG',
       'HOLX', 'GRMN', 'ITW'],
      dtype='object')

In [484]:
print('Maximum Sharpe Ratio portfolio ----')
print('Performance')
for index, value in max_sharpe_portf.items():
    print(f'{index}: {100 * value:.2f}% ', end="", flush=True)
print('\nWeights')
for x, y in zip(RISKY_ASSETS, weights[np.argmax(portf_results_df.sharpe_ratio)]):
    print(f'{x}: {100*y:.2f}% ', end="", flush=True)

Maximum Sharpe Ratio portfolio ----
Performance
returns: 5.03% volatility: 1.85% sharpe_ratio: 271.75%
Weights
AAL: 0.13% NFLX: 7.05% IT: 0.52% SNA: 5.63% TTWO: 2.27% HES: 7.02% PHM: 1.72% LYV: 0.73% FLS: 1.78% CMI: 7.29% JPY=X: 1.81% GS: 1.07% AKAM: 1.40% MNST: 8.76% CME: 7.30% BIIB: 7.98% C: 8.53% CDNS: 7.00% AIG: 8.55% HOLX: 2.03% GRMN: 5.76% ITW: 5.66%

In [485]:
print('Minimum Volatility portfolio ----')
print('Performance')
for index, value in min_vol_portf.items():
    print(f'{index}: {100 * value:.2f}% ', end="", flush=True)
print('\nWeights')
for x, y in zip(RISKY_ASSETS, weights[np.argmin(portf_results_df.volatility)]):
    print(f'{x}: {100*y:.2f}% ', end="", flush=True)

Minimum Volatility portfolio ----
Performance
returns: 4.50% volatility: 1.71% sharpe_ratio: 262.94%
Weights
AAL: 0.11% NFLX: 1.40% IT: 1.71% SNA: 9.20% TTWO: 2.06% HES: 8.84% PHM: 2.15% LYV: 0.27% FLS: 2.51% CMI: 7.13% JPY=X: 5.73% GS: 2.40% AKAM: 4.96% MNST: 3.03% CME: 6.42% BIIB: 4.72% C: 7.23% CDNS: 1.02% AIG: 9.57% HOLX: 4.66% GRMN: 8.02% ITW: 6.85%

## GQ and White Test

In [486]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib
import matplotlib.pyplot as plt
import pandas_datareader.data as web
import datetime

%matplotlib inline

import statsmodels.api as sm

In [487]:
df = pd.read_csv('raw_data.csv')
df.head()

,Date,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,...,WYNN,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS
0,1999-03-31,18.7062,8.4956,nan,6.2500,nan,0.9242,7.0336,7.7500,nan,...,nan,8.7812,93.1430,14.3898,nan,9.3921,10.5556,nan,47.8566,nan
1,1999-04-01,19.2350,8.6317,nan,6.2500,nan,0.9382,6.9871,7.8125,nan,...,nan,8.9469,91.6161,15.4763,nan,9.8266,11.1667,nan,47.5867,nan
2,1999-04-05,19.3011,8.7565,nan,6.1250,nan,0.9242,6.8941,7.8438,nan,...,nan,9.0605,96.5241,17.2057,nan,9.6595,11.3889,nan,48.8011,nan
3,1999-04-06,19.0202,8.7565,nan,6.0312,nan,0.9195,6.8864,7.8750,nan,...,nan,8.9884,99.6870,16.7844,nan,9.6679,11.3333,nan,46.8671,nan
4,1999-04-07,18.8549,8.8019,nan,6.7500,nan,0.9335,6.6927,8.0938,nan,...,nan,8.8683,103.9407,15.7202,nan,9.5509,11.2500,nan,46.9795,nan

In [488]:
df = df.set_index(pd.DatetimeIndex(df['Date']))

In [489]:
start=datetime.date(1999,4,1)
end=datetime.date(2018,12,1)

rf=web.DataReader('^IRX','yahoo',start=start,end=end)
rf=rf['Adj Close']
rf=(1+(rf/100))**(1/12)-1
rf=rf.resample('M').mean()
rf

Date
1999-03-31   0.0036
1999-04-30   0.0035
1999-05-31   0.0037
1999-06-30   0.0037
1999-07-31   0.0037
              ...
2018-07-31   0.0016
2018-08-31   0.0017
2018-09-30   0.0017
2018-10-31   0.0018
2018-11-30   0.0019
Freq: M, Name: Adj Close, Length: 237, dtype: float64

In [490]:
df=df.resample('M').mean()
df_monthrt=df.pct_change().fillna(0)
df_monthrt

,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,AES,...,WYNN,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
1999-03-31,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
1999-04-30,0.1047,0.0845,0.0000,0.1193,0.0000,-0.0476,0.0414,0.0373,0.0000,0.2467,...,0.0000,0.0316,0.0746,0.1629,0.0000,-0.0116,0.2202,0.0000,0.0306,0.0000
1999-05-31,0.1667,-0.0636,0.0000,0.1483,0.0000,0.0615,0.2274,0.1662,0.0000,0.1041,...,0.0000,0.0648,0.0305,-0.0096,0.0000,-0.1394,0.1152,0.0000,-0.0747,0.0000
1999-06-30,-0.0126,-0.0629,0.0000,-0.0946,0.0000,0.0827,0.0603,-0.0427,0.0000,0.0418,...,0.0000,0.0071,-0.0160,0.0899,0.0000,-0.1346,0.0660,0.0000,-0.0703,0.0000
1999-07-31,0.0031,-0.0226,0.0000,0.0325,0.0000,0.0675,0.1338,-0.0482,0.0000,0.0827,...,0.0000,-0.0559,-0.0470,0.1901,0.0000,-0.0270,0.1998,0.0000,0.0378,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-07-31,0.0041,0.0195,-0.0268,-0.0352,0.0260,0.0357,0.0144,0.0722,0.0401,0.0063,...,-0.0701,0.0559,-0.0558,0.0032,-0.0175,-0.0331,-0.0408,0.0267,-0.0514,-0.0072
2018-08-31,0.0227,0.0308,0.0343,-0.0749,-0.0103,-0.0846,0.0105,0.2568,0.1069,0.0628,...,-0.0862,0.0329,0.0720,0.0685,0.1033,0.0600,0.1052,0.0766,0.0180,0.0633
2018-09-30,0.0324,0.0558,-0.0281,0.0624,0.0472,0.0995,0.0420,0.4647,0.0835,-0.0175,...,-0.0930,0.0118,0.0252,0.0665,0.0588,0.0663,0.0730,0.0282,-0.0211,-0.0142
2018-10-31,-0.0514,0.0142,-0.0501,-0.0556,-0.0519,-0.0536,-0.0534,-0.1984,-0.0169,0.0878,...,-0.1600,0.0145,-0.0206,-0.0038,-0.1031,0.0028,-0.0613,-0.0292,-0.0700,0.0142
2018-11-30,0.0014,0.0188,-0.0104,-0.0903,0.0002,-0.2533,-0.0538,-0.1747,0.0564,0.0504,...,-0.0469,0.0432,0.0197,0.1235,-0.0252,0.0021,0.0665,-0.0729,0.0027,0.0164

In [491]:
df_excessrt= df_monthrt.apply(lambda x: x-rf)
df_excessrt=df_excessrt.apply(lambda x: np.nan_to_num(np.array(x)))
df_excessrt

,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,AES,...,WYNN,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
1999-03-31,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,...,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036,-0.0036
1999-04-30,0.1012,0.0810,-0.0035,0.1158,-0.0035,-0.0511,0.0379,0.0338,-0.0035,0.2432,...,-0.0035,0.0281,0.0711,0.1594,-0.0035,-0.0151,0.2167,-0.0035,0.0271,-0.0035
1999-05-31,0.1630,-0.0673,-0.0037,0.1446,-0.0037,0.0579,0.2237,0.1626,-0.0037,0.1004,...,-0.0037,0.0612,0.0269,-0.0133,-0.0037,-0.1431,0.1116,-0.0037,-0.0784,-0.0037
1999-06-30,-0.0164,-0.0666,-0.0037,-0.0983,-0.0037,0.0790,0.0566,-0.0465,-0.0037,0.0381,...,-0.0037,0.0033,-0.0197,0.0862,-0.0037,-0.1383,0.0623,-0.0037,-0.0740,-0.0037
1999-07-31,-0.0006,-0.0263,-0.0037,0.0288,-0.0037,0.0638,0.1301,-0.0519,-0.0037,0.0790,...,-0.0037,-0.0596,-0.0507,0.1864,-0.0037,-0.0307,0.1961,-0.0037,0.0341,-0.0037
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-07-31,0.0025,0.0179,-0.0284,-0.0368,0.0244,0.0341,0.0128,0.0706,0.0385,0.0047,...,-0.0717,0.0543,-0.0574,0.0016,-0.0191,-0.0347,-0.0424,0.0251,-0.0530,-0.0088
2018-08-31,0.0211,0.0291,0.0326,-0.0766,-0.0120,-0.0862,0.0088,0.2551,0.1052,0.0611,...,-0.0879,0.0313,0.0704,0.0668,0.1016,0.0584,0.1036,0.0750,0.0164,0.0617
2018-09-30,0.0306,0.0540,-0.0299,0.0607,0.0455,0.0977,0.0403,0.4629,0.0818,-0.0192,...,-0.0947,0.0101,0.0234,0.0647,0.0570,0.0645,0.0713,0.0265,-0.0229,-0.0159
2018-10-31,-0.0533,0.0124,-0.0520,-0.0575,-0.0537,-0.0555,-0.0553,-0.2003,-0.0187,0.0859,...,-0.1619,0.0126,-0.0225,-0.0056,-0.1050,0.0010,-0.0631,-0.0310,-0.0718,0.0124
2018-11-30,-0.0005,0.0169,-0.0123,-0.0922,-0.0017,-0.2552,-0.0557,-0.1766,0.0545,0.0485,...,-0.0488,0.0413,0.0178,0.1216,-0.0271,0.0002,0.0645,-0.0748,0.0008,0.0145

In [492]:
merged_new_factors=pd.read_csv('merged_new_factors.csv')
merged_new_factors

,Date,Pe_ratio,Net_Profit_Margin,ROE,Dividend,Max_Drawdown,^VIX
0,1999-03-31,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
1,1999-04-30,0.0225,-0.0107,-0.0052,0.0177,0.1632,0.0043
2,1999-05-31,-0.0743,-0.0155,-0.0264,0.0374,0.1980,0.0022
3,1999-06-30,-0.0014,0.0003,0.0235,0.0036,0.1086,-0.0072
4,1999-07-31,-0.0016,-0.0178,0.0044,-0.0609,0.1540,0.0093
...,...,...,...,...,...,...,...
232,2018-07-31,0.0095,-0.0028,-0.0044,-0.0159,0.0371,-0.0087
233,2018-08-31,-0.0228,0.0218,0.0245,-0.0219,0.0745,0.0023
234,2018-09-30,0.0186,0.0016,0.0049,-0.0357,0.0606,-0.0017
235,2018-10-31,-0.0093,-0.0093,-0.0200,0.0219,0.0744,0.0319
236,2018-11-30,-0.0114,-0.0121,-0.0094,-0.0158,0.0939,-0.0041

In [493]:
merged_new_factors=merged_new_factors.set_index(pd.DatetimeIndex(merged_new_factors['Date']))
merged_new_factors

,Date,Pe_ratio,Net_Profit_Margin,ROE,Dividend,Max_Drawdown,^VIX
Date,,,,,,,
1999-03-31,1999-03-31,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
1999-04-30,1999-04-30,0.0225,-0.0107,-0.0052,0.0177,0.1632,0.0043
1999-05-31,1999-05-31,-0.0743,-0.0155,-0.0264,0.0374,0.1980,0.0022
1999-06-30,1999-06-30,-0.0014,0.0003,0.0235,0.0036,0.1086,-0.0072
1999-07-31,1999-07-31,-0.0016,-0.0178,0.0044,-0.0609,0.1540,0.0093
...,...,...,...,...,...,...,...
2018-07-31,2018-07-31,0.0095,-0.0028,-0.0044,-0.0159,0.0371,-0.0087
2018-08-31,2018-08-31,-0.0228,0.0218,0.0245,-0.0219,0.0745,0.0023
2018-09-30,2018-09-30,0.0186,0.0016,0.0049,-0.0357,0.0606,-0.0017
2018-10-31,2018-10-31,-0.0093,-0.0093,-0.0200,0.0219,0.0744,0.0319
2018-11-30,2018-11-30,-0.0114,-0.0121,-0.0094,-0.0158,0.0939,-0.0041

In [494]:
spx=web.DataReader('SPY','yahoo',start=start,end=end)
spx=spx['Adj Close']
spx=spx.resample('M').mean()
spx_rt=spx.pct_change()
spx_rt=spx_rt.fillna(0)
spx_rt

Date
1999-03-31    0.0000
1999-04-30    0.0424
1999-05-31   -0.0020
1999-06-30   -0.0066
1999-07-31    0.0446
               ...
2018-07-31    0.0155
2018-08-31    0.0245
2018-09-30    0.0170
2018-10-31   -0.0390
2018-11-30   -0.0207
Freq: M, Name: Adj Close, Length: 237, dtype: float64

In [495]:
result = sm.OLS(spx_rt, sm.add_constant(merged_new_factors[['Pe_ratio','Net_Profit_Margin','ROE',
                                                            'Dividend','Max_Drawdown','^VIX']])).fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              Adj Close   R-squared:                       0.609
Model:                            OLS   Adj. R-squared:                  0.598
Method:                 Least Squares   F-statistic:                     59.59
Date:                Wed, 25 Nov 2020   Prob (F-statistic):           3.67e-44
Time:                        03:33:58   Log-Likelihood:                 562.46
No. Observations:                 237   AIC:                            -1111.
Df Residuals:                     230   BIC:                            -1087.
Df Model:                           6
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
const                 0.0184      0.002     10.065      0.000       0.015       0.022
Pe_ratio             -0.0475      0.068     -0.695      0.488      -0.182       0.087
Net_Profit_Margin     0.1873      0.084      2.240      0.026       0.023       0.352
ROE                  -0.0697      0.084     -0.829      0.408      -0.235       0.096
Dividend             -0.0730      0.047     -1.562      0.120      -0.165       0.019
Max_Drawdown         -0.3149      0.022    -14.257      0.000      -0.358      -0.271
^VIX                 -0.6461      0.155     -4.181      0.000      -0.951      -0.342
==============================================================================
Omnibus:                       21.131   Durbin-Watson:                   1.628
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               79.298
Skew:                          -0.112   Prob(JB):                     6.04e-18
Kurtosis:                       5.825   Cond. No.                         104.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [496]:
from statsmodels.compat import lzip

In [497]:
result = sm.OLS(spx_rt, sm.add_constant(merged_new_factors[['Pe_ratio','Net_Profit_Margin','ROE',
                                                            'Dividend','Max_Drawdown','^VIX']]), missing='drop').fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:              Adj Close   R-squared:                       0.609
Model:                            OLS   Adj. R-squared:                  0.598
Method:                 Least Squares   F-statistic:                     59.59
Date:                Wed, 25 Nov 2020   Prob (F-statistic):           3.67e-44
Time:                        03:33:58   Log-Likelihood:                 562.46
No. Observations:                 237   AIC:                            -1111.
Df Residuals:                     230   BIC:                            -1087.
Df Model:                           6
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
const                 0.0184      0.002     10.065      0.000       0.015       0.022
Pe_ratio             -0.0475      0.068     -0.695      0.488      -0.182       0.087
Net_Profit_Margin     0.1873      0.084      2.240      0.026       0.023       0.352
ROE                  -0.0697      0.084     -0.829      0.408      -0.235       0.096
Dividend             -0.0730      0.047     -1.562      0.120      -0.165       0.019
Max_Drawdown         -0.3149      0.022    -14.257      0.000      -0.358      -0.271
^VIX                 -0.6461      0.155     -4.181      0.000      -0.951      -0.342
==============================================================================
Omnibus:                       21.131   Durbin-Watson:                   1.628
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               79.298
Skew:                          -0.112   Prob(JB):                     6.04e-18
Kurtosis:                       5.825   Cond. No.                         104.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [498]:
import statsmodels.stats.api as sms

In [499]:
GQ = sms.het_goldfeldquandt(result.resid, result.model.exog)
labels=['Fstat', 'pval']
lzip(labels, GQ)

[('Fstat', 0.39452716723693254), ('pval', 0.9999992524594156)]

In [500]:
from statsmodels.stats.diagnostic import het_white

In [501]:
wtest = het_white(result.resid, result.model.exog)
labels = ['Lagrange Multiplier statistic:', 'LM test\'s p-value:', 'F-statistic:', 'F-test\'s p-value:']
lzip(labels, wtest)

[('Lagrange Multiplier statistic:', 126.59385832042264),
 ("LM test's p-value:", 7.73007378033421e-15),
 ('F-statistic:', 8.875685914941469),
 ("F-test's p-value:", 2.0751080171520157e-22)]

In [502]:
### following is useless  - -

In [503]:
spx_rt1=np.log(spx_rt+1)
merged_new_factors['Pe_ratio1']=np.log(merged_new_factors['Pe_ratio']+1)
merged_new_factors['Net_Profit_Margin1']=np.log(merged_new_factors['Net_Profit_Margin']+1)
merged_new_factors['ROE1']=np.log(merged_new_factors['ROE']+1)
merged_new_factors['Dividend1']=np.log(merged_new_factors['Dividend']+1)
merged_new_factors['Max_Drawdown1']=np.log(merged_new_factors['Max_Drawdown']+1)
merged_new_factors['^VIX1']=np.log(merged_new_factors['^VIX']+1)
result = sm.OLS(spx_rt1, sm.add_constant(merged_new_factors[['Pe_ratio1','Net_Profit_Margin1','ROE1',
                                                            'Dividend1','Max_Drawdown1','^VIX1']]), missing='drop').fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:              Adj Close   R-squared:                       0.566
Model:                            OLS   Adj. R-squared:                  0.555
Method:                 Least Squares   F-statistic:                     49.98
Date:                Wed, 25 Nov 2020   Prob (F-statistic):           4.55e-39
Time:                        03:33:58   Log-Likelihood:                 545.03
No. Observations:                 237   AIC:                            -1076.
Df Residuals:                     230   BIC:                            -1052.
Df Model:                           6
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
const                  0.0166      0.002      8.541      0.000       0.013       0.020
Pe_ratio1             -0.0610      0.073     -0.836      0.404      -0.205       0.083
Net_Profit_Margin1     0.2230      0.089      2.497      0.013       0.047       0.399
ROE1                  -0.0792      0.090     -0.881      0.379      -0.256       0.098
Dividend1             -0.0626      0.048     -1.293      0.197      -0.158       0.033
Max_Drawdown1         -0.3103      0.024    -12.885      0.000      -0.358      -0.263
^VIX1                 -0.7067      0.168     -4.218      0.000      -1.037      -0.377
==============================================================================
Omnibus:                       54.718   Durbin-Watson:                   1.617
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              277.533
Skew:                          -0.781   Prob(JB):                     5.43e-61
Kurtosis:                       8.066   Cond. No.                         105.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [504]:
wtest = het_white(result.resid, result.model.exog)
labels = ['Lagrange Multiplier statistic:', 'LM test\'s p-value:', 'F-statistic:', 'F-test\'s p-value:']
lzip(labels, wtest)

[('Lagrange Multiplier statistic:', 151.1561355908633),
 ("LM test's p-value:", 3.168688686129938e-19),
 ('F-statistic:', 13.630100008132827),
 ("F-test's p-value:", 6.961698349737048e-33)]

In [ ]:
exit()